.carousel-loading{
	background:rgba(0,0,0,0.8) url(http://img0.fengqucdn.com/cmsres/20160303/2f5f1855-8ad9-4ca2-9b60-a9b3de90cb59.png) no-repeat center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	animation:carousel-loading 1s steps(1) infinite;
}
@keyframes carousel-loading{
	0%{
		background-image:url(http://img0.fengqucdn.com/cmsres/20160303/2f5f1855-8ad9-4ca2-9b60-a9b3de90cb59.png);
	}
	33%{
		background-image:url(http://img0.fengqucdn.com/cmsres/20160303/0a468d36-19fa-4246-a37a-b51ba45ed6ba.png);
	}
	66%{
		background-image:url(http://img0.fengqucdn.com/cmsres/20160303/0c3999ec-d345-43aa-aa57-7f3da35806ee.png);
	}
}