@import url(../../../dist/modules/special-offer/index.css);
.special-offer-banner{
	padding-top:135px  * 2 / 750 * 640;
	background-repeat:no-repeat;
	background-size:cover;
}
.special-offer.special-offer-banner li{
	border-top:none;
	border-bottom:none;
}
.special-offer.special-offer-banner li:first-child{
	border-left:none;
}
.special-offer.special-offer-banner li:last-child{
	border-right:none;
}
.special-offer-banner-img{
	width:100%;
	height:165px  * 2 / 750 * 640;
}
.special-offer-banner-goods{
	width: 100%;
	height: 105px * 2 / 750 * 640;
	margin-bottom:7px  * 2 / 750 * 640;
}