/*
@styleguide

# 客服头部

*/
.service-header {
    height: 44px;
    line-height: 44px;
    background: #fff;
    border-bottom: 1px solid #d9d8dd
}
.service-header h1 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: #666
}
.service-header a {
    position: absolute;
    left: 25px;
    font-size: 16px;
    color: #666
}
/*
@styleguide

# 问题列表

*/
.problemList {
    background: #fff
}
.problemList-tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.problemList-tab li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 40px;
    line-height: 40px;
    text-align: center
}
.problemList-tab li.active {
    border-bottom: 3px solid #e53a3c
}
.problemList-list li {
    border-top: 1px solid #efeff4;
    height: 44px;
    line-height: 44px;
    padding: 0 11px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between
}
