<figure class="nataral-shop">
  <img src="{{#sf-firstImg shopInfo.imageList}}{{/sf-firstImg}}">
  <figcaption class="ellipsis"><span class="icon icon60"></span>{{shopInfo.name}}</figcaption>
</figure>
