/*
@styleguide

# 订单折扣信息

*/
.order-r3{
  padding: 7px 14px;
  color: #666;
  line-height: 24px;
  font-size:14px;
}
.order-first-buy-tips{
  color: #ff5b54; 
}
.order-first-buy-tips em{
	padding: 0 2px;
}