@charset "UTF-8";
/*
@styleguide

# 轮播

<div class="swiper-container">    
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="http://dummyimage.com/640x640" data-echo="http://dummyimage.com/640x640"></div>
        <div class="swiper-slide"><img src="http://dummyimage.com/640x640" data-echo="http://dummyimage.com/640x640"></div>
        <div class="swiper-slide"><img src="http://dummyimage.com/640x640" data-echo="http://dummyimage.com/640x640"></div>
    </div>
    <div class="swiper-pagination"></div>
</div>

    <div class="swiper-container">    
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="http://dummyimage.com/640x640" data-echo="http://dummyimage.com/640x640"></div>
            <div class="swiper-slide"><img src="http://dummyimage.com/640x640" data-echo="http://dummyimage.com/640x640"></div>
            <div class="swiper-slide"><img src="http://dummyimage.com/640x640" data-echo="http://dummyimage.com/640x640"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  text-align: center; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

.swipe-dot {
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 0; }

.swipe-dot span {
  display: inline-block;
  background: #000000;
  background: rgba(0, 0, 0, 0.3); }

.swipe-dot span.active {
  background: #dc3334; }

.swipe img {
  width: 100%; }

.swipe video {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100; }

.swipe .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200; }

.swipe .playBtn {
  display: inline-block;
  font: 0/0 a;
  background: url(http://img0.sfht.com/img/fb9b286dfebad73d7cb864d820cbda63.jpg) 0 0 no-repeat;
  width: 92px;
  height: 92px;
  z-index: 10; }

.swiper-container {
  width: 100%; }

.swiper-container img {
  width: 100%; }

.swiper-pagination-bullet-active {
  background: #df3c3a; }

.swiper-time {
  position: absolute;
  font-family: Impact; }

.swipe-dot {
  bottom: 10px; }

.swipe-dot span {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  margin: 0 7px; }

.swiper-time {
  top: 64px;
  left: 161px;
  font-size: 13px; }

.swiper-time span {
  margin-right: 10px; }

@media screen and (min-width: 640px) {
  .swipe-dot {
    bottom: 20px; }
  .swipe-dot span {
    width: 14px;
    height: 14px;
    border-radius: 14px;
    margin: 0 14px; }
  .swiper-time {
    top: 128px;
    left: 322px;
    font-size: 26px; }
  .swiper-time span {
    margin-right: 20px; } }

body {
  width: 640px; }

.introduce1 {
  background: url(http://img0.sfht.com/img/f8156f8bfad22c47910c81bda660182f.jpg) no-repeat center top;
  height: 963px; }

.introduce1 .pm {
  position: relative;
  height: 1056px; }

.introduce1-plane {
  background: url(http://img0.sfht.com/img/3defae5635df2edafdf91aafcb7a643a.jpg) no-repeat;
  width: 270px;
  height: 75px;
  position: absolute;
  top: 1170px;
  left: 50%;
  margin-top: -37px;
  margin-left: -123px; }

.introduce-logistics {
  background: url(http://img0.sfht.com/img/d3abfbae96b95796407cf7d10844be42.jpg) no-repeat center top;
  height: 669px;
  text-indent: -999em; }

.introduce-logistics h2 {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 33px;
  padding-top: 86px; }

.introduce-logistics p {
  font-size: 21px;
  text-align: center; }

.introduce-vs {
  background: url(http://img0.sfht.com/img/ac06115b995a99e9f5f66305a3b5e59a.jpg) no-repeat center top;
  height: 865px;
  padding-top: 604px;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 32px;
  color: #777;
  padding-left: 10px;
  padding-right: 10px; }

.introduce-vs-c1 {
  text-align: right;
  width: 292px; }

.introduce-vs-c1 strong {
  background: #f64f40;
  color: #fff; }

.introduce-vs-c2 {
  width: 292px; }

.introduce-vs-c2 strong {
  background: #555;
  color: #fff; }

.introduce-qa {
  padding-left: 64px;
  background: #fff;
  padding-bottom: 120px;
  padding-top: 60px; }

.introduce-qa h2 {
  font-size: 60px;
  text-align: center;
  font-weight: normal;
  height: 45px;
  margin-bottom: 84px;
  background: url(http://img0.sfht.com/img/fce75f36a1fb5ac420b36637c21d4bce.jpg) no-repeat center top;
  text-indent: -999em; }

.introduce-qa h3 {
  font-size: 24px;
  color: #df3d40;
  font-weight: normal;
  margin-bottom: 23px; }

.introduce-qa p {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 23px; }

.introduce-qa .p1 {
  color: #1d97b3;
  margin-bottom: -160px;
  position: relative;
  z-index: 1;
  padding-left: 47px;
  padding-right: 77px;
  padding-top: 20px; }

.introduce-qa h3 span,
.introduce-qa p span {
  font-size: 21px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-left: -44px;
  text-indent: -999em; }

.introduce-qa h3 span {
  background: url(http://img0.sfht.com/img/58945acd39529e7b211be5fcd886ff62.jpg) no-repeat center top; }

.introduce-qa p span {
  background: url(http://img0.sfht.com/img/6fbc87139141537bad8c386fc1f3daa4.jpg) no-repeat center top; }

.introduce-qa img {
  margin-bottom: 59px; }

.introduce-video {
  display: none; }
