body {
  background: #ffedd7;
  width: 640px; }

@-webkit-keyframes shake {
  0%, 25%, 50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  12.5%, 37.5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes shake {
  0%, 25%, 50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  12.5%, 37.5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

.shaking {
  padding-top: 20px; }

.icon-gift {
  background: #F2F2F2;
  width: 140px;
  height: 140px;
  border: 10px solid #fff;
  border-radius: 50%; }

.shaking-icon {
  width: 380px;
  height: 380px;
  background: #F4DEC3;
  border-radius: 50%;
  position: relative;
  margin: 0 auto; }

.shaking-icon2 {
  text-align: center;
  margin-bottom: 11px; }

.shaking-icon svg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 210px;
  height: 276px;
  margin-left: -106px;
  margin-top: -138px;
  fill: #fff;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-animation: shake 2s infinite;
          animation: shake 2s infinite; }

.shaking p {
  color: #8B572A;
  text-align: center;
  margin-bottom: 70px; }

.shaked {
  background: #fff; }

.shaked-footer p {
  margin-bottom: 28px;
  text-align: center;
  color: #8B572A; }

.shaked-footer {
  height: 216px; }

.shaked-footer-fixed {
  background: #ffedd7;
  padding-top: 28px;
  height: 216px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

.shaked-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px; }

.coupon {
  background: url(http://img0.sfht.com/cmsres/20151029/7213ffce-ba05-405e-ba73-1c0105c71085.png) no-repeat;
  width: 580px;
  height: 254px;
  margin: 11px auto;
  padding: 46px 48px 0; }

.coupon-r1 {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 110px; }

.coupon-p1 {
  font-size: 32px;
  margin-bottom: 8px; }

.coupon-p2 {
  font-size: 28px; }

.coupon-r1c2 {
  font-size: 48px; }

.coupon-r2 {
  line-height: 32px;
  color: #000000;
  color: rgba(0, 0, 0, 0.5); }

a.btn-yellow,
a.btn-red {
  display: inline-block;
  width: 250px;
  height: 80px;
  line-height: 80px;
  border-radius: 80px;
  font-size: 36px;
  text-align: center; }

a.btn-yellow {
  background: #FFC70F;
  box-shadow: 0 4px #EB9D27;
  color: #BC6917; }

a.btn-red {
  color: #fff;
  background: #FF5B54;
  box-shadow: 0 4px #BC2B25; }

a.btn-red.grey {
  background: #979DA9;
  box-shadow: 0 2px #979DA9; }

.login-yao a.btn-yellow {
  text-align: center;
  display: block;
  margin: 35% auto 0; }

a.btn-big {
  width: 384px; }

.tooltip {
  font-size: 32px;
  color: #fff;
  padding: 22px 46px;
  border-radius: 16px;
  white-space: nowrap; }

.shaked-text {
  padding-top: 24px;
  font-size: 24px;
  color: #8B572A; }
