<div class="alert-warning">alert-waining</div>
<div class="alert-success">alert-success</div>
<div class="alert-error">alert-error</div>
<div class="alert-disabled">alert-disabled</div>
<div class="alert-info">alert-info</div>