<div class="box">box</div>
<div class="box box1">
	<a href="" class="box-link">box-link</a>
	<span class="icon icon13 box-arrow center-vertical"></span>
</div>
<div class="box box-check active">box<span class="icon icon8"></span></div>