<button class="btn btn-normal">btn-normal</button>
<button class="btn btn-normal dashed">dashed</button>
<button class="btn btn-normal active">active</button>
<button class="btn btn-normal disable">disable</button>
<button class="btn btn-normal success">success</button>
<button class="btn btn-normal warnning">warnning</button>
<button class="btn btn-normal soon">warnning</button>
<br>
<button class="btn btn-normal">btn-normal</button>
<button class="btn btn-dashed">btn-dashed</button>
<button class="btn btn-danger">btn-danger</button>
<button class="btn btn-disable">btn-disable</button>
<button class="btn btn-success">btn-success</button>
<button class="btn btn-warnning">btn-warnning</button>
<button class="btn btn-soon">btn-warnning</button>
<br>
<button class="btn btn-normal btn-radius">btn-normal</button>
<button class="btn btn-dashed btn-radius">btn-dashed</button>
<button class="btn btn-danger btn-radius">btn-danger</button>
<button class="btn btn-disable btn-radius">btn-disable</button>
<button class="btn btn-success btn-radius">btn-success</button>
<button class="btn btn-warnning btn-radius">btn-warnning</button>
<button class="btn btn-soon btn-radius">btn-warnning</button>
<br>
<button class="btn btn-normal btn-big">btn-normal</button>
<button class="btn btn-dashed btn-big">btn-dashed</button>
<button class="btn btn-danger btn-big">btn-danger</button>
<button class="btn btn-disable btn-big">btn-disable</button>
<button class="btn btn-success btn-big">btn-success</button>
<button class="btn btn-warnning btn-big">btn-warnning</button>
<button class="btn btn-soon btn-big">btn-warnning</button>