<span class="icon icon1"></span>
<span class="icon icon2">个人中心</span>
<span class="icon icon3">顺丰海淘</span>
<span class="icon icon4">已下架</span>
<span class="icon icon5">售完</span>
<span class="icon icon6">支付宝</span>
<span class="icon icon7">删除</span>
<span class="icon icon8"></span>
<span class="icon icon9"></span>
<span class="icon icon10"></span>
<span class="icon icon11"></span>
<span class="icon icon12"></span>
<span class="icon icon13"></span>
<span class="icon icon14"></span>
<span class="icon icon15">关闭</span>
<span class="icon icon16"></span>
<span class="icon icon17"></span>
<span class="icon icon18"></span>
<span class="icon icon19"></span>
<span class="icon icon19 active"></span>
<span class="icon icon20"></span>
<span class="icon icon21"></span>
<span class="icon icon22"></span>
<span class="icon icon23"></span>
<span class="icon icon24"></span>
<span class="icon icon25"></span>
<span class="icon icon26"></span>
<span class="icon icon27"></span>
<span class="icon icon28"></span>
<span class="icon icon29"></span>
<span class="icon icon30"></span>
<span class="icon icon31"></span>
<span class="icon icon32"></span>
<span class="icon icon33"></span>
<span class="icon icon34"></span>
<span class="icon icon35"></span>
<span class="icon icon36"></span>
<span class="icon icon37"></span>
<span class="icon icon38"></span>
<span class="icon icon39"></span>
<span class="icon icon40"></span>
<span class="icon icon41"></span>
<span class="icon icon42"></span>
<span class="icon icon43"></span>
<span class="icon icon44"></span>
<span class="icon icon45">编辑</span>
<span class="icon icon46"></span>
<span class="icon icon47"></span>
<span class="icon icon48">购物车</span>
<span class="icon icon49"></span>
<span class="icon icon49 active"></span>
<span class="icon icon50"></span>
<span class="icon icon51"></span>
<span class="icon icon52"></span>
<span class="icon icon53"></span>
<span class="icon icon54"></span>
<span class="icon icon55"></span>
<span class="icon icon56"></span>
<span class="icon icon57"></span>
<span class="icon icon58"></span>
<span class="icon icon59"></span>
<span class="icon icon60"></span>
<span class="icon icon61"></span>
<span class="icon icon62"></span>
<span class="icon icon63"></span>
<span class="icon icon64">in</span>
<span class="icon icon65"></span>
<span class="icon icon66"></span>
<span class="icon icon66 disabled"></span>
== Slim::Template.new('../svg/icon-star.svg').render
== Slim::Template.new('../svg/icon-integral-explain.svg').render
== Slim::Template.new('../svg/icon-cart.svg').render
== Slim::Template.new('../svg/icon-addtocart.svg').render
== Slim::Template.new('../svg/icon-addtocart-disabled.svg').render