/*
@styleguide

# 客服头部

*/
.service-header {
    height: 44px;
    line-height: 44px;
    background: #fff;
    border-bottom: 1px solid #d9d8dd
}
.service-header h1 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: #666
}
.service-header a {
    position: absolute;
    left: 25px;
    font-size: 16px;
    color: #666
}
/*
@styleguide

# 申请退款

*/
.service-return {
    padding: 0 8px
}
.service-return h2 {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal
}
.service-return h2 abbr {
    float: left;
    margin-left: -8px;
    border: none;
    margin-top: 2px
}
.service-return ul {
    background: #fff;
    border-radius: 5px
}
.service-return li {
    height: 41px;
    line-height: 41px;
    padding-left: 22px;
    padding-right: 15px;
    border-bottom: 1px solid #efeff4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center
}
.service-return li a {
    color: #999;
    display: block
}
.service-return li svg {
    display: none;
    width: 13px;
    height: 8px
}
.service-return li.active a {
    color: #f13c34
}
.service-return li.active svg {
    display: block
}
.service-return li:last-child {
    border-bottom: none
}
.service-return .select {
    width: 100%;
    height: 41px;
    line-height: 41px;
    background: #fff;
    color: #999;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 5px
}
.service-return-upload {
    height: 40px;
    line-height: 40px;
    border: 1px dashed #d9d9db;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    padding: 0 10px;
    color: #999
}
.service-return-btn {
    height: 40px
}
.service-return .btn {
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0;
    height: 40px;
    line-height: 40px
}
.service-return input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none
}
.service-return .icon-camera {
    width: 15px;
    height: 12px;
    display: block
}
.service-select {
    position: relative
}
.service-return .icon-arrow-down {
    width: 12px;
    height: 6px;
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
            transform: translate(0,-50%)
}
