/*
@styleguide

# 盒子

*/
@import "../../utils/variables";
.chose{
  background-color: #fff;
  margin-bottom: 10px;
}
.chose li{
  display: flex;
  justify-content: space-between;
  padding-left: 53px;
  line-height: 44px;
  border-top: 1px solid #f2f2f2;
  padding-left: 15px;
  position: relative;
  font-size: 14px;
  color: #333;
}
.chose li:first-child{
  border: none;
}
.chose-name{
  margin-right: 10px;
}
.chose li .text-error{
  font-size: 14px;
}
.chose-error::after{
  position: absolute;
  right: 10px;
  top: 16px;
  content: "";
  font-size: 0;
  width: 8px;
  height: 8px;
  border-top: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  transform: rotate(45deg);
}