.tab3{
	height: 88px;
}
.tab3 ul{
	display: flex;
	background: #fff;
	margin-bottom: 1px;
	height: 88px;
	align-items: center;
}
/*.filter-select.fixed .tab3 ul{
	position: fixed;
	width: 100%;
	z-index: 999;
}
.filter-select.active .tab3 ul{
	width: 100%;
	z-index: 999;
}*/
.tab3 li{
	flex:1;
	text-align: center;
	height: 48px;
	line-height: 48px;
}
.tab3 li a{
	color: #999;
}
.tab3 li:last-child{
	border-left: 1px solid #DCDCDC;
}
.tab3 li.active a{
	color: #F13C34;
}
.tab3 .active .icon-down{
	transform: rotate(180deg);
	fill:#F13C34;
}
.tab3 .icon-up-down{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-left: 10px;
	fill:#999;
	color: #999;
}
.tab3 .active .icon-up-down{
	color: #F13C34;
}
.tab3 .toggle .icon-up-down{
	transform: rotate(180deg);
}
.tab3 .icon-down{
	width: 18px;
	height: 10px;
	vertical-align: middle;
	margin-left: 10px;
	fill:#4A4A4A;
}
.tab3 .active .icon-down{
	transform: rotate(180deg);
	fill:#F13C34;
}