/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
@mixin nataral-classify-none($i){
  .nataral-classify-none{
    background: url(#{$bg-url}nataral-classify-none.png) no-repeat center 150px * $i;
    background-size: 111px * $i 81px * $i;
    padding: 250px * $i 0;
  }
}


.nataral-classify-none{
  color: #999;
  text-align: center;
}
@include nataral-classify-none(1);
@media screen and (min-width:640px){
  @include nataral-classify(2);
}