.carousel{
	padding-top: 253px;
	padding-bottom: 21px;
	background: url(http://img0.fengqucdn.com/cmsres/20160222/0c0b064e-527a-4149-be26-26828d678791.jpeg) no-repeat;
}
.carousel p{
	font-size: 22px;
	color: #fdff5c;
	text-align: center;
	margin-bottom: 88px;
}
.carousel ul{
	overflow: hidden;
	width: 470px;
	margin: 0 auto 40px;
	position: relative;
	padding-left: 4px;
}
.carousel li{
	background: url(http://img0.fengqucdn.com/cmsres/20160222/8151625f-d32b-4967-a6bd-25aedcc9c996.png) no-repeat;
	width: 149px;
	height: 148px;
	float: left;
	display: flex;
	margin: 0 2px 3px;
	position: relative;
}
.carousel li:nth-child(4){
	margin-right: 157px;
}
.carousel li.go{
	background-image: url(http://img0.fengqucdn.com/cmsres/20160222/93ea2ace-598b-44b5-ba05-9e800d724d2e.png);
	width: 150px;
	height: 156px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
}
.carousel li.go:active{
	background-image: url(http://img0.fengqucdn.com/cmsres/20160222/57790cc2-6c36-4c83-9f81-1da84b437040.png);
}
.carousel img{
	margin: auto;
}
.carousel-times{
	color: #b20707;
	font-size: 22px;
	text-align: center;
	margin-bottom: 37px;
}
.carousel-times strong{
	color:#fdff5c;
}
.carousel-mask{
	position: absolute;
	border-radius: 20px;
	bottom:5px;
	left: 3px;
	right: 2px;
	top: 0;
	background: rgba(0,0,0,0.5);
}
.carousel-btns{
	text-indent: center;
}
.carousel-btn1{
	display: inline-block;
	width: 256px;
	height: 83px;
	background: url(http://img0.fengqucdn.com/cmsres/20160222/b9fe0cc4-b5bd-4e2d-ab05-a4e9189e0fd9.png) no-repeat;
	text-indent: -99em;
	margin: 0 16px;
}
.carousel-btn2{
	display: inline-block;
	width: 256px;
	height: 83px;
	background: url(http://img0.fengqucdn.com/cmsres/20160222/a183a249-e62e-4555-aa34-c2eea37e90d6.png) no-repeat;
	text-indent: -99em;
	margin: 0 16px;
}