@import '../../utils/variables';
@import '../../utils/placeholders';
img{
	width: 100%;
}
body{
	background: #fff;
	width: 100%;
}
.m727-banner{
	margin-bottom: 5px * 2;
}

.m727-r1{
	margin-bottom: 5px * 2;
	display: flex;
}
.m727-r1c1{
	width: 53.12%;
}
.m727-r1c2{
	width: 46.88%;
}
.m727-time{
	font-family: arial;
	margin-bottom: 4px * 2;
	position: relative;
}

.m727-time span{
	margin-right: 11px * 2;
	letter-spacing: 6px * 2;
}
.m727-time-r1{
	position: absolute;
	left: 43.75%;
	top: 71.42%;
}

.m727-tab-h{
	float: left;
	width: 24px * 2;
	padding-top: 6px * 2;
	padding-left: 2px * 2;
}
.m727-tab-h li{
	width: 22px * 2;
	padding-top: 8px * 2;
	box-sizing:border-box;
	height: 79px * 2;
	background: #f63c3f;
	text-align: center;
	border-radius: 4px * 2;
	margin-bottom: 40px * 2;
	line-height: 20px * 2;
	position: relative;
}
.m727-tab-h li:before{
	content: '';
	width: 11px * 2;
	height: 11px * 2;
	background: #f63c3f;
	border-radius: 50%;
	position: absolute;
	right: -31px * 2;
	border: 4px * 2 solid #ffc5c2;
	top: 50%;
	margin-top: -9px * 2;
}
.m727-tab-h li.active{
	background: #800a2d;
}
.m727-tab-h li.active:before{
	background: #800a2d;
	border-color: #cd7d88;
}
.m727-tab-h li .icon{
	width: 0;
	height: 0;
	background: none;
	border-style: solid;
	border-width: 5px * 2 5px * 2;
  	border-color: transparent transparent transparent #e03d40;
	position: absolute;
	right: -15px * 2;
	top: 50%;
	margin-top: -8px * 2;
	border-width: 8px * 2;
}
.m727-tab-h li.active .icon{
	border-color:transparent transparent transparent #800a2d;
}
.m727-tab-h a{
	font-size: 24px;
	color: #fff;
}
.m727-tab-b{
	margin-left: 48px * 2;
	border-left: 1px * 2 dashed #800a2d;
	padding-left: 15px * 2;
	padding-top: 12px * 2;
	display: none;
}
.m727-tab-b.active{
	display: block;
}
.m727-tab-b ul{
	margin-left: -4px * 2;
}
.m727-tab-b li{
	display: inline-block;
	width: 48%;
	margin-left: 4px * 2;
	margin-bottom: 20px * 2;
	position: relative;
}
.mask{
	position: absolute;;
	display: block;
	box-sizing:border-box;
}
.m727-tab-b li span{
	font-size: 18px * 2;
	line-height: 20px * 2;
	text-align: center;
	color: #fff;
	position: absolute;
	left: 0;
	top: 60px * 2;
	width: 100%;
	z-index: 999;
}

.m727-top{
	border: 3px * 2 solid #f61d4a;
	padding: 1px * 2;
	text-align: center;
	font-size: 15px * 2;
	position: fixed;
	left: 0px * 2;
	bottom: 0px * 2;
	z-index: 999;
	background: #fff;
	width: 100%;
}
.m727-top a{
	color: #fff;
}
.m727-top ul{
	display: flex;
}
.m727-top li{
	height: 28px * 2;
	line-height: 28px * 2;
	flex:1;
}

.m727-top a{
	display: block;
}

.m727-top li:nth-child(even){
	background-color: #800a2d;
}
.m727-top li:nth-child(odd){
	background-color: #f61d4a;
}
.m727-top li:last-child .icon{
	vertical-align: 2px * 2;
	margin-left: 5px * 2;
	width: 0;
	height: 0;
	background: none;
	border-style: solid;
	border-width: 5px * 2;
	
	border-color: transparent;
	border-bottom-color: #fff;
}
.m727-nav ul{
	display: flex;
}
.m727-nav li:first-child{
	border-left: 0 none;
}
.m727-nav li{
	flex: 1px;
	height: 30px * 2;
	line-height: 30px * 2;
	text-align: center;
	background-color: #b300f5;
	color: #fff;
	font-weight: 700;
	border-left: 1px * 2 solid #9521c0;
	font-size: 24px;
}
.m727-nav .active{
	position: relative;
	background-color: #9521c0;		
}
.m727-nav .today{
	color: #f8de00;
}
.m727-nav .active::after{
	content: "";
	position: absolute;
	bottom: -10px * 2;
	left: 50%;
	margin-left: -5px * 2;
	border-style: solid;
	border-width: 5px * 2;
	border-color: transparent;
	border-top-color: #9521c0;
}