@import '../../utils/variables';
@import '../../utils/placeholders';
.integral-active-r1 a{
	display: block;
	text-indent: -999em;
	height: 229px;
	background: url(#{$bg-url}integral-active/integral-active_01.jpg) no-repeat center;
	background-size: 320px;
}
.integral-active-r2{
	padding: 19px 0;
	background: #e764ab;
	color: #fff;
}
.integral-active-r2 h2{
	font-size: 18px;
	text-align: center;
	margin-bottom: 7px;
}
.integral-active-r2 p{
	font-size: 15px;
	text-align: center;
	margin-bottom: 15px;
}
.integral-active-r2 table{
	margin: 0 auto
}
.integral-active-r2 td,
.integral-active-r2 th{
	border: 1px solid #fff;
	width: 120px;
	padding-left: 16px;
	height: 23px;
	line-height: 23px;
	font-size: 15px;
}
.integral-active-r2 tr:nth-child(odd) td{
	background: #fff;
	color: #e764ab;
}

.integral-active-rule{
	background: #d5338b;
}
.integral-active-rule{
	color: #fff;
	padding: 23px 0;
}
.integral-active-rule h2{
	font-size: 18px;
	text-align: center;
	margin-bottom: 17px;
	color: #fff100;
}
.integral-active-rule h3{
	font-size: 15px;
	font-weight: normal;
	margin: 0 39px 9px ;
}
.integral-active-rule p{
	padding: 0 39px;
	margin: 0 auto 28px;
	font-size: 15px;
	line-height: 18px;
}
.integral-active-r4{
	background: #ae216e;
	padding: 19px 0;
	text-align: center;
}
.integral-active-r4 a{
	display: inline-block;
	width: 144px;
	height: 21px;
	line-height: 21px;
	text-align: center;
	background: #fff;
	color: #ae216e;
	font-size: 15px;
}