@import '../../utils/variables';
.welfare-list,.welfare-rule,.welfare-detail{
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	font-size: 14px;
	background-color: #f2f2f2;
	min-height: 100%;
	.margin-bottom-10{
		margin-bottom: 10px;
	}
	.red{
		color: #E76363;
	}
	.grey{
		color: #999999;
	}
	.font12{
		font-size: 12px;
	}
	.font16{
		font-size: 16px;
	}
	.dark{
		color: #283539;
	}
	.fb{
		font-weight: bold;
	}
	.inline{
		display: inline-block;
	}
}
.addWelFareStyle{
	.couponTitle{
		font-size: 14px;
	}
	.couponDate{
		font-size: 12px;
	}
	.stepImage{
		width: 80px;
	}
}
.btn-warnning.addWelFareBtn,.btn.warnning.addWelFareBtn{
	background-color: #ffffff;
	border: 1px solid #ff5e57;
	color:#ff5e57!important;
	&:focus,&:hover{
		background-color: #ffffff;
		border: 1px solid #ff5e57;
		color:#ff5e57!important;
	}
}
.welfare-list{
	.title{
		font-size: 16px;
		height: 44px;
		line-height: 44px;
		color: #4A4A4A;
		position: relative;
		background:#fff;
	}
	.ruleToshow,.rulbeToshow:focus{
		width: 16px;
		height: 16px;
		text-align: center;
		line-height: 16px;
		background-color: #5f97d9;
		border-radius: 50%;
		vertical-align: text-top;
		margin-left: 5px;
		color: #fff;
		display: inline-block;
	}
	
}
.icon-welfare1{
	width:56px;
	height:56px;
	margin-left:16px;
}
.icon-welfare2{
	width:49px;
	height:49px;
	margin-left:20px;
}
.icon-welfare3{
	width:54px;
	height:42px;
	margin-left:17px;
}
.icon-welfare4{
	width:28px;
	height:27px;
}
.icon-welfare5{
	width:28px;
	height:28px;
}
.icon-welfare6{
	width:28px;
	height:31px;
}
.icon-welfare-arrow{
	width:16px;
	height:16px;
}
.welfare-recomend{
	background:#fff;
	margin-bottom:15px;
}
.welfare-recomend li{
	border-bottom:1px solid #F2F2F2;
}
.welfare-recomend a{
	display:flex;
	align-items:center;
	padding-right:12px;
	padding-top:15px;
	padding-bottom:17px;
}
.welfare-recomend-c1{
	width:101px;
}
.welfare-recomend-c2{
	flex:1;
}
.welfare-recomend h3{
	font-size:16px;
	margin-bottom:8px;
	color:#4A4A4A;
}
.welfare-recomend p{
	color:#4A4A4A;
	opacity:0.5;
	font-size:14px;
}
.welfare-header{
	border-top:1px solid #F2F2F2;
	border-bottom:1px solid #F2F2F2;
	padding:0 15px;
	background:#fff;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.welfare-daily{
	display:flex;
	background:#fff;
}
.welfare-daily li{
	flex:1;
	border-right:1px solid #F2F2F2;
	border-bottom:1px solid #F2F2F2;
	text-align:center;
	padding-bottom:14px;
	padding-top:17px;
}
.welfare-daily h3{
	font-size:14px;
	margin-bottom:5px;
	margin-top:8px;
}
.welfare-daily p{
	opacity:0.5;
}
.welfare-daily-icon{
	height:31px;
}
.welfare-daily-icon:before{
	content:'';
	height:100%;
	display:inline-block;
	vertical-align:baseline;
}
.welfare-daily svg{
	display:inline-block;
	vertical-align:baseline;
}

.welfare-rule{
	ul{
		padding: 30px 10px 10px;
		background-color: #ffffff;
	}
	.title{
		border-top:1px solid #283539;
		height: 20px;
		position: relative;
		.inline{
			padding: 0 10px;
			position: absolute;
			left: 50%;
			top: -10px;
			transform:translate3d(-50%,0,0);
			background-color: #ffffff;
		}
	}
	.ruleNum{
		width: 16px;
		height: 16px;
		border: 1px solid #ff5e57;
		line-height: 16px;
		text-align: center;
		border-radius: 50%;
		color: #ff5e57;
		vertical-align: text-top;
		margin-top: 2px;
	}
	li{
		padding-bottom: 10px;
	}
	.margin-left-20{
		margin-left: 20px;
		line-height: 1.5;
	}
	li:nth-child(odd){
		.ruleNum{
			background-color: #ff5e57;
			color: #ffffff;
		}
	}
}
.welfare-detail{
	min-height: 526px;
	background-color: #ffffff;
	position: relative;
	overflow-x: hidden;
	.imageBig{
		width: 100%;
	}
	font-size: 14px;
	p,a{
		text-align: center;
	}
	.toRuleBtn{
		display: block;
		margin: 6% 0;
		color: #383838;
		.white{
			width: 14px;
			height: 14px;
			line-height: 14px;
			text-align: center;
			border: 1px solid #333333;
			border-radius: 50%;
			color: #333333;
		}
	}
	.old-price{
		color: #999999;
		text-decoration: line-through;
		padding-bottom: 8%;
	}
	.new-price{
		color: #e73837;
	}
	.footerCn{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.btnsOut{
		height: 44px;
		overflow: hidden;
		margin: 5% 20px;
		.btn,.btn:focus{ 
			line-height: 44px;
			height: 44px;
			background-color: #e73837;
			display: block;
			color: #ffffff;
			font-size: 16px;
		}
		&.shareBtn{
			position: relative;
			.btn{
				width: 27%;
				position: absolute;
				top: 0;
				right: 0;
				display: block;
			}
			input{
				outline:none;
				border: 0;
				height: 44px;
				width: 70%;
				padding:0 2%;
				font-size: 14px;
				line-height: 16px;
				vertical-align:middle;
				&::-webkit-input-placeholder{
					color:#999999;
					text-indent: 0
				}
			}
		}
	}
}
.welFareShare{
	padding: 20px 0;
	text-align: center;
	background-color: #efecec;
	.shareViaWechat{
		display: inline-block;
		width: 60px;
		height: 60px;
		background: url(http://img0.sfht.com/img/12a78bd783af6d8680521d6f4a4909a2.jpg) no-repeat;
		background-size: 60px auto;
	}
	z-index: 6;
	position: fixed;
	left: 0;
	bottom: -300%;
	width: 100%;
	p{
		padding-top: 3px;
		color: #999999;
	}
	transition:bottom 0.5s;
}
.welFare-mask{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}
.animationTop{
	bottom:0;
}
@media screen and (min-width: 374px) and (max-width: 640px){
  .welfare-detail{
  	font-size: 16px;
  	.btn{
  		font-size: 18px;
  	}
  }
}