@import '../../utils/variables';
@import '../../base/reset';
@import '../../base/base';
@import '../../base/helper';
@import '../../module/spike';

body{
	width: 640px;
}
.young-banner{
	background: url(#{$bg-url}young-active/young-banner.jpg) no-repeat;
	height: 656px;
}
.young-coupon{
	display: flex;
	justify-content:space-between;
	padding: 29px 13px;
	background: #23232b;
}
.young-coupon a{
	display: block;
}
.young-h2{
	font-size: 21px;
	color: #a8a8a8;
	height: 54px;
	line-height: 54px;
	text-align: center;
	background: #ebebeb;
}
.young-h2:before,
.young-h2:after{
	content: '';
	width: 140px;
	height: 2px;
	display: inline-block;
	background: #a8a8a8;
	vertical-align: middle;
	margin: 0 19px;
}
.young-time{
	display: flex;
	justify-content:space-between;
	align-items:center;
	padding: 16px 32px;
	background: #d0155c;
}
.young-time h2{
	width: 63px*0.5;
	height: 48px*0.5;
	background: url(#{$bg-url}young-active/young-time-h2.png) no-repeat center;
	background-size: contain;
	text-indent: -100%;
	overflow: hidden;
}
.young-time p{
	background: url(#{$bg-url}young-active/young-time.jpg) no-repeat center;
	background-size: contain;
	width: 267px*0.5;
	height: 59px*0.5;
	line-height: 59px*0.5;
	background-size: 261px*0.5 53px*0.5;
	border:3px*0.5 solid #fff;
	border-radius: 3px*0.5;
	font-size: 30px*0.5;
	color: #fff;
	letter-spacing: 16px;
	padding-left: 25px;
}
.young-time .btn{
	display: block;
	width: 205px*0.5;
	height: 71px*0.5;
	background: url(#{$bg-url}young-active/young-btn1.png) no-repeat center;
	background-size: contain;
	text-indent: -100%;
	overflow: hidden;
}
.young-time .btn.disabled{
	background: url(#{$bg-url}young-active/young-btn1-disabled.png) no-repeat center;
	background-size: contain;
}

.young-tab{
	background: #ffbf00;
	padding-top: 47px;
	padding-bottom: 15px;
}
.young-tab-h{
	margin-bottom: 20px;
	text-align: center;
}
.young-tab-h li{
	margin: 0 5px;
	display: inline-block;
	position: relative;
}
.young-tab-h li img{
	width: 100%;
}
.young-tab-h li a{
	display: block;
	width: 77px;
	height: 77px;
	line-height: 77px;
	text-align: center;
	border-radius: 50%;
	background: #070707;
	color: #fff;
	font-size: 19px;
	border: 3px solid #fff;
	position: relative;
	overflow: hidden;
}
.young-tab-h li:before{
	content: '';
	border-style: solid;
	border-width: 19px 8px;
	border-color: #070707 transparent transparent transparent;
	position: absolute;
	bottom:-38px;
	left: 50%;
	margin-left: -9px;
}
.young-tab-h li.active:before{
	border-color: #d0175d transparent transparent transparent;
}
.young-tab-h li.active a{
	border-color: #d0175d;
}
.young-tab-h li img{
	display: none;
}
.young-tab-h li.active a{
	background: #fff;
}
.young-tab-h li.active img{
	display: block;
}
.young-tab-h li.active span{
	display: none;
}
.young-tab-br1{
	text-align: center;
}
.young-tab-b{
	
}
.young-tab-b>li{
	display: none;
	margin: 0 auto;
}
.young-tab-br1>img{
	border: 7px solid #d0155c;
	padding: 8px;
	background: #fff;
	display: block;
	width: 100%;
	
}
.young-tab-b>li.active{
	display: block;
}
