.brand-focus{
  background: #fff;
}
.brand-focus-r1{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #F5F5F5;
  margin-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.brand-focus-c2{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 20px;
}
.brand-focus-c2 h2{
  margin-bottom: 20px;
  font-weight: normal;
}
.brand-focus-btn{
  display: inline-block;
  text-align: center;
  height: 48px;
  width: 104px;
  line-height: 48px;
  border: 2px solid #4A4A4A;
  color: #4A4A4A;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
.brand-focus-btn.active{
  border-color: #9B9B9B;
  color: #9B9B9B;
}
.brand-focus p{
  color: #9B9B9B;
}
.brand-focus-flag{
  margin-left: 18px;
  vertical-align: middle;
}
.brand-detail-focus{
  background: #fff;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.brand-detail-focus h2{
  margin-bottom: 0;
}
.brand-detail-focus p{
  line-height: 1.5;
  color: #9B9B9B;
  margin: 0 30px;
}
.brand-focus-r1{
  border-bottom: none;
}
.brand-detail-choice{
  margin-bottom: 20px;
}
.brand-detail-choice h2{
  background: #fff;
  text-align: center;
  margin-bottom: 1px;
}
.brand-detail-choice h2 span{
  display: inline-block;
  border-bottom: 4px solid #FF5B54;
  height: 60px;
  line-height: 60px;
}
.brand-detail-choice-inner{
  padding: 20px 30px;
}
.brand-detail-choice-r1{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.brand-detail-choice li{
  background: #fff;
  margin-bottom: 1px;
}
.brand-detail-choice h3{
  font-weight: normal;
  margin-bottom: 12px;
  line-height: 40px;
}
.brand-detail-choice p{
  line-height: 34px;
  color: #4A4A4A;
  margin-bottom: 20px;
}
.brand-detail-choice-from{
  margin-bottom: 10px;
}
.brand-detail-choice-price{
  font-size: 36px;
  margin-left: 10px;
}
.brand-detail-choice .icon-location{
  width: 16px;
  height: 24px;
  margin-right: 19px;
  vertical-align: middle;
}
.filter-list{
  overflow: hidden;
}
.filter-list li{
  float: left;
  border-left: 1px solid #f0eff5;
  border-top: 1px solid #f0eff5;
  background: #fff;
  width: 50%;
  text-align: center;
  padding-bottom: 20px;
}
.filter-list li:nth-child(odd){
  border-left: none;
}
.filter-img{
  height: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.filter-img img{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.filter h3{
  font-weight: normal;
  line-height: 34px;
  height: 68px;
  margin: 0 20px 12px;
}
.filter-price{
  font-size: 28px;
}
.filter-list-none{
  text-align: center;
  font-size: 28px;
  color: #9B9B9B;
  padding: 220px 0;
  background: #fff;
}
.filter-list-none svg{
  margin-bottom: 20px;
}
.filter-head{
  height: 88px;
}
.filter-head ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin-bottom: 1px;
  height: 88px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter-select.fixed .filter-head ul{
  position: fixed;
  width: 100%;
  z-index: 999;
}
.filter-select.active .filter-head ul{
  position: absolute;
  width: 100%;
  z-index: 999;
}
.filter-head li{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  height: 48px;
  line-height: 48px;
}
.filter-head li:last-child{
  border-left: 1px solid #DCDCDC;
}
.filter-head li.active a{
  color: #F13C34;
}
.filter .icon-down{
  width: 18px;
  height: 10px;
  vertical-align: middle;
  margin-left: 10px;
  fill: #4A4A4A;
}
.filter-head .active .icon-down{
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #F13C34;
}
.filter .icon-up-down{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 10px;
  fill: #4A4A4A;
  color: #4A4A4A;
}
.filter-head .active .icon-up-down{
  color: #F13C34;
}
.filter-head .toggle .icon-up-down{
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.filter-dropdown{
  position: absolute;
  z-index: 999;
  background: #fff;
  width: 100%;
  display: none;
}
.filter-select.active .filter-dropdown{
  display: block;
}
.filter-dropdown li{
  height: 88px;
  line-height: 88px;
  padding-left: 30px;
  border-top: 1px solid #F5F5F5;
}
.filter .mask{
  display: none;
}
.filter-select.active .mask{
  display: block;
}
.filter-dropdown-r1{
  font-size: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F5F5;
  padding: 18px 0;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.filter-dropdown-r1 div{
  margin-left: 30px;
  color: #4A4A4A;
  display: inline-block;
  font-size: 28px;
}
.filter-dropdown-r1 div:first-child{
  opacity: 0.5;
}
.filter-dropdown-label{
  padding: 0 30px;
  height: 56px;
  line-height: 56px;
  background: #DCDCDC;
  background: rgba(220,220,220,0.5);
  -webkit-border-radius: 28px;
          border-radius: 28px;
}
.filter-dropdown .icon-close{
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 10px;
}
.filter-dropdown-r2{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.filter-dropdown-r2c1{
  width: 172px;
  text-align: center;
}
.filter-dropdown-r2c1 li{
  background: #F5F5F5;
  border-color: #fff;
}
.filter-dropdown-r2c1 li.active{
  background: #fff;
}
.filter-dropdown-r2c2{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.filter-dropdown-r3{
  padding: 10px 0;
  text-align: center;
}
.filter-dropdown-r3 .btn{
  width: 280px;
  height: 88px;
  line-height: 88px;
  margin: 0 5px;
  font-size: 28px;
}
.filter-dropdown-r3 .btn-normal{
  border-color: #4A4A4A;
}
body{
  max-width: 640px;
}
