/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
.detail{
  background: #fff;
  margin-bottom: 10px;
}
.detail-h{
  position: -webkit-sticky;
  position: sticky;
  background: #fff;
  height: 43px;
  z-index: 1;
  top: 0;
}
.detail-h ul{
  background:#fff;
}
.detail-h li{
  float: left;
  width: 50%;
  font-size: 15px;
  border-width: 0 0 1px 0;
  border-image: url(#{$border}) 2 0 round;
  
  text-align: center;
}

.detail-h li a{
  height: 43px;
  line-height: 43px;
  display: inline-block;
  padding: 0 20px;
}
.detail-h li.active a{
  color: #F13C34;
  border-bottom:2px solid #F13C34;
}

.detail-b h2{
  height: 28px;
  line-height: 28px;
  background:#3D3D45 url(http://img0.fengqucdn.com/cmsres/20160407/d8d87e3b-d5d0-4f84-8536-32b8c09d4cac.png) no-repeat center;
  background-size:320px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: normal;
}
.detail-b img{
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: -15px;
}
.detail-b dl{
  margin-bottom: 10px;
}
.detail-b dt{
  color: #9B9B9B;
  display: inline;
}
.detail-b dd{
  display: inline;
  color: #555;
}
.detail-parameter{
  padding:20px 15px;
}

.detail-b p{
  padding:15px; 
  line-height: 16px;
  color: #555;
}
.detail-parameter p{
  color: #FF6963;
  margin: 15px 0 0 0;
  line-height: 1.3;
}
.detail-b .detail-parameter p{
    padding: 0;
}
.detail-b .brandlogo{
  margin-top: 0;
}