.comment-tag{
  background: #F2F2F2;
  padding: 11px 0 7px 16px;
  border-bottom:1px solid #e5e5e5;
}
.comment-tag ul{
  overflow: hidden;
  margin-left: -9px;
}
.comment-tag li{
  float: left;
  margin-left: 9px;
  margin-bottom: 8px;
}

.comment-tag a{
  height: 35px;
  line-height: 35px;
  display: block;
  padding: 0 8px;
  background: #fff;
  border:1px solid #DCDCDC;
  border-radius: 4px;
  color: #999;
  font-size: 14px;
}
.comment-tag li.active a{
  border:none;
  background: #FF5E57;
  color: #fff;
}