/*alert*/
.alert{
	padding: 14px * 2 / $ppr 0 14px * 2 / $ppr 17px * 2 / $ppr;
	color: #fff;
	position: relative;
	font-size:14px * 2 / $ppr;
}
.alert a{
	display:block;
}
.alert .icon{
	position:absolute;
	right:13px * 2 / $ppr;
}
.alert-warning {
	@extend .alert;
	background: #1376ce;
	margin-bottom:5px * 2 / $ppr;
}
.alert-error{
	@extend .alert;
	background: #dc3334;
}
.alert-success{
	@extend .alert;
	background: #67b222;
}
.alert-disabled{
	@extend .alert;
	background:#ccc;
}
.alert-info{
	@extend .alert;
	background: #fffddd;
	color:#666;
}