/*alert*/
.alert{
	padding: 14px 0 14px 17px;
	color: #fff;
	position: relative;
}
.alert a{
	display:block;
}
.alert .icon{
	position:absolute;
	right:13px;
}
.alert-warning {
	@extend .alert;
	background: #1376ce;
	margin-bottom:5px;
}
.alert-error{
	@extend .alert;
	background: #dc3334;
}
.alert-success{
	@extend .alert;
	background: #67b222;
}
.alert-disabled{
	@extend .alert;
	background:#ccc;
}
.alert-info{
	@extend .alert;
	background: #fffddd;
	color:#666;
}