/*btn*/
.btn{
  display:inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-align: center;
  border-radius: 2px;
  padding: 0px 12px;
  height: 30px;
  line-height: 30px;

}
.btn:active{
   -webkit-filter:brightness(0.9);
}
.btn-disable:active,
.btn.disable:active{
  -webkit-filter: none;
}


.btn-normal,
.btn.normal{
  background: #fff;
  border:1px solid #c6c6c6;
}
.btn.active{
  border-color: #dc3334;
  color:#dc3334;
}
.btn-dashed,
.btn.dashed{
  background: #fff;
  border:1px dotted #cfcfcf;
}
.btn-danger{
  color:#fff;
  background:#dc3334;
  border: 1px solid #dc3334;
}
.btn-disable,
.btn.disable{
  color: #888888;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
}
.btn-warnning,
.btn.warnning{
  background: #1376ce;
  color: #fff;
  border: 1px solid #1376ce;
}

.btn-success,
.btn.success{
  background: #67b222;
  color: #fff;
  border: 1px solid #67b222;
}
.btn-radius{
  border-radius: 22px;
}
.btn-big{
  width: 100%;
}