/*弹窗*/
.dialog .center{
  width: 292px;
  background: #fff;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 21px;
  border-radius: 2px;
}
.dialog h2{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 12px;
}
.dialog p{
  margin-bottom: 13px;
}
.dialog-r1{
  margin-top:4px 
}
.dialog .icon15{
  position: absolute;
  right: 15px;
  top: 15px;
}
.dialog .icon15:after{
  content: '';
  position:absolute;
  left: -15px;
  right:-15px;
  top:-15px;
  bottom:-15px;
}
.dialog1 .center{
  padding-top: 22px;
  padding-bottom: 29px;
}
.dialog1 h2{
  font-size: 14px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 7px;
  
}
.dialog1 p{
  margin-bottom: 6px;
}
.dialog1 .btn{
  margin-top: 11px;
  padding: 0 45px;
}
.dialog1-r1{
  margin-top: 22px;
}
.dialog1-r1 .btn{
  padding: 0 27px;
  margin: 0 8px;
}

.dialog-spring .center{
  width: 90%;
  font-size: 14px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.dialog-spring h2{
  color: #dc3334;
  margin-bottom: 15px;
}
.dialog-spring p{
  line-height: 24px;
  margin-bottom: 0;
}