.dot{
	display:inline-block;
	vertical-align:middle;
	width:8px * 2 / $ppr;
	height:8px * 2 / $ppr;
	border-radius:50%;
	
}
.dot-important{
	background:#c00000;
}
.dot-error{
	width: 18px * 2 / $ppr;
	height: 18px * 2 / $ppr;
	line-height: 18px * 2 / $ppr;
	text-align: center;
	background: #df3c3a;
	color: #fff;
	text-indent: 0;
	transform:scale(0.8);
}