/*
@styleguide

# 点

<span class="dot dot-error">50</span>
<span class="dot dot-important"></span>

    <span class="dot dot-error">50</span>
	<span class="dot dot-important"></span>

*/
@mixin dot($i){
	.dot{
		display:inline-block;
		vertical-align:middle;
		width:8px * $i;
		height:8px * $i;
		border-radius:50%;
	}
	.dot-important{
		background:#ff5b54;
	}
	.dot-error{
		padding: 0 5px * $i;
		width: auto;
		height: 18px * $i;
		line-height: 18px * $i;
		border-radius: 9px * $i;
		text-align: center;
		background: #ff5b54;
		color: #fff;
		text-indent: 0;
		transform:scale(0.8);
	}
}
@include dot(1);

@media screen and (min-width:640px){
  @include dot(2);
}