.dot{
	display:inline-block;
	vertical-align:middle;
	width:8px;
	height:8px;
	border-radius:50%;
}
.dot-important{
	background:#ff5b54;
}
.dot-error{
	padding: 0 5px;
	width: auto;
	height: 18px;
	line-height: 18px;
	border-radius: 9px;
	text-align: center;
	background: #ff5b54;
	color: #fff;
	text-indent: 0;
	transform:scale(0.8);
}