/*input*/
.input{
  border: 1px solid #e3e3e3;
  font-size: 14px * 2 /$ppr;
  padding: 10px * 2 /$ppr;
  width: 100%;
}
.input-num{
  display: inline-block;
  font-size: 0;
}
.input-num .btn{
  display: inline-block;
  width: 30px * 2 /$ppr;
  height: 26px * 2 /$ppr;
  line-height: 24px * 2 /$ppr;
  padding: 0;
  background:#fafafa;
  border: 1px solid #ccc;
  font-size: 18px * 2 /$ppr;
}
.input-num input{
  width: 51px * 2 /$ppr;
  height: 26px * 2 /$ppr;
  line-height: 26px * 2 /$ppr;
  text-align: center;
  margin: 0 -1px * 2 /$ppr;
  border:1px solid #ccc;
  background: #fafafa;
  font-size: 12px * 2 /$ppr;
  box-shadow: none;
  border-radius: 0;
}
/*select*/
.select{
  height: 30px * 2 /$ppr;
  line-height: 30px * 2 /$ppr;
  padding-left: 10px * 2 /$ppr;
  font-size: 15px * 2 /$ppr;
  border-color:#ccc;
  border-radius:0;
}
/*textarea*/
.textarea{
  padding: 10px * 2 /$ppr;
  width: 100%;
  font-size: 14px * 2 /$ppr;
  line-height: 1.5;
  height: 5.5em;
  border-color:#ccc;
  background:#fff;
}