/*
@styleguide

# 表单

<div class="input-num">
  <button class="btn">-</button>
  <input type="text" value="1">
  <button class="btn">+</button>
</div>
<input type="text" class="input">
<select name="" id="" class="select">
  <option value="">select</option>
</select>
<textarea name="" id="" class="textarea"></textarea>

    <div class="input-num">
      <button class="btn">-</button>
      <input type="text" value="1">
      <button class="btn">+</button>
    </div>
    <input type="text" class="input">
    <select name="" id="" class="select">
      <option value="">select</option>
    </select>
    <textarea name="" id="" class="textarea"></textarea>

*/
@mixin form($i){
  .input{
    font-size: 14px * $i;
    padding: 10px * $i;
  }
  .input-num .btn{
    width: 30px * $i;
    height: 26px * $i;
    line-height: 24px * $i;
    font-size: 18px * $i;
  }
  .input-num input{
    width: 51px * $i;
    height: 26px * $i;
    line-height: 26px * $i;
    margin: 0 -1px * $i;
    font-size: 12px * $i;
  }
  /*select*/
  .select{
    height: 30px * $i;
    line-height: 30px * $i;
    padding-left: 10px * $i;
    font-size: 15px * $i;
  }
  /*textarea*/
  .textarea{
    padding: 10px * $i;
    font-size: 14px * $i;
  }
}

.input{
  border: 1px solid #e3e3e3;
  width: 100%;
}
.input-num{
  display: inline-block;
  font-size: 0;
}
.input-num .btn{
  display: inline-block;
  padding: 0;
  background:#fafafa;
  border: 1px solid #ccc;
}
.input-num input{
  text-align: center;
  border:1px solid #ccc;
  background: #fafafa;
}
/*select*/
.select{
  border-color:#ccc;
  border-radius:0;
}
/*textarea*/
.textarea{
  width: 100%;
  line-height: 1.5;
  height: 5.5em;
  border-color:#ccc;
  background:#fff;
}
@include form(1);

@media screen and (min-width:640px){
  @include form(2);
}