/*icon*/
.icon{
  display: inline-block;
  vertical-align: middle;
  background: url(#{$bg-url}icon.png) no-repeat;
  background-size: 450px *2 / $ppr 450px *2 / $ppr;
  text-indent: -999em;
}
.icon1{
  width: 18px *2 / $ppr;
  height: 12px *2 / $ppr;
}
.icon2{
  width: 28px *2 / $ppr;
  height: 28px *2 / $ppr;
  background-position: -49px *2 / $ppr 0;
}
.icon3{
  width: 90px *2 / $ppr;
  height: 24px *2 / $ppr;
  background-position: -129px *2 / $ppr -58px *2 / $ppr;
}
.icon4{
  width: 76px *2 / $ppr;
  height: 76px *2 / $ppr;
  background-position: 0 -60px *2 / $ppr;
}
.icon5{
  width: 76px *2 / $ppr;
  height: 76px *2 / $ppr;
  background-position: 0 -138px *2 / $ppr;
}
.icon6{
  width: 77px *2 / $ppr;
  height: 23px *2 / $ppr;
  background-position: 0 -219px *2 / $ppr;
}
.icon7{
  width: 19px *2 / $ppr;
  height: 19px *2 / $ppr;
  background-position: -29px *2 / $ppr 0;
}
.icon8{
  width: 25px *2 / $ppr;
  height: 25px *2 / $ppr;
  background-position: -253px *2 / $ppr -195px *2 / $ppr;
}

.icon9{
  width: 9px *2 / $ppr;
  height: 5px *2 / $ppr;
  background-position: -102px *2 / $ppr 0;
}
.icon10{
  width: 7px *2 / $ppr;
  height: 13px *2 / $ppr;
  background-position: -113px *2 / $ppr 0;
}
.icon11{
  width: 91px *2 / $ppr;
  height: 91px *2 / $ppr;
  background-position: 0 -248px *2 / $ppr;
}
.icon12{
  width: 38px *2 / $ppr;
  height: 45px *2 / $ppr;
  background-position: -81px *2 / $ppr -22px *2 / $ppr;
}
.icon13{
  width: 6px *2 / $ppr;
  height: 10px *2 / $ppr;
  background-position: -121px *2 / $ppr 0;
}
.icon14{
  width: 43px *2 / $ppr;
  height: 43px *2 / $ppr;
  background-position: -84px *2 / $ppr -71px *2 / $ppr;
}
.icon15{
  width: 13px *2 / $ppr;
  height: 13px *2 / $ppr;
  background-position: -132px *2 / $ppr 0;
  text-indent: -999em;
}
.icon16{
  width: 79px *2 / $ppr;
  height: 95px *2 / $ppr;
  background-position: -82px *2 / $ppr -120px *2 / $ppr;
}
.icon17{
  width: 62px *2 / $ppr;
  height: 62px *2 / $ppr;
  background-position: 0 -378px *2 / $ppr;
}
.icon18{
  width: 51px *2 / $ppr;
  height: 41px *2 / $ppr;
  background-position: -67px *2 / $ppr -393px *2 / $ppr;
}
.icon19{
  width: 19px *2 / $ppr;
  height: 16px *2 / $ppr;
  background-position: -171px *2 / $ppr 0;
}
.icon19.active{
  background-position: -147px *2 / $ppr 0;
}
.icon20{
  width: 156px *2 / $ppr;
  height: 156px *2 / $ppr;
  background-position: -294px *2 / $ppr 0;
}
.icon21{
  width: 28px *2 / $ppr;
  height: 31px *2 / $ppr;
  background-position: -124px *2 / $ppr -21px *2 / $ppr;
}
.icon22{
  width: 39px *2 / $ppr;
  height: 28px *2 / $ppr;
  background-position: -157px *2 / $ppr -23px *2 / $ppr;
}
.icon23{
  width: 36px *2 / $ppr;
  height: 30px *2 / $ppr;
  background-position: -201px *2 / $ppr -24px *2 / $ppr;
}
.icon24{
  width: 16px *2 / $ppr;
  height: 20px *2 / $ppr;
  background-position: -198px *2 / $ppr 0;
}
.icon25{
  width: 12px *2 / $ppr;
  height: 12px *2 / $ppr;
  background-position: -219px *2 / $ppr 0;
}
.icon26{
  width: 11px *2 / $ppr;
  height: 12px *2 / $ppr;
  background-position: -238px *2 / $ppr 0;
}
.icon27{
  width: 13px *2 / $ppr;
  height: 13px *2 / $ppr;
  background-position: -255px *2 / $ppr 0;
}
.icon28{
  width: 6px *2 / $ppr;
  height: 11px *2 / $ppr;
  background-position: -270px *2 / $ppr 0;
}
.icon29{
  width: 16px *2 / $ppr;
  height: 17px *2 / $ppr;
  background-position: 0 -22px *2 / $ppr;
}
.icon30{
  width: 77px *2 / $ppr;
  height: 93px *2 / $ppr;
  background-position: -166px *2 / $ppr -123px *2 / $ppr;
}
.icon31{
  width: 18px *2 / $ppr;
  height: 18px *2 / $ppr;
  background-position: -237px *2 / $ppr -24px *2 / $ppr;
}
.icon32{
  width: 15px *2 / $ppr;
  height: 25px *2 / $ppr;
  background-position: -138px *2 / $ppr -90px *2 / $ppr;
}
.icon33{
  width: 15px *2 / $ppr;
  height: 25px *2 / $ppr;
  background-position: -160px *2 / $ppr -90px *2 / $ppr;
}
.icon34{
  width: 15px *2 / $ppr;
  height: 25px *2 / $ppr;
  background-position: -180px *2 / $ppr -90px *2 / $ppr;
}
.icon35{
  width: 15px *2 / $ppr;
  height: 25px *2 / $ppr;
  background-position: -200px *2 / $ppr -90px *2 / $ppr;
}
.icon36{
  width: 13px *2 / $ppr;
  height: 13px *2 / $ppr;
  background-position: -219px *2 / $ppr -93px *2 / $ppr;
}
.icon37{
  width: 62px *2 / $ppr;
  height: 33px *2 / $ppr;
  background-position: -135px *2 / $ppr -394px *2 / $ppr;
}
.icon38{
  width: 18px *2 / $ppr;
  height: 18px *2 / $ppr;
  background-position: -230px *2 / $ppr -60px *2 / $ppr;
}
.icon39{
  width: 13px *2 / $ppr;
  height: 16px *2 / $ppr;
  background-position: -256px *2 / $ppr -60px *2 / $ppr;
}
.icon40{
  width: 18px *2 / $ppr;
  height: 13px *2 / $ppr;
  background-position: -255px *2 / $ppr -92px *2 / $ppr;
}
.icon41{
  width: 12px *2 / $ppr;
  height: 14px *2 / $ppr;
  background-position: -255px *2 / $ppr -113px *2 / $ppr;
}
.icon42{
  width: 14px *2 / $ppr;
  height: 14px *2 / $ppr;
  background-position: -255px *2 / $ppr -135px *2 / $ppr;
}
.icon43{
  width: 34px *2 / $ppr;
  height: 27px *2 / $ppr;
  background-position: -208px *2 / $ppr -398px *2 / $ppr;
}
.icon44{
  width: 12px *2 / $ppr;
  height: 7px *2 / $ppr;
  background-position: -256px *2 / $ppr -153px *2 / $ppr;
}
.icon45{
  width: 15px *2 / $ppr;
  height: 15px *2 / $ppr;
  background-position: -31px *2 / $ppr -25px *2 / $ppr;
  text-indent: -999em;
}
.icon46{
  width: 18px *2 / $ppr;
  height: 14px *2 / $ppr;
  background-position: -260px *2 / $ppr -23px *2 / $ppr;
}
.icon47{
  width: 45px *2 / $ppr;
  height: 45px *2 / $ppr;
  background-position: -190px *2 / $ppr -225px *2 / $ppr;
}
.icon48{
  width: 28px *2 / $ppr;
  height: 28px *2 / $ppr;
  background-position: -49px *2 / $ppr -29px *2 / $ppr;
  text-indent: -999em;
}
.icon49{
  width: 18px *2 / $ppr;
  height: 18px *2 / $ppr;
  background-position: -255px *2 / $ppr -225px *2 / $ppr;
}
.icon49.active{
  background-position: -255px *2 / $ppr -249px *2 / $ppr;
}
.icon50{
  width: 9px *2 / $ppr;
  height: 13px *2 / $ppr;
  background-position: -258px *2 / $ppr -270px *2 / $ppr;
}
.icon51{
  width: 10px *2 / $ppr;
  height: 14px *2 / $ppr;
  background-position: -270px *2 / $ppr -270px *2 / $ppr;
}
.icon52{
  width: 10px *2 / $ppr;
  height: 5px *2 / $ppr;
  background-position: -260px *2 / $ppr -288px *2 / $ppr;
}
.icon53{
  width: 18px *2 / $ppr;
  height: 18px *2 / $ppr;
  background-position: -258px *2 / $ppr -300px *2 / $ppr;
}
.icon54{
  width: 17px *2 / $ppr;
  height: 13px *2 / $ppr;
  background-position: -260px *2 / $ppr -325px *2 / $ppr;
}
.icon55{
  width: 68px *2 / $ppr;
  height: 93px *2 / $ppr;
  background-position: -186px *2 / $ppr -282px *2 / $ppr;
}