@mixin icon($i){
  .icon{
    display: inline-block;
    vertical-align: middle;
    background: url(#{$bg-url}icon.png) no-repeat;
    background-size: 450px * $i 450px * $i;
    text-indent: -999em;
  }
  .icon1{
    width: 18px * $i;
    height: 12px * $i;
  }
  .icon2{
    width: 27px * $i;
    height: 27px * $i;
    background-position: -49px * $i 0;
  }
  .icon3{
    width: 90px * $i;
    height: 24px * $i;
    background-position: -129px * $i -58px * $i;
  }
  .icon4{
    width: 76px * $i;
    height: 76px * $i;
    background-position: 0 -60px * $i;
  }
  .icon5{
    width: 76px * $i;
    height: 76px * $i;
    background-position: 0 -138px * $i;
  }
  .icon6{
    width: 77px * $i;
    height: 23px * $i;
    background-position: 0 -219px * $i;
  }
  .icon7{
    width: 19px * $i;
    height: 19px * $i;
    background-position: -29px * $i 0;
  }
  .icon8{
    width: 25px * $i;
    height: 25px * $i;
    background-position: -253px * $i -195px * $i;
  }

  .icon9{
    width: 9px * $i;
    height: 5px * $i;
    background-position: -102px * $i 0;
  }
  .icon10{
    width: 7px * $i;
    height: 13px * $i;
    background-position: -113px * $i 0;
  }
  .icon11{
    width: 91px * $i;
    height: 91px * $i;
    background-position: 0 -248px * $i;
  }
  .icon12{
    width: 38px * $i;
    height: 45px * $i;
    background-position: -81px * $i -22px * $i;
  }
  .icon13{
    width: 6px * $i;
    height: 10px * $i;
    background-position: -121px * $i 0;
  }
  .icon14{
    width: 43px * $i;
    height: 43px * $i;
    background-position: -84px * $i -71px * $i;
  }
  .icon15{
    width: 13px * $i;
    height: 13px * $i;
    background-position: -132px * $i 0;
    text-indent: -999em;
  }
  .icon16{
    width: 79px * $i;
    height: 95px * $i;
    background-position: -82px * $i -120px * $i;
  }
  .icon17{
    width: 62px * $i;
    height: 62px * $i;
    background-position: 0 -378px * $i;
  }
  .icon18{
    width: 51px * $i;
    height: 41px * $i;
    background-position: -67px * $i -393px * $i;
  }
  .icon19{
    width: 19px * $i;
    height: 16px * $i;
    background-position: -171px * $i 0;
  }
  .icon19.active{
    background-position: -147px * $i 0;
  }
  .icon20{
    width: 156px * $i;
    height: 156px * $i;
    background-position: -294px * $i 0;
  }
  .icon21{
    width: 28px * $i;
    height: 31px * $i;
    background-position: -124px * $i -21px * $i;
  }
  .icon22{
    width: 39px * $i;
    height: 28px * $i;
    background-position: -157px * $i -23px * $i;
  }
  .icon23{
    width: 36px * $i;
    height: 30px * $i;
    background-position: -201px * $i -24px * $i;
  }
  .icon24{
    width: 16px * $i;
    height: 20px * $i;
    background-position: -198px * $i 0;
  }
  .icon25{
    width: 12px * $i;
    height: 12px * $i;
    background-position: -219px * $i 0;
  }
  .icon26{
    width: 11px * $i;
    height: 12px * $i;
    background-position: -238px * $i 0;
  }
  .icon27{
    width: 13px * $i;
    height: 13px * $i;
    background-position: -255px * $i 0;
  }
  .icon28{
    width: 6px * $i;
    height: 11px * $i;
    background-position: -270px * $i 0;
  }
  .icon29{
    width: 16px * $i;
    height: 17px * $i;
    background-position: 0 -22px * $i;
  }
  .icon30{
    width: 77px * $i;
    height: 93px * $i;
    background-position: -166px * $i -123px * $i;
  }
  .icon31{
    width: 18px * $i;
    height: 18px * $i;
    background-position: -237px * $i -24px * $i;
  }
  .icon32{
    width: 15px * $i;
    height: 25px * $i;
    background-position: -138px * $i -90px * $i;
  }
  .icon33{
    width: 15px * $i;
    height: 25px * $i;
    background-position: -160px * $i -90px * $i;
  }
  .icon34{
    width: 15px * $i;
    height: 25px * $i;
    background-position: -180px * $i -90px * $i;
  }
  .icon35{
    width: 15px * $i;
    height: 25px * $i;
    background-position: -200px * $i -90px * $i;
  }
  .icon36{
    width: 13px * $i;
    height: 13px * $i;
    background-position: -219px * $i -92px * $i;
  }
  .icon37{
    width: 62px * $i;
    height: 33px * $i;
    background-position: -135px * $i -394px * $i;
  }
  .icon38{
    width: 18px * $i;
    height: 18px * $i;
    background-position: -230px * $i -60px * $i;
  }
  .icon39{
    width: 13px * $i;
    height: 16px * $i;
    background-position: -256px * $i -60px * $i;
  }
  .icon40{
    width: 18px * $i;
    height: 13px * $i;
    background-position: -255px * $i -92px * $i;
  }
  .icon41{
    width: 12px * $i;
    height: 14px * $i;
    background-position: -255px * $i -113px * $i;
  }
  .icon42{
    width: 14px * $i;
    height: 14px * $i;
    background-position: -255px * $i -135px * $i;
  }
  .icon43{
    width: 34px * $i;
    height: 27px * $i;
    background-position: -208px * $i -398px * $i;
  }
  .icon44{
    width: 12px * $i;
    height: 7px * $i;
    background-position: -256px * $i -153px * $i;
  }
  .icon45{
    width: 15px * $i;
    height: 15px * $i;
    background-position: -31px * $i -25px * $i;
    text-indent: -999em;
  }
  .icon46{
    width: 18px * $i;
    height: 14px * $i;
    background-position: -260px * $i -23px * $i;
  }
  .icon47{
    width: 45px * $i;
    height: 45px * $i;
    background-position: -190px * $i -225px * $i;
  }
  .icon48{
    width: 27px * $i;
    height: 27px * $i;
    background-position: -49px * $i -29px * $i;
    text-indent: -999em;
  }
  .icon49{
    width: 18px * $i;
    height: 18px * $i;
    background-position: -255px * $i -225px * $i;
  }
  .icon49.active{
    background-position: -255px * $i -249px * $i;
  }
  .icon50{
    width: 9px * $i;
    height: 13px * $i;
    background-position: -258px * $i -270px * $i;
  }
  .icon51{
    width: 10px * $i;
    height: 14px * $i;
    background-position: -270px * $i -270px * $i;
  }
  .icon52{
    width: 10px * $i;
    height: 5px * $i;
    background-position: -260px * $i -288px * $i;
  }
  .icon53{
    width: 18px * $i;
    height: 18px * $i;
    background-position: -258px * $i -300px * $i;
  }
  .icon54{
    width: 17px * $i;
    height: 13px * $i;
    background-position: -260px * $i -325px * $i;
  }
  .icon55{
    width: 68px * $i;
    height: 93px * $i;
    background-position: -186px * $i -282px * $i;
  }
  .icon56{
    width: 27px * $i;
    height: 30px * $i;
    background-position: -287px * $i -159px * $i;
  }
  .icon57{
    width: 28px * $i;
    height: 30px * $i;
    background-position: -287px * $i -195px * $i;
  }
  .icon58{
    width: 28px * $i;
    height: 30px * $i;
    background-position: -287px * $i -229px * $i;
  }
  .icon59{
    width: 30px * $i;
    height: 30px * $i;
    background-position: -287px * $i -264px * $i;
  }
  .icon60{
    width: 12px * $i;
    height: 13px * $i;
    background-position: -261px * $i -343px * $i;
  }
  .icon61{
    width: 18px * $i;
    height: 14px * $i;
    background-position: -261px * $i -361px * $i;
  }
  .icon62{
    width: 61px * $i;
    height: 14px * $i;
    background-position: -131px * $i -91px * $i;
  }
  .icon63{
    width: 11px * $i;
    height: 16px * $i;
    background-position: -261px * $i -380px * $i;
  }
  .icon64{
    width: 14px * $i;
    height: 13px * $i;
    background-position: -260px * $i -400px * $i;
  }
  .icon65{
    width: 48px * $i;
    height: 48px * $i;
    background-position: -288px * $i -296px * $i;
  }
  .icon66{
    width: 30px * $i;
    height: 30px * $i;
    background-position: -292px * $i -347px * $i;
  }
  .icon66.disabled{
    background-position: -292px * $i -380px * $i;
  }
  .icon-center{
    width: 24px * $i;
    height: 24px * $i;
  }
  .icon-cart{
    width: 21px * $i;
    height: 21px * $i;
  }
  .icon-search{
    width: 18px * $i;
    height: 19px * $i;
  }
  .icon-back{
    width: 10px * $i;
    height: 17px * $i;
  }
}
@include icon(1);
@media screen and (min-width:640px){
  @include icon(2);
}