/*label*/
.label {
height: 21px * 2 / $ppr;
line-height: 21px * 2 / $ppr;
color: #fff;
text-align: center;
border-radius: 2px * 2 / $ppr;
padding: 0 15px * 2 / $ppr;
display: inline-block;
vertical-align: middle;
font-size: 12px * 2 / $ppr;
position: relative;
}
.label-error,
.label-danger{
background: #dc3334;
@extend .label;
}
.label-success{
background: #67b222;
@extend .label;
}
.label-warning{
background: #1376ce;
@extend .label;
}
.label-disabled{
background: #ccc;
@extend .label;
}
.label-soon{
background: #f78e55;
@extend .label;
}
.label i{
  border-width: 3px * 2 / $ppr 3px * 2 / $ppr;
  border-style: solid;
  border-color: transparent transparent transparent #f78e55;
  position: absolute;
  right: -6px * 2 / $ppr;
  top: 7px * 2 / $ppr;
}