/*label*/
.label {
height: 21px;
line-height: 21px;
color: #fff;
text-align: center;
border-radius: 2px;
padding: 0 15px;
display: inline-block;
vertical-align: middle;
font-size: 12px;
position: relative;
}
.label-error,
.label-danger{
background: #ff5b54;
@extend .label;
}
.label-success{
background: #67b222;
@extend .label;
}
.label-warning{
background: #1376ce;
@extend .label;
}
.label-disabled{
background: #ccc;
@extend .label;
}
.label-soon{
background: #f78e55;
@extend .label;
}
.label i{
  border-width: 3px 3px;
  border-style: solid;
  border-color: transparent transparent transparent #f78e55;
  position: absolute;
  right: -6px;
  top: 7px;
}