/*
@styleguide

# 标签
<span class="label label-error">label-error</span>
<span class="label label-success">label-success</span>
<span class="label label-warning">label-warnning</span>
<span class="label label-disabled">label-disable</span>
<span class="label label-soon">label-soon</span>

    <span class="label label-error">label-error</span>
	<span class="label label-success">label-success</span>
	<span class="label label-warning">label-warnning</span>
	<span class="label label-disabled">label-disable</span>
	<span class="label label-soon">label-soon</span>

*/
@mixin label($i){
	.label {
	height: 21px * $i;
	line-height: 21px * $i;
	color: #fff;
	text-align: center;
	border-radius: 2px * $i;
	padding: 0 15px * $i;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px * $i;
	position: relative;
	}
	
	.label i{
	  border-width: 3px * $i 3px * $i;
	  border-style: solid;
	  border-color: transparent transparent transparent #f78e55;
	  position: absolute;
	  right: -6px * $i;
	  top: 7px * $i;
	}
}
.label-error,
.label-danger{
background: #ff5b54;
@extend .label;
}
.label-success{
background: #67b222;
@extend .label;
}
.label-warning{
background: #1376ce;
@extend .label;
}
.label-disabled{
background: #ccc;
@extend .label;
}
.label-soon{
background: #f78e55;
@extend .label;
}

@include label(1);

@media screen and (min-width:640px){
  @include label(2);
}