.loading9{
	z-index: 999;
}
.loading9 i{
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #ffffff;
}
.loading9 i:first-child{
  animation:loading9-ani2 0.6s linear infinite;
  opacity: 0;
  transform:translate(-100%);
}
.loading9 i:nth-child(2),
.loading9 i:nth-child(3){
  animation:loading9-ani3 0.6s linear infinite;
}
.loading9 i:last-child{
  animation:loading9-ani1 0.6s linear infinite;
}
@keyframes loading9-ani1{
  100%{
    transform:translate(200%);
    opacity: 0;
  }
}
@keyframes loading9-ani2{
  100%{
    transform:translate(100%);
    opacity: 1;
  }
}
@keyframes loading9-ani3{
  100%{
    transform:translate(100%);
  }
}