.logout.center{
	  border-radius: 10px;
	  padding: 33px 60px;
}
.loading{
  width: 25px;
  height: 25px;
  background: url(#{$bg-url}loading.png) no-repeat;
  background-size: 25px;
  position: fixed;
  animation:loading 1s linear infinite;
  transform:rotateZ(0deg);
}
@keyframes loading{
  100%{
    transform:rotateZ(360deg);
  }
}