/*滑动*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  text-align: center;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.swipe-dot{
  text-align: center;
  position: absolute;;
  bottom: 10px * 2 / $ppr;
  width: 100%;
  font-size: 0;
}
.swipe-dot span{
  display: inline-block;
  width: 7px * 2 / $ppr;
  height:7px * 2 / $ppr;
  border-radius: 7px * 2 / $ppr;
  background:rgba(0,0,0,0.3);
  margin:0 7px * 2 / $ppr;
}
.swipe-dot span.active{
  background: #dc3334;
}
.swipe img{
  width: 640px / $ppr;
  height: 230px / $ppr;
}