.switch{
	width: 46px;
	height: 24px;
	border-radius: 24px;
	background: #ccc;
	display: inline-block;
	position: relative;
	transition:all 0.3s;
}
.switch:before{
	width: 22px;
	height: 22px;
	content: '';
	position: absolute;
	left: 1px;
	top: 1px;
	background: #fff;
	border-radius: 50%;
	transition:all 0.3s ease-in;
}
.switch.active{
	background: #df3c3a;
}
.switch.active:before{
	left: 23px;
}