/*tab*/
.tab-h{
  height: 84px;
  background: #fff;
}
.tab-h ul{
  position: fixed;
  width: 100%;
  background: #fff;
  left: 0;
  top: 0;
  z-index: 1;
}
.tab-h li{
  float: left;
  width: 50%;
  font-size: 15px;
  border-bottom: 1px solid #f2f2f3;
  
  text-align: center;
}

.tab-h li a{
  display: inline-block;
  padding: 0 20px;
  height: 43px;
  line-height: 43px;
  font-weight: bold;
}
.tab-h li.active a{
  color: #dc3334;
  border-bottom:2px solid #dc3334;
}
.tab-b{
  display: none;
}
.tab-b.active{
  display: block;
}