/*text*/
.text-error,
.text-important{
  color:#ff5b54;
  font-size: 12px;
  vertical-align: middle;
}
.text-success{
  color: #67b222;
}
.text-warnning,
.text-link{
  color: #3b86c4;
}
.text-disable{
  color: #999;
}
.text-orange{
  color:#ff9000;
}

.text-h2{
	padding:21px 0 7px 12px;
	font-size:14px;
	color:#666;
	font-weight:normal;
}