/*text*/
.text-error,
.text-important{
  color:#dc3334;
  font-size: 12px * 2 / $ppr;
}
.text-success{
  color: #67b222;
}
.text-warnning,
.text-link{
  color: #3b86c4;
}
.text-disable{
  color: #999;
}
.text-orange{
  color:#ff9000;
}

.text-h2{
	padding:21px * 2 / $ppr 0 7px * 2 / $ppr 12px * 2 / $ppr;
	font-size:14px * 2 / $ppr;
	color:#666;
	font-weight:normal;
}