@mixin tooltip($i){
	.tooltip{
	  padding: 34px * $i 15px * $i;
	  border-radius: 5px * $i;
	  line-height: 18px * $i;
	}
}

.tooltip{
  position: fixed;
  background: rgba(0,0,0,0.7);
  color: #fff;
  z-index:99999;
}

@include tooltip(1);
@media screen and (min-width:640px){
  @include tooltip(2);
}