/*
@styleguide

# 老拉新奖励banner

*/
@import "../../utils/variables";
.partner-banner{
  position: relative;
}
.partner-banner img{
  width: 100%;
}
/*.partner-banner ul{
  padding-top: 424px;
  padding-left: 214px;
  color: #815904;
  line-height: 1.2;
  font-size: 20px;
}*/
.partner-banner a.text-disable{
  text-decoration: underline;
  font-size: 16px;
  position: absolute;
  right: 58px;
  bottom: 16px;
  color: #666;
}