.interesting{
	padding:0 12px * 2 / 750 * 640 5px  * 2 / 750 * 640;
	background: #fff;
	margin-bottom: 15px * 2 / 750 * 640;
}
.interesting ul{
	white-space: nowrap;
	font-size: 0;
	overflow-x: auto;
	padding-right: 12px * 2 / 750 * 640;
	margin-right: -12px * 2 / 750 * 640;
	-webkit-overflow-scrolling: touch;
}
.interesting li{
	display: inline-block;
	margin-right: 2px * 2 / 750 * 640;
}
.interesting li:last-child{
	margin-right:0;
}
.interesting img{
	width: 211px * 2 / 750 * 640;
	height: 211px * 2 / 750 * 640;
}
.interesting p{
	font-size:13px * 2 / 750 * 640;
	line-height:18px * 2 / 750 * 640;
	margin-bottom: 11px * 2 / 750 * 640;
}
.interesting h3{
	font-size:18px * 2 / 750 * 640;
	font-weight: normal;
	margin-bottom: 13px * 2 / 750 * 640;
	padding-top: 7px * 2 / 750 * 640;
}
.interesting-author{
	display: flex;
	padding: 10px * 2 / 750 * 640 0;
	align-items: center;
	justify-content: space-between;
	font-size: 12px * 2 / 750 * 640;
}
.interesting-author img{
	margin-right: 6px * 2 / 750 * 640;
	vertical-align: middle;
	width: 22px * 2 / 750 * 640;
	height: 22px * 2 / 750 * 640;
	border-radius: 50%;
}
.interesting-icon.icon-readed{
	width: 15px * 2 / 750 * 640;
	height: 12px * 2 / 750 * 640;
	vertical-align: middle;
	margin-right: 3px * 2 / 750 * 640;
}
.interesting-author-c2{
	color: #999;
}
.interesting-product{
	display: flex;
	align-items: center;
	padding: 10px * 2 / 750 * 640;
	background: #F8F8F8;
	margin-bottom: 10px  * 2 / 750 * 640;
}
.interesting-product img{
	width: 85px * 2 / 750 * 640;
	height: 85px * 2 / 750 * 640;
}
.interesting-product-c2{
	flex:1;
	margin-left: 10px * 2 / 750 * 640;
}
.interesting-product h4{
	font-size: 13px * 2 / 750 * 640;
	line-height: 18px * 2 / 750 * 640;
	margin-bottom: 10px * 2 / 750 * 640;
	font-weight: normal;
}
.interesting-product-price strong{
	color: #E62117;
	margin-right: 3px * 2 / 750 * 640;
	vertical-align: bottom;
}
.interesting-product-price del{
	color: #999;
	font-size: 10px * 2 / 750 * 640;
	vertical-align: bottom;
}