<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘三方合作</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/coffee.css">
</head>
<body>
	<!--头部-->
	<!-- <header class="header">
		<a href="javascript:" class="coffee-header-title">顺丰海淘三方合作
		</a>
	</header> -->
	<!-- banner -->
	<section class="coffee-banner clearfix">
		<div class="coffee-banner-inner">
			<div class="fl"><img src="../img/coffee-logo.png" alt=""></div>
			<h2>任意中杯咖啡<br>免费领取规则</h2>
		</div>		
	</section>
	<!-- 条件列表 -->
	<ol class="coffee-list">
		<li>
			<div class="coffee-list-title">
				== Slim::Template.new('../../../icon/svg/icon-coffee-bean.svg').render
				<em>条件<i class="icon coffee-01">1</i></em>通过宣传页扫码进来
			</div>
		</li>	
 		<li>
			<div class="coffee-list-title">
				== Slim::Template.new('../../../icon/svg/icon-coffee-bean.svg').render
				<em>条件<i class="icon coffee-02">1</i></em>新用户成功下单就送咖啡
			</div>
		</li>
	</ol>
	<p class="coffee-text-tips">顺丰海淘：顺丰直营，海外直采，只卖正品！</p>
	<p class="coffee-tips">（获得的咖啡券可在我的优惠券中进行查看）</p>
	<div class="btn-box"><button class="btn btn-danger">逛逛有啥可买的</button></div>
</body>
</html>