<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>支付成功</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	<section class="gift-coupon">
		<h2 class="gift-coupon-h2">原汁原味开业优惠礼包</h2>
		== Slim::Template.new('../../module/coupons.slim').render	
		<a href="" class="btn btn-big btn-danger">领取优惠券礼包</a>
		<h2 class="gift-coupon-h2">领券抵扣商品：</h2>
		<ul class="list clearfix">
			<li>
				<a href="detail.html">
					<div class="list-r1 vertical-middle">
						<img src="../img/list.jpg" alt="">
						
						<div class="mask">
							<span class="icon icon5 center">售完</span>
						</div>
					</div>
					<div class="list-b">
						<h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
						<div class="list-r3 clearfix">
							<div class="list-r3c1 fl"><span class="list-price">¥1280</span></div>	
							
						</div>
					</div>		
				</a>		
			</li>
			<li>
				<a href="detail.html">
					<div class="list-r1 vertical-middle">
						<img src="../img/list.jpg" alt="">
						
						<div class="mask">
							<span class="icon icon5 center">售完</span>
						</div>
					</div>
					<div class="list-b">
						<h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
						<div class="list-r3 clearfix">
							<div class="list-r3c1 fl"><span class="list-price">¥1280</span></div>	
						</div>
					</div>		
				</a>
							
			</li>
			<li>
				<a href="detail.html">
					<div class="list-r1 vertical-middle">
						<img src="../img/list.jpg" alt="">
						
						<div class="mask">
							<span class="icon icon5 center">售完</span>
						</div>
					</div>
					<div class="list-b">
						<h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
						<div class="list-r3 clearfix">
							<div class="list-r3c1 fl"><span class="list-price">¥1280</span></div>	
							
						</div>
					</div>		
				</a>		
			</li>
			<li>
				<a href="detail.html">
					<div class="list-r1 vertical-middle">
						<img src="../img/list.jpg" alt="">
						
						<div class="mask">
							<span class="icon icon5 center">售完</span>
						</div>
					</div>
					<div class="list-b">
						<h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
						<div class="list-r3 clearfix">
							<div class="list-r3c1 fl"><span class="list-price">¥1280</span></div>	
						</div>
					</div>		
				</a>
							
			</li>
		</ul>
		<a href="" class="btn btn-big btn-danger">更多商品去原汁原味逛逛</a>
	</section>
	<section class="coupon-use box">
		<h2>优惠券使用规则</h2>
		<ul>
			<li>优惠券有效期：2015.4.29-2015.6.30</li>
			<li>每个顺丰海淘账户限领一张</li>
			<li>该优惠券适用于顺丰海淘所有商品，满68元即可使用</li>
		</ul>
	</section>
	<section class="mask gift-coupon-dialog">领取成功</section>
</body>
	
</html>