<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/invite.css">

</head>
<body class="body1">
	<section class="invite-bag">
		<h1>顺丰海淘</h1>
		<h2>红包大派发</h2>
		<div class="invite-bag-r1"><span>20</span>元</div>
		<div class="text-important">领取成功！</div>
	</section>
	<div class="mask"></div>
	<a href=""><img class="invite-bag-dialog center" src="../img/invite-bag.png"></a>
</body>
</html>