<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="target-densitydpi=device-dpi,width=640" name="viewport">
	<title>福利社</title>
	<script type="text/javascript" src="../../../js/mobile-util.js"></script>
	<link rel="stylesheet" href="../../../css/pages/common/common.css">
	<link rel="stylesheet" href="../../../css/pages/activity/welfare.css">

</head>
<body>

	<section class="welfarelist">
		<img src="http://img0.sfht.com/cmsres/20151120/198d26a0-85c9-49df-8a67-9d65304dd1d4.jpeg" width="100%">
		<ul>
			<li>
				<a href="">
					<div class="welfarelist-img"><img src="http://dummyimage.com/115x115" width="115" height="115"></div>
					<h3>德国Weleda维蕾德 金盏花婴保湿面霜 1瓶 </h3>
					<del>售价：￥876</del>
					<div class="text-important">分享价：¥ 587</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="welfarelist-img"><img src="http://dummyimage.com/115x115" width="115" height="115"></div>
					<h3>德国Weleda维蕾德 金盏花婴保湿面霜 1瓶 </h3>
					<del>售价：￥876</del>
					<div class="text-important">分享价：¥ 587</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="welfarelist-img"><img src="http://dummyimage.com/115x115" width="115" height="115"></div>
					<h3>德国Weleda维蕾德 金盏花婴保湿面霜 1瓶 </h3>
					<del>售价：￥876</del>
					<div class="text-important">分享价：¥ 587</div>
				</a>
			</li>
			<li>
				<a href="">
					<div class="welfarelist-img"><img src="http://dummyimage.com/115x115" width="115" height="115"></div>
					<h3>德国Weleda维蕾德 金盏花婴保湿面霜 1瓶 </h3>
					<del>售价：￥876</del>
					<div class="text-important">分享价：¥ 587</div>
				</a>
			</li>
		</ul>
	</section>
	<footer class="welfare-footer">
		<div class="welfare-footer-fixed">
			<a href="" class="btn btn-danger btn-big">分享领红包</a>
		</div>
		
	</footer>
	<!-- <footer class="welfare-footer">
		<div class="welfare-footer-fixed">
			<input type="text" class="input" placeholder="输入手机号码">
			<button href="" class="btn btn-danger">领取红包</button>
		</div>
			
	</footer> -->
	<script src="../../../js/zepto.min.js"></script>
</body>
</html>