/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
@mixin daily($i){ 
  .daily{
    margin-bottom: 9px * $i;
  }
  .daily h2{
    height: 34px * $i;
    line-height: 34px * $i;
    border-left: 3px * $i solid #ff8991;
    padding-left: 5px * $i;
    font-size: 14px * $i;
  }
  .daily li{
    padding: 8px * $i;
  }
  .daily-c1{
    margin-right: 8px * $i;
    width: 120px * $i;
    height: 120px * $i;
  }
  .daily-c1 img{
    width: 120px * $i;
    height: 120px * $i;
  }
  .daily h3{
    margin-bottom: 13px * $i;
    font-size: 14px * $i;
    line-height: 18px * $i;
    margin-top: 4px * $i;
  }
  .daily h3 img{
    width: 19px * $i;
    height: 13px * $i;
    margin-right: 4px * $i;
  }
  .daily .label{
    padding: 0 3px * $i;
    margin-bottom: 5px * $i;
    height: 18px * $i;
    line-height: 18px * $i;
    
  }
  .daily .label img{
    width: 18px * $i;
    height: 12px * $i;

    vertical-align: -2px * $i;
    margin-right: 3px * $i;
  }
  .daily-icon-cart{
    width: 34px * $i;
    height: 34px * $i;
  }
  .daily-icon-cart svg{
    width: 21px * $i;
    height: 21px * $i;
  }
  .daily strong{
    margin-right: 5px * $i;
    font-size: 16px * $i;
  }
}

.daily{
  background: #fff;
}
.daily h2{
  border-top: 1px solid #f0eff5;
  border-bottom: 1px solid #f0eff5;
  color: #4a4a4a;
}
.daily li{
  display: flex;
  justify-content:space-between;
  align-items:center;
  border-bottom: 1px solid #f0eff5;
}
.daily-c1{
  position: relative;
}

.daily-c2{
  flex:1;
}
.daily h3{
  font-weight: normal;
}

.daily .label-disabled{
  background: #f2f2f2;
  color: #b3b3b3;
}
.daily-c2-r1{
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.daily-icon-cart{
  text-align: center;
}
.daily-icon-cart:after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.daily-icon-cart svg{
  vertical-align: middle; 
}
.daily strong{
  font-weight: normal;
  font-family: arial;
}
.daily del{
  color: #b3b3b3;
}
.daily .mask{
  background: rgba(255,255,255,0.5);
  position: absolute;
  z-index: 1;
}

@include daily(1);
@media screen and (min-width:640px){
  @include daily(2);
}