.rank-qa ul{
	display:flex;
	border-bottom: 1px solid #eee;
	background: #fff;
}
.rank-qa li{
	flex:1;
	border-right:1px solid #eee;
	text-align: center;
}
.rank-qa li:last-child{
	border-left: none; 
}
.rank-qa a{
	color:#4A4A4A;
	display:block;
	height:44px;
	line-height:44px;
}
