<section class="welfare-detail">
	<img class="imageBig" src="{{pic}}" alt="" data-samllPic="{{smallPic}}" data-subject="{{subject}}" data-desc="{{desc}}">
	<div class="footerCn">
		<p class="old-price">售价：{{sf.price originPrice}}元</p>
		<p class="new-price">领红包购买只需{{sf.price salePrice}}元</p>
		<div class="btnsOut" id="isToShare">
			<a href="javascript:;" class="btn toShareBtn1">分享领红包</a>
		</div>
		<div class="btnsOut shareBtn" id="isShare">
			<input type="text" placeholder="请输入手机号码" class="mobileNum">
			<a href="javascript:;" class="btn toShareBtn2">领红包</a>
		</div>
		<a href="http://m.sfht.com/welfare-rule.html#!&flsRule={{sf-uni description}}" class="toRuleBtn">活动规则</a>
	</div>
</section>