<section class="welfare-list">
	<h2 class="title">推荐任务</h2>
	<ul class="stopList">
	{{#if recommendTaskList}}
        {{#each recommendTaskList}}
		<li data-tab="{{task.id}}" class="clearfix stopList-li margin-bottom-10	{{#if isCompleted}}completed{{/if}}">
			<div class="listLi-1 fl">
				<img class="stepImage" src="{{task.awardPic}}">
				<p class="red">{{task.awardValue}}{{statusOrder}}</p>
			</div>
			<div class="listLi-2 fl grey">
				<p class="font16 dark margin-bottom-10 clearfix">
					<span class="sfhdtitle ellipsis inline fl fb">{{task.title}}</span>
					{{#if task.description}}
					<a href="http://m.sfht.com/welfare-rule.html#!flsRule={{sf-uni task.description}}" class="inline ruleToshow font12 white fl" id="SFFLSruleToshow">?</a>
					{{/if}}
				</p>
				{{#if task.endDate}}
				<p class="ellipsis">{{task.subTitle}}</p>
				<p class="font12 ellipsis">截止于：{{task.endDate}}</p>
				{{else}}
				<p class="ellipsis2">{{task.subTitle}}</p>
				{{/if}}
			</div>
			<div class="listLi-3 font12">
				{{#if isCompleted}}
				<a href="javascript:;" class="inline joinBtns white {{task.taskActionType}}"><span class="inline">{{task.completeButtonText}}</span></a>
				{{else}}
				<a href="{{task.url}}" class="inline joinBtns white {{task.taskActionType}}"><span class="inline">{{task.buttonText}}</span></a>
				{{/if}}
			</div>
		</li>
		{{/each}}
        {{else}}
        <li class="clearfix stopList-li margin-bottom-10">
            <p>暂无没有记录</p>
        </li>
	{{/if}}
	</ul>
	<h2 class="title">日常任务</h2>
	<ul class="stopList">
	{{#if dailyTaskList}}
        {{#each dailyTaskList}}
		<li data-tab="{{task.id}}" class="clearfix stopList-li margin-bottom-10 {{#if isCompleted}}completed{{/if}}">
			<div class="listLi-1 fl">
				<img class="stepImage" src="{{task.awardPic}}">
				<p class="red">{{task.awardValue}}</p>
			</div>
			<div class="listLi-2 fl grey">
				<p class="font16 dark margin-bottom-10 clearfix">
					<span class="sfhdtitle ellipsis inline fl fb">{{task.title}}</span>
					{{#if task.description}}
					<a href="http://m.sfht.com/welfare-rule.html#!flsRule={{task.description}}" class="inline ruleToshow font12 white fl"  id="SFFLSruleToshow">?</a>
					{{/if}}
				</p>
				{{#if task.endDate}}
				<p class="ellipsis">{{task.subTitle}}</p>
				<p class="font12 ellipsis">截止于：{{task.endDate}}</p>
				{{else}}
				<p class="ellipsis2">{{task.subTitle}}</p>
				{{/if}}
			</div>
			<div class="listLi-3 font12">
				{{#if isCompleted}}
				<a href="javascript:;" class="inline joinBtns white {{task.taskActionType}}"><span class="inline">{{task.completeButtonText}}</span></a>
				{{else}}
				<a href="{{task.url}}" class="inline joinBtns white {{task.taskActionType}}"><span class="inline">{{task.buttonText}}</span></a>
				{{/if}}
			</div>
		</li>
		{{/each}}
        {{else}}
		<li class="clearfix stopList-li margin-bottom-10">
            <p>暂无没有记录</p>
        </li>
	{{/if}}
	</ul>
</section>