.redbag-list{
	width: 530px;
	margin: 0 auto;
	padding: 10px 5px 10px;
}
.redbag-list h2{
	text-align: center;
	height: 45px;
	line-height: 45px;
	color: #782323;
	font-size: 24px;
}
.redbag-list li{
	display: flex;
	justify-content: space-between;
	height: 61px;
	line-height: 61px;
	border-bottom: 1px solid #b9b093;
	padding: 0 15px;
	color: #666;
	font-size: 22px;
}
.redbag-list img{
	width: 49px;
	height: 49px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 20px;
}
.redbag-list .money{
	color: #e73533;
}