.partner-steps{
	padding-bottom: 49px;
}
.partner-steps img{
	width: 100%;
	vertical-align: top;
}
.partner-steps .btn-box{
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	background: #fff;
	border-top: 1px solid #e5e5e5;
	padding: 6px 0;	
}
.partner-steps .btn-box .btn{	
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}