<section class="nav">
  <div class="nav-r1" style="background: transparent; border: none;">
    <div class="nav-c1">
      <a href="/index.html">
        <span class="icon icon25"></span>
        <div>首页</div>
      </a>
    </div>
    <div class="nav-c1">
      <a href="/center.html">
        <span class="icon icon26"></span>
        <div>我的</div>
      </a>
    </div>
  </div>
</section>