<header class="header clearfix">
    <div class="header-c1 fl">
      <a href="/index.html" class="icon icon3">顺丰海淘</a>
    </div>
    <div class="header-c2 fr">
      <a href="/shoppingcart.html" data-login="/login.html" class="mini-cart-container icon icon48">购物车
        <span class="dot dot-error" class="mini-cart-num" style="display: none;"></span>
      </a>
      <a href="/center.html" class="icon icon2">个人中心</a>
    </div>
</header>