<!--订单-->
  <section class="order-add">
    <p class="alert-error">政策规定，商品进口需提供收货人的实名认证信息。</p>
    <h2>收货人</h2>
    <input type="text" can-value="addr.input.recName" class="input" placeholder="需要填写收货人的真实姓名">
    <h2>身份证</h2>
    <input type="text" can-value="addr.input.credtNum" class="input" placeholder="填写身份证">
    <h2>手机</h2>
    <input type="text" can-value="addr.input.cellphone" class="input" placeholder="收货人手机号">
    <h2>城市</h2>

    <select id="s1" can-value="addr.input.nationName" class="select">
      {{#each addr.place.countries}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="s2"  can-value="addr.input.provinceName" class="select">
      {{#each addr.place.provinces}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="s3"  can-value="addr.input.cityName" class="select">
      {{#each addr.place.cities}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="s4"  can-value="addr.input.regionName" class="select">
      {{#each addr.place.regions}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>

    <h2>地址</h2>
    <textarea name="" can-value="addr.input.detail" id="" class="textarea" placeholder="填写详细地址"></textarea>
    <h2>邮编</h2>
    <input type="text" can-value="addr.input.zipCode" class="input" placeholder="填写邮政编码">

    <p class="alert-error">{{addr.error}}</p>
    <button class="btn btn-warnning btn-big" id="addressSave">确认收货人地址</button>
  </section>
  <!--订单-->