<section class="login">
    <ol>
      <li>
        <input type="text" class="input" id="user-name" placeholder="手机号／邮箱" can-value="username"/>
        <span class="label label-error" id="username-error-tips" style="display:none"></span>
      </li>
      <li>
        <input type="password" id="user-pwd" class="input" placeholder="密码" can-value="password"/>
        <span class="label label-error" id="pwd-error-tips"  style="display:none"></span>
      </li>
      {{#isNeedVerifiedCode}}
      <li class="login-r3">
        <div class="clearfix">

          <div class="login-r3c1 fr">
            <img src="{{verifiedCodeUrl}}" width="86" alt="验证码">
            <a href="javascript:" id="verified-code-btn">换一个</a>
          </div>
          <div class="login-r3c2">
            <input id="verified-code" type="text" class="input" placeholder="输入验证码" can-value="verifiedCode"/>
          </div>

        </div>

        <span class="label label-error" id="code-error-tips"  style="display:none"></span>
      </li>
      {{/isNeedVerifiedCode}}

      <li><button class="btn btn-success btn-big" id="gotoLogin">登陆</button></li>
    </ol>
    <div class="login-r1 clearfix">
      <a href="/register.html">新用户注册</a>
    </div>
    <div class="login-r2"><a href="javascript:" class="weixinlogin"><span class="icon icon18"></span><br>微信登录</a></div>
  </section>