<section class="login">
  <h1 class="text-h2">身份验证成功，请重置密码</h1>
  <ol>
    <li>
      <input type="password" class="input" id="input-password" placeholder="新密码"/>
    </li>
    <li class="login-r3">
      <input type="password" class="input" id="input-repassword" placeholder="确认密码"/>
    </li>
    <li><button class="btn btn-success btn-big" id="reset-password-btn">确认</button></li>
		{{#msg}}<li><span class="text-error {{msgType}}">{{msg}}</span></li>{{/msg}}
  </ol>
</section>