<div class="sf-b2c-mall-order-addrListArea">
  <section class="order-manager">
    <h2 class="address-title">收货地址管理</h2>
    <ul>
      {{#each addrs.addressList}}
        <li class="box box1">
          <a href="javascript:;" style="padding-right:24px;" role="detail" class="box-link" data-addressid="{{addrId}}" data-index="{{@index}}">
            <span class="order-manager-r1"><strong>{{recName}}</strong>{{cellphone}}</span>
            <span class="order-manager-r2" style="line-height:22px;">{{#if isDefault}}<span class="text-important">[默认]</span>{{/if}}{{detail}}</span>
          </a>
          <span class="icon icon13 box-arrow center-vertical"></span>
        </li>
      {{/each}}
    </ul>
  </section>

  <section class="nav">
    <div class="nav-r1">
      <div class="nav-c2">
        <a href="javascript:;" role="addrecaddr" class="btn btn-danger btn-big">新增收货地址</a>
      </div>
    </div>
  </section>
</div>

<div class="sf-b2c-mall-order-adrDetailArea"></div>

<div class="sf-b2c-mall-order-editAdrArea"></div>

