{{#sf-isHasAggregation brands categories secondCategories origins shopNations}}
  <section class="nataral-tab">
    <ul>
      {{#if filterCustom.brandName}}
        <li can-click="h5ShowFilter.showFilter" data-tab="brand" class="{{#h5ShowFilter.map.brand}}active{{/h5ShowFilter.map.brand}}">
          <a href="javascript:">{{#sf-isNull filterBrands}}{{#each filterBrands}}{{key}}{{/each}}{{/sf-isNull}}{{^sf-isNull filterBrands}}{{filterCustom.brandName}}{{/sf-isNull}}</a><i></i>
        </li>
      {{/if}}
      {{#if filterCustom.categoryName}}
        <li can-click="h5ShowFilter.showFilter" data-tab="category" class="{{#h5ShowFilter.map.category}}active{{/h5ShowFilter.map.category}}">
          <a href="javascript:">
            {{#sf-isNull filterCategories}}
              {{#each filterCategories}}{{key}}{{/each}}
            {{/sf-isNull}}
            {{#sf-isNull filterSecondCategories}}
              {{#each filterSecondCategories}}{{key}}{{/each}}
            {{/sf-isNull}}
            {{^sf-isNull filterCategories}}
              {{^sf-isNull filterSecondCategories}}
                {{filterCustom.categoryName}}
              {{/sf-isNull}}
            {{/sf-isNull}}
          </a>
          <i></i>
        </li>
      {{/if}}
      {{#if filterCustom.originName}}
      <li can-click="h5ShowFilter.showFilter" data-tab="origin" class="{{#h5ShowFilter.map.origin}}active{{/h5ShowFilter.map.origin}}">
        <a href="javascript:">{{#sf-isNull filterOrigins}}{{#each filterOrigins}}{{key}}{{/each}}{{/sf-isNull}}{{^sf-isNull filterOrigins}}{{filterCustom.originName}}{{/sf-isNull}}</a><i></i>
      </li>
      {{/if}}
      {{#if filterCustom.shopNationName}}
      <li can-click="h5ShowFilter.showFilter" data-tab="shopNation" class="{{#h5ShowFilter.map.shopNation}}active{{/h5ShowFilter.map.shopNation}}">
        <a href="javascript:">{{#sf-isNull filterShopNations}}{{#each filterShopNations}}{{key}}{{/each}}{{/sf-isNull}}{{^sf-isNull filterShopNations}}{{filterCustom.shopNationName}}{{/sf-isNull}}</a><i></i>
      </li>
      {{/if}}
      <li can-click="h5ShowFilter.showFilter" data-tab="sort" class="{{#h5ShowFilter.map.sort}}active{{/h5ShowFilter.map.sort}}">
        <a href="javascript:">{{sort.name}}</a><i></i>
      </li>
    </ul>
  </section>
  {{#if filterCustom.brandName}}
  <section class="nataral-brand nataral-tab-b {{#h5ShowFilter.map.brand}}active{{/h5ShowFilter.map.brand}}" data-role="selectBrand">
    <ul>
      <li class="{{^brandIds}}active{{/brandIds}}" data-id="">
        <a href="javascript:">全部品牌</a><div class="icon icon61"></div>
      </li>
      {{#each brands.buckets}}
      <li class="{{#selected}}active{{/selected}}" data-id="{{id}}">
        <a href="javascript:">{{key}}</a><div class="icon icon61"></div>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}
  {{#if filterCustom.categoryName}}
    {{^if filterCustom.secondCategoryName}}
      <section class="nataral-brand nataral-tab-b {{#h5ShowFilter.map.category}}active{{/h5ShowFilter.map.category}}" data-role="selectCategory">
        <ul>
          <li class="{{^categoryIds}}active{{/categoryIds}}" data-id="">
            <a href="javascript:">全部类目</a><div class="icon icon61"></div>
          </li>
          {{#each categories.buckets}}
          <li class="{{#selected}}active{{/selected}}" data-id="{{id}}">
            <a href="javascript:">{{key}}</a><div class="icon icon61"></div>
          </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
    {{#if filterCustom.secondCategoryName}}
      <div class="nataral-tab-b {{#h5ShowFilter.map.category}}active{{/h5ShowFilter.map.category}}" data-role="selectSecondCategory">
      <section class="nataral-classify">
        <div class="nataral-classify-b">
          <ul>
            <li data-id=""><div class="nataral-classify-icon" style="background-image:url(http://img.sfht.com/sfhth5/1.1.107/img/nataral-classify-all.png);background-size: 37px;"></div><h3>全部</h3></a></li>
          </ul>
        </div>
      </section>
      {{#each categories.buckets}}
        <section class="nataral-classify {{#sf-isUnfold selected innerSecondCategories}}active{{/sf-isUnfold}}">
          <div class="nataral-classify-h" can-click="h5SecondCategory.show">
            <h2>{{key}}</h2>
            {{#if innerSecondCategories}}
              <a href="javascript:" class="nataral-classify-btn">展开</a>
            {{/if}}
          </div>
          {{#if innerSecondCategories}}
          <div class="nataral-classify-b">
            <ul>
              {{#each innerSecondCategories}}
                <li class="{{#if selected}}active{{/if}}" data-second-id="{{id}}">
                  <div class="nataral-classify-icon" style="background-image:url({{pic}})"></div><h3>{{key}}</h3>
                </li>
              {{/each}} 
              <li class="{{#if selected}}active{{/if}}" data-id="{{id}}">
                <div class="nataral-classify-icon" style="background-image:url({{pic}})"></div><h3>全部</h3>
              </li>
            </ul>
          </div>
          {{/if}}
        </section>
      {{/each}}
      </div>
    {{/if}}
  {{/if}}
  {{#if filterCustom.originName}}
  <section class="nataral-brand nataral-tab-b {{#h5ShowFilter.map.origin}}active{{/h5ShowFilter.map.origin}}" data-role="selectOrigin">
    <ul>
      <li class="{{^originIds}}active{{/originIds}}" data-id="">
        <a href="javascript:">全部货源地</a><div class="icon icon61"></div>
      </li>
      {{#each origins.buckets}}
      <li class="{{#selected}}active{{/selected}}" data-id="{{id}}">
        <a href="javascript:">{{key}}</a><div class="icon icon61"></div>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}
  {{#if filterCustom.shopNationName}}
  <section class="nataral-brand nataral-tab-b {{#h5ShowFilter.map.shopNation}}active{{/h5ShowFilter.map.shopNation}}" data-role="selectShopNation">
    <ul>
      <li class="{{^shopNationIds}}active{{/shopNationIds}}" data-id="">
        <a href="javascript:">全部货源地</a><div class="icon icon61"></div>
      </li>
      {{#each shopNations.buckets}}
      <li class="{{#selected}}active{{/selected}}" data-id="{{id}}">
        <a href="javascript:">{{key}}</a><div class="icon icon61"></div>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}
  <section class="nataral-brand nataral-tab-b {{#h5ShowFilter.map.sort}}active{{/h5ShowFilter.map.sort}}" data-role="sortBox">
    <ul>
      <li class="{{#sf-isSortByDEFAULT sort}}active{{/sf-isSortByDEFAULT}}" data-role="DEFAULT">
        <a href="javascript:">综合</a><div class="icon icon61"></div>
      </li>
      <li class="{{#sf-isSortBySALE sort}}active{{/sf-isSortBySALE}}" data-role="SALE_DESC">
        <a href="javascript:">人气</a><div class="icon icon61"></div>
      </li>
      <li class="{{#sf-isSortByPRICEASC sort}}active{{/sf-isSortByPRICEASC}}" data-role="PRICE_ASC">
        <a href="javascript:">价格由低到高</a><div class="icon icon61"></div>
      </li>
      <li class="{{#sf-isSortByPRICEDESC sort}}active{{/sf-isSortByPRICEDESC}}" data-role="PRICE_DESC">
        <a href="javascript:">价格由高到低</a><div class="icon icon61"></div>
      </li>
    </ul>
  </section>
{{/sf-isHasAggregation}}

{{^sf-isHasResults itemSearch.totalHits itemSearch.results}}
  <div style="text-align:center; height:44px; line-height:44px;">
    <p style="display:inline-block; height:32px; line-height:32px; text-indent:54px; background-size:30px 40px;background: url(http://img.sfht.com/sfhth5/1.1.189/img/icon_empty2x.png) no-repeat">未能搜索到相关商品，以下为推荐商品</p>
  </div>
  {{#if recommendProducts}}
  <section class="recommend" style="padding:0px;">
    <ul>
      {{#each recommendProducts}}
      <li class="clearfix">
        <a href="http://m.sfht.com/detail/{{itemId}}.html">
        <div class="recommend-c1 fl vertical-middle">
          <img src="{{imageName}}@102h_102w_80Q_1x.jpg" alt="">
        </div>
        <div class="recommend-c2">
          <h3 class="ellipsis2">{{productName}}</h3>
          <div class="recommend-c2r1">
            <strong>¥{{sf.price sellingPrice}}</strong>
          </div>
        </div>
        </a>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}
{{/sf-isHasResults}}

{{#sf-isHasResults itemSearch.totalHits itemSearch.results}}
  {{^if h5ShowFilter.show}}
  <section class="nataral-product">
    <ul>
      {{#each itemSearch.results}}
        <li data-item-id="{{itemId}}">
          <div class="nataral-product-c1">
            <a href="http://m.sfht.com/detail/{{itemId}}.html" title="{{title}}">
              <img src="{{itemImage.bigImgUrl}}@150W_150h.jpg">
              {{#sf-isSoldOut soldOut}}
                <div class="mask"></div>
                <span class="nataral-product-soldout center">售完</span>
              {{/sf-isSoldOut}}
            </a>
          </div>
          <div class="nataral-product-c2">
            <a href="http://m.sfht.com/detail/{{itemId}}.html" title="{{title}}">
              {{^sf-isYZYW productForm}}
                <h3 class="ellipsis2">{{title}}</h3>
                <div class="nataral-product-r1">
                  <div><span class="text-important">¥{{sf.price sellingPrice}}</span><span class="text-disable"><del>￥{{sf.price referencePrice}}</del></span></div>
                  {{#if isShowShoppintCart}}
                    <span {{#sf-isShowAddToCart soldOut supportShoppingCart}}data-role="addtocart"{{/sf-isShowAddToCart}} class="icon icon66 {{^sf-isShowAddToCart soldOut supportShoppingCart}}disabled{{/sf-isShowAddToCart}}"></span>
                  {{/if}}
                </div>
              {{/sf-isYZYW}}
              {{#sf-isYZYW productForm}}
                <h3 class="ellipsis2">{{#starGoods}}<span class="nataral-product-star">明星</span>{{/#starGoods}}{{title}}</h3>
                <div class="nataral-product-r1">
                  <div><span class="text-important">¥{{sf.price sellingPrice}}</span><span class="text-disable">约{{currencySymbol}}{{sf.price originPrice}}</span></div>
                  {{#if isShowShoppintCart}}
                    <span {{#sf-isShowAddToCart soldOut supportShoppingCart}}data-role="addtocart"{{/sf-isShowAddToCart}} class="icon icon66 {{^sf-isShowAddToCart soldOut supportShoppingCart}}disabled{{/sf-isShowAddToCart}}"></span>
                  {{/if}}
                </div>
              {{/sf-isYZYW}}
            </a>
          </div>
        </li>
      {{/each}}
    </ul>
    {{#if h5LoadingData.show}}
      <div class="nataral-product-loading"><span class="loading"></span>正在加载，请稍等...</div>
    {{/if}}
  </section>
  {{/if}}
{{/sf-isHasResults}}
{{#if isShowShoppintCart}}
<a href="shoppingcart.html">
  <span class="icon icon65">{{#if miniShopCart.num}}<span class="dot dot-error">{{miniShopCart.num}}</span>{{/if}}</span>
</a>
{{/if}}