<section class="login">
    <ol>
      <li>
        <input type="text" class="input" id="user-name" placeholder="手机号／邮箱" can-value="username"/>
        <span class="text-error" id="username-error-tips" style="display:none"></span>
      </li>
      <li>
        <input type="password" id="user-pwd" class="input" placeholder="密码" can-value="password"/>
        <span class="text-error" id="pwd-error-tips"  style="display:none"></span>
      </li>
      {{#isNeedVerifiedCode}}
      <li class="login-r3">
        <div class="clearfix">

          <div class="login-r3c1 fr">
            <img src="{{verifiedCodeUrl}}" width="86" alt="验证码">

            <a href="javascript:" id="verified-code-btn">换一个</a>
          </div>
          <div class="login-r3c2">
            <input id="verified-code" type="text" class="input" placeholder="输入验证码" can-value="verifiedCode"/>
          </div>

        </div>

        <span class="text-error" id="code-error-tips"  style="display:none"></span>
      </li>
      {{/isNeedVerifiedCode}}

      <li><button class="btn btn-danger btn-big" id="gotoLogin">登录</button></li>
    </ol>
    <div class="login-r1 clearfix">
      <a href="/register.html" class="fl">新用户注册</a>
      <a href="/retrieve.html" class="fr">忘记密码</a>
    </div>
  </section>

<section class="otherlogin">
    {{#isNotWechatAndAlipay}}
      <div class="line">
        <span>或者</span>
      </div>
    {{/isNotWechatAndAlipay}}
    {{#isWeChat}}
        <button class="btn btn-soon btn-big weixinlogin">微信快捷登录</button>
    {{/isWeChat}}

    {{#isAlipay}}
      <button class="btn btn-soon btn-big alipaylogin">支付宝快捷登录</button>
    {{/isAlipay}}
</section>