<div class="box">
  <div>
    <span class="icon icon33"></span>
    <span style="text-indent:10px;display:inline-block;">密码修改成功</span>
  </div>
  <a href="index.html" class="text-send" style="margin-top: 20px;display: block;">返回首页</a>
</div>