<section class="login">
    <ol>
      <li>
        <input type="text" class="input" id="input-mobile" placeholder="仅限中国大陆手机号"/>
        <span class="label label-error" id="input-mobile-error" style="display:none">账户不存在</span>
      </li>
      <li class="login-r3">
        <div class="clearfix">
          <button class="btn btn-normal success fr" id="mobile-code-btn">发送验证码</button>
          <div class="login-r3c2">
            <input type="text" class="input" id="input-mobile-code" placeholder="输入验证码"/>
          </div>
        </div>
        <span class="label label-error" id="mobile-code-error" style="display:none">短信验证码输入有误，请重新输入</span>
      </li>
      <li>
        <input type="password" class="input" id="input-password" placeholder="请设置登录密码"/>
        <span class="label label-error" id="pwd-default-text" style="display:none">密码请设置6-18位字母、数字或标点符号</span>
        <span class="icon icon19 active" id="changePwdType"></span>
      </li>
      <li><button class="btn btn-success btn-big" id="mobile-register-btn">同意协议并注册</button></li>
      <li><span class="label label-error" id="mobile-register-error" style="display:none">注册失败</span></li>
    </ol>
    <div class="login-r1 clearfix">
      <a href="javascript:" class="fl">顺丰海淘服务协议</a>
      <a href="/login.html" class="fr">已有账户</a>
    </div>
    <div class="login-r2"><a href="javascript:"><span class="icon icon18"></span><br>微信登录</a></div>
  </section>