<div class="tab-h">
    <ul class="clearfix">
        <li class="radio radio1 {{#mobile}}active{{/mobile}}" data-tag="mobile"><a href="javascript:void(0)">手机短信</a></li>
        <li class="radio radio2 {{#mail}}active{{/mail}}" data-tag="mail"><a href="javascript:void(0)">电子邮箱</a></li>
    </ul>
</div>

<section class="login">
  <ol class="{{^mobile}}hide{{/mobile}}">
    <li>
      <input type="text" class="input" id="input-mobile" placeholder="输入手机号"/>
    </li>
    <li class="login-r3">
      <div class="clearfix">
        <a href="javascript:void(0);" class="btn btn-success fr" id="send-code-btn">发送短信验证码</a>
        <div class="login-r3c2">
          <input type="text" class="input" id="input-sms" placeholder="输入短信验证码"/>
        </div>
      </div>
    </li>
    <li><button class="btn btn-success btn-big" id="send-mobile-activate-btn">下一步</button></li>
		{{#msg}}<li><span class="text-error {{msgType}}">{{msg}}</span></li>{{/msg}}
  </ol>



  <ol class="{{^mail}}hide{{/mail}}">
    <li>
      <input type="text" class="input" id="input-email" placeholder="输入邮箱"/>
    </li>
    <li class="login-r3">
      <div class="clearfix">
        <div class="fr">
		      {{#verifiedCodeUrl}}<img src="{{verifiedCodeUrl}}" id="verified-code" alt="验证码">{{/verifiedCodeUrl}}
            <a class="a1" href="#" id="verified-code-btn">换一个</a>
        </div>
        <div class="login-r3c2">
          <input type="text" class="input" id="input-mail-code" placeholder="输入验证码"/>
        </div>
      </div>
    </li>
    <li><button class="btn btn-success btn-big" id="send-mail-activate-btn">发送验证邮件</button></li>
			{{#msg}}<li><span class="text-error {{msgType}}">{{msg}}</span></li>{{/msg}}
    </ol>
</section>