<section class="address-detail">
  <h2 class="address-title">修改收货地址</h2>
  <ul>
    <li><label>收货人</label>{{addr.input.recName}}</li>
		<li><label>手机号码</label>{{addr.input.cellphone}}</li>
		<li><label>身份证号</label>{{addr.input.credtNum}}</li>
		<li style="height:auto;"><table><tr><td><label>所在地区</label></td><td style="line-height:28px;">{{addr.input.cityName}}  {{addr.input.provinceName}}  {{addr.input.regionName}}</td></tr></table></li>
		<li style="height:auto;"><table><tr><td><label>详细地址</label></td><td style="line-height:28px;">{{addr.input.detail}}</td></tr></table></li>
  </ul>
  <button class="btn btn-normal btn-big" role="delete">删除收货地址</button>
  {{^if addr.isDefault}}<button class="btn btn-normal btn-big" role="default">设为默认地址</button>{{/if}}
</section>
<section class="nav">
	<div class="nav-r1">
		<div class="nav-c2">
			<a href="javascript:;" role="edit" class="btn btn-danger btn-big">修改</a>
		</div>
	</div>		
</section>