<section class="address-detail">
  <h2 class="address-title">修改收货地址</h2>
  <ul>
    <ul>
      <li><input type="text" placeholder="收货人（需与身份证上的姓名一致）" value="{{addr.input.recName}}" can-value="addr.input.recName"></li>
      <li><input type="text" placeholder="手机号码" value="{{addr.input.cellphone}}" can-value="addr.input.cellphone"></li>
      <li><input type="text" placeholder="身份证号" value="{{addr.input.credtNum2}}" can-value="addr.input.credtNum2"></li>
      <li id="selectRegionUpdate">
        {{^if addr.input.provinceName}}
          <span style="color:#A9A9A9">所在地区</span>
        {{else}}
          <span>{{addr.input.provinceName}}</span>
          <span>{{addr.input.cityName}}</span>
          <span>{{addr.input.regionName}}</span>
        {{/if}}
      </li>
      <li><input type="text" placeholder="详细地址" value="{{addr.input.detail}}" can-value="addr.input.detail"></li>
    </ul>
  </ul>
</section>

<section class="address-region"></section>

<section class="nav">
  <div class="nav-r1">
    <div class="nav-c2">
      <a href="detail-select.html" class="btn btn-danger btn-big" id="addressSaveUpdate">保存</a>
    </div>
  </div>    
</section>