<section class="order-manager" style="position: relative;">
  <h2>收货地址管理</h2>
  <a class="btn btn-normal addrecaddr" href="#" style="position: absolute; right: 10px; top: 4px;">添加</a>
  <ul>
    {{#each addressList}}
      <li class="box box-address">
        <div class="box-address-c2">
          <h3>{{recName}}</h3>
          <div class="box-address-r1"><span>{{credtNum}}</span>{{cellphone}}</div>
          <p><span>{{nationName}}</span><span>{{provinceName}}</span><span>{{cityName}}</span><span>{{regionName}}</span><span>{{detail}}</span><span>{{zipCode}}</span></p>
          <div class="box-address-r2">
            <a href="javascript:;" class="btn btn-normal edit" name="addrEach" data-addressid="{{addrId}}" data-index="{{@index}}">编辑</a>
            <a href="javascript:;" class="btn btn-normal delete" name="addrEach" data-addressid="{{addrId}}" data-index="{{@index}}">删除</a>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</section>

<div class="sf-b2c-mall-order-editAdrArea"></div>