.search-hot{
	background: #fff;
	margin-bottom:15px * 2 / 750 * 640;
	border-bottom: 0.5px * 2 / 750 * 640 solid #E6E7E8;
	padding-left:12px * 2 / 750 * 640;
	padding-bottom:10px * 2 / 750 * 640;
}
.search-hot ul{
	white-space: nowrap;
	font-size: 0;
	overflow-x: auto;
	padding-right:12px * 2 / 750 * 640;
	-webkit-overflow-scrolling: touch;
}
.search-hot li{
	display: inline-block;
	width: 100px * 2 / 750 * 640;
	height: 70px * 2 / 750 * 640;
	border-radius:5px * 2 / 750 * 640;
	text-align: center;
	margin-right:6px * 2 / 750 * 640;
	color:#fff;
	position: relative;
}
.search-hot li:after{
	content: '\200B';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.search-hot li:nth-child(4n+1){
	background: #FF602C;
}
.search-hot li:nth-child(4n+2){
	background: #FFCF2E;
}
.search-hot li:nth-child(4n+3){
	background: #54CCF8;
}
.search-hot li:nth-child(4n){
	background: #A28BFF;
}
.search-hot li:last-child{
	margin-right:0;
}
.search-hot h3{
	font-size:15px * 2 / 750 * 640;
}
.search-hot-inner{
	display: inline-block;
	vertical-align: middle;
}
.search-hot-icon.icon-hot{
	width: 26px * 2 / 750 * 640;
	height: 26px * 2 / 750 * 640;
	position: absolute;
	left: 0;
	top: 0;
}