.title{
  height: 80px;
  line-height: 80px;
  background: #fff;
  margin-bottom: 2px;
  padding-left:18px;
  padding-right:34px;
}
.title,
.title a{
  display: flex;
  width: 100%;
  align-items:center;
}
.title svg{
  display: block;
}
.title .svg{
  width: 32px;
  height: 32px;
}
.title .icon-arrow{
  width: 16px;
  height: 16px;
}
.title h2{
  flex:1;
  font-size: 28px;
  margin-left: 14px;
  font-weight: normal;
}
.title-time{
  color: #F13C34;
  margin-right: 12px;
}
.title-time span{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background: #F13C34;
  border-radius: 4px;
  margin: 0 10px;
}