/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
.detail-cart{
  background: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 58px;
  z-index: map-get($z-index,detail-cart);
  transform:translate(0,150%);
  animation:detail-cart 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
  .detail-cart-error{
    padding: 0px 0px 10px 14px;
  }
}
@keyframes detail-cart{
  100%{
    transform:translate(0,0);
  }
}
.detail-cart-r{
  display: flex;
  margin: 0 15px;
  padding-bottom: 19px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 19px;
}
.detail-cart-r:last-child{
  margin-bottom: 0;
  border-bottom: none;
}
.detail-cart-r2{
  padding-bottom: 11px;
}
.detail-cart-r ul{
  flex:1;
}
.detail-cart-r li{
  margin-bottom: 8px;
  display: inline-block;
  margin-right: 2%;
}
.detail-cart-r .btn-normal{
  padding: 0 10px;
  width: 100%;
}
.detail-cart-r label{
  line-height: 26px;
  margin-right: 10px;
}
.detail-cart-c2{
  width: 110px;
  height: 110px;
  border: 1px solid #ccc;
  margin-top: -20px;
  margin-right: 16px;
  position: relative;
}
.detail-cart h2{
  font-size: 14px;
  line-height: 20px;
  margin: 11px 0 28px;
}
.detail-cart del{
  color: #ccc;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.detail-cart-c1{
  flex:1;
}
.detail-cart img{
  width: 110px;
  height: 110px;
  position: absolute;
  z-index: map-get($z-index,detail-cart-img);
  left: 0;
  top: 0;
  transition: 0.5s transform ease-in-out,0.5s left linear,0.5s top ease-out,0.1s visibility 0.5s linear;
 }