.slider{
  height: 161px * 2 / 750 * 640;
  position: relative;
  padding: 10px * 2 / 750 * 640 0;
  overflow: hidden;
  background: #fff;
}
.slider-img{
  font-size: 0;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slider-img>li{
  display: inline-block;
  transform: scale(0.85);
  margin:0 -13px;
  transition:all 0.5s;
}
.slider-img>li.active{
  transform: scale(1);
}
.slider-img img{
  width: 341px * 2 / 750 * 640;
  height: 140px * 2 / 750 * 640;
}
.slider-dot{
  display: flex;
  position: absolute;
  bottom: 16px * 2 / 750 * 640;;
  left: 50%;
  transform: translateX(-50%);
}
.slider-dot i{
  display: block;
  width: 9px * 2 / 750 * 640;
  height: 9px * 2 / 750 * 640;
  background: rgba(255,255,255,0.7);
  border:0.5px * 2 / 750 * 640 solid rgba(0,0,0,0.05);
  border-radius: 50%;
  margin: 0 1.5px * 2 / 750 * 640;
}
.slider-dot i.active{
  background: #E73736;
}