/*
@styleguide

# 弹出窗

*/
@import "../../utils/variables";
.invite-income-none{
    padding: 30px 0;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.invite-income-none p{
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    text-align: left;
}
.invite-income-none svg{
    display: inline-block;
    vertical-align: middle;
    width: 49px;
    height: 58px;
    margin-right: 10px;
}