.rank-member{
	padding: 20px 15px;
	background-size: cover;
	color: #4A4A4A;
}
.rank-menber-silver{
	background: #F7F7F9;
}
.rank-menber-gold{
	background: #FBF4D9;
}
.rank-menber-copper{
	background: rgba(233,182,156,0.2);
}
.rank-menber-diamond{
	background: #F2F8FD;
}
.rank-member h2{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 8px;
}
.rank-member h2 span{
	vertical-align: middle;
}
.rank-member img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: block;
	margin-right: 10px;
}
.rank-member-r1{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.rank-member p{
	line-height: 20px;
}
.rank-member-icon.icon-medal{
	width: 13px;
	height: 19px;
	vertical-align: middle;
	margin-right: 8px;
}
.rank-member-icon.icon-diamond{
	width: 15px;
	height: 14px;
	vertical-align: middle;
	margin-right: 8px;
}
.rank-member-bar{
	display: inline-block;
	vertical-align: middle;
	width: 85px;
	border-radius: 2px;
	background: rgba(255,206,204,0.4);
	margin-right: 6px;
}
.rank-member-bar span{
	display: block;
	background: #F13C34;
	border-radius: 2px;
	height: 4px;
}
.rank-member-num{
	font-size: 14px;
	vertical-align: middle;
}
.rank-member-num span{
	color: #F13C34;
}

.rank-member-icon.icon-medal.silver{
	fill: #D5D6E0;
}
.rank-member-icon.icon-medal.copper{
	fill: #DFB69C;
}
.rank-member-icon.icon-medal.gold{
	fill: #EBC746;
}
