<section class="superman">
	<input can-value="telephone" value="{{telephone}}" id="telephone" type="text" />
	<button type="button" id="submitBtn" class="{{^isEnable}} disable{{/isEnable}}">查看你的战力</button>
</section>

<error style="display: none;">{{^isEnable}}{{errorMessage}}{{/isEnable}}</error>
