.mo-welfare {
  background-color: #fff; }
  .mo-welfare li {
    padding: 26px 0;
    float: left;
    width: 25%;
    text-align: center; }
  .mo-welfare img {
    width: 66px;
    height: 66px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #eee; }
  .mo-welfare div {
    margin-top: 18px;
    font-size: 24px; }

.fast-buy-goods {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #F5F5F5;
  padding: 10px 0; }

.fast-buy-pic {
  position: relative;
  margin-left: 5%; }
  .fast-buy-pic img {
    width: 230px;
    height: 230px; }

.fast-buy-text {
  margin-left: 26px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px; }
  .fast-buy-text h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2; }
  .fast-buy-text p {
    color: #9B9B9B; }

.fast-buy-from {
  margin-bottom: 10px; }
  .fast-buy-from .icon-country {
    margin-right: 10px;
    vertical-align: -2px; }

.fast-buy-fix {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 20px; }

.new-goods-list {
  overflow: hidden; }
  .new-goods-list li {
    float: left;
    padding: 14px 1% 24px;
    width: 50%;
    text-align: center;
    border-top: 2px solid #F5F5F5;
    border-left: 2px solid #F5F5F5;
    margin-left: -2px; }
  .new-goods-list p {
    margin-top: 10px; }
  .new-goods-list .ellipsis2 {
    line-height: 1.2;
    height: 56px; }
  .new-goods-list .sales-price {
    margin-right: 10px; }
  .new-goods-list .icon-country {
    margin-left: 10px;
    vertical-align: middle; }

.new-goods-pic {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto; }
  .new-goods-pic img {
    width: 220px;
    height: 220px; }
  .new-goods-pic .icon-new,
  .new-goods-pic .icon-hot {
    top: 34px;
    right: 0;
    position: absolute; }

.banner-goods {
  margin-top: 16px;
  width: 100%;
  overflow: hidden; }
  .banner-goods .new-goods-list li {
    float: left;
    border: 0 none;
    width: 250px;
    margin-left: 16px;
    padding-left: 0;
    padding-right: 0; }

.banner-goods-banner {
  width: 100%; }

.baby-times-ct {
  width: 100%;
  overflow: hidden;
  border-top: 2px solid #F5F5F5;
  padding: 30px 0 30px 30px; }
  .baby-times-ct li {
    float: left;
    position: relative;
    width: 216px;
    padding-right: 144px;
    text-align: center;
    white-space: nowrap; }
    .baby-times-ct li .baby-icon {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #F5F5F5; }
    .baby-times-ct li::after {
      position: absolute;
      content: "";
      border-top: 8px solid #F5F5F5;
      width: 100%;
      left: 100px;
      top: 50px; }
    .baby-times-ct li p {
      margin-top: 16px; }
  .baby-times-ct li:last-child::after {
    width: 0; }

.seckill-dates-box,
.seckill-dates-goods {
  display: none; }

.seckill-dates-list {
  border-top: 2px solid #F5F5F5;
  height: 68px;
  line-height: 68px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .seckill-dates-list li {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    font-size: 28px; }
  .seckill-dates-list .active a {
    display: block;
    width: 100%;
    height: 100%;
    color: #FF5B54; }

.seckill-times {
  height: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .seckill-times li {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    color: #fff;
    background: #4A4A4A;
    border-left: 2px solid #333333; }
    .seckill-times li a {
      display: block;
      width: 100%;
      height: 98px;
      color: #fff; }
  .seckill-times .active {
    background-color: #FF5B54;
    border-left-color: #838383; }
  .seckill-times .seckill-times-item {
    display: block;
    font-size: 40px;
    margin-top: 16px;
    margin-bottom: 4px; }

.seckill-times .active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  margin-left: -15px;
  border: 15px dashed transparent;
  border-bottom: 15px solid #fff; }

.seckill-times .done {
  background-color: #9B9B9B;
  border-left-color: #838383; }

.seckill-count-title {
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 28px;
  color: #4A4A4A; }

.seckill-goods-list .fast-buy-fix {
  display: block; }

.seckill-goods-list .fast-buy-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60px;
  line-height: 60px;
  border: 2px solid;
  color: #9B9B9B;
  font-size: 24px;
  margin-top: 5px; }

.seckill-goods-list .fast-buy-btn .btn {
  background-color: #E73736;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #fff;
  height: 56px;
  line-height: 56px;
  vertical-align: top;
  width: 128px;
  white-space: nowrap;
  text-align: center;
  padding: 0; }

.seckill-goods-list .fast-buy-btn span {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center; }

.seckill-goods-list .fast-buy-btn .num {
  color: #EE4F45;
  padding: 0 2px; }

.seckill-goods-list .fast-buy-btn01 {
  border-color: #E73736; }

.seckill-goods-list .fast-buy-btn02 {
  border-color: #4A90E2; }
  .seckill-goods-list .fast-buy-btn02 .btn {
    background-color: #4A90E2; }

.seckill-goods-list .fast-buy-btn03 {
  border-color: #4A4A4A; }
  .seckill-goods-list .fast-buy-btn03 .btn {
    background-color: #4A4A4A; }

.seckill-goods-list .fast-buy-btn04 {
  border-color: #FFAD4F; }
  .seckill-goods-list .fast-buy-btn04 .btn {
    background-color: #FFAD4F; }

.com-title {
  text-align: center;
  position: relative;
  height: 60px;
  line-height: 56px;
  font-size: 28px; }

.com-title h2 {
  display: inline-block;
  border-bottom: 4px solid #FF5B54;
  font-weight: 400; }

.com-title-tips {
  position: absolute;
  right: 20px;
  top: 4px;
  font-size: 24px; }

.com-box {
  background: #fff;
  margin-top: 20px; }

.com-box-bottom {
  background: #fff;
  margin-bottom: 20px; }

.popup-select {
  width: 104px;
  height: 104px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 999;
  right: 34px;
  bottom: 62px;
  color: #fff;
  text-align: center; }

.popup-select:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.popup-select span {
  width: 94px;
  height: 94px;
  padding: 23px 0;
  display: inline-block;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 998; }

.popup-close {
  width: 52px;
  height: 52px;
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 30px; }

.popup-main {
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: -1000px;
  -webkit-transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
          transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28); }

.popup .mask {
  display: none; }

#popup-select:checked ~ .popup-main {
  bottom: 0; }

#popup-select:checked ~ .mask {
  display: block; }

#popup-close:checked ~ .popup-main {
  bottom: -1000px; }

#popup-close:checked ~ .mask {
  display: none; }
