/*
@styleguide

# 盒子

*/
@import "../../utils/variables";
@import "../box/index";

.detail-mix02{
  background: #fff;
  margin-bottom: 10px;
}
.detail-mix02 .box-more-arrow:after{
  border-color: #FF5B54;
}
.detail-mix02 ul{
  padding: 12px 0;
  margin: 0 15px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dcdccd;
  font-size: 22px;
}
.detail-mix02 li:last-child{
  display: none;
}
.detail-mix02 li a{
  display: inline-block;
  position: relative;
}
.detail-mix02 li img{
  width: 62px;
  height: 62px;
}
.detail-mix02-soldout{
  background: rgba(0,0,0,0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 12px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}