
.filter-list{
	overflow: hidden;
}
.filter-list li{
	float: left;
	border-left: 1px solid #f0eff5;
	border-top: 1px solid #f0eff5;
	background: #fff;
	width: 50%;
	text-align: center;
	padding-bottom:20px;
}
.filter-list li:nth-child(odd){
	border-left: none;
}
.filter-img{
	height: 320px;
	display: flex;
}
.filter-img img{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.filter h3{
	font-weight: normal;
	line-height: 34px;
	height: 68px;
	margin: 0 20px 12px;
}
.filter-price{
	font-size: 28px;
}

.filter-list-none{
	text-align: center;
	font-size: 28px;
	color: #9B9B9B;
	padding: 220px 0;
	background: #fff;
}
.filter-list-none svg{
	margin-bottom: 20px;
}
