<div id = "firststep">
{{! {{#if showFirstStep}}
  <!--商品-->
  {{! <div class="alert-info" id="springTip">春节期间订单，节后（26日）陆续发货</div> }}
  <section class="goods">
    {{#notice}}<div class="alert-info" style="background: #F9E6D4; color: #FF7E00; line-height: 19px;">{{notice}}</div>{{/notice}}

    <div class="goods-r1">
      <div id='slider' class='swipe'>
        <div class='swipe-wrap'>
          {{#each itemInfo.basicInfo.images}}
            <div><img src="{{sf.img bigImgUrl}}" alt=""></div>
          {{/each}}
        </div>
        <div class="swipe-dot">
          {{#each itemInfo.basicInfo.images}}
            <span></span>
          {{/each}}
        </div>
      </div>

    </div>
    <div class="goods-b">
      <h1 class="ellipsis2">{{itemInfo.basicInfo.title}}</h1>
      <div class="goods-r2 clearfix">
        <div class="goods-r2c1 fl">
          {{#sf-showSellingPrice priceInfo.isPromotion priceInfo.activitySoldOut}}
          <strong class="goods-price"><small>¥</small>{{sf.price priceInfo.sellingPrice}}</strong>
          {{else}}
          <strong class="goods-price"><small>¥</small>{{sf.price priceInfo.originPrice}}</strong>
          {{/sf-showSellingPrice}}

          （含税）{{#sf-showOriginPrice priceInfo.isPromotion priceInfo.activitySoldOut priceInfo.sellingPrice priceInfo.originPrice}}<del>¥{{sf.price priceInfo.originPrice}}</del>{{/sf-showOriginPrice}}
        </div>
        <div class="goods-r2c2 fr">
          <span class="icon icon1"></span>免运费
        </div>
      </div>
      <p class="goods-r3">{{itemInfo.saleInfo.seller}}：{{itemInfo.saleInfo.shippingPoint}} 发货,预计{{itemInfo.saleInfo.sendTime}}天内到货</p>
    </div>
  </section>
  <!--商品-->

  <!--促销信息-->
	{{#activityInfo.isShow}}
  <section class="coupon-discount">
	  <ul class="box box1">
	    {{#each activityInfo.datas}}
	      {{#sf-showActivity activityType}}
	      <li class="coupon-discount-list">
		      <a href="{{h5ActivityLink}}" class="box-link">
			      <span class="label label-soon">{{#sf-showActivityType activityType}}{{/sf-showActivityType}}<i></i></span>{{activityTitle}}
			      <span class="icon icon13 box-arrow center-vertical"></span>
		      </a>
	        <ul class="hide">
		        {{#each promotionRules}}
	            <li>{{ruleDesc}}</li>
		        {{/each}}
	        </ul>
	      </li>
		    {{/sf-showActivity}}
		  {{/each}}
	  </ul>
	  <div class="box coupon-discount-more"><a href="javascript:">更多优惠</a></div>
	</section>
	{{/activityInfo.isShow}}
  <!--促销信息-->

  <!--商品详情-->
  <section class="detail">
    <div class="detail-h" >
      <ul class="clearfix" id="tabHeader">
        <li class="active" id="itemInfoTab"><a href="javascript:void(0)">商品详情</a></li>
        <li id="detailTab"><a href="javascript:void(0)">图文详情</a></li>
      </ul>
    </div>
    <div class="detail-b" id="specAndBrandInfo">
      <ul>
        <li><span class="justify">品 牌</span>： {{itemInfo.basicInfo.brand}}</li>
      </ul>
      {{#if itemInfo.basicInfo.showAttribues}}
      <ul>
        <li>商品属性：</li>
        {{#each itemInfo.basicInfo.attributes}}
        <li><span class="justify">{{sf.split key}}</span>： {{value}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    <div class="detail-b" id="detail">

    </div>
  </section>
  <!--商品详情-->
  <!--推荐商品-->
  <section class="recommend" id="recommendProducts">
    <h2>推荐商品</h2>
    <ul>

      {{#each recommendProducts}}
      <li class="clearfix">
        <a href="{{linkUrl}}">
        <div class="recommend-c1 fl vertical-middle">
          <img src="{{sf.img imageName}}" alt="">
        </div>
        <div class="recommend-c2">
          <h3 class="ellipsis2">{{productName}}</h3>
          <div class="recommend-c2r1">
            <strong>¥{{sf.price sellingPrice}}</strong>
          </div>
        </div>
        </a>
      </li>
      {{/each}}
    </ul>
  </section>
  <!--推荐商品-->
  <!--立即购买-->
  <section class="nav">
    <div class="nav-r1">
      <div class="nav-c1">
        <a href="/index.html">
          <span class="icon icon25"></span>
          <div>首页</div>
        </a>
      </div>
      <div class="nav-c1">
        <a href="/center.html">
          <span class="icon icon26"></span>
          <div>我的</div>
        </a>
      </div>
      <div class="nav-c2">
        {{! {{#sf-canBuy priceInfo.soldOut}}
          <a href="javascript:void(0)" class="btn btn-danger btn-big" id="gotobuy">立即购买</a>
        {{! {{else}}
          {{! <a href="javascript:void(0)" class="btn btn-disable btn-big">立即购买</a> }}
        {{! {{/sf-canBuy}}

      </div>

    </div>
  </section>
  <!--立即购买-->

  {{! {{/if}}
</div>

<div id="secondstep" style="display:none">

  {{! {{#if showSecondStep}}
  <div class="test"></div>
  <!--推荐商品-->
  <section class="recommend">
    <ul>
      <li class="clearfix">
        <a href="{{itemInfo.linkUrl}}">
        <div class="recommend-c1 fl vertical-middle">
          <img src="{{sf.img itemInfo.step2Image}}" alt="">
        </div>
        <div class="recommend-c2">
          <h3 class="ellipsis2">{{itemInfo.basicInfo.title}}</h3>
          <div class="recommend-c2r1">
            <strong>¥{{sf.price priceInfo.sellingPrice}}</strong>（含税）
          </div>
        </div>
        </a>
      </li>
    </ul>
  </section>
  <!--推荐商品-->

  <!--促销信息-->
	{{#activityInfo.isShow}}
      <section class="coupon-discount">
          <ul class="box box1">
						{{#each activityInfo.datas}}
							{{#sf-showActivity activityType}}
                  <li class="coupon-discount-list">
                      <a href="{{h5ActivityLink}}" class="box-link">
                        <span class="label label-soon" desc="{{activityTypeDesc}}">满减<i></i></span>{{activityTitle}}
                        <span class="icon icon13 box-arrow center-vertical"></span>
                      </a>
                      <ul class="hide">
												{{#each promotionRules}}
                            <li>{{ruleDesc}}</li>
												{{/each}}
                      </ul>
                  </li>
							{{/sf-showActivity}}
						{{/each}}
          </ul>
          <div class="box coupon-discount-more"><a href="javascript:">更多优惠</a></div>
      </section>
	{{/activityInfo.isShow}}
  <!--促销信息-->

  <!--规格-->
  <section class="standard">
    <ul class="standard-r1">
      {{#each itemInfo.specGroups}}
      <li class="clearfix">
        <div class="standard-c1 fl">{{sf.split specName}}：</div>
        <div class="standard-c2" data-specidorder="{{specIdOrder}}">
          {{#each specs}}
          <button data-specid="{{specId}}" id="1" data-specIndex="{{specIndex}}" data-compose="{{compose}}" class="btn specbuttons normal {{selected}} {{canShowDottedLine}} {{disabled}}">{{specValue}}</button>
          {{/each}}
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="standard-r2">
      <div class="standard-c1 fl">数 量：</div>
      <div class="standard-c2">
        <div class="input-num">
          <button class="btn" id="reduceNum">-</button>
          <input type="text" value="{{input.buyNum}}" id="inputNum">
          <button class="btn" id="addNum">+</button>

          {{#if input.showRestrictionTips}}
            <span class="text-error" id="showrestrictiontipsspan">商品限购{{priceInfo.limitBuy}}件</span>
          {{/if}}

        </div>

      </div>
    </div>
    <div id="allerrortip" class="text-error">{{input.error}}</div>
    {{#sf-showCurrentStock priceInfo.currentStock}}
      <div class="text-error">商品剩余{{priceInfo.currentStock}}件!</div>
    {{/sf-showCurrentStock}}
  </section>
  <!--规格-->

  <!--立即购买-->
  <section class="nav">
    <div class="nav-r1">
      <div class="nav-c1 fl">
        <a href="/index.html">
          <span class="icon icon25"></span>
          <div>首页</div>
        </a>
      </div>
      <div class="nav-c1 fl">
        <a href="/center.html">
          <span class="icon icon26"></span>
          <div>我的</div>
        </a>
      </div>
      <div class="nav-c2">
        <a href="javascript:void(0)" class="btn {{#sf-canBuy priceInfo.soldOut}} btn-danger {{else}} btn-disable {{/sf-canBuy}} btn-big" id="buyEnter">{{#sf-canBuy priceInfo.soldOut}}确定{{else}}缺货{{/sf-canBuy}}</a>
      </div>
    </div>
  </section>
  <!--立即购买-->

  {{! {{/if}}
</div>
