<div id = "firststep">
  <!--商品-->
  <section class="goods">
    {{#notice}}<div class="alert-info" style="background: #F9E6D4; color: #FF7E00; line-height: 19px;">{{notice}}</div>{{/notice}}

    <div class="goods-r1">
      <div id='slider' class='swipe'>
        <div class='swipe-wrap'>
          {{#each itemInfo.basicInfo.images}}
            <div><img src="{{sf.img bigImgUrl}}" alt=""></div>
          {{/each}}
        </div>
        <div class="swipe-dot">
          {{#each itemInfo.basicInfo.images}}
            <span></span>
          {{/each}}
        </div>
      </div>

      {{#if priceInfo.soldOut}}
        <div class="mask"></div>
        <span class="icon icon20 center">售完</span>
      {{/if}}
      {{#sf-isYZYW priceInfo.productShape}}
        {{#if itemInfo.basicInfo.originRetailPrice}}
          <div class="goods-price2">
            <div class="text-disable">当地售价</div>
            <div class="text-important">{{priceInfo.currencySymbol}}{{itemInfo.basicInfo.originRetailPrice}}</div>
          </div>
        {{/if}}
      {{/sf-isYZYW}}
    </div>
    <div class="goods-b">
      <h1 class="ellipsis2">{{itemInfo.basicInfo.title}}</h1>
      <div class="goods-r4">
        {{!  如果该商品在促销中且有活动库存展示活动价，否则展示原价}}
        {{#sf-showSellingPrice priceInfo.isPromotion priceInfo.activitySoldOut}}
        {{! 如果该商品活动类型为秒杀，活动价格则从activityInfo中取展示价格 }}
        <strong class="goods-price"><small>¥</small>{{sf-isSecKill activityInfo.activityType activityInfo.activityPrice priceInfo.sellingPrice}}</strong>
        {{/sf-showSellingPrice}}

        {{^sf-showSellingPrice priceInfo.isPromotion priceInfo.activitySoldOut}}
        <strong class="goods-price"><small>¥</small>{{sf.price priceInfo.originPrice}}</strong>
        {{/sf-showSellingPrice}}
        （含税）{{#sf-showOriginPrice priceInfo.sellingPrice priceInfo.originPrice}}<del>¥{{sf.price priceInfo.originPrice}}</del>
        {{/sf-showOriginPrice}}
        {{#sf-isYZYW priceInfo.productShape}}约{{priceInfo.currencySymbol}}{{sf.price priceInfo.localSellingPrice}}{{/sf-isYZYW}}

        {{#isShowSeckillIcon activityInfo.activityType}}<span class="seckill-text-bg {{#isShowGrayClass priceInfo.activitySoldOut}}seckill-text-bg-gray{{/isShowGrayClass}}">限时秒杀</span>{{/isShowSeckillIcon}}
      </div>
      {{#if priceInfo.timeIcon}}
        <div class="goods-r2">剩余：<span class="text-important">{{priceInfo.time.day}}</span>天<span class="text-important">{{priceInfo.time.hour}}</span>小时<span class="text-important">{{priceInfo.time.minute}}</span>分<span class="text-important">{{priceInfo.time.second}}</span>秒</div>
      {{/if}}

      <div class="goods-r3">
        {{^sf-isYZYW priceInfo.productShape}}
          <div>{{itemInfo.saleInfo.seller}}：{{itemInfo.saleInfo.shippingPoint}} 发货,预计{{itemInfo.saleInfo.sendTime}}天内到货&nbsp;&nbsp;&nbsp;&nbsp;运费：0元</div>
        {{/sf-isYZYW}}
        {{#sf-isYZYW priceInfo.productShape}}
          <div>{{itemInfo.saleInfo.sellerNation}}{{itemInfo.saleInfo.seller}}直采 预计{{itemInfo.saleInfo.sendTime}}天内到货&nbsp;&nbsp;&nbsp;&nbsp;运费：0元</div>
        {{/sf-isYZYW}}
      </div>
    </div>
  </section>
  <!--商品-->

  <!--促销信息-->
	{{#activityInfo.isShow}}
  <section class="coupon-discount">
	  <ul class="box box1">
	    {{#each activityInfo.datas}}
	      {{#sf-showActivity activityType}}
	      <li class="coupon-discount-list">
		      <a href="{{h5ActivityLink}}" class="box-link">
			      <span class="label label-soon">{{#sf-showActivityType activityType}}{{/sf-showActivityType}}<i></i></span>{{activityTitle}}
			      <span class="icon icon13 box-arrow center-vertical"></span>
		      </a>
	        <ul class="hide">
		        {{#each promotionRules}}
	            <li>{{ruleDesc}}</li>
		        {{/each}}
	        </ul>
	      </li>
		    {{/sf-showActivity}}
		  {{/each}}
	  </ul>
    {{^isShowMoreInfo activityInfo.activityType}}
	  <div class="box coupon-discount-more"><a href="javascript:">更多优惠</a></div>
    {{/isShowMoreInfo}}
	</section>
	{{/activityInfo.isShow}}
  <!--促销信息-->
  <!-- 搭配购买 -->
  {{#isShowMixDiscount activityInfo.activityType priceInfo.soldOut}} 
  <section class="detail-mix" id="link-to-mixdiscount">
      <div class="detail-mix-h box box1">
          <a href="#" class="box-link">精选搭配<span>（任选搭配即享优惠）</span></a>
          <div class="detail-mix-h-c1">
              <span class="text-important">最高省{{sf.price mixDiscount.totalSavePrice}}元<i class="icon icon-arrow"></i></span>
          </div>
      </div>
      <ul class="detail-mix-b">
          {{#each mixDiscount.goods}}
          <li>
             <a href="javascript:void(0)"><img src="{{imageName}}" alt=""></a>
          </li>
          <li>+</li>
          {{/each}}          
      </ul>
  </section>
  {{/isShowMixDiscount}}
    <!-- end 搭配购买 -->
  <!--商品详情-->
  <section class="detail">
    <div class="detail-h" >
      <ul class="clearfix" id="tabHeader">
        <li class="active" id="itemInfoTab"><a href="javascript:void(0)">商品详情</a></li>
        <li id="detailTab"><a href="javascript:void(0)">图文详情</a></li>
      </ul>
    </div>
    <div class="detail-b" id="specAndBrandInfo">
      <ul>
        <li><span class="justify">品 牌</span>： {{itemInfo.basicInfo.brand}}</li>
      </ul>
      {{#if itemInfo.basicInfo.showAttribues}}
      <ul>
        <li>商品属性：</li>
        {{#each itemInfo.basicInfo.attributes}}
        <li><span class="justify">{{sf.split key}}</span>： {{value}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    <div class="detail-b" id="detail">

    </div>
  </section>
  <!--商品详情-->

  <!--推荐商品-->
  <section class="recommend" id="recommendProducts">
    <h2>推荐商品</h2>
    <ul>

      {{#each recommendProducts}}
      <li class="clearfix">
        <a href="{{linkUrl}}">
        <div class="recommend-c1 fl vertical-middle">
          <img src="{{sf.img imageName}}" alt="">
        </div>
        <div class="recommend-c2">
          <h3 class="ellipsis2">{{productName}}</h3>
          <div class="recommend-c2r1">
            <strong>¥{{sf.price sellingPrice}}</strong>
          </div>
        </div>
        </a>
      </li>
      {{/each}}
    </ul>
  </section>
  <!--推荐商品-->

  {{! 如果是秒杀商品不应该有加入购物车 }}
  {{#isShowSeckillIcon activityInfo.activityType}}
  {{! 活动未开始，和商品已抢完，活动已经结束直接原价购买 }}
    {{#isBegin activityInfo.startTime activityInfo.endTime priceInfo.activitySoldOut}}
    <section class="nav-cart">
      <div class="nav-cart-r1"><a href="http://m.sfht.com/detail/{{priceInfo.referItemId}}.html" class="btn btn-danger">原价购</a></div>
    </section>
    {{/isBegin}}
    {{! 活动进行中，立即抢购，直接去订单确认页 }}
    {{^isBegin activityInfo.startTime activityInfo.endTime priceInfo.activitySoldOut}}
    <section class="nav-cart">
      <div class="nav-cart-r1"><button id="btn-seckill" class="btn btn-danger">立即购买</button></div>
    </section>
    {{/isBegin}}
  {{/isShowSeckillIcon}}
  {{^isShowSeckillIcon activityInfo.activityType}}
  <!--立即购买-->
  <section class="nav-cart">
    <div class="nav-cart-r1">
      <span class="icon icon47 mini-cart-container" data-href="http://m.sfht.com/shoppingcart.html" data-login="http://m.sfht.com/login.html">
        <span class="dot dot-error mini-cart-num" style="display: none;"></span>
      </span>
      <button class="btn btn-soon addcart" style="display: none;">+ 加入购物车</button>
      <button class="btn btn-danger gotobuy">立即购买</button>
    </div>
  </section>
  {{/isShowSeckillIcon}}
  <!--立即购买-->

</div>

<div id="secondstep" style="display:none">

  <div class="mask"></div>
  <section class="detail-cart">

      <div class="detail-cart-r">
            <div class="detail-cart-c2">
              <a href="{{itemInfo.linkUrl}}">
                <img src="{{sf.img itemInfo.step2Image}}" alt="">
              </a>
            </div>
            <div class="detail-cart-c1">
                <h2 class="ellipsis2" style="font-weight:normal">{{itemInfo.basicInfo.title}}</h2>

                <span class="text-error">¥ {{sf.price priceInfo.sellingPrice}}</span>
                <del>¥{{sf.price priceInfo.originPrice}}</del>
            </div>

      </div>

      {{#each itemInfo.specGroups}}
      <div class="detail-cart-r detail-cart-r2">
        <label for="">{{sf.split specName}}：</label>
        <ul data-specidorder="{{specIdOrder}}">
          {{#each specs}}
          <li>
            <button data-specid="{{specId}}" data-specIndex="{{specIndex}}" data-compose="{{compose}}" class="specbuttons btn btn-normal btn-dashed {{selected}} {{canShowDottedLine}} {{disabled}}">{{specValue}}</button>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/each}}

      <div class="detail-cart-r">
        <label for="">数量：</label>
        <div class="input-num">
          <button class="btn" id="reduceNum">-</button>
          <input type="text" value="{{input.buyNum}}" id="inputNum">
          <button class="btn" id="addNum">+</button>
          {{#if input.showRestrictionTips}}
            <span class="text-error" id="showrestrictiontipsspan">商品限购{{priceInfo.limitBuy}}件</span>
          {{/if}}
        </div>
      </div>

      <div id="allerrortip" class="text-error">{{input.error}}</div>
      {{#sf-showCurrentStock priceInfo.currentStock}}
        <div class="text-error detail-cart-error">商品剩余{{priceInfo.currentStock}}件!</div>
      {{/sf-showCurrentStock}}
  </section>

  <section class="nav-cart">
      <div class="nav-cart-r1">
          <span class="icon icon47 mini-cart-container" data-href="http://m.sfht.com/shoppingcart.html" data-login="http://m.sfht.com/login.html">
            <span class="dot dot-error mini-cart-num"></span>
          </span>
          <button class="btn {{#sf-canBuy priceInfo.soldOut}} btn-danger {{else}} btn-disable {{/sf-canBuy}}" id="buyEnter">
            {{#sf-canBuy priceInfo.soldOut}}确定{{else}}缺货{{/sf-canBuy}}
          </button>
      </div>
  </section>

</div>
