  {{#if showFirstStep}}
  <!--商品-->
  <section class="goods">
    <div class="goods-r1">
      <div id='slider' class='swipe'>
        <div class='swipe-wrap'>
          {{#each itemInfo.basicInfo.images}}
            <div><img src="{{sf.img bigImgUrl}}" alt=""></div>
          {{/each}}
        </div>
        <div class="swipe-dot">
          {{#each itemInfo.basicInfo.images}}
            <span></span>
          {{/each}}
        </div>
      </div>
      {{#sf-showXSTM itemInfo.basicInfo.productShape}}
          <span class="label label-error"><span class="icon icon27"></span>{{sf.timeMDH priceInfo.endTime}}结束</span>
      {{/sf-showXSTM}}

      {{#sf-showJSHT itemInfo.basicInfo.productShape}}
          <span class="label label-error"><span class="icon icon27"></span>{{itemInfo.saleInfo.sendTime}}天到</span>
      {{/sf-showJSHT}}

      {{#if priceInfo.soldOut}}
      <div class="mask"></div>
      <span class="icon icon20 center">售完</span>
      {{/if}}

    </div>
    <div class="goods-b">
      <h1 class="ellipsis2">{{itemInfo.basicInfo.title}}</h1>
      <div class="goods-r2 clearfix">
        <div class="goods-r2c1 fl">
      <strong class="goods-price"><small>¥</small>{{sf.price priceInfo.sellingPrice}}</strong>（含税）{{#sf-showOriginPrice priceInfo.sellingPrice priceInfo.originPrice}}<del>¥{{sf.price priceInfo.originPrice}}</del>{{/sf-showOriginPrice}}
        </div>
        <div class="goods-r2c2 fr">
          <span class="icon icon1"></span>运费：0元
        </div>
      </div>
      <p class="goods-r3">{{itemInfo.saleInfo.seller}}：{{itemInfo.saleInfo.shippingPoint}} 发货,预计{{itemInfo.saleInfo.sendTime}}天内到货</p>
    </div>
  </section>
  <!--商品-->

  <!--商品详情-->
  <section class="detail">
    <div class="detail-h" >
      <ul class="clearfix" id="tabHeader">
        <li class="active" id="itemInfoTab">商品详情</li>
        <li id="detailTab">图文详情</li>
      </ul>
    </div>
    <div class="detail-b" id="specAndBrandInfo">
      <ul>
        {{#each itemInfo.saleInfo.specGroups}}
        <li>{{specName}}： {{#each specs}} {{specValue}} {{/each}}</li>
        {{/each}}
      </ul>
      <ul>
        <li>品牌： {{itemInfo.basicInfo.brand}}</li>
      </ul>
      {{#if itemInfo.basicInfo.showAttribues}}
      <ul>
        <li>商品属性：</li>
        {{#each itemInfo.basicInfo.attributes}}
        <li>{{key}}： {{value}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    <div class="detail-b" id="detail">

    </div>
  </section>
  <!--商品详情-->
  <!--推荐商品-->
  <section class="recommend" id="recommendProducts">
    <h2>推荐商品</h2>
    <ul>

      {{#each recommendProducts}}
      <li class="clearfix">
        <a href="{{linkUrl}}">
        <div class="recommend-c1 fl vertical-middle">
          <img src="{{sf.img imageName}}" alt="">
        </div>
        <div class="recommend-c2">
          <h3 class="ellipsis2">{{productName}}</h3>
          <div class="recommend-c2r1">
            <strong>¥{{sf.price sellingPrice}}</strong>
          </div>
        </div>
        </a>
      </li>
      {{/each}}
    </ul>
  </section>
  <!--推荐商品-->
  <!--立即购买-->
  <section class="buy">
    <div class="buy-r1">
      {{#sf-canBuy priceInfo.soldOut}}
        <button class="btn btn-danger btn-big" id="gotobuy">立即购买</button>
      {{else}}
        <button class="btn btn-disable btn-big">立即购买</button>
      {{/sf-canBuy}}
    </div>
  </section>
  <!--立即购买-->

  {{/if}}

  {{#if showSecondStep}}
  <div class="test"></div>
  <!--推荐商品-->
  <section class="recommend">
    <ul>
      <li class="clearfix">
        <a href="{{itemInfo.linkUrl}}">
        <div class="recommend-c1 fl vertical-middle">
          <img src="{{sf.img itemInfo.step2Image}}" alt="">
        </div>
        <div class="recommend-c2">
          <h3 class="ellipsis2">{{itemInfo.basicInfo.title}}</h3>
          <div class="recommend-c2r1">
            <strong>¥{{sf.price priceInfo.sellingPrice}}</strong>（含税）
          </div>
        </div>
        </a>
      </li>
    </ul>
  </section>
  <!--推荐商品-->
  <!--规格-->
  <section class="standard">
    <ul class="standard-r1">
      {{#each itemInfo.specGroups}}
      <li class="clearfix">
        <div class="standard-c1 fl">{{specName}}：</div>
        <div class="standard-c2" data-specidorder="{{specIdOrder}}">
          {{#each specs}}
          <button data-specid="{{specId}}" id="1" data-specIndex="{{specIndex}}" data-compose="{{compose}}" class="btn specbuttons normal {{selected}} {{canShowDottedLine}} {{disabled}}">{{specValue}}</button>
          {{/each}}
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="standard-r2">
      <div class="standard-c1 fl">数量：</div>
      <div class="standard-c2">
        <div class="input-num">
          <button class="btn" id="reduceNum">-</button>
          <input type="text" value="{{input.buyNum}}" id="inputNum">
          <button class="btn" id="addNum">+</button>

          {{#if input.showRestrictionTips}}
            <span class="alert-error" id="showrestrictiontipsspan">商品限购{{priceInfo.limitBuy}}件</span>
          {{/if}}

        </div>

      </div>
    </div>
    <div id="allerrortip" class="alert-error">{{input.error}}</div>
    {{#sf-showCurrentStock priceInfo.currentStock}}
      <div class="alert-error">商品剩余{{priceInfo.currentStock}}件!</div>
    {{/sf-showCurrentStock}}
  </section>
  <!--规格-->
  <!--立即购买-->
  <section class="buy">
    <div class="buy-r1">
      <button class="btn {{#sf-canBuy priceInfo.soldOut}} btn-danger {{else}} btn-disable {{/sf-canBuy}} btn-big" id="buyEnter">确定</button>
    </div>

  </section>
  <!--立即购买-->
  {{/if}}