.carnival img{
  width: 100%;
}
.carnival h3{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px;
  font-weight: normal;
}
.carnival p{
  line-height: 18px;
  margin-bottom: 6px;
  color: #666;
}
.carnival li{
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  background: #fff;
}
.carnival li:last-child{
  margin-bottom: 0;
}
.carnival-b{
  padding: 20px 14px;
}
.carnival-r1{
  color: #999;
  margin-bottom: 18px;
}
.carnival-r1 .icon{
  margin-right: 3px;
}
.carnival-r2c1{
  font-size: 14px;
  color: #d8363b;
}
.carnival-r2c1 strong{
  font-size: 24px;
}