.coupon{
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
.coupon p{
  margin-bottom: 15px;
  color: #666;
  line-height: 18px;
}
.coupon-b{
  background: url(#{$bg-url}coupon.png) no-repeat;
  background-size:100%;
  width: 169px;
  padding-left:36px;
  height: 69px;
  color:#fff;
  display: inline-block;
}
.coupon-r1{
  font-size: 24px;
  padding-top:6px;
}
.coupon-r1 strong{
  font-size: 38px;
}
.coupon-r2{
  padding-left:10px;
  line-height: 1.2;
}
.coupon-gift .coupon-b{
  background-image: url("#{$bg-url}gift.png");
  background-size:165px 85px;
  width: 165px;
  height: 85px;
}
.coupon-gift .coupon-r1{
  padding-top:23px;
}
.coupon-discount{
  margin-bottom:10px;
}
.coupon-discount-list{
  position:relative;
  
  margin: 0 14px;
}
.coupon-discount-list ul{
  border-bottom: 1px solid #f7f7f7;
}
.coupon-discount-list li{
  height: 44px;
  line-height: 44px;
  color: #999;
  padding-left: 40px;
  border-bottom: 1px solid #f7f7f7;
}
.coupon-discount .box-link{
  padding: 16px 0;
  border-bottom: 1px solid #f7f7f7;
  position: relative;
}
.coupon-discount .box-arrow{
  right: 0;
}
.coupon-discount li:last-child{
  border-bottom: none;
}
.coupon-discount .label{
  margin-right: 10px;
  padding:0 7px;
}
.coupon-discount-more{
  text-align: center;
}
.coupon-discount-more a{
  color: #3b86c4;
  display: block;
}