.flashsale ul{
  border-top: 1px solid #d9d9d9;
}
.flashsale li{
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 17px;
  padding-bottom:30px;
}
.flashsale h3{
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}
.flashsale-c1{
  width: 139px;
  text-align: center;
}
.flashsale-c2{
  overflow: hidden;
}
.flashsale-c2r1{
  color: #999;
  margin-bottom: 8px;
}
.flashsale-c2r1 .icon{
  margin-right: 2px;
}
.flashsale-c2r2 .text-error{
  font-size: 15px;
  margin-right: 5px;
}
.flashsale-c2r2 del{
  color: #666;
}