.gift-coupon{}
.gift-coupon h1{
  color: #da4148;
  font-size: 16px;
  text-align: center;
}
.gift-coupon-h2{
  font-size: 14px;
  font-weight:normal;
  margin-left: 10px;
  margin-top: 10px;
}
.gift-coupon .btn-danger{
  margin:0 10px;
  width: auto;
}
.coupon-use{
  margin-top: 20px;
}
.coupon-use h2{
  font-size: 13px;
  margin-bottom: 10px;
}
.coupon-use li{
  font-size: 13px;
  line-height: 21px;
  color: #999;
  list-style: inside;
}
.gift-coupon-dialog{
  width: 125px;
  height: 130px;
  padding-top: 97px;
  color: #fff;
  text-align: center;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-image: url(#{$bg-url}gift-coupon-dialog.png);
  background-size: 43px;
  background-repeat: no-repeat;
  background-position: 47px 41px;
}