/*商品信息*/
.goodsinfo{
  margin-bottom: 10px;
  padding-bottom: 0;
}

.goodsinfo h2{
  margin-bottom: 15px;
  font-size: 14px;
  padding-left: 5px;
  border-left: 2px solid #dc3334;
}
.goodsinfo img{
  border: 1px solid #ccc;
}
.goodsinfo-title{
  margin-left: 75px;
  margin-right: 71px;
  line-height: 18px;
}
.goodsinfo-price{
  margin-bottom: 8px;
}
.goodsinfo .table-r1{
  line-height: 1;
}