/*info*/
.info{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}
.info-r1{
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-width: 0 0 1px 0;
  border-image: url(#{$border}) 2 0 round;
}
.info-r1c1{
  color: #7f7f7f;
  width: 4em;
  text-align: justify;
  height: 24px;
}
.info-r1c2{
  overflow: hidden;
}
.info-r1c2 span{
  margin-right: 5px;
}