/*物流*/

.logistics h2{
  margin-bottom: 10px;
}
.logistics ul{
  background: #fff;
}
.logistics time{
  display: block;
  margin-bottom: 5px;
}
.logistics li{
  line-height: 18px;
  position: relative;
  padding: 13px 0 10px;
  border-width: 0 0 1px 0;
  border-image: url(#{$border}) 2 0 round;
  margin-right:14px;
  margin-left: 40px;
}


.logistics li:before{
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ccc;
  border: 2px solid #ccc;
  position: absolute;
  margin-left: -25px;
  margin-top: 3px;
  
}
.logistics li:first-child{
  color: #dc3334;
}
.logistics li:first-child:before{
  background: #fff;
  border-color:#dc3334;
}
.logistics li:after{
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  background: #eee;
  left: -21px;
  top: 26px;
}
.logistics li:last-child{
  border-bottom: none;
}
.logistics li:last-child:after{
  display: none;
}