.nataral-index{
  padding:0 0 10px 0;
}
.nataral-index img{
  width: 100%;
}
.nataral-index>ul>li{
  border-bottom:1px solid #E5E5E5;
  margin-bottom: 20px;
  background:#fff;
}
.nataral-inner{
  padding: 20px;
  
}
.nataral-index h2{
  margin-bottom: 13px;
  font-size: 16px;
}
.nataral-index .justify{
  width: 4em;
  vertical-align: top;
  height: 20px;
}
.nataral-label{
  margin-right: 10px;
  color: #a78567;
}
.nataral-index li li{
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin-bottom: 5px;
}
.nataral-index-r1{
  margin-top: 19px;
}
.nataral-index-r1c1{
  color: #999;
  font-size: 14px;
}
.nataral-index-r1c2{
  padding: 0 14px;
  line-height: 20px;
  background: #ffcc00;
  color: #663300;
}