.nataral-video{
  margin:10px;
  background: #fff;
  border: 1px solid #f4f4f4;
}
.nataral-video-b{
  padding: 10px;
}
.nataral-video video,
.nataral-video img{
  width: 100%;
}
.nataral-video h2{
  font-size: 15px;
  margin: 10px 0;
}
.nataral-video p{
  font-size: 14px;
  line-height: 20px;
  color: #999;
  margin-bottom: 20px;
}
.nataral-video-r1{
  text-align: right;
}
.nataral-video-r1 a{
  color: #0066cc;
}