.nataral-index{
  background: #fff;
  padding:10px;
}
.nataral-index img{
  width: 100%;
}
.nataral-index>ul>li{
  border:1px solid #e4e4e4;

}
.nataral-inner{
  padding: 10px;
  
}
.nataral-index h2{
  margin-bottom: 13px;
  font-size: 15px;
}
.nataral-index .justify{
  width: 4em;
  vertical-align: top;
  height: 20px;
}
.nataral-label{
  margin-right: 10px;
  color: #a78567;
}
.nataral-index li li{
  font-size: 14px;
  line-height: 20px;
  color: #999;
}
.nataral-index-r1{
  margin-top: 19px;
}
.nataral-index-r1c1{
  color: #999;
  font-size: 14px;
}
.nataral-index-r1c2{
  padding: 0 14px;
  line-height: 20px;
  background: #ffcc00;
  color: #663300;
}