.nav1{
  padding: 5px 0;
  border-bottom:1px solid #dfdfdf;
  background: #fff;
}
.nav1 li{
  float: left;
  width: 25%;
  border-left:1px solid #dfdfdf;
  margin-left: -1px;
  
  text-align: center;
}
.nav1 .icon{
  display: block;
  margin:0 auto 7px;
}