.order-success-r1{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 24px;
  background: #fff;
  margin-bottom: 5px;
}
.order-success h1{
  font-size: 18px;
  margin-bottom: 12px;
}
.order-success p{
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
  text-align: left;
  margin: 0 16px;
  color: #666;
}
.order-success-r2{
	background:#fff;
	text-align:center;
	padding-bottom:16px;
}
.order-success-r2 .btn{
	margin-top:7px;
	margin-bottom:9px;
}
.order-success .box{
  padding-left:50px;
}
.order-success .icon43,
.order-success .icon46{
  margin-right: 5px;
}