/*添加收货人*/
.order-add{
  background: #f6f8f9;
  padding: 19px 14px 60px;
}
.order-add p{
  text-align: center;
  font-size: 11px;
}
.order-add h2{
  padding: 25px 0 8px;
  color: #7f7f7f;
  font-weight: normal;
  font-size: 14px;
}
.order-add .btn{
  margin-top: 38px;
}
