/*支付成功*/
.pay{
  width: 100%;
  height: 100%;
  padding-top: 66px;
  padding-bottom: 164px;
  text-align: center;
  background: url(../img/pay.png) no-repeat center bottom,url(../img/pay2.png) no-repeat center 43px;
  background-size: 320px,225px;
}
.pay h2{
  font-size: 18px;
  color: #dc3334;
  margin-bottom: 12px;
}
.pay p{
  font-size: 14px;
  color: #999;
  margin-bottom: 15px;
}
.pay-r1 .btn{
  padding:0 20px;
}

.pay ol{
  display: inline-block;
  margin: 20px 0;
}
.pay li{
  line-height:24px;
  text-align: left;
  font-size: 14px;
}