/*支付成功*/
.pay{
  background: #fff;
  padding:48px 20px;
}
.pay h2{
  font-size: 18px;
  margin-bottom: 18px;
  text-align: center;
}
.pay h2 .icon{
  margin-right: 5px;
}
.pay-r1{
  text-align: center;
  padding-bottom:38px;
  border-bottom: 1px solid #ccc;
}
.pay-r2{
  padding-top:33px;
}
.pay-r2 img{
  margin-right: 8px;
}
.pay-r2c1{
  overflow: hidden;
  font-size: 13px;
  line-height: 18px;
  color: #666;
  padding:17px 0;
}