
  <section class="gift-card box">
    <p>凭4位验证码，<span class="text-important">可领取一张在台湾5日内无流量限制的手机上网卡 。</span></p>
    <ul>
      <li>{{{code}}}</li>
    </ul>
    <div class="gift-card-r1 text-important"><span class="icon icon40"></span>将此页展示给商家即可!</div>
  </section>

  <section class="gift-card-time box">
    <h2>领卡时间</h2>
    <time><span class="icon icon42"></span>2015年4月29日 至 2015年5月30日</time>
  </section>

  <section class="gift-card-address box">
    <h2>领卡地址</h2>
    <ul>
      <li>
        <span class="icon icon41"></span>
        <h3>桃園機場二航站</h3>
        <address>桃園縣大園鄉航站南路9號(第二航廈入境管制區)</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台北101</h3>
        <address>台北市信義區市府路45號B1</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台北士林</h3>
        <address>台北市士林區中正路268之1號</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台北忠孝</h3>
        <address>台北市大安區忠孝東路三段226號</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台北龍山寺</h3>
        <address>台北市萬華區西園路一段154號1樓</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台北饒河</h3>
        <address>台北市松山區八德路四段685號</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台北雙連</h3>
        <address>台北市大同區民生西路87號</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台北羅斯福</h3>
        <address>台北市中正區羅斯福路3段278號</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台北北投光明</h3>
        <address>台北市北投區光明路200號</address>
      </li>

      <li>
        <span class="icon icon41"></span>
        <h3>台北淡水英專</h3>
        <address>新北市淡水區英專路8號</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台北中和南勢角</h3>
        <address>新北市中和區興南路一段70號</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台北新莊輔大</h3>
        <address>新北市新莊區中正路516-32號</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>台南永康大灣</h3>
        <address>台南市永康區大灣路824號</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>高雄中華</h3>
        <address>高雄市前金區中華三路154號</address>
      </li>
      <li>
        <span class="icon icon41"></span>
        <h3>高雄三多</h3>
        <address>高雄市苓雅區三多三路246號</address>
      </li>
    </ul>
  </section>