<section class="foretaste">
    <div class="foretaste-h">
      <h1>亲，我是来领试吃品的！</h1>
      <p>NO.{{code}}</p>
    </div>
    <div class="foretaste-b box">
      <h2 class="text-important"><span class="icon icon40"></span>将此页展示给商家即可!</h2>
      <p>文明旅游，商户每日试吃品限量提供，先到先得，送完为止，每个用户在一家店里限领一次！</p>
    </div>
  </section>
  <section class="foretaste-list">
    <h2>提供试吃品的商户(18)</h2>
    <ul>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-jiade.jpg">
        <h3>佳德(台北总店)</h3>
        <ul>
          <li>明星产品：原味凤梨酥</li>
          <li>地址：台北市松山区南京东路5段88号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-tangchuntaibeidunnandian.jpg">
        <h3>糖村(台北敦南店)</h3>
        <ul>
          <li>明星产品：法式牛轧糖</li>
          <li>地址：台北市大安区敦化南路一段158号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-tangchuntaibeidunnanerdian.jpg">
        <h3>糖村(台北敦南二店)</h3>
        <ul>
          <li>明星产品：法式牛轧糖</li>
          <li>地址：台北市大安区敦化南路一段158号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-tangchuntaibeiruiguangdian.jpg">
        <h3>糖村(台北瑞光店)</h3>
        <ul>
          <li>明星产品：法式牛轧糖</li>
          <li>地址：台北市内湖区瑞光路470号</li>
        </ul>
      </li>

      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-tangchuntaibei101.jpg">
        <h3>糖村(台北101专柜)</h3>
        <ul>
          <li>明星产品：法式牛轧糖</li>
          <li>地址：台北市101购物中心B1</li>
        </ul>
      </li>

      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-yingtaoyeye1.jpg">
        <h3>樱桃爷爷(万隆门市)</h3>
        <ul>
          <li>明星产品：原味手工牛轧糖</li>
          <li>地址：台北市罗斯福路五段204号1楼</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-yingtaoyeye2.jpg">
        <h3>樱桃爷爷(台北新光A11店)</h3>
        <ul>
          <li>明星产品：原味手工牛轧糖</li>
          <li>地址：台北市松寿路11号B2</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-yingtaoyeye3.jpg">
        <h3>樱桃爷爷(微风台北车站店)</h3>
        <ul>
          <li>明星产品：原味手工牛轧糖</li>
          <li>地址：台北市中正区北平西路3号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-yingtaoyeye4.jpg">
        <h3>樱桃爷爷(台北新光站前店)</h3>
        <ul>
          <li>明星产品：原味手工牛轧糖</li>
          <li>地址：台北市中正区忠孝西路一段66号B2</li>
        </ul>
      </li>

      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-jiuzhengnantaibeichengpindian.jpg">
        <h3>旧振南(台北诚品松烟店)</h3>
        <ul>
          <li>明星产品：凤梨酥礼盒</li>
          <li>地址：台北市信义区 烟厂路88号2F (诚品生活松烟店2F)</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-jiuzhengnangaoxiongshan.jpg">
        <h3>旧振南(高雄凤山店)</h3>
        <ul>
          <li>明星产品：凤梨酥礼盒</li>
          <li>地址：高雄市 凤山区 光远路342-2号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-yuzhenxinnanjinglu.png">
        <h3>裕珍馨(台北南京门市)</h3>
        <ul>
          <li>明星产品：奶油小酥饼</li>
          <li>地址：台北市南京东路180号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-yuzhenxinraohejie.jpg">
        <h3>裕珍馨(台北饶河门市)</h3>
        <ul>
          <li>明星产品：奶油小酥饼</li>
          <li>地址：台北市饶河街189号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-yuzhenxin101zhuangui.jpg">
        <h3>裕珍馨(台北101专柜)</h3>
        <ul>
          <li>明星产品：奶油小酥饼</li>
          <li>地址：台北市101购物中心B1</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-yuzhenxinsogozhuangui.jpg">
        <h3>裕珍馨(台北SOGO复兴专柜)</h3>
        <ul>
          <li>明星产品：奶油小酥饼</li>
          <li>地址：台北市SOGO百货复兴馆B2</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-yuzhenxinsongshanjichangzhuangui.jpg">
        <h3>裕珍馨(松山机场专柜)</h3>
        <ul>
          <li>明星产品：奶油小酥饼</li>
          <li>地址：台北市松山区敦化北路340-9号（松山国际机场出境大厅2楼）</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-yuzhenxintaoyuanjichangzhuangui.jpg">
        <h3>裕珍馨(桃园机场专柜)</h3>
        <ul>
          <li>明星产品：奶油小酥饼</li>
          <li>地址：桃园县大园乡航站南路15号(第一航厦出境大厅北侧三楼)</li>
        </ul>
      </li>

       <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-86shop1.jpg">
        <h3>86小铺(台北西门中华店)</h3>
        <ul>
          <li>明星产品：HANAKA花恋肌 皇家马卡龙面膜</li>
          <li>地址：台北市万华区中华路一段114巷18号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-86shop2.jpg">
        <h3>86小铺(台北西门成都店)</h3>
        <ul>
          <li>明星产品：HANAKA花恋肌 皇家马卡龙面膜</li>
          <li>地址：台北市万华区成都路27巷5号</li>
        </ul>
      </li>
       <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-86shop3.jpg">
        <h3>86小铺(微风松高店)</h3>
        <ul>
          <li>明星产品：HANAKA花恋肌 皇家马卡龙面膜</li>
          <li>地址：台北市松高路16号B1</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-86shop4.jpg">
        <h3>86小铺(顶好忠孝店)</h3>
        <ul>
          <li>明星产品：HANAKA花恋肌 皇家马卡龙面膜</li>
          <li>地址：台北市大安路一段52巷12号</li>
        </ul>
      </li>
       <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-86shop5.jpg">
        <h3>86小铺(台北敦化店)</h3>
        <ul>
          <li>明星产品：HANAKA花恋肌 皇家马卡龙面膜</li>
          <li>地址：台北市敦化南路一段177巷28号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-86shop6.jpg">
        <h3>86小铺(士林文林店)</h3>
        <ul>
          <li>明星产品：HANAKA花恋肌 皇家马卡龙面膜</li>
          <li>地址：台北市士林区文林路168号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-86shop7.jpg">
        <h3>86小铺(中山南西店)</h3>
        <ul>
          <li>明星产品：HANAKA花恋肌 皇家马卡龙面膜</li>
          <li>地址：台北市中山北路二段20巷23号</li>
        </ul>
      </li>
       <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-86shop8.jpg">
        <h3>86小铺(师大夜市店)</h3>
        <ul>
          <li>明星产品：HANAKA花恋肌 皇家马卡龙面膜</li>
          <li>地址：台北市师大路39巷8号</li>
        </ul>
      </li>
      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.38/img/taiwan-86shop9.jpg">
        <h3>86小铺(诚品站前店)</h3>
        <ul>
          <li>明星产品：HANAKA花恋肌 皇家马卡龙面膜</li>
          <li>地址：台北市忠孝西路一段47号B1</li>
        </ul>
      </li>

      <li class="box">
        <img style="width:60px;height:60px" src="http://img.sfht.com/sfhth5/1.1.25/img/taiwan-fangguanyuan.jpg">
        <h3>广方圆(台北总店)</h3>
        <ul>
          <li>明星产品：台湾高山乌龙茶</li>
          <li>地址：台北市中山区中山北路二段 72 巷 7 号</li>
        </ul>
      </li>
    </ul>
  </section>