<section class="foretaste">
    <div class="foretaste-h">
      <h1>亲，我是来领试吃品的！</h1>
      <p>NO.{{code}}</p>
    </div>
    <div class="foretaste-b box">
      <h2 class="text-important"><span class="icon icon40"></span>将此页展示给商家即可!</h2>
      <p>文明旅游，商户每日试吃品限量提供，先到先得，送完为止，每个用户在一家店里限领一次！</p>
    </div>
  </section>
  <section class="foretaste-list">
    <h2>提供试吃品的商户(18)</h2>
    <ul>
      <li class="box">
        <img src="../img/list.jpg">
        <h3>糖村(台北敦南店)</h3>
        <ul>
          <li>明星产品：牛轧糖 凤梨酥</li>
          <li>地址：台北市大安区敦化南路一段158号2楼302</li>
        </ul>
      </li>
      <li class="box">
        <img src="../img/list.jpg">
        <h3>糖村(台北敦南店)</h3>
        <ul>
          <li>明星产品：牛轧糖 凤梨酥</li>
          <li>地址：台北市大安区敦化南路一段158号2楼302</li>
        </ul>
      </li>
    </ul>
  </section>