/*
@styleguide

# 预售规则

*/
.presell-rule-inner {
	width: 80%;
	background: #fff;
	position: fixed;
	text-align: left;
	z-index: 999;
	padding: 30px 19px 24px;
}
.presell-rule-inner .icon.icon15 {
	position: absolute;
	top: 17px;
	right: 14px;
}
.presell-rule h2 {
	color: #F13C34;
	font-size: 16px;
	margin-bottom: 13px;
	text-align: center;
}
.presell-rule p {
	color: #9B9B9B;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 10px;
}
.presell-rule .btn-danger {
	margin-bottom: 7px;
	margin-top: 33px;
}
.presell-rule .btn {
	font-size: 16px;
	height: 40px;
	line-height: 40px;
}