.activerule{
	padding:16px * 2 / $ppr 0;
	background:#fff;
}
.activerule h2{
	color: #eb4933;
	font-weight:normal;
	border:1px dotted #eb4933;
	border-radius:12px * 2 / $ppr;
	height:23px * 2 / $ppr;
	line-height:23px * 2 / $ppr;
	padding:0 17px * 2 / $ppr;
	display: inline-block;
	margin-bottom:7px * 2 / $ppr;
	margin-left:15px * 2 / $ppr;
}
.activerule ul{
	margin-left:13px * 2 / $ppr;
}
.activerule li{
	line-height:18px * 2 / $ppr;
	margin-bottom:6px * 2 / $ppr;
}