.agreement{
  padding: 20px *2 /$ppr;
  background: #fff;
}
.agreement h1{
  margin-bottom: 40px *2 /$ppr;
  font-size: 24px *2 /$ppr;
  text-align: center;
}
.agreement p,
.agreement h2{
  margin-bottom: 15px *2 /$ppr;
  color: #585858;
  font-weight: normal;
  line-height: 18px *2 /$ppr;
}