.cart{
  overflow: hidden;
}
.cart li{
  background: #fff;
  margin-top: -1px;
  padding: 0 12px 0 5px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  left: 0;
  transition:all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  font-size: 14px;
}
.cart li.active .icon49,{
  background-position: -255px -249px;
}
.cart-inner{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding-top: 24px;
  padding-bottom: 14px;
  position: relative;
}
.cart-inner .icon49{
  display: block;
}
.cart img{
  width: 67px;
  height: 67px;
  border: 1px solid #e0e0e0;
  margin-left: 5px;
  margin-right: 10px;
}
.cart .btn-danger{
  height: 100%;
  line-height: 100%;
  font-size: 17px;
  position: absolute;
  right: -62px;
  top: 0;
}
.cart-c1{
  flex:1;
}
.cart-c2{
  text-align: right;
  line-height: 20px;
  margin-left: 20px;
}
.cart-c2 del{
  color: #ccc;
}
.cart-num{
  color: #999;
}
.cart h2{
  line-height: 18px;
  margin-bottom: 8px;
  font-weight: normal;
}
.cart .text-important{
  font-size: 14px;
}
.cart .text-orange{
  padding-bottom: 18px;
  padding-left: 31px;
}
.cart-disable{
  margin-top: 10px;
}
.cart-disable .text-important{
  color: #ccc;
}
.cart-disable .label-disabled{
  font-size: 10px;
  padding: 0 2px;
  display:block;
}
.cart .icon49{
  margin: 0 5px;
}