.cart-none{
  height: 100%;
  padding-top: 190px;
  text-align: center;
  background: #fff url(#{$bg-url}cart-none.png) no-repeat center 87px;
  background-size: 92px;
}
.cart-none p{
  margin-bottom: 36px;
}
.cart-none .btn{
  margin: 0 17px;
}