.coupon{
  text-align: center;
  padding-top: 20px * 2 / $ppr;
  border-top: 1px solid #ccc;
}
.coupon p{
  margin-bottom: 15px * 2 / $ppr;
  color: #666;
  line-height: 18px * 2 / $ppr;
}
.coupon-b{
  background: url(#{$bg-url}coupon.png) no-repeat;
  background-size:100%;
  width: 169px * 2 / $ppr;
  padding-left:36px * 2 / $ppr;
  height: 69px * 2 / $ppr;
  color:#fff;
  display: inline-block;
}
.coupon-r1{
  font-size: 24px * 2 / $ppr;
  padding-top:6px * 2 / $ppr;
}
.coupon-r1 strong{
  font-size: 38px * 2 / $ppr;
}
.coupon-r2{
  padding-left:10px * 2 / $ppr;
  line-height: 1.2;
}
