.coupon-use{
  margin-bottom: 10px;
}
.coupon-use-h{
  display: flex;
  justify-content:space-between;
  font-size: 14px;
  margin: 0 10px;
}
.coupon-use-h h2{
  font-weight: normal;
}
.coupon-use-h a{
  color: #3b86c4;
}
.coupon-use select{
  width: 100%;
  color: #dc3334;
  height:42px;
  line-height: 42px;
  background:#fff;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  -webkit-appearance: button;
}
