.coupon-use{
  margin-bottom: 10px * 2 / $ppr;
}
.coupon-use-h{
  display: flex;
  justify-content:space-between;
  font-size: 14px * 2 / $ppr;
  margin: 0 10px * 2 / $ppr;
}
.coupon-use-h h2{
  font-weight: normal;
}
.coupon-use-h a{
  color: #3b86c4;
}
.coupon-use select{
  width: 100%;
  color: #dc3334;
  height:42px * 2 / $ppr;
  line-height: 42px * 2 / $ppr;
  background:#fff;
}
