.coupons{
  padding-top: 10px *2 /$ppr;
}
.coupons li{
  margin:0 10px *2 /$ppr 10px *2 /$ppr;
}
.coupons-c1{
  background: url(#{$bg-url}coupons-c1.png) no-repeat;
  background-size:320px *2 /$ppr;
  height: 70px *2 /$ppr;
  padding-left: 15px *2 /$ppr;
  padding-right:15px *2 /$ppr;
  overflow: hidden;
}
.coupons-c2{
  background: url(#{$bg-url}coupons.png) no-repeat;
  background-size:90px *2 /$ppr 70px *2 /$ppr;
  height: 70px *2 /$ppr;
  width: 90px *2 /$ppr;
  text-align: center;
  color: #fff;
  position:relative;
}
.coupons-disabled .coupons-c2{
  background-image: url(#{$bg-url}coupons2.png);
}
.coupons-c2r1 span{
  font-size: 24px *2 /$ppr;
}
.coupons-c2r1{
  padding-top:14px *2 /$ppr;
  margin-bottom:9px *2 /$ppr;
}
.coupons-c2r3{
  color: #f8c44d;
  transform: rotate(30deg);
  position: absolute;
  right: 0;
  top: 6px *2 /$ppr;
}

.coupons h2{
  font-size: 15px *2 /$ppr;
  color: #666;
  padding-top: 5px *2 /$ppr;
  padding-bottom:5px *2 /$ppr;
  margin-bottom: 3px *2 /$ppr;
  border-bottom: 1px solid #e7e7e7;

}
.coupons p{
  color: #999;
  line-height: 1.5;
}
.coupons-btn{
  margin: 10px *2 /$ppr 10px *2 /$ppr 0;
  width: auto;
}