.coupon-discount{
  margin-bottom:10px * 2 / $ppr;
}
.coupon-discount-list{
  position:relative;
  border-bottom: 1px solid #f7f7f7;
  margin: 0 14px * 2 / $ppr;
}
.coupon-discount-list:last-child{
  border-bottom: none;
}
.coupon-discount-list ul{
  display: none;
}
.coupon-discount-list li{
  height: 44px * 2 / $ppr;
  line-height: 44px * 2 / $ppr;
  color: #999;
  padding-left: 40px * 2 / $ppr;
  border-bottom: 1px solid #f7f7f7;
}
.coupon-discount .box-link{
  padding: 16px * 2 / $ppr 0;
  border-bottom: 1px solid #f7f7f7;
  position: relative;
}
.coupon-discount .box-arrow{
  right: 0;
}
.coupon-discount li:last-child{
  border-bottom: none;
}
.coupon-discount .label{
  margin-right: 10px * 2 / $ppr;
  padding:0 7px * 2 / $ppr;
}
.coupon-discount-more{
  text-align: center;
  margin-top: -2px * 2 / $ppr;
}
.coupon-discount-more a{
  color: #3b86c4;
  display: block;
}