/*商品详情*/
.detail{
  background: #fff;
  margin-bottom: 10px;
}
.detail-h{
  position: -webkit-sticky;
  position: sticky;
  background: #fff;
  height: 43px;
  z-index: map-get($z-index,detail-h);
  top: 0;
}
.detail-h ul{
  background:#fff;
}
.detail-h li{
  float: left;
  width: 50%;
  font-size: 15px;
  border-width: 0 0 1px 0;
  border-image: url(#{$border}) 2 0 round;
  
  text-align: center;
}

.detail-h li a{
  height: 43px;
  line-height: 43px;
  display: inline-block;
  padding: 0 20px;
  font-weight: bold;
}
.detail-h li.active a{
  color: #dc3334;
  border-bottom:2px solid #dc3334;
}

.detail-b{
  padding: 0 17px;
  line-height: 1.5;
}
.detail-b:last-child{
  padding:0;
}
.detail-b ul{
  border-width: 0 0 1px 0;
  border-image: url(#{$border}) 2 0 round;
  padding: 11px 17px;
}
.detail-b ul:last-child{
  border: none;
}
.detail-b li{
  font-size: 14px;
  line-height: 24px;
}
.detail .justify{
  width: 4em;
  height: 24px;
  overflow: hidden;
}
.detail-b img{
  width: 100%;
}

.detail-b:last-child .btn{
  display: block;
  margin: 10px auto;
  width: 90%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;   
}
.detail-b:last-child h3{
  text-align: center;
}
.seckill-text-bg{
  display: inline-block;
  margin-left: 10px;
  padding: 0 5px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  background: #ff5b54;
  color: #fff;
  vertical-align: 0;
  border-radius: 9px;
}

.seckill-text-bg-gray{
  background: #dcdcdc;
  color: #999;
}