.detail-cart{
  background: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 58px *2 /$ppr;
  z-index: 999;

  .detail-cart-error{
    padding: 0px *2 /$ppr 0px *2 /$ppr 10px *2 /$ppr 14px *2 /$ppr;
  }
}
.detail-cart-r{
  display: flex;
  margin: 0 15px *2 /$ppr;
  padding-bottom: 19px *2 /$ppr;
  border-bottom: 1px solid #dadada;
  margin-bottom: 19px *2 /$ppr;
}
.detail-cart-r:last-child{
  margin-bottom: 0;
  border-bottom: none;
}
.detail-cart-r2{
  padding-bottom: 11px *2 /$ppr;
}
.detail-cart-r ul{
  flex:1;
}
.detail-cart-r li{
  width: 31%;
  margin-bottom: 8px *2 /$ppr;
  display: inline-block;
  margin-right: 2%;
}
.detail-cart-r .btn-normal{
  padding: 0;
  width: 100%;
}
.detail-cart-r label{
  line-height: 26px *2 /$ppr;
  margin-right: 10px *2 /$ppr;
}
.detail-cart img{
  width: 110px *2 /$ppr;
  height: 110px *2 /$ppr;
  border: 1px solid #ccc;
  margin-top: -20px *2 /$ppr;
  margin-right: 16px *2 /$ppr;
}
.detail-cart h2{
  font-size: 14px *2 /$ppr;
  line-height: 20px *2 /$ppr;
  margin: 11px *2 /$ppr 0 28px *2 /$ppr;
}
.detail-cart del{
  color: #ccc;
  margin-left: 10px *2 /$ppr;
  display: inline-block;
  vertical-align: middle;
}

.detail-cart-c1{
  flex:1;
}