.flashsale ul{
  border-top: 1 solid #d9d9d9;
}
.flashsale li{
  background: #fff;
<<<<<<< HEAD
  border-bottom: 1 solid #d9d9d9;
  padding-top: 17px * 2 / $ppr;
  padding-bottom:30px * 2 / $ppr;
=======
  border-bottom: 1px solid #d9d9d9;
  padding-top: 17px;
  padding-bottom:30px;
>>>>>>> parent of 5c46a0e... rem
}
.flashsale h3{
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
.flashsale-c1{
  width: 123px;
  text-align: center;
}
.flashsale-c2{
  overflow: hidden;
}
.flashsale-c2r1{
  color: #999;
<<<<<<< HEAD
  margin-bottom: 13px * 2 / $ppr;
=======
  margin-bottom: 13px;
>>>>>>> parent of 5c46a0e... rem
}
.flashsale-c2r1 .icon{
  margin-right: 2px;
}
.flashsale-c2r2 .text-error{
  font-size: 15px;
  margin-right: 5px;
}
.flashsale-c2r2 del{
  color: #666;
}
.flashsale img{
  border:1px solid #ebebeb;
<<<<<<< HEAD
  width: 170px / $ppr;
  height: 170px / $ppr;
=======
>>>>>>> parent of 5c46a0e... rem
}