.gift-h{
  background: #fff;
  text-align: center;
  padding-top: 24px * 2 /$ppr;
  padding-bottom: 20px * 2 /$ppr;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 12px * 2 /$ppr;
}
.gift-h h1{
  font-size: 18px * 2 /$ppr;
  color:#dc3f44;
  margin-bottom: 12px * 2 /$ppr;
}
.gift-h p{
  font-size: 13px * 2 /$ppr;
  color:#666;
}
.gift-b{
  margin-bottom: 10px * 2 /$ppr;
}
.gift-b .btn{
  height: 40px * 2 /$ppr;
  line-height: 40px * 2 /$ppr;
  border-radius: 5px * 2 /$ppr;
}
.gift-r1{
  margin-bottom: 19px * 2 /$ppr;
}
.gift-c1{
  width:82px * 2 /$ppr;
  height: 115px * 2 /$ppr;
  background: url(#{$bg-url}gift-c1.png) no-repeat;
  background-size: 82px * 2 /$ppr;
  margin-right: 16px * 2 /$ppr;
  color: #fff;
  text-align: center;
  padding-top: 33px * 2 /$ppr;
}
.gift-c1r1{
  margin-bottom: 5px * 2 /$ppr;
}
.gift-c1r1 span{
  font-size: 32px * 2 /$ppr;
}
.gift-c2 p{
  font-size: 16px * 2 /$ppr;
  margin-bottom: 10px * 2 /$ppr;
}
.gift-c2 .text-important{
  font-size: 16px * 2 /$ppr;
}
.gift-c2 li{
  font-size: 13px * 2 /$ppr;
  line-height: 21px * 2 /$ppr;
  color:#999;
  list-style:inside;
} 
.gift-f li{
  margin-bottom: 10px * 2 /$ppr;
}
.gift-r1{
  display: flex;
}