.foretaste-h{
  padding-left: 91px;
  background: url(#{$bg-url}foretaste.jpg) no-repeat;
  height: 125px;
  background-size: cover;
  padding-top: 42px;
}
.foretaste-h h1{
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}
.foretaste-h p{
  font-size: 15px;
  color:rgba(255,255,255,0.5);
}
.foretaste h2{
  font-size: 15px;
  margin-bottom: 10px;
}
.foretaste h2 .icon{
  margin-right: 5px;
}
.foretaste-b p{
  font-size: 14px;
  line-height: 21px;
  color: #666;
}
.foretaste-list>ul>li{
  padding-left: 81px;
  overflow: hidden;
  margin-bottom: 10px;
}
.foretaste-list img{
  width: 60px;
  height: 60px;
  float: left;
  margin-left: -81px;
}
.foretaste-list h2{
  margin: 10px 20px;
  font-style: 14px;
  color:#666;
  font-weight: normal;
}
.foretaste-list h3{
  margin-bottom: 10px;
}
.foretaste-list li li{
  font-size: 13px;
  line-height: 21px;
  color: #666;
}