.gift-phone-b{
  width: 277px * 2 /$ppr;
  height: 216px * 2 /$ppr;
  background: #fff;
  border-radius: 5px * 2 /$ppr;
  padding:23px * 2 /$ppr 30px * 2 /$ppr;
  margin: 86px * 2 /$ppr auto 0;
}
.gift-phone-icon{
  width: 39px * 2 /$ppr;
  height: 47px * 2 /$ppr;
  float: left;
  background:url(#{$bg-url}gift-icon.png) no-repeat;
  background-size: 39px * 2 /$ppr;
  margin-left: -51px * 2 /$ppr;
}
.gift-phone h2{
  margin-bottom: 24px * 2 /$ppr;
  font-size: 15px * 2 /$ppr;
  line-height: 21px * 2 /$ppr;
  padding-left: 51px * 2 /$ppr;
}
.gift-phone input{
  border-radius:5px * 2 /$ppr;
  margin-bottom: 10px * 2 /$ppr;
  text-align: center;
}
.gift-phone img{
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left:0;
}
.gift-phone button{
  height: 40px * 2 /$ppr;
  line-height: 40px * 2 /$ppr;
  border-radius: 5px * 2 /$ppr;
}
