/*goods*/
.goods{
  background: #fff;
  margin-bottom: 10px;
}
.goods-r1{
  margin-bottom: 20px;
  position: relative;
}
.goods-r1 .label{
  position: absolute;
  right: 0;
  top: 0;
  background: #dc3334;
  border-radius:0;
}
.goods-r1 .label .icon{
  margin-right: 5px; 
}
.goods-r1 .label .icon27{
  vertical-align: -2px;
}

.goods-b{
  margin: 0 17px;
}
.goods h1{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}
.goods-price{
  font-size: 18px;
  color: #dc3334;
}
.goods-price small{
  font-size: 15px;
}
.goods-price2{
  background: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding:0 10px;
  line-height: 20px;
}
.goods-r2{
  padding-bottom: 11px;
  margin-bottom: 15px;
  border-width: 0 0 1px 0;
  font-size:14px;
  border-image: url(#{$border}) 2 0 round;
}
.goods-r2c2{
  font-size: 14px;
  font-weight: bold;
  color: #272541;
}
.goods-r2c2 .icon{
  margin-right: 7px;
}
.goods-r3{
  font-size: 14px;
  color:#666;
  padding-bottom: 18px;
  display: flex;
  justify-content:space-between;
}
.goods .mask{
  position: absolute;
  background-color: rgba(255,255,255,0.5);
}
.goods .icon20{
  z-index: 999;
}
.goods-r4{
  color: #999;
  margin-bottom: 15px;
}
.goods-r4 del{
  color:rgba(0,0,0,0.5);
  margin-right: 15px;
}
.goods-r1 .corner-icon{
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  font: 0/0 a;
  z-index: 20;
}
.corner-icon01{
  background:  url(http://img0.sfht.com/img/8f016642e40404b528ec23dff6d516fc.jpg) 0 0 no-repeat;
}
/*.corner-icon02{
  background:  url(../img/corner-02.png) 0 0 no-repeat;
}
.corner-icon03{
  background:  url(../img/corner-03.png) 0 0 no-repeat;
}*/
.corner-icon04{
  background:  url(http://img0.sfht.com/img/520235946454a96e657b73268e6541a5.jpg) 0 0 no-repeat;
}