/*goods*/
.goods{
  background: #fff;
  margin-bottom: 10px;
}
.goods-r1{
  margin-bottom: 20px;
  position: relative;
}
.goods-r1 .label{
  position: absolute;
  right: 0;
  top: 0;
  background: #dc3334;
  border-radius:0;
}
.goods-r1 .label .icon{
  margin-right: 5px; 
}
.goods-r1 .label .icon27{
  vertical-align: -2px;
}

.goods-b{
  margin: 0 17px;
}
.goods h1{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}
.goods-price{
  font-size: 18px;
  color: #dc3334;
}
.goods-price small{
  font-size: 15px;
}
.goods-price2{
  background: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding:0 10px;
  line-height: 20px;
}
.goods del{
  color:rgba(0,0,0,0.5);
}
.goods-r2{
  padding-bottom: 11px;
  margin-bottom: 15px;
  margin-top:15px;
  border-width: 0 0 1px 0;
  font-size:14px;
  border-image: url(#{$border}) 2 0 round;
}
.goods-r2c2{
  font-size: 14px;
  font-weight: bold;
  color: #272541;
}
.goods-r2c2 .icon{
  margin-right: 7px;
}
.goods-r3{
  font-size: 14px;
  margin-bottom: 9px;
  color:#666;
  padding-bottom: 18px;
}
.goods .mask{
  position: absolute;
  background-color: rgba(255,255,255,0.5);
}
.goods .icon20{
  z-index: 999;
}