.integral{
  padding: 17px 11px 11px;
  background: #fff;
  border-top: 1px solid #DCDCDC;
  border-bottom:1px solid #DCDCDC;
  font-size: 14px;
  margin: 25px 0;
}
.integral-r1{
  margin-bottom: 5px;
  display: flex;
  justify-content:space-between;
}
.integral-r1 svg{
  margin-left: 7px;
  vertical-align: -2px;
}
.integral-r1 .text-important{
  font-size: 18px;
}
.integral-r1c1{
  color: rgba(0,0,0,0.45);
}
.integral-r1c2{
  color: #9B9B9B;
}
.integral-r2{
  color: #9B9B9B; 
}
.integral-r2 .text-important{
  font-size: 14px;
}
.integral-tab{
  height: 44px;
}
.integral-tab ul{
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  justify-content:space-between;
  background: #f9f9f9;
}
.integral-tab-fixed{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: map-get($z-index,integral-tab-fixed);
}
.integral-tab li{  
  text-align: center;
  height: 43px;
  line-height: 43px;
  font-size: 14px;
  width: 80px;
}
.integral-tab li a{
  color: #9B9B9B;
}
.integral-tab li.active{
  border-bottom: 4px solid #ff5b54;
}

.integral-tab li.active a{
  color: #ff5b54;
}
.integral-list li{
  display: flex;
  justify-content:space-between;
  background: #fff;
  border-bottom: 1px solid #DCDCDC;
  padding: 11px 15px 10px;
  font-size: 14px;
}
.integral-list-date,
.integral-list-time{
  color: #9B9B9B;
  margin-top: 10px;
}
.integral-list-orderid{
  color: #9B9B9B;
}
.integral-list .text-success,
.integral-list .text-important{
  font-size: 18px;
}

.signin-rule{
  margin: 20px 15px;
  font-size: 14px;
}
.signin-rule table{
  width: 100%;
  background: #FF5B54;
  border-radius: 9px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  margin-bottom: 19px;
  table-layout: fixed;
}
.signin-rule th,
.signin-rule td{
  
  height: 53px;
  line-height: 53px;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.1);
}
.signin-rule th:last-child,
.signin-rule td:last-child{
  border-right: 0;
}
.signin-rule td span{
  font-size: 18px;
}
.signin-rule th{
  color: rgba(74,74,74,0.46);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: relative;
}
.signin-rule th svg{
  vertical-align: 8px;
  margin-left: -10px;
}
.signin-rule td{
  color: #fff;
}
.signin-rule li{
  color: #979DA9;
  line-height: 18px;
  
}
.integral-explain{
  height: 100%;
  background: #fff;
  color: #979DA9;
  padding: 18px 14px;
}
.integral-explain h2{
  font-size: 14px;
  margin-bottom: 12px;
}
.integral-explain h2:before{
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FF5B54;
  margin-right: 7px;
}
.integral-explain p{
  line-height: 16px;
}
.integral-explain li{
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.integral-explain li:last-child{
  border-bottom: none;
}