@mixin list($i){
  .list{
    padding: 14px * $i;
  }
  .list li{
    margin-bottom: 7px * $i;
  }
  .list li a:after{
    border:1px * $i solid #ccc;
    padding:1px * $i;
  }
  .list h2{
    font-size: 14px * $i;
    line-height: 20px * $i;
    height: 40px * $i;
    margin-bottom: 10px * $i;
  }
  .list del{
    font-size: 10px * $i;
  }
  .list-r1{
    margin-bottom: 6px * $i;
  }
  .list-price{
    font-size: 15px * $i;
  }
  .list-b{
    padding: 10px * $i 8px * $i 12px * $i;
  }
  .list-r2{
    height: 24px * $i;
  }
  .list-r3c2 img{
    width: 19px * $i;
  }
  .list .product-new,
  .list .product-hot{
    width:26px * $i;
    height:30px * $i;
    left:6px * $i;
    top:1px * $i;
  }
  .list .product-new{
    background-size: 26px * $i;
  }
  .list .product-hot{
    background-size: 26px * $i;
  }
}


.list .mask{
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  z-index: 1;
}
.list li{
  width: 48.8%;
  background: #fff;
  position: relative;
}
.list li:nth-child(even){
  float: right;
}
.list li:nth-child(odd){
  float: left;
}
.list li a:after{
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: 0 0;
  left: 0;
  top: 0;
  box-sizing: border-box;
}
.list li a{
  display: block;
}
.list h2{
  font-weight: normal;
}
.list del{
  color: #666;
}
.list-r1{
  position: relative;
}
.list-price{
  color: #dc3334;
}
.list-r2{
  position: relative;
}
.list .label-danger{
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius:0;
}
.list-r1 img{
  width: 100%;
}
.list-r3c2 img{
  vertical-align: middle;
}
.list a:visited{
  color:#333;
}
.list .product-new,
.list .product-hot{
  position: absolute;
}
.list .product-new{
  background:url(http://img0.sfht.com/img/32dc9ea87d4c33e9e56b4ee272015afe.jpg) no-repeat;
}
.list .product-hot{
  background:url(http://img0.sfht.com/img/582b13aa9c0e3c943ae3ac8260410ebf.jpg) no-repeat;
}

@include list(1);
@media screen and (min-width:640px){
  @include list(2);
}