/*login*/
.login{
  background: #fff;
}
.login ol{
  padding: 33px 13px 3px;
}
.login li{
  margin-bottom: 11px;
  position: relative;
}
.login-r1{
  padding: 0 13px 40px;
  text-align: center;
}
.login-r1 a{
  text-decoration: underline;
}
.login-r1 .fl{
  color: #DC3334;
}
.login-r1 .fr{
  color: #888888;
}
.login-r2{
  text-align: center;
  padding: 31px 0;
  background: #eee;
  color: #a3a2a3;
}
.login-r2 .icon{
  margin:0 10px;
}
.login .input{
  margin-bottom: 3px;
}
.login-r3 .btn{
  margin-left: 5px;
  font-size: 14px;
}
.login-r3c1{
  width: 130px;
  margin-left: 7px;
}
.login-r3c1 img{
  vertical-align: middle;
}
.login-r3c1 a{
  color: #a3a2a3;
  margin-left: 5px;
  vertical-align: middle;
}
.login-r3c2{
  overflow: hidden;
}
.login .icon19{
  position: absolute;
  top: 14px;
  right: 9px
}
.login .btn{
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  line-height: 44px;
}
.otherlogin{
  margin:15px 13px;

  & .line{
    border-top: 1px solid #e3d3da;
    border-bottom: 1px solid #fff;
    margin:20px 0;
    position:relative;

    & span{
      position:absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      background-color: #f0eff5;
      padding: 0px 24px;
      color: #888888;
    }
  }

  & .btn{
    font-size:18px;
    font-weight:bold;
    height:44px;
    line-height:44px;
  }
}