/*物流*/
.logistics{
  background: #fff;
}
.logistics h2{
  margin: 0 12px * 2 /$ppr 7px * 2 /$ppr;
  padding-top: 19px * 2 /$ppr;
  padding-bottom: 12px * 2 /$ppr;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px * 2 /$ppr;
}
.logistics h2 .icon{
  margin-right: 8px * 2 /$ppr;
  vertical-align: -1px * 2 /$ppr;
}
.logistics ul{
  background: #fff;
}
.logistics time{
  display: block;
  font-size: 12px * 2 /$ppr;
  color: #999;
  margin-top: 5px * 2 /$ppr;
}
.logistics li{
  line-height: 18px * 2 /$ppr;
  position: relative;
  padding: 13px * 2 /$ppr 0 10px * 2 /$ppr;
  margin-right:14px * 2 /$ppr;
  margin-left: 40px * 2 /$ppr;
  font-size: 14px * 2 /$ppr;
}


.logistics li:before{
  content: '';
  width: 8px * 2 /$ppr;
  height: 8px * 2 /$ppr;
  border-radius: 50%;
  background: #ccc;
  border: 2px * 2 /$ppr solid #ccc;
  position: absolute;
  margin-left: -25px * 2 /$ppr;
  margin-top: 3px * 2 /$ppr;
  
}
.logistics li:first-child{
  color: #dc3334;
}
.logistics li:first-child:before{
  background: #fff;
  border-color:#dc3334;
}
.logistics li:after{
  content: '';
  width: 1px * 2 /$ppr;
  height: 100%;
  position: absolute;
  background: #eee;
  left: -19px * 2 /$ppr;
  top: 28px * 2 /$ppr;
}
.logistics li:last-child{
  border-bottom: none;
}
.logistics li:last-child:after{
  display: none;
}