.luck{
	background: #fff;
}
.luck h2{
	font-size:14px * 2 /$ppr;
	color:#999;
	padding-left:15px * 2 /$ppr;
	padding-bottom:10px * 2 /$ppr;
	padding-top:18px * 2 /$ppr;
	border-bottom:1px solid #d9d9d9;
	font-weight:normal;
}
.luck li{
	padding:15px * 2 /$ppr 12px * 2 /$ppr 15px * 2 /$ppr 15px * 2 /$ppr;
	border-bottom:1px solid #d9d9d9;
}
.luck img{
	border-radius:50%;
	margin-right:13px * 2 /$ppr;
}
.luck h3{
	margin-bottom:10px * 2 /$ppr;
	font-size:15px * 2 /$ppr;
	font-weight:normal;
}
.luck time{
	font-size:14px * 2 /$ppr;
	color:999;
}
.luck p{
	font-size:15px * 2 /$ppr;
}