.mo-welfare{
	background-color: #fff;
	li{
		padding: 13px * 2 0;
		float: left;
		width: 25%;
		text-align: center;
	}
	img{
		width: 33px * 2;
		height: 33px * 2;
		border-radius: 50%;
		background-color: #eee;
	}
	div{
		margin-top: 9px * 2;
		font-size: 12px * 2;
	}
}