.baby-times-ct{
	width: 100%;
	overflow: hidden;
	border-top: 1px * 2 solid #F5F5F5;
	padding: 15px * 2 0 15px * 2 15px * 2;
	li{
		float: left;
		position: relative;
		width: 108px * 2;
		padding-right: 72px * 2;
		text-align: center;
		white-space: nowrap;
		.baby-icon{
			position: relative;
			display: inline-block;
			width: 50px * 2;
			height: 50px * 2;
			border-radius: 50%;
			background-color: #F5F5F5;
			
		}
		&::after{
				position: absolute;
				content: "";
				border-top: 4px * 2 solid #F5F5F5;
				width: 100%;
				left: 50px * 2;
				top: 25px * 2;
			}
		p{
			margin-top: 8px * 2;
		}
	}
	li:last-child::after{
		width: 0;
	}
}