.line-goods-list{
	overflow: hidden;
}
.line-goods-list li{
	position: relative;
	left: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.line-goods-list .btn-danger{
	position: absolute;
	height: 100%;
    line-height: 100%;
    font-size: 34px;
    position: absolute;
    right: -118px;
    top: 0;
}