.seckill-dates-box,
.seckill-dates-goods{
	display: none;
}
.seckill-dates-list{
	border-top: 1px * 2 solid #F5F5F5;
	height: 34px * 2;
	line-height: 34px * 2;
	display: flex;
	li{
		position: relative;
		flex: 1;
		text-align: center;
		font-size: 14px * 2;
	}
	.active a{
		display: block;
		width: 100%;
		height: 100%;
		color: #FF5B54;
	}
}
.seckill-times{
	height: 49px * 2;
	display: flex;
	li{
		position: relative;
		flex: 1;
		text-align: center;
		color: #fff;
		background: #4A4A4A;
		border-left: 1px * 2 solid #333333;
		a{
			display: block;
			width: 100%;
			height: 49px * 2;
			color: #fff;
		}
	}
	.active{
		background-color: #FF5B54;
		border-left-color: #838383;
	}
	.seckill-times-item{
		display: block;
		font-size: 20px * 2;
		margin-top: 8px * 2;
		margin-bottom: 2px * 2;
	}
}
.seckill-times .active::after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -2px;
	margin-left: -15px;
	border: 15px dashed transparent;
	border-bottom: 15px solid #fff; 
}
.seckill-times .done{
	background-color: #9B9B9B;
	border-left-color: #838383;
}
.seckill-count-title{
	position: relative;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	font-size: 28px;
	color: #4A4A4A;
}
.seckill-goods-list .fast-buy-fix{
	display: block;
}
.seckill-goods-list .fast-buy-btn{
	display: flex;
	justify-content: flex-end;
	height: 60px;
	line-height: 60px;
	border: 2px solid ;
	color: #9B9B9B;
	font-size: 24px;
	margin-top: 5px;
}
.seckill-goods-list .fast-buy-btn .btn{
	background-color: #E73736;
	border-radius: 0;
	color: #fff;
	height: 56px;
	line-height: 56px;
	vertical-align: top;
	width: 128px;
	white-space: nowrap;
	text-align: center;
	padding: 0;
}
.seckill-goods-list .fast-buy-btn span{
	display: block;
	flex:1;
	text-align: center;
}
.seckill-goods-list .fast-buy-btn .num{
	color: #EE4F45;
	padding: 0 2px;
}
.seckill-goods-list .fast-buy-btn01{
	border-color: #E73736;
}
.seckill-goods-list .fast-buy-btn02{
	border-color: #4A90E2;
	.btn{
		background-color: #4A90E2;
	}
}
.seckill-goods-list .fast-buy-btn03{
	border-color: #4A4A4A;
	.btn{
		background-color: #4A4A4A;
	}
}
.seckill-goods-list .fast-buy-btn04{
	border-color: #FFAD4F;
	.btn{
		background-color: #FFAD4F;
	}
}