.nataral-list{
  margin: 10px * 2 /$ppr;
}
.nataral-list ul{
  overflow: hidden;
}
.nataral-list li{
  width: 48.33%;
  border: 1px solid #E5E5E5;
  background:#fff;
}
.nataral-list li:nth-child(odd){
  float:left;
}
.nataral-list li:nth-child(even){
  float:right;
}
.nataral-list img{
  width: 100%;
}
.nataral-list-b{
  padding:10px * 2 /$ppr;
}
.nataral-list h2{
  font-size: 14px * 2 /$ppr;
  line-height: 18px * 2 /$ppr;
  margin-bottom: 10px * 2 /$ppr;
}
.nataral-list .text-important{
  font-size: 15px * 2 /$ppr;
}