@mixin nav2($i){ 
  .nav2{
    background: #fff;
    height: 40px * $i;
    
  } 
  .nav2 ul{
    display:flex;
    justify-content:space-between;
    padding: 0 10px * $i;
    background: #fff;
    box-shadow: 0 0 2px * $i rgba(0,0,0,0.32);
  }
  .nav2-fixed ul{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
  }
  .nav2 li{
    text-align: center;
    height: 40px * $i;
    line-height: 40px * $i;
    position: relative;
  }
  .nav2 li.active:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px * $i;
    background: #ff5b53;
  }

  .nav2 li.active a{
    color: #ff5b53;
    font-weight:bold;
  }
}

@include nav2(1);
@media screen and (min-width:640px){
  @include nav2(2);
}