/*orderdetail*/
.orderdetail{
  background: #f6f8f9;
}
.orderdetail-r1{
  color: #666;
  padding: 14px * 2 /$ppr 0 14px * 2 /$ppr 17px * 2 /$ppr;
  background: #fffddd;
}
.orderdetail-r1 a{
  color:#dc3334;
  text-decoration: underline;
}


.orderdetail-r3{
  background: #fff;
}
.orderdetail-r3 a{
  display: block;
  font-size: 14px * 2 /$ppr;
  line-height: 18px * 2 /$ppr;
  padding: 22px * 2 /$ppr 47px * 2 /$ppr 22px * 2 /$ppr 42px * 2 /$ppr;
  position: relative;
}
.orderdetail-r3 a:before{
  content: '';
  width: 6px * 2 /$ppr;
  height: 6px * 2 /$ppr;
  border-radius: 50%;
  border: 2px * 2 /$ppr solid #dc3334;
  position: absolute;
  margin-left: -25px * 2 /$ppr;
  margin-top: 3px * 2 /$ppr;

}
.orderdetail-r3 a:after{
  content: '';
  width: 1px * 2 /$ppr;
  height: 100%;
  position: absolute;
  background: #eee;
  left: 22px * 2 /$ppr;
  top: 35px * 2 /$ppr;
}
.orderdetail-r3 .icon{
  right: 14px * 2 /$ppr;
}
.orderdetail-r3 time{
  display: block;
  margin-bottom: 5px * 2 /$ppr;
}
.orderdetail-bag>li{
  margin-bottom: 10px * 2 /$ppr;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 12px * 2 /$ppr;
}
.orderdetail-bag h2{
  font-size: 15px * 2 /$ppr;
}
.orderdetail-bag h2 .text-important{
  margin-left: 25px * 2 /$ppr;
  font-size: 14px * 2 /$ppr;
  font-weight: normal;
}
.orderdetail-bag-r1{
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px * 2 /$ppr;
  align-items:center;
}
.orderdetail-bag .box{
  margin-bottom: 19px * 2 /$ppr;
  font-size: 14px * 2 /$ppr;
}
.orderdetail-bag .box-link{
  padding-left: 0;
  padding-right: 0;
}
.orderdetail-bag .box-arrow{
  right: 0;
}
.orderdetail-bag time{
  display: block;
  margin: 10px * 2 /$ppr 0;
  color: #999;
}

.orderdetail-bag h3{
  font-size: 14px * 2 /$ppr;
}
.orderdetail-cancel{
  padding-left: 24px * 2 /$ppr;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px * 2 /$ppr;
  margin-bottom: 20px * 2 /$ppr;
  font-size: 14px * 2 /$ppr;
  line-height: 20px * 2 /$ppr;
}
.orderdetail-cancel p{
  margin-bottom: 5px * 2 /$ppr;
}
.orderdetail-cancel .icon53{
  float: left;
  margin-left: -24px * 2 /$ppr;
}