.order-back{
  display: inline-block;
  font-size: 15px;
  text-decoration: underline;
  margin-left: 15px;
  margin-top: 24px;
  margin-bottom: -10px;
}
.order-back .icon10{
  margin-right: 8px;
  vertical-align: -1px;
}