/*订单*/
.order{
  background: #F6F8F9;
  margin-bottom: 10px;
}
.order-h{
  background: #fff;

}
.order-hc2{
  padding-right: 11px;
  padding-top: 10px;
}
.order-hc2 .btn{
  margin: 0 3px;
}
.order h2{
  font-size: 14px;
  padding: 23px 0 10px 14px;
  background: #fff;
  
  font-weight: normal;
}
.order h2:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 14px;
  background: #dc3334;
  margin-right: 4px;
}
.order-r1{
  font-size: 15px;
}
.order-r2{
  text-align: center;
  background: #fff;
  
  font-size: 12px;
}
.order-r2 .icon{
  right:14px;
}
.order-r2 a{
  color: #999;
}
.order-r2 .icon{
  margin-left: 9px;
}
.order-r3{
  padding: 7px 14px;
  color: #666;
  line-height: 24px;
  font-size:14px;
}
.order .icon51{
  margin-right: 5px;
}
.order .box-link{
  font-size: 14px;
}