.order-submit{
  display: flex;
  justify-content:space-between;
  margin-top: 10px;
}
.order-submit-c1{
  font-size: 15px;
  line-height: 30px;
}
.order-submit-c1 .text-important{
  font-size: 18px;
}