.order-manage{
  font-size: 15px * 2 /$ppr;
  text-decoration: underline;
  position: absolute;
  right: 15px * 2 /$ppr;
  margin-top: -22px * 2 /$ppr;
}
.order-manager h2{
  font-size: 15px * 2 /$ppr;
  height: 40px * 2 /$ppr;
  line-height: 40px * 2 /$ppr;
  margin-bottom: 10px * 2 /$ppr;
  background: #fff;
  text-align: center;
}
.order-manager .box-address-c2{
  margin-right: 0;
}