.order-manage{
  font-size: 15px;
  text-decoration: underline;
  position: absolute;
  right: 15px;
  margin-top: -22px;
}
.order-manager h2{
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  background: #fff;
  text-align: center;
}
.order-manager .box-address-c2{
  margin-right: 0;
}