.order-submit{
  display: flex;
  justify-content:space-between;
  background: #f3f3f3;
  border-top: 1px solid #dadada;
  padding: 10px 12px;
  line-height: 40px;
}
.order-submit-c1{
  font-size: 15px;
  line-height: 40px;
}
.order-submit-c1 .text-important{
  font-size: 20px;
}
.order-submit .btn{
	flex:1;
	display: block;
	margin-left: 20px;
	height: 40px;
	line-height: 40px;
}