/*添加收货人*/
.order-add{
  padding: 0 14px * 2 /$ppr;
}
.order-add p{
  text-align: center;
  font-size: 11px * 2 /$ppr;
}
.order-add h2{
  padding: 25px * 2 /$ppr 0 8px * 2 /$ppr;
  color: #7f7f7f;
  font-weight: normal;
  font-size: 14px * 2 /$ppr;
}
.order-add .btn{
  margin-top: 8px * 2 /$ppr;
  margin-bottom: -10px * 2 /$ppr;
}
.order-add .justify{
	width:100%;
	font-size:0;
}
.order-add .select{
	flex:1;
  margin: 0 5px * 2 /$ppr;
}
.order-add .select:first-child{
  margin-left: 0;
}
.order-add .select:last-child{
  margin-right: 0;
}
.order-add-select{
  display: flex;
}