.partner-dialog{
	background: #fff;
	color: #666;
	font-size: 16px;
}
.partner-dialog .center{
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: 310px;
	border-radius: 8px;
	padding: 0 35px;
}
.partner-dialog .partner-text{
	line-height: 1.5;
	margin-bottom: 3px;
}
.partner-dialog .btn-box{
	margin-top: 14px;
}
.partner-dialog .btn-box,
.partner-dialog .btn{
	width: 100%;
}
.partner-dialog .btn{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-radius: 4px;
}
.partner-dialog .close{
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 10px 10px 20px 20px;
}
.partner-dialog .input{
	padding: 13px 15px;
	border-radius: 4px;
	margin-top: 10px;
}
.partner-dialog h2{
	color: #FF5B54;
}
.partner-settings .partner-text{
	font-size: 14px;
	color: #666;
}
.partner-settings .box-link{
	width: 100%;
	color: #999;
	margin-top: 10px;
	padding: 10px 0;
	text-align: center;
}
.partner-dialog .partner-bags-small{
	margin-top: 10px;
	margin-bottom: 8px;
	text-indent: -99em;
	background: url(../img/icon-bags-small.png) 0 0 no-repeat;
	background-size: 125px 103px;
	width: 125px;
	height: 103px;
	/*svg{
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}*/
	
}