/*支付成功*/
.pay{
  background: #fff;
  padding:48px * 2 /$ppr 20px * 2 /$ppr 34px * 2 /$ppr;
}
.pay h2{
  font-size: 18px * 2 /$ppr;
  margin-bottom: 18px * 2 /$ppr;
  text-align: center;
}
.pay h2 .icon{
  margin-right: 5px * 2 /$ppr;
}
.pay p{
  line-height: 18px * 2 /$ppr;
  text-align: center;
  margin-bottom: 14px * 2 /$ppr;
}
.pay-r1{
  text-align: center;
  padding-bottom:25px * 2 /$ppr;
  
}
.pay-r1 .btn{
  margin: 0 14px * 2 /$ppr;
}
