/*person*/
.person{
  background: #fafafa;
  margin-bottom: 10px * 2 /$ppr;
}
.person-r1{
  font-size: 17px * 2 /$ppr;
  color: #fff;
  text-align: center;
  height: 230px * 2 /$ppr;
  background-color:#da494f;
  background-image:url(#{$bg-url}person.png);
  background-position:center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 250px * 2 /$ppr;
  background-size: 250px * 2 /$ppr;
  padding-top: 24px * 2 /$ppr;
  margin-bottom: 10px * 2 /$ppr;
}
.person-r2{
  padding-top: 48px * 2 /$ppr;
  text-align: center;
  margin-bottom: 8px * 2 /$ppr;
}
.person-r3{
  text-align: center;
  margin-bottom: 58px * 2 /$ppr;
  font-size: 14px * 2 /$ppr;
}
.person-r4{
  margin-bottom: 8px * 2 /$ppr;
}
.person .box-link{
  color: #888888;
  font-size: 14px * 2 /$ppr;
}