.qrcode{
  text-align: center;
  margin-left: 27px * 2 /$ppr;
  margin-right: 18px * 2 /$ppr;
  padding-top:25px * 2 /$ppr;
}
.qrcode img{
  margin-right: 8px * 2 /$ppr;
}
.qrcode-c1{
  overflow: hidden;
  font-size: 13px * 2 /$ppr;
  line-height: 18px * 2 /$ppr;
  color: #666;
  padding:17px * 2 /$ppr 0;
}