.share{
	background: url(#{$bg-url}share.png) no-repeat;
	background-size:235px * 2 / $ppr;
	width:235px * 2 / $ppr;
	height:154px * 2 / $ppr;
	position: absolute;
	right:45px * 2 / $ppr;
	top:21px * 2 / $ppr;
}
.share .mask{
	background:rgba(0,0,0,0.5);
}