/*
@styleguide

# 提示

*/
.toast{
  position: fixed;
  display: inline-block;
  padding: 10px 20px;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  display: none;
  z-index: 999;
}