/*
@styleguide

# 弹出窗

*/
@import "../../utils/variables";
.invite-rule{
    background: #fff;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 28px;
    text-align: center;
}
.invite-rule-bg{
    width: 273px;
    height: 352px;
    display: block;
    background: url(#{$bg-url}invite-rule.png) no-repeat;
    background-size: 273px 330px;
    margin: 8px auto 20px;
    padding-bottom: 22px;
    border-bottom: 1px dashed #ccc;
}
.invite-rule .btn{
    border-radius: 15px;
    margin-bottom: 12px;
}