/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
@import "../swipe/index";

.goods{
  background: #fff;
  margin-bottom: 10px;
}
.goods-r1{
  margin-bottom: 20px;
  position: relative;
}
.goods-r1 .label{
  position: absolute;
  right: 0;
  top: 0;
  background: #dc3334;
  border-radius:0;
}
.goods-r1 .label .icon{
  margin-right: 5px; 
}
.goods-r1 .label .icon27{
  vertical-align: -2px;
}

.goods-b{
  margin: 0 17px;
  padding-bottom: 1px;
}
.goods h1{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #333;
}
.goods-p2{
  font-size: 14px;
  line-height: 1.5;
  color: #4A4A4A;
  margin-bottom: 12px;
}
.goods-l4{
  margin-bottom: 15px;
}

.goods-price{
  font-size: 18px;
  color: #ff5b54;
  margin-right: 20px;
}
.goods-price small{
  font-size: 15px;
}
.goods-price2{
  background: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding:0 10px;
  line-height: 20px;
}
.goods-r2c2{
  font-size: 14px;
  font-weight: bold;
  color: #272541;
}
.goods-r2c2 .icon{
  margin-right: 7px;
}
.goods-r3{
  font-size: 14px;
  color:#666;
  padding-bottom: 18px;
  display: flex;
  justify-content:space-between;
}
.goods .mask{
  position: absolute;
  background-color: rgba(255,255,255,0.5);
}
.goods .icon20{
  z-index: 999;
}

.goods-r4-text,
.goods-r4-yen,
.goods-r4-price{
  vertical-align: 2px;
}
.goods-r4-text,
.goods-r4-yen{
  margin-right: 3px; 
}
.goods-r4 del{
  vertical-align: 4px;
  color:#B3B3B3;
  margin-left: 10px;
}
.goods-r4-yen{
  font-size: 18px;
  vertical-align: 2px;
}
.goods-r4-price{
  font-size: 28px;
}
.goods-r4t2{
  display: inline-block;
  background-color: #FFB735;
  font-size: 12px;
  color: #fff;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  vertical-align: 5px;
  margin-left: 9px;
}

.goods-r1 .corner-icon{
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  font: 0/0 a;
  z-index: 20;
}
.corner-icon01{
  background:  url(http://img0.sfht.com/img/8f016642e40404b528ec23dff6d516fc.jpg) 0 0 no-repeat;
}
.corner-icon04{
  background:  url(http://img0.sfht.com/img/520235946454a96e657b73268e6541a5.jpg) 0 0 no-repeat;
}
/*预售*/
.goods-l3{
  padding: 6px 0 6px 12px;
  background-color: #F2F2F2;
  color: #4A4A4A;
  line-height: 1.5;
  margin-bottom: 12px;
}
.goods-l3 .text-error{
  margin-right: 8px;
}
.goods-l4 span{
  display: inline-block;
  height: 31px;
  line-height: 31px;
  padding: 0 12px;
  background-color: #F5F5F5;
  border-radius: 4px;
  color: #4A4A4A;
  margin-right: 10px;
}
.goods-l2,
.goods-l5,
.goods-l6{
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
}
.goods-l5{
  margin: 0 -17px;
  border-top: 1px solid #F2F2F2;
}
.goods-l5{
  padding: 16px 17px 14px;
}
.goods-l6{
  color: #9B9B9B;
  margin-bottom: 16px;
}
.goods-l6 img{
  width: 24px;
  margin-right: 3px;
  height: 16px;
  vertical-align: -4px;
}
.goods-l5 .icon-goods-r2{
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 2px;
}
.goods-l2{
  margin-bottom: 8px;
}
.goods-r2 span{
  margin-right: 17px;
  color: #9B9B9B;
}
