.comment-header{
  display: flex;
  padding: 0 15px;
  height: 44px;
  border-bottom: 1px solid #DCDCDC;
  background: #fff;
  align-items:center;
}
.comment-header a{
  display: block;
  position: relative;
  padding: 10px;
}
.comment-header-icon.icon-back{
  width: 11px;
  height: 20px;
}
.comment-header-icon.icon-cart{
  width: 24px;
  height: 20px;
}

.comment-header h1{
  flex:1;
  color: #FF5B54;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}
.comment-header h1 span{
  font-size: 14px;  
}
.comment-header-num{
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  background: #FF5B54;
  position: absolute;
  border-radius: 50%;
  right: -10px;
  top: -8px;
}