.comment-expose{
  background: #FFFAFA;
  padding: 15px 14px 12px;
  border-bottom: 1px solid #F2F2F2;
}

.comment-expose-li:last-child{
  border-bottom: none;
}
.comment-expose-tag{
  background: url(http://img0.fengqucdn.com/cmsres/20160407/987ca5cf-88b2-4f2d-88bd-b6562ac0b7fc.png) no-repeat;
  background-size: 72px 20px;
  color: #fff;
  padding-left: 16px;
  line-height: 20px;
  width: 72px;
  margin-right: -14px;
}
.comment-expose-r1{
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 5px;
}
.comment-expose p{
  line-height: 21px;
  font-size: 14px;
  margin-bottom: 11px;
}
.comment-expose-other{
  color: #999;
}
.comment-expose-other span{
  margin-left: 12px;
}
.comment-expose-r1 img{
  vertical-align: middle;
  margin-right: 8px;
}
.comment-expose-r1c1{
  font-size: 16px;
}
.comment-expose-img{
  overflow: hidden;
  margin-bottom: 5px;
}
.comment-expose-img li{
  float: left;
  margin-right: 10px;
}
.comment-expose svg{
  fill:#D8D8D8;
  width: 13px;
  height: 13px;
}
.comment-expose svg.active{
  fill:#FF5E57;
}