#define($_content)
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="顺丰海淘，正品保障，含税一口价，顶尖物流，快速清关，在线销售母婴、食品、保健品、护肤品、等优质进口商品。为您提供一站式便捷的海淘商品购物体验！">
    <meta name="keywords" content="顺丰海淘,海淘网站,进口商品,进口品牌,秒杀特卖,限时抢购,折扣,母婴,鞋子,包包,保健,辅食,奶粉,纸尿裤,尿不湿">
    <title>顺丰海淘-100%海外正品保障（sfht.com），顺心全球购，丰富好生活！</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!--头部-->
<div class="sf-b2c-mall-header"></div>
<!--头部-->
<!--幻灯-->
<div id='slider' class='swipe'>
    #if ($content.size() > 0 && $content.get(0) && $content.get(0).moduleCellInfo && $content.get(0).moduleCellInfo.size() > 0)
        <div class='swipe-wrap'>
            #foreach ($el in $content.get(0).moduleCellInfo)
                #if ($!{el.property.imgUrl}&&$!{el.property.imgUrl.length()} > 0 && $!{el.property.link}&&$!{el.property.link.length()} > 0)
                    <div><a target="_blank" href=href="$!{el.property.link}"><img src="$!{el.property.imgUrl}" alt=""></a></div>
                #end
            #end
        </div>
    #end
    <div class="swipe-dot"></div>
</div>
<!--幻灯-->
<!--列表-->
<ul class="list">
    #if ($content.size() > 1 && $content.get(1) && $content.get(1).moduleCellInfo && $content.get(1).moduleCellInfo.size() > 0)
        #foreach ($cell in $content.get(1).moduleCellInfo)
            <a href="$!{cell.property.link}" target="_blank">
                <li>
                    <div class="list-r1 vertical-middle">
                        <img src="$!{cell.property.imgUrl}" alt=""/>
                    ##                    <div class="mask">
                    ##                        <span class="icon icon4 center">售完</span>
                    ##                    </div>
                    </div>
                    <div class="list-b">
                        <h2 class="ellipsis2"><a target="_blank" href="$!{cell.property.link}">$!{cell.property.name}</a></h2>

                        <div class="list-r2">
                        ##                        <div class="list-price">¥1280</div>
##                        <del>¥1680</del>
##                        <span class="label-danger">7.5折</span>
                        </div>
                    </div>
                </li>
            </a>
        #end
    #end
</ul>
<!--列表-->
<script src="js/zepto.min.js"></script>
<script src="js/swipe.js"></script>
<script src="js/slider.js"></script>
</body>
#end
