h2, h3, strong {
  font-weight: normal; }

svg {
  vertical-align: middle; }

.text-yellow {
  color: #F5A623; }

.text-gray {
  color: #DCDCDC; }

.text-black {
  color: #4A4A4A !important; }

.btn-middle {
  width: 320px !important; }

.btn-yellow {
  background: #FFAD4F;
  color: #fff; }

.btn-black {
  background: #4A4A4A;
  color: #fff; }

.btn-disable {
  background: #9B9B9B;
  color: #fff !important; }

.label-black {
  width: 110px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border: 1px solid #4A4A4A;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-align: center;
  margin-right: 54px;
  font-size: 20px; }

.tuantab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.tuantab li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 98px;
  line-height: 98px;
  background: #4A4A4A;
  color: #fff;
  text-align: center;
  font-size: 32px; }

.tuantab li.active {
  background: #F24E47;
  position: relative; }

.tuantab li.active:before {
  content: '';
  border-width: 16px 16px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.tuantab-content {
  display: none; }

.tuantab-content.active {
  display: block; }

.tuanheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  border-bottom: 2px solid #F2F2F2;
  border-left: 4px solid #F13C34;
  padding: 0 14px;
  background: #fff; }

.tuanheader h2 {
  font-weight: normal; }

.tuanheader-time span {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #4A4A4A;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  margin: 0 8px; }

.tuanlist {
  background: #fff;
  position: relative; }

.tuanlist li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 30px;
  border-bottom: 2px solid #F5F5F5; }

.tuanlist li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.tuanlist-c1 {
  width: 230px;
  margin-right: 16px;
  position: relative; }

.tuanlist-c2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.tuanlist h3 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 10px; }

.tuanlist-num {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.tuanlist-num .icon-people {
  margin-right: 8px; }

.tuanlist-num .icon-clock {
  margin-right: 10px; }

.tuanlist-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 88px;
  border: 1px solid #F24E47; }

.tuanlist-price-c1 {
  width: 52px;
  background: #F24E47;
  color: #fff;
  text-align: center;
  line-height: 26px;
  padding-top: 4px; }

.tuanlist-price-c2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 88px;
  padding-left: 10px; }

.tuanlist strong {
  color: #F13C34;
  font-size: 28px;
  margin-right: 12px; }

.tuanlist del {
  color: #9B9B9B; }

.tuanlist .btn {
  margin-top: 20px; }

.tuanlist-time {
  margin-top: 30px;
  color: #9B9B9B;
  margin-bottom: 4px; }

.tuanlist-price.disabled {
  border-color: #9B9B9B; }

.tuanlist-price.disabled .tuanlist-price-c1 {
  background: #9B9B9B; }

.tuanlist-price.disabled strong {
  color: #9B9B9B; }

.tuanlist-success {
  position: absolute;
  bottom: 30px;
  right: 0; }

.tuanlist-none {
  text-align: center;
  padding-top: 80px; }

.tuanlist-none-icon {
  padding: 40px 48px;
  background: #DCDCDC;
  display: inline-block;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.tuanlist-none p {
  color: #9B9B9B;
  font-size: 28px;
  margin-bottom: 30px; }

.tuanlist-none .btn {
  color: #F24E47;
  font-size: 28px;
  width: 400px;
  height: 88px;
  line-height: 88px; }

.tuanhow {
  background: #fff;
  margin: 20px 0; }

.tuanhow h2 {
  height: 60px;
  line-height: 60px;
  border-bottom: 2px solid #F2F2F2;
  text-align: center; }

.tuanhow h2 span {
  display: inline-block;
  border-bottom: 4px solid #F13C34; }

.tuanhow ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 88px; }

.tuanhow li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #9B9B9B;
  line-height: 34px;
  position: relative;
  text-align: center; }

.tuanhow li:before {
  content: '';
  border-top: 2px solid #DCDCDC;
  width: 100%;
  position: absolute;
  top: -50px;
  left: 50%; }

.tuanhow li:last-child:before {
  display: none; }

.tuanhow-num {
  position: absolute;
  top: -66px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #F13C34;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.tuanintroduce {
  line-height: 34px;
  padding: 24px 30px;
  background: #fff; }

.tuanrule {
  padding: 30px;
  background: #fff; }

.tuanrule h2 {
  color: #F13C34;
  margin-bottom: 18px;
  text-align: center; }

.tuanrule p {
  line-height: 34px; }

.tuanimg {
  height: 158px; }

.tuanimg-fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 94px;
  padding: 38px 0;
  background: #fff;
  border-top: 2px solid #F2F2F2;
  text-align: center; }

.tuanimg li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 28px; }

.tuanimg img {
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.tuanimg-none {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px dashed #DCDCDC; }

.tuanbtn {
  height: 94px; }

.tuanbtn-fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-top: 2px solid #DCDCDC;
  padding: 16px 0;
  text-align: center; }

.tuanbtn .btn {
  height: 80px;
  line-height: 80px;
  font-size: 28px;
  width: 280px;
  margin: 0 12px; }

.tuandialog-inner {
  width: 476px;
  background: #fff;
  position: fixed;
  text-align: center;
  z-index: 999;
  padding: 72px 38px 48px; }

.tuandialog h2 {
  color: #F13C34;
  font-size: 36px;
  margin-bottom: 26px; }

.tuandialog p {
  color: #9B9B9B;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 48px; }

.tuandialog .text-important {
  margin-bottom: 30px; }

.tuandialog .btn {
  font-size: 32px;
  height: 80px;
  line-height: 80px; }

.tuandialog .btn-danger {
  margin-bottom: 14px;
  margin-top: 66px; }

.tuandialog-img {
  position: absolute;
  top: 138px;
  right: 64px; }

.tuanshare-inner {
  top: auto;
  bottom: 0;
  height: 240px;
  background: #F3F3F3;
  z-index: 999; }

.tuanshare ul {
  height: 240px;
  padding-left: 10px; }

.tuanshare ul:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.tuanshare li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 20px; }

.tuanshare figcaption {
  margin-top: 20px; }

.tuantitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  line-height: 80px;
  background: #fff;
  padding: 0 28px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.32);
          box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.32); }

.tuantitle-c1 {
  width: 96px; }

.tuantitle h1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 36px; }

.tuantitle a {
  color: #FF5B54;
  font-size: 32px; }
