img {
  width: 100%;
}

body {
  background: #fff;
  width: 100%;
}

.m727-banner {
  margin-bottom: 10px;
}

.m727-r1 {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.m727-r1c1 {
  width: 53.12%;
}

.m727-r1c2 {
  width: 46.88%;
}

.m727-time {
  font-family: arial;
  margin-bottom: 8px;
  position: relative;
}

.m727-time span {
  margin-right: 22px;
  letter-spacing: 12px;
}

.m727-time-r1 {
  position: absolute;
  left: 43.75%;
  top: 71.42%;
}

.m727-tab-h {
  float: left;
  width: 48px;
  padding-top: 12px;
  padding-left: 4px;
}

.m727-tab-h li {
  width: 44px;
  padding-top: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 158px;
  background: #f63c3f;
  text-align: center;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-bottom: 80px;
  line-height: 40px;
  position: relative;
}

.m727-tab-h li:before {
  content: '';
  width: 22px;
  height: 22px;
  background: #f63c3f;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  right: -62px;
  border: 8px solid #ffc5c2;
  top: 50%;
  margin-top: -18px;
}

.m727-tab-h li.active {
  background: #800a2d;
}

.m727-tab-h li.active:before {
  background: #800a2d;
  border-color: #cd7d88;
}

.m727-tab-h li .icon {
  width: 0;
  height: 0;
  background: none;
  border-style: solid;
  border-width: 10px 10px;
  border-color: transparent transparent transparent #e03d40;
  position: absolute;
  right: -30px;
  top: 50%;
  margin-top: -16px;
  border-width: 16px;
}

.m727-tab-h li.active .icon {
  border-color: transparent transparent transparent #800a2d;
}

.m727-tab-h a {
  font-size: 24px;
  color: #fff;
}

.m727-tab-b {
  margin-left: 96px;
  border-left: 2px dashed #800a2d;
  padding-left: 30px;
  padding-top: 24px;
  display: none;
}

.m727-tab-b.active {
  display: block;
}

.m727-tab-b ul {
  margin-left: -8px;
}

.m727-tab-b li {
  display: inline-block;
  width: 48%;
  margin-left: 8px;
  margin-bottom: 40px;
  position: relative;
}

.mask {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m727-tab-b li span {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  z-index: 999;
}

.m727-top {
  border: 6px solid #f61d4a;
  padding: 2px;
  text-align: center;
  font-size: 30px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 999;
  background: #fff;
  width: 100%;
}

.m727-top a {
  color: #fff;
}

.m727-top ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.m727-top li {
  height: 56px;
  line-height: 56px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.m727-top a {
  display: block;
}

.m727-top li:nth-child(even) {
  background-color: #800a2d;
}

.m727-top li:nth-child(odd) {
  background-color: #f61d4a;
}

.m727-top li:last-child .icon {
  vertical-align: 4px;
  margin-left: 10px;
  width: 0;
  height: 0;
  background: none;
  border-style: solid;
  border-width: 10px;
  border-color: transparent;
  border-bottom-color: #fff;
}

.m727-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.m727-nav li:first-child {
  border-left: 0 none;
}

.m727-nav li {
  -webkit-box-flex: 2px;
  -webkit-flex: 2px;
      -ms-flex: 2px;
          flex: 2px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #b300f5;
  color: #fff;
  font-weight: 700;
  border-left: 2px solid #9521c0;
  font-size: 24px;
}

.m727-nav .active {
  position: relative;
  background-color: #9521c0;
}

.m727-nav .today {
  color: #f8de00;
}

.m727-nav .active::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent;
  border-top-color: #9521c0;
}
