.cart {
  overflow: hidden;
}

.cart li {
  background: #fff;
  margin-top: -0.05rem;
  padding: 0 0.6rem 0 0.25rem;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  border-top: 0.05rem solid #e5e5e5;
  left: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
          transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  font-size: 0.7rem;
}

.cart li.active .icon49 {
  background-position: -12.75rem -12.45rem;
}

.cart-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 0.7rem;
  position: relative;
}

.cart-inner .icon49 {
  display: block;
}

.cart img {
  width: 3.35rem;
  height: 3.35rem;
  border: 1px solid #e0e0e0;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
}

.cart .btn-danger {
  height: 100%;
  line-height: 100%;
  font-size: 0.85rem;
  position: absolute;
  right: -3.1rem;
  top: 0;
}

.cart-c1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart-c2 {
  text-align: right;
  line-height: 1rem;
  margin-left: 1rem;
}

.cart-c2 del {
  color: #ccc;
}

.cart-num {
  color: #999;
}

.cart h2 {
  line-height: 0.9rem;
  margin-bottom: 0.4rem;
  font-weight: normal;
}

.cart .text-important {
  font-size: 0.7rem;
}

.cart .text-orange {
  padding-bottom: 0.9rem;
  padding-left: 1.55rem;
}

.cart-disable {
  margin-top: 0.5rem;
}

.cart-disable .text-important {
  color: #ccc;
}

.cart-disable .label-disabled {
  font-size: 0.5rem;
  padding: 0 0.1rem;
  display: block;
}

.cart .icon49 {
  margin: 0 0.25rem;
}

.cart-footer {
  height: 3.45rem;
}

.cart-footer-r1 {
  border-top: 1px solid #e5e5e5;
  background: #f3f3f3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.45rem 0.65rem;
}

.cart-footer .btn {
  height: 2.55rem;
  line-height: 2.55rem;
  padding: 0 1.8rem;
  background: #ccc;
  color: #fff !important;
  font-size: 0.75rem;
}

.cart-footer-c2 {
  text-align: right;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.6rem;
}

.cart-footer-save {
  margin-top: 0.3rem;
  color: #999;
}

.cart-footer-c1 {
  font-size: 0.75rem;
}

.cart-footer-c2 .text-important {
  font-size: 0.9rem;
  font-weight: bold;
}

.cart-footer .icon49 {
  margin-right: 0.25rem;
}

.cart-none {
  height: 100%;
  padding-top: 9.5rem;
  text-align: center;
  background: #fff url(../img/cart-none.png) no-repeat center 4.35rem;
  -webkit-background-size: 4.6rem 4.6rem;
          background-size: 4.6rem;
}

.cart-none p {
  margin-bottom: 1.8rem;
}

.cart-none .btn {
  margin: 0 0.85rem;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.alert-error {
  line-height: 0.9rem;
  background: rgba(221, 62, 63, 0.85);
  position: fixed;
  left: 0;
  bottom: 3.5rem;
  width: 100%;
  color: #ff9000;
  background: #fff0e2;
  border-top: 1px solid #f5d6b9;
  border-bottom: 1px solid #f5d6b9;
}
