body {
  width: 640px;
  background: #4f0991 url(../img/japan/body-bg.jpg) 0 0 no-repeat;
  background-size: 640px 460px;
}

header h1,
header h2,
header h3 {
  font: 0/0 a;
}

header {
  padding-top: 42px;
}

header h1 {
  background: url(../img/japan/h1-bg.png) center 0 no-repeat;
  height: 110px;
}

header h2 {
  background: url(../img/japan/h2-bg.png) center 0 no-repeat;
  height: 86px;
  margin-top: 12px;
}

header h3 {
  background: url(../img/japan/h3-bg.png) center 0 no-repeat;
  height: 88px;
  margin-top: -23px;
}

.mjapan-wp {
  margin: 0 10px;
}

.mjapan-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.3);
}

.mjapan-list li {
  position: relative;
  margin-left: 10px;
}

.mjapan-list .open .mjapan-mask {
  background: none;
}

.mjapan-mask,
.mjapan-video-pic li::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  text-align: center;
}

.mjapan-mask h2 {
  margin-top: 22px;
  font-size: 34px;
  font-weight: 700;
}

.mjapan-mask p {
  margin-top: 7px;
  font-size: 23px;
}

.mjapan-video-list {
  margin-top: 20px;
  height: 298px;
  overflow: hidden;
}

.mjapan-video-list li {
  position: relative;
  display: none;
}

.mjapan-video-list .mjapan-mask a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
}

.mjapan-video-list .mjapan-mask i {
  display: inline-block;
  font: 0/0 a;
  background: url(../img/japan/play-icon.png) 0 0 no-repeat;
  width: 63px;
  height: 63px;
  margin-bottom: 12px;
}

.mjapan-video-box {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  z-index: 3;
  display: none;
}

.mjapan-video-pic {
  width: 620px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.mjapan-video-pic .mjapan-before,
.mjapan-video-pic .mjapan-after {
  position: relative;
  font: 0/0 a;
  background-color: #544c61;
  height: 97px;
  width: 26px;
}

.mjapan-video-pic .mjapan-before::after,
.mjapan-video-pic .mjapan-after::after {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  content: "";
  border: 8px dashed transparent;
}

.mjapan-video-pic .mjapan-before::after {
  border-right-style: solid;
  border-right-color: #000;
}

.mjapan-video-pic .mjapan-after::after {
  border-left-style: solid;
  border-left-color: #000;
  left: 10px;
}

.mjapan-video-pic-list {
  width: 564px;
  height: 97px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 4px;
}

.mjapan-video-pic-list ul {
  white-space: nowrap;
  width: 300%;
}

.mjapan-video-pic-list li {
  float: left;
  position: relative;
  margin-left: 4px;
}

.mjapan-video-pic-list li::after {
  content: "";
}

.mjapan-video-pic-list .active::after {
  background: none;
}

.mjapan-intro-text {
  background-color: #6c67dd;
  color: #fff;
  padding: 10px;
}

.mjapan-intro-text-inner {
  position: relative;
  border: 1px solid #fff;
}

.mjapan-intro-text-inner .mjapan-flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 73px;
  height: 50px;
  background-color: #fff;
}

.mjapan-intro-text-inner .mjapan-flag::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #a61e20;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mjapan-intro-text-title h2 {
  font-size: 34px;
  font-weight: 700;
}

.mjapan-intro-text-title p {
  font-size: 24px;
  opacity: 0.6;
}

.mjapan-intro-text-ct {
  font-size: 27px;
  line-height: 1.2;
}

.mjapan-intro-text-ct .bg {
  display: inline-block;
  color: #6c67dd;
  padding: 0 6px;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
}
