body {
  background-color: #fff;
}

.searchInputWrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  height: 50px;
  width: 100%;
  padding: 10px 0 10px 15px;
}

.searchInputWrap .searchCancelLink {
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #333;
}

.searchInputWrap input {
  height: 30px;
  padding: 7px;
  text-indent: 22px;
  border: none;
  background-color: #f2f2f2;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchInputWrap .zoomIcon {
  position: absolute;
  left: 22px;
  top: 18px;
}

.searchShortcut {
  border-top: 1px solid #dcdcdc;
  min-height: 666px;
}

.searchShortcut h4 {
  padding: 0 10px;
  height: 44px;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchShortcut .tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.searchShortcut .tab span {
  width: 100%;
  border-bottom: 2px solid transparent;
  line-height: 44px;
  height: 44px;
  display: inline-block;
}

.searchShortcut .tab .active span {
  color: #ff5e57;
  border-bottom-color: #ff5e57;
  font-weight: bold;
}

.searchShortcut ul {
  border-top: 1px solid #f6f6f6;
}

.searchShortcut li {
  font-size: 14px;
  height: 49px;
  line-height: 49px;
  border-bottom: 1px solid #dcdcdc;
  margin: 0 14px;
  color: #333;
}

.searchShortcut .clearHistories {
  font-size: 14px;
  color: #333;
  padding: 18px 0;
  text-align: center;
  display: block;
}
