/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:12px;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/* 默认 */
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
a{
  text-decoration: none;
  color:#333;
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}

button{
  border: none;
}
img{
  width: 100%;
}
/*浮动*/
.fl{float:left;}
.fr{float:right;}
.clearfix:before,
.clearfix:after{content:'';display:table;}
.clearfix:after{
	clear: both;
}
/*视觉隐藏*/
.visuallyhidden {
  clip: rect(0, 0, 0, 0);
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*图片垂直居中*/
.vertical-middle:after{
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.vertical-middle img{
  vertical-align: middle;
}
.ellipsis{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow:    ellipsis;
}
.ellipsis2,.ellipsis3{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ellipsis2{
  -webkit-line-clamp: 2;
}
.ellipsis3{
  -webkit-line-clamp: 3;
}
/*水平垂直居中*/
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform:translate(-50%,-50%);
}
/*蒙版*/
.mask{
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  position: fixed;
  top: 0;
  left:0;
}
/*label*/
.label-danger{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  height: 20px;
  line-height: 20px;
  background: #DC3334;
  padding: 0 12px;
}
/*icon*/
.icon{
  display: inline-block;
  vertical-align: middle;
  background: url(../img/icon.png) no-repeat;
  -webkit-background-size: 450px 450px;
  background-size: 450px 450px;
  text-indent: -999em;
}
.icon1{
  width: 25px;
  height: 16px;
}
.icon2{
  width: 22px;
  height: 22px;
  background-position: -51px 0;
}
.icon3{
  width: 70px;
  height: 19px;
  background-position: 0 -35px;
}
.icon4{
  width: 76px;
  height: 76px;
  background-position: 0 -60px;
}
.icon5{
  width: 76px;
  height: 76px;
  background-position: 0 -138px;
}
.icon6{
  width: 77px;
  height: 23px;
  background-position: 0 -219px;
}
/*btn*/
.btn{
  display:inline-block;
  vertical-align: middle;
  height: 43px;
  line-height: 43px;
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
  padding: 0 15px;

}
.btn-big{
  width: 100%;
}

.btn-normal,
.btn.normal{
  background: none;
  border:1px solid #c6c6c6;
}
.btn-dashed,
.btn.dashed{
  background: none;
  border:1px dashed #cfcfcf;
}
.btn-danger,
.btn.active{
  color:#fff;
  background:#dc3334;
  border: 1px solid #dc3334;
}
.btn-disable,
.btn.disable{
  color: #888888;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
}
.btn-warnning{
  background: #1376ce;
  color: #fff;
}

/*alert*/
.alert-error{
  color:#dc3334;
}
/*input*/
.input{
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.07); 
  border: 1px solid #e3e3e3;
  font-size: 14px;
  height: 37px;
  line-height: 27px;
  padding-left: 10px;
  width: 100%;
}

.input-num .btn{
  display: inline-block;
  width: 36px;
  height: 32px;
  line-height: 32px;
  background:#c6c6c6;
}
.input-num input{
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;

}
/*select*/
.select{
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  width: 100%;
  font-size: 15px;
}
/*textarea*/
.textarea{
  padding: 10px;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  height: 5.5em;
}
/*box*/
.box{
  padding: 16px 14px;
  border: 1px solid #EEEEEE;
  background: #fff;
}
/*table*/
.table{
  margin-bottom: 55px;
}
.table-r1{
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  padding-bottom: 12px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 15px;
}
.table-r2{
  border-bottom: 1px dashed #ccc;
  margin-bottom: 15px;
}
.table-r2 li{
  float: left;
  width: 33.3%;
  margin-bottom: 15px;
  font-size: 14px;
}
.table-r3{
  font-size: 14px;
}
/*goods*/
.goods-r1{
  margin-bottom: 20px;
}

.goods-b{
  margin: 0 17px;
}
.goods h1{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
.goods-price{
  font-size: 18px;
  color: #dc3334;
  margin-right: 15px;
}
.goods-price small{
  font-size: 15px;
}
.goods del{
  color:rgba(0,0,0,0.5);
  margin-left: 16px;
}
.goods-r2{
  padding-bottom: 24px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}
.goods-r2c2{
  font-size: 14px;
  font-weight: bold;
  color: #272541;
}
.goods-r2c2 .icon{
  margin-right: 7px;
}
.goods-r3{
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 17px;
}
/*立即购买*/
.buy{
  height: 45px;
}
.buy-r1{
  position: fixed;
  bottom:0;
  padding: 0 17px 4px;
  width: 100%;
  background: #fff;
}
/*商品详情*/
.detail-h{
  position: -webkit-sticky;
  position: sticky;
  height: 43px;
}
.detail-h li{
  float: left;
  width: 50%;
  font-size: 15px;
  background: #f6f8f9;
  border-bottom: 1px solid #f2f2f3;
  height: 43px;
  line-height: 43px;
  text-align: center;
}

.detail-h li.active{
  background: #fff;
  border-top:2px solid #dc3334;
}
.detail-b{
  margin-bottom: 17px;
  padding: 0 17px;
  line-height: 1.5;
}
.detail-b ul{
  border-bottom: 1px dashed #bebec4;
  padding: 11px 17px;
}
.detail-b li{
  font-size: 15px;
  line-height: 24px;
  }
/*推荐商品*/
.recommend{
  padding: 0 17px;
}
.recommend-c1{
  width: 110px;
  height: 110px;
}
.recommend-c1 img{
  max-width: 110px;
  max-height: 110px;
}
.recommend-c2{
  overflow: hidden;
}
.recommend h2{
  font-size: 15px;
  border-left: 2px solid #dc3334;
  padding-left: 4px;
  margin-bottom: 6px;
}
.recommend h3{
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 18px;
}
.recommend strong{
  color:#dc3334;
  font-size: 18px;
}
.recommend li{
  padding: 10px 0;
  border-bottom:1px dashed #ccc;
}
.recommend li:last-child{
  border-bottom: none;
}
/*规格*/
.standard{
  padding-top: 56px;
  border-top:1px solid #c6c6c6;
  margin:18px 17px;
}
.standard-c2{
  font-size: 0;
  overflow: hidden;
  line-height: 45px;
}
.standard-c1{
  font-size: 15px;
  line-height: 45px;
  margin-right: 22px;
}
.standard-r1 .standard-c1{
  margin-right: 8px;
}
.standard li .btn{
  margin-left: 14px;
  margin-bottom: 7px;
}
.standard li{
  margin-bottom: 26px;
}
.standard .input-num{
  margin-right:11px;
  }
.standard-r2{
  margin-bottom: 36px;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.swipe-dot{
  text-align: center;
  position: absolute;;
  margin-top: -32px;
  width: 100%;
}
.swipe-dot span{
  display: inline-block;
  width: 7px;
  height:7px;
  border-radius: 7px;
  background:#b4b4b6;
  margin:0 7px;
}
.swipe-dot span.active{
  background: #dc3334;
}

/*订单*/
.order{
  background: #F6F8F9;
  padding-bottom: 15px;
}
.order h2{
  padding: 25px 0 8px 15px;
  color: #7f7f7f;
  font-weight: normal;
}

.order-r1{
  font-size: 15px;
}
.order-r3c1{
  font-size: 15px;
  line-height: 43px;
}
.order-r3c1 span{
  font-size: 16px;
  color: #dc3434;
  margin-left: 18px;
}
/*添加收货人*/
.order-add{
  background: #f6f8f9;
  padding: 19px 14px 60px;
}
.order-add p{
  text-align: center;
  font-size: 11px;
}
.order-add h2{
  padding: 25px 0 8px;
  color: #7f7f7f;
  font-weight: normal;
  font-size: 14px;
}
.order-add .btn{
  margin-top: 38px;
}
/*header*/
.header{
  padding: 0 14px 11px;
}
.header-c1{
  padding-top: 13px;
}
.header-c2{
  padding-top: 12px;
}
/*list*/
.list{
  padding: 14px;
  margin-left: -3px;
}
.list li{
  float: left;
  width: 48.8%;
  border: 1px solid #ccc;
  margin-bottom: 7px;
}
.list li:nth-child(odd){
  float: right;
}
.list h2{
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  margin-bottom: 10px;
}
.list del{
  color: #444a58;
  font-size: 10px;
}
.list-r1{
  position: relative;
  margin-bottom: 6px;
}
.list-r1 .mask{
  position: absolute;
}
.list-price{
  font-size: 15px;
  color: #dc3334;
  margin-bottom: 3px;
}
.list-b{
  padding: 10px 8px;
}
.list-r2{
  position: relative;
  height: 30px;
}
.list-r2 .label-danger{
  position: absolute;
  right: -8px;
  top: 0;
}