/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:12px;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/* 默认 */
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
a{
  text-decoration: none;
  color:#333;
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}

button{
  border: none;
}
/*浮动*/
.fl{float:left;}
.fr{float:right;}
.clearfix:before,
.clearfix:after{content:'';display:table;}
.clearfix:after{
	clear: both;
}
/*视觉隐藏*/
.visuallyhidden {
  clip: rect(0, 0, 0, 0);
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*垂直居中*/
.vertical-middle:after{
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.vertical-middle img{
  vertical-align: middle;
}
.ellipsis{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow:    ellipsis;
}
.ellipsis2,.ellipsis3{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ellipsis2{
  -webkit-line-clamp: 2;
}
.ellipsis3{
  -webkit-line-clamp: 3;
}
/*icon*/
.icon{
  display: inline-block;
  vertical-align: middle;
  background: url(../img/icon.png) no-repeat;
  -webkit-background-size: 300px 300px;
  background-size: 300px 300px;
}
.icon1{
  background-position: ;
  width: 25px;
  height: 16px;
}
/*btn*/
.btn{
  display:inline-block;
  vertical-align: middle;
  height: 43px;
  line-height: 43px;
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
  padding: 0 15px;

}
.btn-big{
  width: 100%;
}
.btn-danger{
  color:#fff;
  background:#dc3334;
  border: 1px solid #dc3334;
}
.btn-normal{
  background: none;
  border:1px solid #c6c6c6;
}
.btn-dashed{
  background: none;
  border:1px dashed #cfcfcf;
  color: #c6c6c6;
}
/*input*/
.input{
  display: inline-block;
  vertical-align: middle;
}
.input-num .btn{
  width: 36px;
  height: 32px;
  line-height: 32px;
  background:#c6c6c6;
}
.input-num input{
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;

}
/*goods*/
.goods-r1{
  margin-bottom: 20px;
}
.goods-r1 img{
  width: 100%;
}
.goods-b{
  margin: 0 17px;
}
.goods h1{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
.goods-price{
  font-size: 18px;
  color: #dc3334;
  margin-right: 15px;
}
.goods-price small{
  font-size: 15px;
}
.goods del{
  color:rgba(0,0,0,0.5);
  margin-left: 16px;
}
.goods-r2{
  margin-bottom: 36px;
}
.goods-r2c2{
  font-size: 14px;
  font-weight: bold;
  color: #272541;
}
.goods-r2c2 .icon{
  margin-right: 7px;
}
.goods-r3{
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 17px;
}
/*立即购买*/
.buy{
  height: 45px;
}
.buy-r1{
  position: fixed;
  bottom:0;
  padding: 0 17px;
  width: 100%;
}
/*商品详情*/
.detail-h{
  position: -webkit-sticky;
  position: sticky;
  top:0;
  height: 43px;
}
.detail-h li{
  float: left;
  width: 50%;
  font-size: 15px;
  background: #f6f8f9;
  border-bottom: 1px solid #f2f2f3;
  height: 43px;
  line-height: 43px;
  text-align: center;
}

.detail-h li.active{
  background: #fff;
  border-top:2px solid #dc3334;
}
.detail-b{
  margin-bottom: 17px;
  padding: 0 17px;
}
.detail-b ul{
  border-bottom: 1px dashed #bebec4;
  padding: 11px 17px;
}
.detail-b li{
  font-size: 15px;
  line-height: 24px;
  }
/*推荐商品*/
.recommend{
  padding: 0 17px;
}
.recommend-c1{
  width: 110px;
  height: 110px;
}
.recommend-c1 img{
  max-width: 110px;
  max-height: 110px;
}
.recommend-c2{
  overflow: hidden;
}
.recommend h2{
  font-size: 15px;
  border-left: 2px solid #dc3334;
  padding-left: 4px;
  margin-bottom: 6px;
}
.recommend h3{
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 18px;
}
.recommend strong{
  color:#dc3334;
  font-size: 18px;
}
.recommend li{
  padding: 10px 0;
  border-bottom:1px dashed #ccc;
}
.recommend li:last-child{
  border-bottom: none;
}
/*规格*/
.standard{
  padding-top: 56px;
  border-top:1px solid #c6c6c6;
  margin:18px 17px;
}
.standard-c2{
  font-size: 0;
  overflow: hidden;
  line-height: 45px;
}
.standard-c1{
  font-size: 15px;
  line-height: 45px;
  margin-right: 22px;
}
.standard-r1 .standard-c1{
  margin-right: 8px;
}
.standard li .btn{
  margin-left: 14px;
  margin-bottom: 7px;
}
.standard li{
  margin-bottom: 26px;
}