.line-goods-list li {
  position: relative; }

.line-goods-list .btn-danger {
  position: absolute;
  height: 100%;
  line-height: 100%;
  font-size: 17px;
  position: absolute;
  right: 0;
  top: 0; }
