/*
Error: File to import not found or unreadable: utils/variables.
       Load paths:
         /Users/lijinhua/Documents/work/haitao-b2c-h5/app/static/scss/module
         /Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/bourbon-4.2.3/app/assets/stylesheets
         /Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/neat-1.7.2/app/assets/stylesheets
         /Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/susy-2.2.5/sass
         /Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/bitters-1.0.0/app/assets/stylesheets
         /Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/compass-core-1.0.3/stylesheets
         Compass::SpriteImporter
        on line 1 of _partner-account.scss

1: @import 'utils/variables';
2: .partner-account{
3: 	position: relative;
4: 	height: 100px;
5: 	background: #FF5B54;
6: 	color: #fff;

Backtrace:
_partner-account.scss:1
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/import_node.rb:45:in `import'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/import_node.rb:28:in `imported_file'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/import_node.rb:37:in `css_import?'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:415:in `run'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/loader.rb:15:in `load'
/Applications/software/Prepros.app/Contents/Resources/app/ruby/loader.rb:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: utils/variables.\A        Load paths:\A          /Users/lijinhua/Documents/work/haitao-b2c-h5/app/static/scss/module\A          /Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/bourbon-4.2.3/app/assets/stylesheets\A          /Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/neat-1.7.2/app/assets/stylesheets\A          /Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/susy-2.2.5/sass\A          /Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/bitters-1.0.0/app/assets/stylesheets\A          /Applications/software/Prepros.app/Contents/Resources/app/ruby/ruby_gems/gems/compass-core-1.0.3/stylesheets\A          Compass::SpriteImporter\A         on line 1 of _partner-account.scss\A \A 1: @import 'utils/variables';\A 2: .partner-account{\A 3: 	position: relative;\A 4: 	height: 100px;\A 5: 	background: #FF5B54;\A 6: 	color: #fff;"; }
