.brand-top{
	padding-left: 12px * 2 / 750 * 640;
	padding-bottom: 15px * 2 / 750 * 640;
	border-bottom:0.5px * 2 / 750 * 640 solid #E6E7E8;
	margin-bottom: 15px * 2 / 750 * 640;
	background: #fff; 
}
.brand-top ul{
	white-space: nowrap;
	font-size: 0;
	overflow-x: auto;
	padding-right: 12px * 2 / 750 * 640;
}
.brand-top li{
	display: inline-block;
	margin-right:2px * 2 / 750 * 640;
	width: 105px * 2 / 750 * 640;
	background: #fff;
	position: relative;
}
.brand-top li:last-child{
	margin-right:0;
}
.brand-top img{
	width:105px  * 2 / 750 * 640;
	height:165px  * 2 / 750 * 640;
}
.brand-top-tag{
	font-size:9px  * 2 / 750 * 640;
	color:#fff;
	width:38px  * 2 / 750 * 640;
	padding-left:5px  * 2 / 750 * 640;
	height:15px  * 2 / 750 * 640;
	line-height: 15px  * 2 / 750 * 640;
	background: #FF0000;
	position: absolute;
	left: 0;
	top: 0;
	font-weight: bold;
	margin-bottom: 15px  * 2 / 750 * 640;
}

.brand-top-tag:after{
	content:'\200B';
	border-width: 7.5px * 2 / 750 * 640 4px  * 2 / 750 * 640;
	border-style: solid;
	border-color: transparent #F8F8F8 transparent transparent;
	position: absolute;
	right: -1px;
	top: 0;
	width: 0;
	height: 0;
}
.brand-top li:nth-child(n+4) .brand-top-tag {
  background: #FFE0E0;
  color: #E30A0A; 
}