@import "../brand-focus/index.css";
.brand-detail-focus{
	background: #fff;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.brand-detail-focus h2{
	margin-bottom: 0;
}
.brand-detail-focus p{
	line-height: 1.5;
	color: #9B9B9B;
	margin: 0 30px;
}
.brand-focus-r1{
	border-bottom: none;
}
