/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
@mixin downloadapp($i){
  .downloadapp{
    height: 84px * $i;
  }
  .downloadapp-close{
    margin:0 8px * $i;
  }
  .downloadapp-c1{
    margin-left: 8px * $i;
    line-height: 16px * $i;
  }
  .downloadapp-c2{
    width: 46px * $i;
    height: 26px * $i;
    line-height: 26px * $i;
    margin-right: 8px * $i;
    font-size: 13px * $i;
    border-radius: 4px * $i;
    border: 1px * $i solid #e62117;
  }
  .downloadapp-c1r3{
    margin-top:3px * $i;
    width: 62px * $i;
  }
  .downloadapp-c1r1{
    font-size: 14px * $i;
  }
  .downloadapp-logo{
    width: 64px * $i;
  }
}

.downloadapp{
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items:center;
  background: #f8f8f8;
  width: 100%;
}
.downloadapp-c1{
  flex:1;
}
.downloadapp-c1r1{
  color:#000;
}
.downloadapp-c1r2{
  color:#666;
}
.downloadapp-c2{
  display: inline-block;
  color: #e62117;
  background: #fff;
  text-align: center;
}
.downloadapp-c2:visited{
  color: #e62117;
}
@include downloadapp(1);
@media screen and (min-width:640px){
  @include downloadapp(2);
}