/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
@mixin nataral-brand($i){
  .nataral-h2{
    font-size: 15px * $i;
    padding-bottom: 10px * $i;
    padding-top: 20px * $i;
    padding-left: 10px * $i;
    border-bottom: 1px solid #e4e4e4;
  }
  .nataral-h2:before{
    content: '';
    display: inline-block;
    margin-right: 5px * $i;
    width: 3px * $i;
    height: 12px * $i;
    background: #ff5b54;
  }
  .nataral-brand li{
    height: 43px * $i;
    line-height: 43px * $i;
    padding:0 20px * $i;
    font-size: 14px * $i;
  }

  .nataral-brand li .icon{
    width: 0px * $i;
    margin-right: 18px * $i;
  }
  .nataral-brand li.active .icon{
    width: 18px * $i;
  }
  .nataral-brand-h{
    padding-right: 10px * $i;
  }
  .nataral-brand-h-icon{
    vertical-align: 3px * $i;
    width: 8px * $i;
    height: 8px * $i;
    margin-left: 6px * $i;
  }
  .nataral-brand-select h2{
    padding-top: 10px * $i;
  }
  .nataral-brand-select ul{
    box-shadow: 0 3px * $i 3px * $i rgba(125,125,125,0.18);
  }
}


.nataral-brand li{
  background: #fff;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content:space-between;
  align-items:center;
  
}

.nataral-brand li .icon{
  transition:all 0.3s;
}
.nataral-brand li a{
  display: block;
}
.nataral-brand li.active .icon{
  display: block;
  margin-right: 0;
}
.nataral-brand li.active a{
  color: #FF5B54
}
.nataral-brand-h{
  display: flex;
  justify-content:space-between;
  align-items:center;
  background: #fafafa;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.nataral-brand-h-icon{
  content: '';
  display: inline-block;
  border-left: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  transform: rotate(-45deg);
  transition:all 0.3s ease-in;
}
.nataral-brand-select h2{
  border-bottom: none;
}
.nataral-brand-select ul{
  position: absolute;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  transform:rotateX(-90deg);
  transform-origin:center top;
  transition:all 0.3s ease-in;
}
.nataral-brand-select.active ul{
  transform:rotateX(0deg);
  
}
.nataral-brand-select.active .nataral-brand-h-icon{
  transform: rotate(-225deg);
}

@include nataral-brand(1);
@media screen and (min-width:640px){
  @include nataral-brand(2);
}