/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
.qrcode{
  text-align: center;
  margin-left: 27px;
  margin-right: 18px;
  padding-top:25px;
}
.qrcode img{
  margin-right: 8px;
}
.qrcode-c1{
  overflow: hidden;
  font-size: 13px;
  line-height: 18px;
  color: #666;
  padding:17px 0;
}