<section class="gift-coupon">
    <h2 class="gift-coupon-h2">原汁原味开业优惠礼包</h2>
    <ul class="coupons">
      <li class="clearfix">
        <div class="coupons-c2 fr">
          <div class="coupons-c2r1">￥<span>3</span></div>
          <div class="coupons-c2r2">满39元立减</div>
        </div>
        <div class="coupons-c1">
          <p>有效期：自领取后30天内有效</p>
          <h2>仅限原汁原味商品</h2>
        </div>
      </li>
      <li class="clearfix">
        <div class="coupons-c2 fr">
          <div class="coupons-c2r1">￥<span>3</span></div>
          <div class="coupons-c2r2">满39元立减</div>
        </div>
        <div class="coupons-c1">
          <p>有效期：自领取后30天内有效</p>
          <h2>仅限原汁原味商品</h2>
        </div>
      </li>
      <li class="clearfix">
        <div class="coupons-c2 fr">
          <div class="coupons-c2r1">￥<span>5</span></div>
          <div class="coupons-c2r2">满59元立减</div>
        </div>
        </div>
        <div class="coupons-c1">
          <p>有效期：自领取后30天内有效</p>
          <h2>仅限原汁原味商品</h2>
        </div>
      </li>
      <li class="clearfix">
        <div class="coupons-c2 fr">
          <div class="coupons-c2r1">￥<span>5</span></div>
          <div class="coupons-c2r2">满59元立减</div>
        </div>
        </div>
        <div class="coupons-c1 clearfix">
          <p>有效期：自领取后30天内有效</p>
          <h2>仅限原汁原味商品</h2>
        </div>
      </li>
      <li class="clearfix">
        <div class="coupons-c2 fr">
          <div class="coupons-c2r1">￥<span>100</span></div>
          <div class="coupons-c2r2">满499元立减</div>
        </div>
        </div>
        <div class="coupons-c1 clearfix">
          <p>有效期：自领取后30天内有效</p>
          <h2>仅限原汁原味商品</h2>
        </div>
      </li>
    </ul>
    {{^if hasGetLift}}
      <a href="javascript:;" class="btn btn-big btn-danger" id="getcoupon">领取优惠券礼包</a>
    {{/if}}

    {{#if hasGetLift}}
      <a href="javascript:;" class="btn btn-big btn-disable">已经领取</a>
    {{/if}}

    <h2 class="gift-coupon-h2">领券抵扣商品：</h2>
    <ul class="list clearfix">
      <li>
        <a href="detail.html">
          <div class="list-r1 vertical-middle">
            <img src="../img/list.jpg" alt="">

            <div class="mask">
              <span class="icon icon5 center">售完</span>
            </div>
          </div>
          <div class="list-b">
            <h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
            <div class="list-r3 clearfix">
              <div class="list-r3c1 fl"><span class="list-price">¥1280</span></div>

            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="detail.html">
          <div class="list-r1 vertical-middle">
            <img src="../img/list.jpg" alt="">

            <div class="mask">
              <span class="icon icon5 center">售完</span>
            </div>
          </div>
          <div class="list-b">
            <h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
            <div class="list-r3 clearfix">
              <div class="list-r3c1 fl"><span class="list-price">¥1280</span></div>
            </div>
          </div>
        </a>

      </li>
      <li>
        <a href="detail.html">
          <div class="list-r1 vertical-middle">
            <img src="../img/list.jpg" alt="">

            <div class="mask">
              <span class="icon icon5 center">售完</span>
            </div>
          </div>
          <div class="list-b">
            <h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
            <div class="list-r3 clearfix">
              <div class="list-r3c1 fl"><span class="list-price">¥1280</span></div>

            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="detail.html">
          <div class="list-r1 vertical-middle">
            <img src="../img/list.jpg" alt="">

            <div class="mask">
              <span class="icon icon5 center">售完</span>
            </div>
          </div>
          <div class="list-b">
            <h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
            <div class="list-r3 clearfix">
              <div class="list-r3c1 fl"><span class="list-price">¥1280</span></div>
            </div>
          </div>
        </a>

      </li>
    </ul>
    <a href="http://m.sfht.com/y.html" class="btn btn-big btn-danger">更多商品去原汁原味逛逛</a>
  </section>
  <section class="coupon-use box">
    <h2>优惠券使用规则</h2>
    <ul>
      <li>优惠券有效期：2015.4.29-2015.6.30</li>
      <li>每个顺丰海淘账户限领一张</li>
      <li>该优惠券适用于顺丰海淘所有商品，满68元即可使用</li>
    </ul>
  </section>
  <section class="mask gift-coupon-dialog" style="display:none" id="successdialog">领取成功</section>