<section class="gift-coupon">
    <h2 class="gift-coupon-h2">原汁原味开业优惠礼包</h2>
    <ul class="coupons">
      <li class="clearfix">
        <div class="coupons-c2 fr">
          <div class="coupons-c2r1">￥<span>3</span></div>
          <div class="coupons-c2r2">满39元立减</div>
        </div>
        <div class="coupons-c1">
          <h2>3元优惠券</h2>
          <p>
            有效期：自领取后30天内有效<br>仅限原汁原味商品
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="coupons-c2 fr">
          <div class="coupons-c2r1">￥<span>3</span></div>
          <div class="coupons-c2r2">满39元立减</div>
        </div>
        <div class="coupons-c1">
          <h2>3元优惠券</h2>
          <p>
            有效期：自领取后30天内有效<br>仅限原汁原味商品
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="coupons-c2 fr">
          <div class="coupons-c2r1">￥<span>5</span></div>
          <div class="coupons-c2r2">满59元立减</div>
        </div>
        </div>
        <div class="coupons-c1">
          <h2>5元优惠券</h2>
          <p>
            有效期：自领取后30天内有效<br>仅限原汁原味商品
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="coupons-c2 fr">
          <div class="coupons-c2r1">￥<span>5</span></div>
          <div class="coupons-c2r2">满59元立减</div>
        </div>
        </div>
        <div class="coupons-c1 clearfix">
          <h2>5元优惠券</h2>
          <p>
            有效期：自领取后30天内有效<br>仅限原汁原味商品
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="coupons-c2 fr">
          <div class="coupons-c2r1">￥<span>100</span></div>
          <div class="coupons-c2r2">满499元立减</div>
        </div>
        </div>
        <div class="coupons-c1 clearfix">
          <h2>100元优惠券</h2>
          <p>
            有效期：自领取后30天内有效<br>仅限原汁原味商品
          </p>
        </div>
      </li>
    </ul>
    {{^if hasGetLift}}
      <a href="javascript:;" class="btn btn-big btn-danger" id="getcoupon">领取优惠券礼包</a>
    {{/if}}

    {{#if hasGetLift}}
      <a href="javascript:;" class="btn btn-big btn-disable">已经领取</a>
    {{/if}}

    <h2 class="gift-coupon-h2">领券抵扣商品：</h2>
    <ul class="list clearfix">
      <li>
        <a href="http://m.sfht.com/detail/1546.html#!&tag=init">
          <div class="list-r1 vertical-middle">
            <img src="http://img.sfht.com/sfhth5/1.1.25/img/taiwancouponrecommand1.png" alt="">
          </div>
          <div class="list-b">
            <h2 class="ellipsis2">樱桃爷爷 经典原味手工牛轧糖 500g+100g</h2>
            <div class="list-r3 clearfix">
              <div class="list-r3c1 fl"><span class="list-price">¥88</span></div>

            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="http://m.sfht.com/detail/1529.html#!&tag=init">
          <div class="list-r1 vertical-middle">
            <img src="http://img.sfht.com/sfhth5/1.1.25/img/taiwancouponrecommand2.png" alt="">
          </div>
          <div class="list-b">
            <h2 class="ellipsis2">裕珍馨 奶油小酥餅 牛奶 12入</h2>
            <div class="list-r3 clearfix">
              <div class="list-r3c1 fl"><span class="list-price">¥59</span></div>
            </div>
          </div>
        </a>

      </li>
      <li>
        <a href="http://m.sfht.com/detail/1561.html#!&tag=init">
          <div class="list-r1 vertical-middle">
            <img src="http://img.sfht.com/sfhth5/1.1.25/img/taiwancouponrecommand3.png" alt="">
          </div>
          <div class="list-b">
            <h2 class="ellipsis2">我的美丽日记 玻尿酸保湿原液面膜 2盒共16片</h2>
            <div class="list-r3 clearfix">
              <div class="list-r3c1 fl"><span class="list-price">¥89</span></div>

            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="http://m.sfht.com/detail/1533.html#!&tag=init">
          <div class="list-r1 vertical-middle">
            <img src="http://img.sfht.com/sfhth5/1.1.25/img/taiwancouponrecommand4.png" alt="">
          </div>
          <div class="list-b">
            <h2 class="ellipsis2">Miss Hana不晕染防水眼线胶笔(铁盒珍藏版) 200g</h2>
            <div class="list-r3 clearfix">
              <div class="list-r3c1 fl"><span class="list-price">¥75</span></div>
            </div>
          </div>
        </a>

      </li>
    </ul>
    <a href="http://m.sfht.com/y.html" class="btn btn-big btn-danger">更多商品去原汁原味逛逛</a>
  </section>
  <section class="coupon-use box">
    <h2>优惠券使用规则</h2>
    <ul>
      <li>活动时间：2015.4.29-2015.5.28</li>
      <li>优惠券有效期：自优惠券领取成功后一个月内有效</li>
      <li>每个顺丰海淘账户限领一份优惠券礼包</li>
      <li>该优惠券适用于顺丰海淘原汁原味频道所有台湾商品</li>
    </ul>
    <br>
    <h2>支付宝服务窗下单发券规则</h2>
    <ul>
      <li>通过“支付宝海淘优惠码”服务窗访问顺丰海淘</li>
      <li>成功下单后，将在7个工作日内发券至顺丰海淘账户</li>
      <li>本券总额100元，含满58减5元券2张、满99元减10元券2张、满188元减20元券2张、满258元减30元券1张</li>
      <li>本券使用规则详见顺丰海淘，我的优惠券</li>
    </ul>
  </section>
  <section class="mask gift-coupon-dialog" style="display:none" id="successdialog">领取成功</section>