/*
@styleguide

# 老拉新奖励奖励

*/
.reward-btn-box{
	position: fixed;
	bottom: 20px;
	left: 31px;
	right: 31px; 
}
.reward-btn{
  display: block;
  background: url(http://img0.fengqucdn.com/cmsres/20160411/2b1c75e0-cec0-4331-b0e5-c1f6852812c3.png) 0 0 no-repeat;
  width: 579px;
  height: 96px;
  vertical-align: middle;
}