{{#sf-is-empty scopeGroups}}
<section class="cart-none">
    <p>购物车空空如也～</p>
    <a href="/index.html" class="btn btn-normal btn-radius">去逛逛</a>

    {{^sf-is-login}}
    <a href="/login.html" class="btn btn-normal btn-radius">去登录</a>
    {{/sf-is-login}}
</section>
{{/sf-is-empty}}

{{^sf-is-empty scopeGroups}}

{{#scopeGroups}}

<article class="cart">

{{#sf-cart-type goodItemList 'avail'}}
<section class="sf-h5-avail-cart">
    <ul>
        {{#goodItemList}}
        <li class="{{#isSelected}}active{{/isSelected}}" {{data 'good'}}>
            <div class="cart-inner">
                <span class="icon icon49 select-item"></span>

                <a href="/detail/{{itemId}}.html">
                    <img src="{{sf-show-img images}}" alt="">
                </a>

                <div class="cart-c1">
                    <a href="/detail/{{itemId}}.html">
                        <h2 class="ellipsis2">{{title}}</h2>
                    </a>
                    <div class="input-num">
                        <button class="btn minus-num">-</button>
                        <input class="input-num" type="text" value="{{quantity}}">
                        <button class="btn plus-num">+</button>
                    </div>
                </div>
                <div class="cart-c2">
                    <div class="cart-num">X1</div>
                    <div class="text-important">¥{{sf-selling-price canUseActivityPrice activityPrice price}}</div>

                    {{#canUseActivityPrice}}
                    <del>¥{{sf.price price}}</del>
                    {{/canUseActivityPrice}}
                </div>
            </div>

            {{#promotionInfo.promotionList}}
            <div class="text-orange">{{ruleDesc}}</div>
            {{/promotionInfo.promotionList}}

            <button class="btn btn-danger remove-item-btn">删除</button>
            <span class="text-error" style="display:none;"></span>
        </li>
        {{/goodItemList}}
    </ul>
</section>
{{/sf-cart-type}}

{{#sf-cart-type goodItemList 'disable'}}
<section class="sf-h5-disable cart-disable">
    <ul class="cart-disable">
        {{#goodItemList}}
        <li>
            <div class="cart-inner">
                <span class="label label-disabled">售罄</span>
                <img src="{{sf-show-img images}}" alt="">

                <div class="cart-c1">
                    <h2 class="ellipsis2">{{title}}</h2>
                </div>

                <div class="cart-c2">
                    <div class="cart-num">X{{quantity}}</div>
                    <div class="text-important">¥{{sf.price price}}</div>
                </div>
            </div>
            <button class="btn btn-danger remove-item-btn">删除</button>
        </li>
        {{/goodItemList}}
    </ul>
</section>
{{/sf-cart-type}}

{{/scopeGroups}}

{{#sf-is-over-pay cartFeeItem.actualTotalFee limitAmount}}
<div class="alert-error">亲，海关规定购买多件商品价格总结算不能超过¥1000，请您分多次购买～</div>
{{/sf-is-over-pay}}

<section class="cart-footer">
    <div class="cart-footer-r1">

        <div class="cart-footer-c1 select-all-items">
            <span class="icon icon49" style="{{#sf-select-all scopeGroups}}background-position: -255px -249px;{{/sf-select-all}}"></span>全选
        </div>

        <div class="cart-footer-c2">
            <div class="text-important">¥{{sf.price cartFeeItem.actualTotalFee}}</div>
            <div class="cart-footer-save">已省：¥{{sf.price cartFeeItem.discountFee}}</div>
        </div>

        <button class="btn {{^sf-is-allow-pay scopeGroups cartFeeItem}}btn-disable{{/sf-is-allow-pay}} gotopay" {{#sf-is-allow-pay scopeGroups cartFeeItem}}style="background:#ff9000;"{{/sf-is-allow-pay}} >去结算</button>
    </div>
</section>

{{#sf-is-over-limit totalNum limitGoodsNum}}
<section class="tooltip center overflow-num">
    <div>您的购物车已满{{limitGoodsNum}}件商品，赶紧去买单哦～</div>
</section>
{{/sf-is-over-limit}}

</article>
{{/sf-is-empty}}