<!--商品信息-->

<div class="goodsinfo">
  <h2>商品信息</h2>

  <!--正常商品-->
  {{#orderPackageItemList}}
  <div class="goodinfo-stowage">{{shippingWarehouse}}</div>
  <ul class="goodslist">
      {{#orderGoodsItemList}}
      <li>
          <img src="{{sf-get-img productImage}}">

          <div class="goodslist-c2">
            <h3 class="ellipsis2">
              {{#isShowSeckill goodsType}}<span class="goods-seckill">秒杀商品</span>{{/isShowSeckill}}
              {{goodsName}}
            </h3>
          </div>

          <div class="goodslist-c1">
              <div class="orderlist-num">x{{quantity}}</div>
              <div class="text-important">¥{{sf.price price}}</div>
          </div>
      </li>
      {{/orderGoodsItemList}}
  </ul>
  {{/orderPackageItemList}}

</div>

<div class="goodslist-disable">
    <!--不能正常下单商品-->
    {{#if invariableGoodsItemList}}
    {{#invariableGoodsItemList}}
    <ul class="goodslist">

        {{^if flag}}<div class="text-error"><span class="icon icon53"></span>{{description}}</div>{{/if}}
        <li style="padding: 14px 10px 14px;">
            <img src="{{sf-get-img productImage}}">

            <div class="goodslist-c2">
              <h3 class="ellipsis2">
                {{goodsName}}
              </h3>
            </div>

            <div class="goodslist-c1">
                <div class="orderlist-num">X{{quantity}}</div>
                <div class="text-important">¥{{sf.price price}}</div>
            </div>
        </li>

    </ul>
    {{/invariableGoodsItemList}}
    {{/if}}
</div>
<!--商品信息-->

<div class="coupon-use">
	<div class="coupon-use-h">
		<h2>使用优惠券</h2><a href="javascript:" id="inputCouponCode">输入兑换码</a>
	</div>
	<div class="coupon-use-b">
		<select id="selectCoupon" class="select">
      <option value="" data-price="0" selected="selected">不使用优惠券</option>
			{{#each orderCoupon.avaliableCoupons}}
        <option value="{{couponCode}}" data-code="{{couponCode}}" data-price="{{price}}">{{couponDescription}}</option>
			{{/each}}
		</select>
	</div>
</div>
<section class="integral-use">
    <div class="integral-use-r1">
        <div>可用积分：<span class="text-important">{{totalPoint}}</span>点</div>
        <div>抵<span class="text-important">¥{{sf.price totalPointPrice}}</span></div>
        <a href="javascript:" class="switch"></a>
    </div>
    <div class="integral-use-r2" style="display: none;">使用<input type="text" class="input" value="0" id="pointUsed">点，抵<span class="text-important" id="pointToMoney">- ¥0.0</span></div>
</section>
<!-- <ul class="order-r3 box">
	<li>商品总金额￥{{sf.price orderFeeItem.goodsTotalFee}}{{#if showTax}} + 税额￥0{{/if}} + 运费￥0</li>
	<li>-促销活动立减￥{{sf.price orderFeeItem.discount}} - 优惠券￥{{sf.price orderCoupon.discountPrice}}</li>
</ul> -->
<ul class="order-r3 box">
<li class="order-first-buy-tips">若符合首单减优惠条件，活动优惠将在提交订单后减免</li>
  <li>免运费</li>
  <li>优惠券折扣：-￥{{sf.price orderCoupon.discountPrice}}</li>
  <li>活动优惠：-￥{{sf.price orderFeeItem.discount}}</li>
    <li>积分抵扣：-￥{{pointForUsed}}</li>
  <li>商品总金额：￥{{sf.price orderFeeItem.goodsTotalFee}}</li>
   {{! <li>可获得海淘积分：{{sf.price getpoint}}{{! </li> }}
</ul>

{{^flag}}
<div class="order-error">{{^flag}}<span>!</span>{{errorDes}}{{/flag}}
{{/flag}}


<section class="nav-cart">
  <div class="nav-cart-r1 order-submit">
  	<p class="order-submit-c1">实际应付款: <span class="text-important">¥{{sf-show-shouldPay orderFeeItem.shouldPay}}</span></p>
  	<a class="btn btn-danger{{^flag}} btn-disable{{/flag}}" id="submitOrder" href="javascript:void(0);">提交订单</a>
  </div>
</section>

<section class="mask dialog dialog-active hide" id="couponCodeDialog">
	<div class="center">
		<a href="javascript:" class="icon icon15">关闭</a>
		<h2>输入兑换码</h2>
		<div class="dialog-active-b">
			<input class="input" placeholder="输入您的兑换码">
			<button class="btn btn-big btn-disable">使用</button>
      <div class="text-error"></div>
		</div>
	</div>
</section>


<section class="mask dialog dialog1 hide" id="couponCodeDialogSuccess">
  <div class="center">
    <h2>恭喜你，优惠券已领取成功!</h2>
    <!--<h2>亲，你已领过该优惠券了哦！</h2>-->
    <!--<p>2015.3.20－2015.4.1</p>-->
		<button class="btn btn-normal warnning">确定</button>
		<a href="javascript:" class="icon icon15">关闭</a>
	</div>
</section>