<section class="order">
  <div class="clearfix order-h">
  <h2 class="fl order-hc1">收货地址</h2>
  <div class="fr order-hc2">
    <a class="btn btn-normal addrecaddr" href="">添加</a>
    <a class="btn btn-normal" href="/recaddrmanage.html">管理</a>
  </div>
</div>

<ul id="addrList">
{{#each addressList}}
    <li class="box {{active}} box-address" name="addrEach" data-addressid="{{addrId}}" data-index="{{@index}}">
        <h3>{{recName}}</h3>
        <div class="box-address-r1"><span>{{credtNum}}</span>{{cellphone}}</div>
        <p><span>{{nationName}}</span><span>{{provinceName}}</span><span>{{cityName}}</span><span>{{regionName}}</span><span>{{detail}}</span><span>{{zipCode}}</span></p>
        <span class="icon icon8"></span>
    </li>
{{/each}}
</ul>

{{#if showMore}}
<div class="order-r2 box"><a href="javascript:void(0)" id="viewmore">展开更多收获信息<br><span class="icon icon9"></span></a></div>
{{/if}}
</section>