  <!--订单详情-->
  <section class="orderdetail" id="orderdetail">
    {{#if needShowTips}}<div class="orderdetail-r1">{{{uploadIDCardTips}}}</div>{{/if}}
    <ul class="box orderdetail-r2 clearfix">
      <li>订单号：{{orderId}}</li>
      <li><time>{{sf.time gmtCreate "YYYY-MM-DD HH:mm"}}</time></li>
      <li>订单总额：<span class="text-error">￥{{sf.price shouldPayPrice}}</span></li>
      <li><span class="text-error">{{status}}</span> {{{operationHTML}}}</li>
    </ul>
    <div class="orderdetail-r3">
      <a href="javascript:void(0)" id="viewUserRoutes">
        <time>{{firstRoute.gmtHappened}}</time> {{firstRoute.description}} {{firstRoute.operator}}
        {{#if firstRoute}}
          <span class="icon icon13 center-vertical"></span>
        {{else}}
          暂无物流信息
        {{/if}}
      </a>
    </div>
    <div class="box info">
      <ul class="info-r1">
        <li>
          <div class="fl info-r1c1">收货人：</div>
          <div class="info-r1c2">{{receiveInfo.receiveName}}</div>
        </li>
        <li>
          <div class="fl info-r1c1">身份证：</div>
          <div class="info-r1c2">{{receiveInfo.certNo}} </div>
        </li>
        <li>
          <div class="fl info-r1c1">手　机：</div>
          <div class="info-r1c2">{{receiveInfo.mobile}}</div>
        </li>
        <li>
          <div class="fl info-r1c1">地　址：</div>
          <div class="info-r1c2">
          <span>{{receiveInfo.country}}</span><span>{{receiveInfo.province}}</span><span>{{receiveInfo.city}}</span><span>{{receiveInfo.region}}</span><span>{{receiveInfo.detailAddress}}</span></div>
        </li>
        <li>
          <div class="fl info-r1c1">邮　编：</div>
          <div class="info-r1c2">{{receiveInfo.zipCode}}</div>
        </li>
      </ul>
      <ul class="info-r2">
        <li>支付方式：在线支付</li>
        <li>配送方式：顺丰配送</li>
      </ul>
    </div>
    <div class="table box goodsinfo">
      <h2>商品信息</h2>
      {{#each productList}}
      <div class="table-r1 clearfix">
        <div class="table-r1c1 fl vertical-middle"><img src="{{sf.img imageUrl}}@63h_63w_100Q_1x.jpg"></div>

        <div class="table-r1c3 fr">
            <div class="goodsinfo-price">¥{{sf.price price}}</div>
            <div class="goodsinfo-num">x{{quantity}}</div>
        </div>
        <div class="table-r1c2 goodsinfo-title">
            <h3 class="ellipsis3">{{goodsName}}</h3>
        </div>
      </div>
      <ul class="clearfix table-r2">
        <li>{{{spec}}}</li>
      </ul>
      {{/each}}
    </div>

    <div class="orderdetail-r4 box">
      <div class="clearfix">
        <div class="orderdetail-r4c1 fl">
          商品总额：<span class="text-important">¥{{sf.price allTotalPrice}}</span><span class="text-disable">优惠：0元</span>
        </div>
        <div class="orderdetail-r4c2">
          {{#if showTax}}
            税额：<span class="text-important">¥0</span>
          {{/if}}
        </div>
      </div>

      <div class="clearfix">
        <div class="orderdetail-r4c1 fl">
          运费：<span class="text-important">¥0</span>
        </div>
        <div class="orderdetail-r4c2 fr">
          {{#if showShouldPayPrice}}<div class="table-fr3">实际应付款：<strong class="text-important">￥{{sf.price shouldPayPrice}}</strong></div>{{/if}}
        </div>
      </div>
    </div>

  </section>
  <!--订单详情-->

  <section class="nav" id="buy">
    <div class="nav-r1">
      <div class="nav-c1 fl">
        <a href="/index.html">
          <span class="icon icon25"></span>
          <div>首页</div>
        </a>
      </div>
      <div class="nav-c1 fl">
        <a href="/center.html">
          <span class="icon icon26"></span>
          <div>我的</div>
        </a>
      </div>
      {{#if showPayButton}}
        <div class="nav-c2"><button class="btn btn-danger btn-big" id="gotopay">立即支付</button></div>
      {{/if}}
    </div>
  </section>

  <section class="order logistics" id="userRoutes" style="display:none">
      <h2>物流跟踪</h2>
      <ul>
      {{#each userRoutes}}
        <li><time>{{gmtHappened}}</time>{{description}} {{operator}}</li>
      {{/each}}
      </ul>
  </section>

  <section class="mask dialog" style="display:none">
    <div class=" center">
      <h2>客服电话：021-69763622</h2>
      <p>工作时间：周一至周日 8:00 - 22:00</p>
      <a class="icon icon14" href="tel:021-69763622"></a>
      <a href="javascript:void(0)" class="icon icon15" id="closeContactMe">关闭</a>
    </div>
  </section>