<section class="orderdetail">
    <section class="orderinfo">
        <h2>订单信息
          {{#sf-status-show-case orderItem.orderStatus 'CANCEL'}}
          <button class="btn btn-normal ordercancel" style="float: right;margin: -10px 0 5px 0;">取消订单</button>
          {{/sf-status-show-case}}
        </h2>
        <div class="orderinfo-b">
          <ul>
            <li><span class="justify">订 单 号</span>：{{orderItem.orderId}}</li>


            <li>
              <span class="justify text-disable">下单时间</span>
              <span class="text-disable">：{{sf.time orderItem.gmtCreate}}</span>
            </li>


            <li>
              <span class="justify">实付金额</span>：
              <span class="text-important">￥{{sf.price totalPrice}}</span>
              {{#if orderItem.payTyp}}<span class="text-disable">({{sf-payment-type orderItem.payType}})</span>{{/if}}

              <!--取消订单-->
              <!-- <span class="text-success">{{sf-pay-status orderItem.paymentStatus}}</span> -->
            </li>
              <li>
                  <span class="justify text-disable">可获积分</span>：{{totalPoint}}
              </li>
            <li>
              <span class="justify text-disable">商品总额</span>：￥{{sf.price orderItem.totalPrice}}
            </li>

            {{#orderItem.discount}}
            <li>
              <span class="justify text-disable">优 惠</span>：￥{{sf.price orderItem.discount}}
            </li>
            {{/orderItem.discount}}

            <li><span class="justify text-disable">优惠券抵</span>：-￥{{sf.price couponReducePrice}}</li>
            <li><span class="justify text-disable">积分抵</span>：-￥{{sf.price pointPrice}}</li>
            {{#orderItem.orderCouponItemList}}

              {{#sf-coupon-type orderAction couponType 'COSTCOUPON'}}
              {{/sf-coupon-type}}

              {{#sf-coupon-type orderAction couponType 'CASH'}}
              <li><span class="justify text-disable">送优惠券</span>：{{couponDescription}}{{couponName}}</li>
              {{/sf-coupon-type}}

              {{#sf-coupon-type orderAction couponType 'GIFTBAG'}}
              <li><span class="justify text-disable">赠送礼包</span>：{{couponDescription}}{{couponName}}</li>
              {{/sf-coupon-type}}

              {{#sf-coupon-type orderAction couponType 'SHAREBAG'}}
              <li>
                <span class="justify text-disable">赠送红包</span>：{{couponDescription}}{{couponName}}
                <a href="http://m.sfht.com/luckymoneyshare.html?id={{code}}" class="btn btn-normal">分享红包</a>
              </li>
              {{/sf-coupon-type}}

            {{/orderItem.orderCouponItemList}}

            <li><span class="justify text-disable">运 费</span>：免运费</li>
          </ul>
            {{! 倒计时 }}

            {{#sf-timmer orderItem.paymentStatus orderItem.orderStatus}}
            <p style="margin-bottom:12px;">
              {{! <span class="text-important">!</span> }}请在
              <span class="text-important" id="pay-timmer">{{orderItem.gmtCreate}}</span>内付款
            </p>
             {{/sf-timmer}}

            <a class="text-link">
              <span id="orderdetail-more">查看更多</span>
              <span class="icon icon52"></span>
            </a>
          </div>
        <!--收货人信息-->
        <div class="info">
            <ul class="info-r1">
                <li>
                    <div class="fl info-r1c1 justify">收货人：</div>
                    <div class="info-r1c2">{{orderItem.orderAddressItem.receiveName}}</div>
                </li>
                <li>
                    <div class="fl info-r1c1 justify">手 机：</div>
                    <div class="info-r1c2">{{orderItem.orderAddressItem.mobile}}</div>
                </li>
                <li>
                    <div class="fl info-r1c1 justify">地 址：</div>
                    <div class="info-r1c2">
                      <span>{{orderItem.orderAddressItem.country}}</span>
                      <span>{{orderItem.orderAddressItem.province}}</span>
                      <span>{{orderItem.orderAddressItem.city}}</span>
                      <span>{{orderItem.orderAddressItem.region}}</span>
                      <span>{{orderItem.orderAddressItem.detailAddress}}</span>
                    </div>
                </li>
                <!--
                <li>
                    <div class="fl info-r1c1 justify">邮 编：</div>
                    <div class="info-r1c2">{{orderItem.orderAddressItem.zipCode}}</div>
                </li>
                -->
            </ul>
        </div>
        <!--收货人信息-->
    </section>

    {{#sf-show-status-cancelled orderItem.orderStatus}}
    <div class="orderdetail-cancel">
      <span class="icon icon53"></span>
      <p>尊敬的用户，由于我们在2小时内未收到您的订单款项，订单已被自动取消。</p>
      <p class="text-disable">订单取消规则：订单会为您保留2小时（从下单算起），2小时后系统将自动取消未付款的订单。</p>
    </div>
    {{/sf-show-status-cancelled}}

    <!--商品信息-->
    <ul class="orderdetail-bag">
        {{#each orderItem.orderPackageItemList}}
        <li>
            <div class="orderdetail-bag-r1">
                <h2>包裹{{sf-index @index}}
                  <span class="text-important">{{sf-package-status status}}</span>
                </h2>
                <div class="text-disable">{{shippingWarehouse}}</div>
            </div>
            <div class="box box1">
                <a href="#!&packageNo={{@index}}&orderid={{orderItem.orderId}}" class="box-link">
                    <div>物流信息</div>
                    {{#sf-first actionTraceItemList}}
                    <time>{{sf.time gmtHappened}}</time>
                    {{#if takePlace}}
                    <p>[{{takePlace}}]:{{status}}</p>
                    {{else}}
                    <p>{{status}}</p>
                    {{/if}}
                    {{/sf-first}}
                </a>

                <span class="icon icon13 box-arrow center-vertical"></span>
            </div>
            <h3>商品信息</h3>
            <ul class="goodslist">
                {{#orderGoodsItemList}}
                <li>
                    <a {{^isShowSeckill goodsType}}href="http://m.sfht.com/detail/{{itemId}}.html"{{/isShowSeckill}}>
                      <img src="{{sf-image imageUrl}}">
                    </a>

                    <div class="goodslist-c2">
                      <h3 class="ellipsis2">
                        {{#isShowSeckill goodsType}}<span class="goods-seckill">秒杀商品</span>{{/isShowSeckill}}
                        <a {{^isShowSeckill goodsType}}href="http://m.sfht.com/detail/{{itemId}}.html"{{/isShowSeckill}}>{{goodsName}}</a>
                      </h3>
                    </div>

                    <div class="goodslist-c1">
                        <div class="orderlist-num">x{{quantity}}</div>
                        <div class="text-important">¥{{sf.price price}}</div>
                    </div>
                </li>
                {{/orderGoodsItemList}}
            </ul>
            {{#sf-show-refundtax transporterName status}}           
            <div class="refund-tax-wrap">

              {{^sf-refundtax refundtax}}
              <div class="refund-tax-wrap-r1"></div>
              <button data-tag={{@index}} class="btn btn-disable btn-refundtax">申请返还税金</button>
              {{/sf-refundtax}}

              {{#sf-refundtax refundtax}}
              {{#refundTaxStatus refundtax 'AUDITING'}}
              <div class="refund-tax-wrap-r1">退税申请：<span class="text-important">资料已上传 —— 审核中</span></div>
              {{/refundTaxStatus}}
  
              {{#refundTaxStatus refundtax 'AUDIT_FAIL'}}
              <div class="refund-tax-wrap-r1">退税申请：<span class="text-important">审核失败（{{refundtax.failReason}}）</span></div>
              <button data-tag={{@index}} class="btn btn-disable btn-refundtax">重新申请</button>
              {{/refundTaxStatus}}

              {{#refundTaxStatus refundtax 'REFUND_SUCCESS'}}
              <div class="refund-tax-wrap-r1">退税申请：<span class="text-important">税金返还完成</span></div>
              {{/refundTaxStatus}}           
              {{/sf-refundtax}}
            </div>
            {{/sf-show-refundtax}}
        </li>
        {{/each}}

    </ul>
    <!--商品信息-->
</section>


{{#each orderItem.orderPackageItemList}}
<section class="order logistics logistics-{{@index}}" style="display:none">
    {{#sf-show-logisticsinfo status}}
    <div class="order-logistics-info">
      <span>物流公司：<i>{{transporterDesc}}</i></span>
      <span>承运单号：<i>{{logisticsNo}}</i></span>
    </div>
    {{/sf-show-logisticsinfo}}
    {{^sf-show-logisticsinfo status}}
    <h2>物流跟踪</h2>
    {{/sf-show-logisticsinfo}}
    <ul>
    {{#sf-reverse actionTraceItemList}}
      {{#each group}}
      <li>
        <time>{{gmtHappened}}</time>
        {{#if takePlace}}
        [{{takePlace}}]:{{status}}
        {{else}}
        {{status}}
        {{/if}}
      </li>
      {{/each}}
    {{/sf-reverse}}
    </ul>
</section>
{{/each}}


{{#sf-status-show-case orderItem.orderStatus 'NEEDPAY'}}
<!--立即购买-->
<section class="nav">
    <div class="nav-r1">
        <div class="nav-c2">
            <button class="btn btn-danger btn-big gotopay">立即付款</button>
        </div>
    </div>
</section>
<!--立即购买-->
{{/sf-status-show-case}}

{{#sf-status-show-case orderItem.orderStatus 'RECEIVED'}}
<!--确认收货-->
<section class="nav">
    <div class="nav-r1">
        <div class="nav-c2">
            <button class="btn btn-success btn-big received">确认收货</button>
        </div>
    </div>
</section>
<!--确认收货-->
{{/sf-show-paybtn}}
