<div class="table box goodsinfo">
  <h2>商品信息</h2>
	{{#each orderGoodsItemList}}
  <div class="table-r1 clearfix{{^flag}} disable{{/flag}}">
    <div class="table-r1c1 fl vertical-middle"><img src="{{sf.img productImage.thumbImgUrl}}"></div>
    <div class="table-r1c3 fr">
      <div class="goodsinfo-price">¥{{sf.price price}}</div>
      <div class="goodsinfo-num">x{{quantity}}</div>
    </div>
    <div class="table-r1c2 goodsinfo-title">
      <h3 class="ellipsis3">{{goodsName}}</h3>
      <div class="text-error">{{#flag}}{{description}}{{/flag}}</div>
    </div>
  </div>
  <ul class="clearfix table-r2">
		{{{spec}}}
  </ul>
	{{/each}}
  <div class="goodsinfo-r1">免运费</div>
</div>

{{#orderCoupon.isHaveAvaliable}}
<div class="coupon-use">
	<div class="coupon-use-h">
		<h2>使用优惠券</h2><!--<a href="javascript:">输入兑换码</a>-->
	</div>
	<div class="coupon-use-b">
		<select id="selectCoupon" class="select">
      <option value="" data-price="0" selected="selected">不使用优惠券</option>
			{{#each orderCoupon.avaliableCoupons}}
          <option value="{{couponCode}}" data-price="{{price}}">{{couponDescription}}</option>;
			{{/each}}
		</select>
	</div>
</div>
{{/orderCoupon.isHaveAvaliable}}

<ul class="order-r3 box">
	<li>商品总金额￥{{sf.price orderFeeItem.goodsTotalFee}}{{#if showTax}} + 税额￥0{{/if}} + 运费￥0</li>
	<li>-促销活动立减￥{{sf.price orderFeeItem.discount}} - 优惠券￥{{sf.price orderCoupon.discountPrice}}</li>
</ul>

<div class="order-submit box">
	<p class="order-submit-c1">实际应付款: <span class="text-important">¥{{sf.price orderFeeItem.shouldPay}}</span></p>
	<a class="btn btn-danger{{^flag}} disable{{/flag}}" id="submitOrder" href="javascript:void(0);">提交订单</a>
  <div class="text-error">{{^flag}}{{errorDes}}{{/flag}}</div>
</div>