<!--订单列表-->
<section class="tab">
    <div class="tab-h">
        <ul class="status-list">
            <li class="{{sf-is-active status ''}}"><a href="#" data-status="all">所有订单</a></li>
            <li class="{{sf-is-active status 'SUBMITED'}}"><a href="#" data-status="submited">待付款</a></li>
            <li class="{{sf-is-active status 'WAIT_SHIPPING'}}"><a href="#" data-status="waitshipping">待发货</a></li>
            <li class="{{sf-is-active status 'SHIPPING'}}"><a href="#" data-status="shipping">待收货</a></li>
        </ul>
    </div>

    <ul class="orderlist">

        {{^if orders}}

        <section class="orderlist-none">
          <span class="icon icon55"></span>
          <p>您当前还没有任何订单～</p>
          <a href="/index.html" class="btn btn-normal btn-radius">去逛逛</a>
        </section>


        {{else}}

        {{#orders}}
        <li {{data 'order'}}>
            <div class="box box1">
              <a href="/orderdetail.html?orderid={{orderId}}" class="box-link">订单号: {{orderId}}</a>
              <span class="icon icon13 box-arrow center-vertical"></span>
            </div>
            {{#each orderPackageItemList}}
            <div class="orderlist-bag">
                <div class="orderlist-bag-r1">
                    <h2>包裹{{sf-index @index}}
                      <span class="text-important">{{sf-package-status status}}</span>
                    </h2>
                    <a href="/orderdetail.html?orderid={{orderId}}#!&packageNo={{packageNo}}" class="text-link">查看物流</a>
                </div>
                <ul class="goodslist">
                    {{#orderGoodsItemList}}
                    <li>
                        <a href="/detail/{{itemId}}.html">
                          <img src="{{sf-image imageUrl}}">
                        </a>
                        <a href="/detail/{{itemId}}.html"><h3 class="ellipsis2">{{goodsName}}</h3></a>
                        <div class="goodslist-c1">
                            <div class="orderlist-num">X{{quantity}}</div>
                            <div class="text-important">¥{{sf.price price}}</div>
                        </div>
                    </li>
                    {{/orderGoodsItemList}}
                </ul>
            </div>
            {{/each}}
            <div class="orderlist-total">共{{sf-good-count orderPackageItemList}}件商品
              <span class="text-disable">实付金额：</span>
              <span class="text-important">￥{{sf.price totalPrice}}</span>
            </div>

            <div class="orderlist-btns">
              <div class="text-disable">{{sf-order-status orderStatus}}</div>

              {{#sf-status-show-case orderStatus 'CANCEL'}}
              <button class="btn btn-normal ordercancel">取消订单</button>
              {{/sf-status-show-case}}

              {{#sf-status-show-case orderStatus 'NEEDPAY'}}
              <button class="btn btn-normal active gotopay">立即付款</button>
              {{/sf-status-show-case}}

              {{#sf-status-show-case orderStatus 'DELETE'}}
              <button class="btn btn-normal delete">删除订单</button>
              {{/sf-status-show-case}}

              {{#sf-status-show-case orderStatus 'RECEIVED'}}
              <button class="btn btn-normal success received">确认收货</button>
              {{/sf-status-show-case}}
            </div>
        </li>
        {{/orders}}

        {{/if}}
    </ul>
</section>
<!--订单列表-->
