<section class="orderdetail">
    <section class="orderinfo">
        <h2>订单信息</h2>
        <div class="orderinfo-b">
          <ul>
            <li><span class="justify">订 单 号</span>：{{orderItem.orderId}}</li>
            <li>
              <span class="justify text-disable">下单时间</span>
              <span class="text-disable">：{{sf.time orderItem.gmtCreate}}</span>
            </li>
            <li>
              <span class="justify">实付金额</span>：
              <span class="text-important">￥{{sf.price orderItem.totalPrice}}</span>
              {{#if orderItem.payTyp}}<span class="text-disable">({{sf-payment-type orderItem.payType}})</span>{{/if}}

              <!--取消订单-->
              <span class="text-success">{{sf-pay-status orderItem.paymentStatus}}</span>
            </li>
            <li>
              <span class="justify text-disable">商品总额</span>：￥{{sf.price orderItem.totalPrice}}
            </li>

            {{#orderItem.discount}}
            <li>
              <span class="justify text-disable">优 惠</span>：￥{{sf.price orderItem.discount}}
            </li>
            {{/orderItem.discount}}

            <li><span class="justify text-disable">运 费</span>：免运费</li>
          </ul>
            {{! 倒计时 }}

            {{#sf-is-not-pay orderItem.paymentStatus}}
            <p>
              <span class="text-important">!</span>请在
              <span class="text-important" id="pay-timmer">orderItem.gmtCreate</span>内付款
            </p>
            {{/sf-is-not-pay}}

            <a class="text-link">
              <span id="orderdetail-more">查看更多</span>
              <span class="icon icon52"></span>
            </a>
          </div>
        <!--收货人信息-->
        <div class="info">
            <ul class="info-r1">
                <li>
                    <div class="fl info-r1c1 justify">收货人：</div>
                    <div class="info-r1c2">{{orderItem.orderAddressItem.receiveName}}</div>
                </li>
                <li>
                    <div class="fl info-r1c1 justify">手 机：</div>
                    <div class="info-r1c2">{{orderItem.orderAddressItem.mobile}}</div>
                </li>
                <li>
                    <div class="fl info-r1c1 justify">地 址：</div>
                    <div class="info-r1c2">
                      <span>{{orderItem.orderAddressItem.country}}</span>
                      <span>{{orderItem.orderAddressItem.province}}</span>
                      <span>{{orderItem.orderAddressItem.city}}</span>
                      <span>{{orderItem.orderAddressItem.region}}</span>
                      <span>{{orderItem.orderAddressItem.detailAddress}}</span>
                    </div>
                </li>
                <!--
                <li>
                    <div class="fl info-r1c1 justify">邮 编：</div>
                    <div class="info-r1c2">{{orderItem.orderAddressItem.zipCode}}</div>
                </li>
                -->
            </ul>
        </div>
        <!--收货人信息-->
    </section>

    {{#sf-show-status-cancelled orderItem.orderStatus}}
    <div class="orderdetail-cancel">
      <span class="icon icon53"></span>
      <p>尊敬的用户，由于我们在2小时内未收到您的订单款项，订单已被自动取消。</p>
      <p class="text-disable">订单取消规则：订单会为您保留2小时（从下单算起），2小时后系统将自动取消未付款的订单。</p>
    </div>
    {{/sf-show-status-cancelled}}

    <!--商品信息-->
    <ul class="orderdetail-bag">
        {{#each orderItem.orderPackageItemList}}
        <li>
            <div class="orderdetail-bag-r1">
                <h2>包裹{{sf-index @index}}
                  <span class="text-important">{{sf-package-status status}}</span>
                </h2>
                <div class="text-disable">{{shippingWarehouse}}发货</div>
            </div>
            <div class="box box1">
                <a href="#!&packageNo={{packageNo}}" class="box-link">
                    <div>物流信息</div>
                    {{#sf-first actionTraceItemList}}
                    <time>{{sf.time gmtHappened}}</time>
                    <p>{{status}}</p>
                    {{/sf-first}}
                </a>
                <span class="icon icon13 box-arrow center-vertical"></span>
            </div>
            <h3>商品信息</h3>
            <ul class="goodslist">
                {{#orderGoodsItemList}}
                <li><img src="{{sf-image imageUrl}}">
                    <h3 class="ellipsis2">{{goodsName}}</h3>
                    <div class="goodslist-c1">
                        <div class="orderlist-num">X{{quantity}}</div>
                        <div class="text-important">¥{{sf.price price}}</div>
                    </div>
                </li>
                {{/orderGoodsItemList}}
            </ul>
        </li>
        {{/each}}
    </ul>
    <!--商品信息-->
</section>

{{#sf-status-show-case orderItem.orderStatus 'NEEDPAY'}}
<!--立即购买-->
<section class="nav">
    <div class="nav-r1">
        <div class="nav-c2">
            <button class="btn btn-danger btn-big gotopay">去支付</button>
        </div>
    </div>
</section>
<!--立即购买-->
{{/sf-status-show-case}}

{{#sf-status-show-case orderItem.orderStatus 'RECEIVED'}}
<!--确认收货-->
<section class="nav">
    <div class="nav-r1">
        <div class="nav-c2">
            <button class="btn btn-success btn-big received">确认收货</button>
        </div>
    </div>
</section>
<!--确认收货-->
{{/sf-show-paybtn}}

{{#each orderItem.orderPackageItemList}}
<section class="order logistics logistics-{{packageNo}}" style="display:none">
    <h2>物流跟踪</h2>
    <ul>
    {{#sf-reverse actionTraceItemList}}
      {{#each group}}
      <li><time>{{gmtHappened}}</time>{{status}}</li>
      {{/each}}
    {{/sf-reverse}}
    </ul>
</section>
{{/each}}