<!--订单提交成功-->
<section class="order order-success">
  {{#if showordersuccess}}
    <div class="order-success-r1">
      <h1><span class="icon icon46"></span>订单提交成功！</h1>
	    <p>请您在订单提交后<span class="text-important">{{showSecKillPayTime goodsType}}</span>内完成支付,否则订单会自动取消。</p>
    </div>
  {{/if}}

  <h2>支付方式</h2>
  <ul class="gotopaymethodlist">

    <li data-payType="alipay" class="box active gotopaymethod"><a href="javascript:;" class="icon icon6">支付宝</a><span class="icon icon8"></span></li>

    {{#if showWeixinPay}}
      <li data-payType="weixinpay" class="box gotopaymethod"><a href="javascript:;" class="icon icon43">微信</a>微信<span class="icon icon8"></span></li>
    {{/if}}

  </ul>

</section>
<!--订单提交成功-->
