.new-goodslist{
	background-color: #fff;
}
.new-goodslist li{
	margin-bottom: 20px;
}
.new-goodslist-pic{
	width: 100%;
}
.new-goodslist-title{
	display: flex;
	padding: 0 30px;
}
.new-goodslist-title h2{
	/*flex: 1;*/
	margin-top: 20px;
	/*margin-right: 20px;*/
	font-size: 28px;
	color: #4A4A4A;
	line-height: 1.5;
}
.new-goodslist .ellipsis3{
	padding: 0 30px;
	margin-top: 10px;
	font-size: 24px;
	color: #666666;
	line-height: 1.5;
}
.new-goodslist-country{
	padding: 0 30px;
	display: inline-block;
	margin-top: 20px;
}
.new-goodslist-country img,
.new-goodslist-country span{
	vertical-align: middle;
}
.new-goodslist-country img{
	margin-right: 10px;
	width: 46px;
	height: 33px;
}
.new-goodslist-country span{
	margin-left: 10px;
	color: #9B9B9B;
}
.new-goodslist-price,
.new-goodslist-btn{
	white-space: nowrap;
}
.new-goodslist-btnbox .sales-price{
	color: #F44740;
	font-size: 36px;
}
.new-goodslist-btnbox .original-price{
	color: rgba(255,91,84,0.6);
}
.new-goodslist-btnbox{
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.new-goodslist-btn{
	font-size: 0;
	letter-spacing: -0.5em;
}
.new-goodslist-star,
.ngl-btn-share{
	display: inline-block;
	border: 1px solid #9B9B9B;
	border-radius: 8px;
	width: 100px;
	height: 80px;
	text-align: center;
	font-size: 24px;
	letter-spacing: normal;
	vertical-align: middle;
	margin-right: 10px;
	line-height: 80px;
}
.new-goodslist-star:visited{
	color: #666;
}
.new-goodslist-star .icon-like{
	width: 28px;
	height: 26px;
	margin-right: 6px;
	vertical-align: -5px;
}
.ngl-btn-share .icon-share02{
	width: 28px;
	height: 38px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.ngl-btn-share{
	position: relative;
	text-align: center;
	vertical-align: middle;
}
.icon-share{
	width: 28px;
	height: 38px;
	margin-top: 12px;
}
.new-goodslist-btnbox .btn-normal{
	border-color: rgba(241,60,52,0.5);
	width: 200px;
	height: 80px;
	line-height: 80px;
	border-radius: 8px;
}
.new-goodslist-btn .icon-cart{
	width: 34px;
	height: 28px;
	vertical-align: -6px;
	margin-right: 14px;
}