@import '../../modules/comment-expose/index.css';
.comment-list{
  background: #fff;
}
.comment-list-li{
  padding: 19px 0;
  border-bottom: 1px solid #F2F2F2;
  margin: 0 14px;
}
.comment-list-li:last-child{
  border-bottom: none;
}
.comment-list-r1{
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 5px;
}
.comment-list p{
  line-height: 21px;
  font-size: 14px;
  margin-bottom: 11px;
}
.comment-list-other{
  color: #999;
}
.comment-list-r1 img{
  vertical-align: middle;
  margin-right: 8px;
}
.comment-list-r1c1{
  font-size: 16px;
}
.comment-list-r1c1 img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.comment-list-img{
  white-space: nowrap;
  overflow-x: auto;
  font-size: 0;
  margin-bottom: 11px;
}
.comment-list-img li{
  display: inline-block;
  margin-right: 10px;
  width: 62px;
  height: 62px;
  text-align: center;
}
.comment-list-img li img{
  max-width: 62px;
  max-height: 62px;
  vertical-align: middle;
}
.comment-list-img li:after{
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.comment-list svg{
  fill:#D8D8D8;
  width: 13px;
  height: 13px;
}
.comment-list svg.active{
  fill:#FF5E57;
}
.comment-list-add{
  color: #4BB8E4;
  line-height: 18px;
  margin:8px 0;
}
.comment-list-none{
  text-align: center;
  color: #A2A2A2;
  font-size: 16px;
  padding: 83px;
  background: #fff;
}
.comment-list-none svg{
  width: 60px;
  height: 79px;
}
.comment-list-none p{
  margin-top: 26px;
}
.comment-expose-none{
  text-align: center;
  color: #A2A2A2;
  font-size: 16px;
  padding: 72px;
  background: #fff;
}
.comment-expose-none svg{
  width: 81px;
  height: 71px;
}
.comment-expose-none p{
  margin-top: 16px;
}