{{#shareData}}
    <div class="shake-share">
        <a id="share-link" href="{{couponUrl}}"><img src="{{imageUrl}}"></a>
        <a class="btn-yellow btn-big">原价{{itemSellPrice}}元我摇一摇就只要{{itemSellPriceAfterCoupon}}元</a>
        <dl>
            <dt>最大影响力</dt>
            <dd>{{maxImpact}}人</dd>
            <dt>最快手速</dt>
            <dd>{{maxFightingCapacity}}</dd>
        </dl>
        <a id="toYao" class="btn-red btn-big">下载APP一起摇！</a>

        <p class="shaked-text">奖励每日限领一次，与更多小伙伴一起摇更优惠！</p>
    </div>
{{/shareData}}
