{{#shareData}}
    <div class="shake-share">
        <img src="{{imageUrl}}">
        <a class="btn-yellow btn-big">{{couponTitle}}</a>
        <dl>
            <dt>最大影响力</dt>
            <dd>{{maxImpact}}人</dd>
            <dt>手掌加速度</dt>
            <dd>{{maxFightingCapacity}}</dd>
        </dl>
        <a id="toYao" class="btn-red btn-big">我也要！摇！</a>

        <p class="shaked-text">每日限领一张，与更多小伙伴一起摇！</p>
    </div>
{{/shareData}}
