<!--结束摇或者帮摇的界面-->
{{#if finishData}}
    <div id="shakend" class="shaked end">
        <dl>
            <dt>最大影响力</dt>
            <dd>{{finishData.impact}}人</dd>
            <dt>手掌加速度</dt>
            <dd>{{finishData.fightingCapacity}}</dd>
        </dl>
        <div class="shaked-coupon">
            <div class="shaked-coupon-c1"><img
                src="http://img0.sfht.com/sf/bundefined/6f08491af313f159ee2db5c85b3f5fb8.jpg@162w_162h.jpg"></div>
            <div class="shaked-coupon-c2"><h2>乔克叔叔的荞麦面膜</h2>
                <p>专属优惠券</p>
                <div class="shaked-coupon-price">
                    <small>¥</small>
                    90
                </div>
            </div>
        </div>
        <div class="shaked-btns {{#sf-isCanReceiveCoupon finishData.canReceiveCoupon}}{{/sf-isCanReceiveCoupon}}">
            <a href="" class="btn-yellow">放弃重摇</a>
            <a href="" class="btn-red">立刻领取</a>
        </div>
        <div class="shaked-btns to-buy hide">
            <a href="" class="btn-yellow btn-big">去购买</a>
        </div>
        <p class="shaked-text">每日限领一张，与更多小伙伴一起摇！</p>
    </div>
    <div class="tooltip center hide">已成功放入我的优惠券</div>
{{/if}}