/*========================Use==================
.text-overflow{
  @include ellipsis-overflow(20);
}

==========================Output===============
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}
==============================================*/
