/*=================Use==============
.fluid-ratio{
  @include fluid-ratio(800 400,300 150);
}

===================Output===========
.fluid-ratio {
  padding-top: 50%;
  height: 0;
  background-size: cover;
  background-position: center;
}
===================================*/
