/*============================= Usage ===========================
@mixin test($a, $b) {
  @include placeholder-wrapper(test, $a, $b) {
    a: $a;
    b: $b;
  }
}

.foo {
  @include test(1, 1);
}

.bar {
  @include test(1, 2);
}

.baz {
  @include test(1, 1);
}

=============================== Output ==========================
.foo, .baz {
  a: 1;
  b: 1;
}

.bar {
  a: 1;
  b: 2;
}
=================================================================*/
