<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../../../css/pages/common/common.css">
	<link rel="stylesheet" href="../../../css/pages/index/nataral.css">

</head>
<body class="body1">
	<!--头部-->
	== Slim::Template.new('../../module/header.slim').render
	<!--头部-->
	<section class="nataral-tab">
		<ul>
			<li class="active"><a href="javascript:">品牌<i></i></a></li>
			<li><a href="javascript:">类目<i></i></a></li>
			<li><a href="javascript:">资源<i></i></a></li>
			<li><a href="javascript:">综合<i></i></a></li>
		</ul>
	</section>
	<section class="nataral-brand nataral-tab-b active">
		<ul>
			<li class="active"><a href="javascript:">全部品牌</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">ESTEE LAUDER</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">LANCOME</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">LAMER</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">SK-II</a><div class="icon icon61"></div></li>
		</ul>
	</section>
	<section class="nataral-product nataral-tab-b">
		<ul>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href="">意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href="">意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href="">意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href="">意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
		</ul>
	</section>
	<section class="nataral-brand nataral-tab-b">
		<ul>
			<li class="active"><a href="javascript:">资源</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">ESTEE LAUDER</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">LANCOME</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">LAMER</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">SK-II</a><div class="icon icon61"></div></li>
		</ul>
	</section>
	<section class="nataral-brand nataral-tab-b">
		<ul>
			<li class="active"><a href="javascript:">综合</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">ESTEE LAUDER</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">LANCOME</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">LAMER</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">SK-II</a><div class="icon icon61"></div></li>
		</ul>
	</section>
	<script src="../../../js/zepto.min.js"></script>
	<script src="../../../js/nataral-classify.js"></script>
</body>
</html>