/*
@styleguide

# 问题详情

*/
.problemDetail{
  background: #fff;
  font-size: 14px;
}
.problemDetail svg{
  float: left;
  margin-left: -28px;
  width: 16px;
  height: 16px;
}
.problemDetail dt{
  border-bottom: 1px solid #efeff4;
  line-height: 21px;
  padding: 11px 0 11px 40px;
}
.problemDetail dd{
  color: #666;
  line-height: 21px;
  padding-left: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
}
