/*
单行商品
*/
.fast-buy-goods{
	display: flex;
	align-items: center;
	border-top: 2px solid #F5F5F5;
	padding: 10px 0;
}
.fast-buy-pic{
	position: relative;
	margin-left: 5%;
}
.fast-buy-pic img{
	width: calc(115px * 2);
	height: calc(115px * 2);
}
.fast-buy-text{
	margin-left: 26px;
	flex: 1;
	padding-right: 20px;
}
.fast-buy-text h2{
	font-size: 28px;
	font-weight: 400;
	line-height: 1.2;
}
.fast-buy-text p{
	color: #9B9B9B;
}
.fast-buy-from{
	margin-bottom: 10px;
}
.fast-buy-from .icon-country{
	margin-right: 10px;
	vertical-align: -2px;
}
.fast-buy-fix{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
.fast-buy-text .fast-buy-important{
	color: #FF5B54;
}
/*综合区域*/
.sales-price{
	font-size: 32px;
	margin-right: 20px;
}
.sales-price,
.sales-price-out{
	color: #F44740;
}
.original-price{
	margin-top: 8px;
	color: #9B9B9B; 
}
img{
	vertical-align: top;
}
.strong-color{
	color: #FF5B54;
}
.icon-hot,
.icon-new{
	display: inline-block;
	width: calc(34px * 2);
	height: calc(34px * 2);
	line-height: calc(34px * 2);
	text-align: center;
	border-radius: 50%;
}
.icon-hot i,
.icon-new i{
	display: block;
	font-style: normal;
	font-size: 20px;
	-webkit-transform:scale(0.875);
}
.icon-new{
	background: #F5F187;
}
.icon-hot{
	background: #FF5B54;
	color: #fff;
}
.icon-country{
	width: calc(19px * 2);
	height: calc(13px * 2);
}
.icon-addtocart svg{
	display: inline-block;
	width: 60px;
	height: 60px;
	padding-top: 0;
}
.all-goods{
	display: block;
	border-top: 2px solid #F5F5F5;
	height: 88px;
	line-height: 88px;
	text-align: center;
	width: 100%;
}
.all-goods .icon-arrow{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-width: 2px;
	border-color: #FF5B54 #FF5B54 transparent transparent;
	border-style: solid;
	transform: rotate(45deg);
	vertical-align: 2px;
}
.fast-buy-salesbox{
	display: block;
}
.com-box-bottom{
  background: #fff;
  margin-bottom: 20px;
}
.com-box {
    background: #fff;
    margin-top: 20px;
}

.com-box-bottom{
  background: #fff;
  margin-bottom: 20px;
}
.com-count-down{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 1;
	padding: 8px 0;
	text-align: center;
	background: #4A4A4A;
	font-size: 24px;
	color: #FFF;
	border-radius: 4px;
	margin: 0 6px 0 8px;
  vertical-align: 1px;
}
.com-title-time-count{
  height: 60px;
  text-align: center;
  font-size: 28px;
  padding-top: 10px;
}

.line-goods-list{
	overflow: hidden;
}
.line-goods-list li{
	position: relative;
	left: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.line-goods-list .btn-danger{
	position: absolute;
	height: 100%;
    line-height: 100%;
    font-size: 34px;
    position: absolute;
    right: -120px;
    top: 0;
}