/*尾部*/

 .footer-r1{
 	border-top:1px solid #d9d9d9;
 	margin-left: -17px;
 	padding:12px 0 12px 14px;
 	background:#fff;
 	border-bottom:1px solid #d9d9d9;
  text-align: center;
 }
.footer ul{
  display: inline-block;
 }
.footer-r1 li {  
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    padding:4px * 2 / $ppr 6px * 2 / $ppr;
<<<<<<< HEAD
=======
    padding:4px 8px;
    font-size: 12px;
>>>>>>> parent of 5c46a0e... rem
=======
    padding:4px 8px;
    font-size: 12px;
>>>>>>> parent of 5c46a0e... rem
=======
    font-size: 12px * 2 / $ppr;
>>>>>>> parent of 5b8c06f... 修改成rem布局
=======
    padding:4px 8px;
    font-size: 12px;
>>>>>>> parent of 5c46a0e... rem
    float:left;
    text-align: left;
}
.footer-r1 li .icon{
  margin-right: 3px;
}
.footer-r1 h2{
    font-weight: normal;
}
.footer-r1 li:last-child{
  border-left:1px solid #e5e5e5;
}


.footer-r2{
 	height: 31px;
 	line-height: 31px;
 	text-align: center;
 	color: #666;
 }
 .footer-r2 a{
	margin:0 12px;
 }
 .footer-r3{
  color:rgba(0,0,0,0.3);
  font-size: 9px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 17px;
 }
 .footer1{
 	position: fixed;
 	bottom:10px;
 	left: 0;
 	width: 100%;
 	text-align: center;
 }