/*header*/
.header{
  padding: 0 19px * 2 / $ppr 11px * 2 / $ppr;
  background: #fff;
  border-bottom:1px solid #cfcfcf
}
.header-c1{
  padding-top: 13px * 2 / $ppr;
}
.header-c2{
  padding-top: 12px * 2 / $ppr;
}
.header-c3{
  font-size: 14px * 2 / $ppr;
  padding-left:9px * 2 / $ppr;
  border-left:1px solid #ccc;
  margin-left: 7px * 2 / $ppr;
  height: 20px * 2 / $ppr;
  line-height:20px * 2 / $ppr;
  margin-top:15px * 2 / $ppr;
}
.header .icon{
  margin-left: 10px * 2 / $ppr;
  position: relative;
}
.header .dot{
  position: absolute;
  right: -3px * 2 / $ppr;
  top: -3px * 2 / $ppr;
}