/*立即购买*/
.nav{
  height: 145px;
}
.nav-r1{
  position: fixed;
  bottom:0;
  width: 100%;
  background: #fff;
  z-index: 1;
}
.nav-c1{
  position: absolute;
  right: 7px;
  -webkit-transform: translate(0,-100%);
  border-radius:50%;
  border:1px solid #ccc;
  text-align: center;
  background:rgba(255,255,255,0.9);
  width: 40px;
  height: 40px;
  
  margin-top: -5px;
}
.nav-c1:nth-child(1){
  margin-top: -10px;
  -webkit-transform: translate(0,-200%);
}
.nav-c1 a{
  color: #999;
  display: block;
  padding-top: 5px;
}
.nav-c1 .icon{
  margin-bottom: 4px;
}
.nav-c2{
  padding:5px;
  
}
.nav .btn{
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  font-weight: bold;
}