@import 'utils/variables';
@import 'utils/placeholders';
img{
	width: 100%;
}
body{
	background: #fff;
	width: 100%;
}
.m727-banner{
	margin-bottom: 5px;
}

.m727-r1{
	margin-bottom: 5px;
	display: flex;
}
.m727-r1c1{
	width: 53.12%;
}
.m727-r1c2{
	width: 46.88%;
}
.m727-time{
	font-family: arial;
	margin-bottom: 4px;
	position: relative;
}

.m727-time span{
	margin-right: 11px;
	letter-spacing: 6px;
}
.m727-time-r1{
	position: absolute;
	left: 43.75%;
	top: 71.42%;
}

.m727-tab-h{
	float: left;
	width: 24px;
	padding-top: 6px;
	padding-left: 2px;
}
.m727-tab-h li{
	width: 22px;
	padding-top: 8px;
	box-sizing:border-box;
	height: 79px;
	background: #f63c3f;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 40px;
	line-height: 20px;
	position: relative;
}
.m727-tab-h li:before{
	content: '';
	width: 11px;
	height: 11px;
	background: #f63c3f;
	border-radius: 50%;
	position: absolute;
	right: -31px;
	border: 4px solid #ffc5c2;
	top: 50%;
	margin-top: -9px;
}
.m727-tab-h li.active{
	background: #800a2d;
}
.m727-tab-h li.active:before{
	background: #800a2d;
	border-color: #cd7d88;
}
.m727-tab-h li .icon{
	  width: 0;
	height: 0;
	background: none;
	border-style: solid;
	border-width: 5px 5px;
  	border-color: transparent transparent transparent #e03d40;
	position: absolute;
	right: -15px;
	top: 50%;
	margin-top: -8px;
	border-width: 8px;
}
.m727-tab-h li.active .icon{
	border-color:transparent transparent transparent #800a2d;
}
.m727-tab-h a{
	color: #fff;
}
.m727-tab-b{
	margin-left: 48px;
	border-left: 1px dashed #800a2d;
	padding-left: 15px;
	padding-top: 12px;
	display: none;
}
.m727-tab-b.active{
	display: block;
}
.m727-tab-b ul{
	margin-left: -4px;
}
.m727-tab-b li{
	display: inline-block;
	width: 48%;
	margin-left: 4px;
	margin-bottom: 20px;
	position: relative;
}
.mask{
	position: absolute;;
	display: block;
	box-sizing:border-box;
}
.m727-tab-b li span{
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	position: absolute;
	left: 0;
	top: 60px;
	width: 100%;
	z-index: 999;
}

.m727-top{
	border: 3px solid #f61d4a;
	padding: 1px;
	text-align: center;
	font-size: 15px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 999;
	background: #fff;
	width: 100%;
}
.m727-top a{
	color: #fff;
}
.m727-top ul{
	display: flex;
}
.m727-top li{
	height: 28px;
	line-height: 28px;
	flex:1;
}

.m727-top a{
	display: block;
}

.m727-top li:nth-child(even){
	background-color: #800a2d;
}
.m727-top li:nth-child(odd){
	background-color: #f61d4a;
}
.m727-top li:last-child .icon{
	vertical-align: 2px;
	margin-left: 5px;
	width: 0;
	height: 0;
	background: none;
	border-style: solid;
	border-width: 5px;
	
	border-color: transparent;
	border-bottom-color: #fff;
}
.m727-nav ul{
	display: flex;
}
.m727-nav li:first-child{
	border-left: 0 none;
}
.m727-nav li{
	flex: 1px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #b300f5;
	color: #fff;
	font-weight: 700;
	border-left: 1px solid #9521c0;
}
.m727-nav .active{
	position: relative;
	background-color: #9521c0;	
	color: #f8de00;
}
.m727-nav .active::after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -5px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
	border-top-color: #9521c0;
}