@import 'utils/variables';
body{
	width: 320px *2;
}
.m81{
    position: relative;
}
.m81 img{
	width: 100%;
}
.m81-play {
    width: 49px *2;
    height: 50px *2;
    background: url(http://img0.sfht.com/img/2f5c475831ed7345879052b170088f91.jpg) no-repeat center;
    background-size: 49px *2 50px *2;
    display: block;
    text-indent: -999em;
    position: absolute;
    top: 210px;
    left:50%;
    transform:translate(-50%,0);
}

.m81-play:hover {
    opacity: 0.8
}
.m81-btn {
    background: #b300f5;
    color: #fff;
    width: 200px *2;
    height: 45px *2;
    line-height: 45px *2;
    text-align: center;
    font-size: 14px *2;
    -webkit-border-radius: 5px *2;
    border-radius: 5px *2;
    display: block;
    position: absolute;
    top: 458px *2;
    left:50%;
    transform:translate(-50%,0);
}
.m81-btn2{
	top: 753px *2;
}

.m81-btn:hover {
    color: #fff;
    opacity: 0.8;
}
.m81-video{
	position: absolute;
	width: 290px *2;
	height: 168px *2;
	left: 50%;
	top: 92px;
	margin-left: -145px *2;
	display: none;
}

.m81-video-outer{
    position: relative;
}


.nataral-tab{
    height: 46px * 2;
    position: relative;
}
.nataral-tab ul{
    position: relative;
    z-index: 2;
    display: flex;
    border-bottom: 1px * 2 solid #e5e5e5;
    background: #f9f9f9;
}
.nataral-tab.active ul{
    display: block;
    width: 100% !important;
    font-size: 0;
}
.nataral-tab.active li{
    width: 25%;
    display: inline-block;
    font-size: 14px * 2;
}
.nataral-tab.active:before{
    display: none;
}
.nataral-tab:before{
    content: '';
    position: absolute;
    width: 68px * 2;
    height: 45px * 2;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%,#fff 70%,#fff 100%);
    right: 0;
    top: 0;
    z-index: 3;
}
.nataral-tab.active .nataral-tab-icon{
    transform:rotate(135deg);
}
.nataral-tab-icon{
    content: '';
    width: 8px * 2;
    height: 8px * 2;
    border-color:#e1494a;
    border-style: solid;
    border-width: 1px * 2 1px * 2 0 0;
    transform:rotate(45deg);
    transition:all 0.3s;
    position: absolute;
    right: 10px * 2;
    top: 20px * 2;
    z-index: 3;
    display: none;
}
.nataral-tab-icon:before{
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
}
.nataral-tab-fixed ul{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}
.nataral-tab-fixed:before,
.nataral-tab-fixed .nataral-tab-icon{
    position: fixed;
}

.nataral-tab li{    
    text-align: center;
    height: 46px * 2;
    line-height: 46px * 2;
    font-size: 14px * 2;
    flex:1;
    font-size: 24px;
}
.nataral-tab li a{
    display: inline-block;
    vertical-align: middle;
}
.nataral-tab li i{
    content: '';
    display: inline-block;
    vertical-align: 3px * 2;
    width: 6px * 2;
    height: 6px * 2;
    border-left: 1px * 2 solid #bdbdbd;
    border-bottom: 1px * 2 solid #bdbdbd;
    transform:rotate(-45deg);
    transition:all 0.3s;
    margin-left: 6px * 2;
}
.nataral-tab li.active{
    border-bottom: 2px * 2 solid #ff5b54;
}
.nataral-tab li.active i{
    vertical-align: 0;
    border-color: #ff5b54;
    transform:rotate(-225deg);
}
.nataral-tab li.active a{
    color: #ff5b54;
}
.nataral-tab-b{
    position: absolute;
    width: 100%;
    transform:rotateX(90deg);
    transform-origin:center top;
    transition:all 0.3s;
}
.nataral-tab-b.active{
    z-index: 1;
    transform:rotateX(0deg);
}