@import 'utils/variables';
.app-anywhere{
	text-align: center;
	color: #4a4a4a;
	background: #f1f2e7 url(#{$bg-url}app/app-anywhere-map.png) repeat-x left 235px;
	background-size: 320px;
	position: relative;
}
.app-anywhere-bg{
	background: url(#{$bg-url}app/app-anywhere-bg.png) repeat-x left 314px;
	background-size: 800px;
	animation:app-anywhere-bg 20s linear forwards infinite;
	padding-top: 70px;
	padding-bottom: 323px;
}
.app-anywhere h2{
	font-size: 34px;
	margin-bottom: 17px;
	font-weight: normal;
}
.app-anywhere p{
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 84px;
}
.app-anywhere-phone{
	margin-left: -70px;
	position: absolute;
	left: 50%;
}
.app-anywhere-plane{
	position: absolute;
	top: 375px;
	left: 50%;
	transform:translate3d(-50%,-3px,0);
	animation:app-anywhere-plane 1s linear forwards infinite;
}
@keyframes app-anywhere-bg{
	100%{
		background-position: -800px 314px;
	}
}
@keyframes app-anywhere-plane{
	50%{
		transform:translate3d(-50%,3px,0);
	}
	100%{
		transform:translate3d(-50%,-3px,0);
	}
}

.app-logistics{
	background:#f1f2e7 url(#{$bg-url}app/app-logistics-bg2.png) no-repeat center 260px;
	background-size: 200px;
	text-align: center;
	color: #4a4a4a;
	position: relative;
}
.app-logistics-bg{
	background: url(#{$bg-url}app/app-logistics-bg.png) repeat-x left 362px;
	background-size: 320px;
	animation:app-logistics-bg 5s linear forwards infinite;
	padding-top: 70px;
	padding-bottom: 100px;
}
.app-logistics h2{
	font-size: 34px;
	margin-bottom: 17px;
	font-weight: normal;
}
.app-logistics p{
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 57px;
}
.app-logistics-tire1,
.app-logistics-tire2{
	position: absolute;
	left: 50%;
	top: 455px;
	margin-left: -53px;
	animation:app-logistics-tire 1s linear forwards infinite;
}
.app-logistics-tire2{
	margin-left: 47px;
}
.app-logistics-car{
	transform:translate(0,-1px);
	animation:app-logistics-car 0.8s linear forwards infinite;
}
.app-logistics-shadow{
	position: absolute;
	top: 480px;
	left: 50%;
	margin-left: -65px;
	animation:app-logistics-shadow 0.8s linear forwards infinite;
}
.app-logistics ul{
	display: flex;
	justify-content:space-between;
	align-items:center;
	padding: 0 44px;
	margin-bottom: 92px;
}
.app-logistics li{
	width: 15px;
	height: 15px;
	background: #f0cbbc;
	border-radius: 50%;
	position: relative;
}

.app-logistics li{
	color: #fff;
	line-height: 15px;
}
.app-logistics li:nth-child(2){
	width: 81px;
	height: 81px;
	background: #ed6e56;
	animation:app-logistics-loc 5s linear forwards infinite;
}
.app-logistics li:nth-child(2) span{
	display: inline-block;
}
.app-logistics li:nth-child(2):before{
	content: '宝贝到达上海';
	display: inline-block;
	width: 4em;
	padding-top: 30px;
}
.app-logistics li:nth-child(2):after{
	content: '';
	border-style: solid;
	border-width: 17px 12px;
	border-color: #ed6e56 transparent transparent transparent;
	position: absolute;
	left: 50%;
	margin-left: -12px;
	bottom:-32px;

}
@keyframes app-logistics-bg{
	100%{
		background-position: -320px 362px;
	}
}
@keyframes app-logistics-car{
	50%{
		transform:translate3d(0,1px,0);
	}
	100%{
		transform:translate3d(0,-1px,0);
	}
}
@keyframes app-logistics-tire{
	100%{
		transform:rotate(360deg);
	}
}
@keyframes app-logistics-shadow{
	50%{
		transform:scaleX(0.8);
	}
	100%{
		transform:scaleX(1);
	}
}
@keyframes app-logistics-loc{
	33%{
		content: '宝贝到达杭州';
	}
	66%{
		content: '宝贝到达广州';
	}

}

.app-favorable{
	padding-top: 40px;
	padding-bottom: 27px;
	background: url(#{$bg-url}app/app-favorable.png) no-repeat 24px 116px;
	background-size: 78px;
}
.app-favorable li{
	margin-bottom: 105px;
	padding-left: 114px;
}
.app-favorable h2{
	font-size: 34px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 44px;
}
.app-favorable h3{
	font-size: 18px;
	margin-bottom: 18px;
	font-weight: normal;
}

.app-banner{
	background: #ec6b5f url(#{$bg-url}app/app-banner.jpg) no-repeat center top;
	background-size: 320px;
	height: 568px;
	position: relative;
}
.app-banner a{
	position: absolute;
	width: 255px;
	height: 45px;
	text-indent: -999em;
	top: 244px;
	left: 50%;
	margin-left: -127px;
}

.app-user{
	background: #ec6b5f;
	color: #fff;
	text-align: center;
	padding-top: 72px;
	padding-bottom: 132px;
}
.app-user h2{
	font-size: 34px;
	font-weight: normal;
	margin-bottom: 62px;
}
.app-user ul{
	width: 267px;
	height: 269px;
	display: inline-block;
	border:4px solid #f7c4bf;
	padding-top: 32px;
	position: relative;
}
.app-user ul:before{
	content: '';
	position: absolute;
	border-width: 8px;
	border-style: solid;
	border-color: #f7c4bf transparent transparent #f7c4bf;
	left: 19px;
	bottom: -20px;
}
.app-user li{
	font-size: 14px;
	line-height: 29px;
}

.wp{
    overflow: hidden; 
    height: 100%;           
}
.start{
    position: fixed;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -34px;
    width: 34px;
    height: 34px;
}
.start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 19px;
    height: 12px;
    background: url(#{$bg-url}arrow.png);
    background-size: 100% 100%;
    animation: start 1.5s infinite ease-in-out;
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}