@import 'utils/variables';
body{
	width: 100%;
	overflow-x: hidden;
}
.cart li{
	background: #fff;
	margin-top: -1px;
	padding: 0 12px;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	left: 0;
	transition:all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.cart li.active .icon8{
	background-position: -253px -167px;
}
.cart-inner{
	display: flex;
	justify-content:space-between;
	align-items:center;
	height: 105px;
}
.cart img{
	width: 54px;
	height: 54px;
	border: 1px solid #e0e0e0;
	margin-left: 5px;
	margin-right: 10px;
}
.cart .btn-danger{
	height: 100%;
	line-height: 100%;
	font-size: 17px;
	position: absolute;
	right: -60px;
	top: 0;
}
.cart-c1{
	flex:1;
}
.cart-c2{
	text-align: right;
	line-height: 18px;
	margin-left: 20px;
}
.cart-c2 del{
	color: #ccc;
}
.cart-num{
	color: #999;
}
.cart h2{
	line-height: 18px;
	margin-bottom: 8px;
	font-weight: normal;
}
.cart .input-num .btn{
	background: #fafafa;
	border: 1px solid #ccc;
}
.cart .input-num input{
	margin:0 -1px;
	background: #fafafa;
	width: 51px;
}
.cart .text-orange{
	padding-bottom: 18px;
	padding-left: 31px;
}
.cart-disable{
	margin-top: 10px;
}
.cart-disable .text-important{
	color: #ccc;
}
.cart-disable .label-disabled{
	font-size: 10px;
	padding: 0 2px;
}
.cart .icon8{
	margin-right: 3px;
}
.cart-footer{
	height: 51px;
}
.cart-footer-r1{
	border-top:1px solid #e5e5e5;
	background: #f3f3f3;
	display: flex;
	position: fixed;
	width: 100%;
	left: 0;
	bottom:0;
	justify-content:space-between;
	align-items:center;
}
.cart-footer .btn{
	height: 51px;
	line-height: 51px;
	padding: 0 36px;
	background: #ccc;
	color: #fff !important;
	font-size: 15px;
}
.cart-footer-c2{
	text-align: right;
	flex:1;
	margin-right: 12px;
}
.cart-footer-save{
	margin-top: 6px;
	color: #999;
}
.cart-footer-c2 .text-important{
	font-size: 15px;
}
.cart-footer .icon8{
	margin-left: 15px;
	margin-right: 5px;
}
.alert-error{
	line-height: 18px;
	background: rgba(221,62,63,0.85);
	position: fixed;
	left: 0;
	bottom: 51px;
}