@import 'utils/variables';

@import 'module/cart';
@import 'module/cart-footer';
@import 'module/cart-none';
body{
	width: 100%;
	overflow-x: hidden;
}

.alert-error{
	line-height: 18px;
	background: rgba(221,62,63,0.85);
	position: fixed;
	left: 0;
	bottom: 73px;
	width: 100%;
	color: #ff9000;
	background: #fff0e2;
	border-top: 1px solid #f5d6b9;
	border-bottom: 1px solid #f5d6b9;
}

