@import 'utils/variables';
body{
	width: 640px;
}
.japan-box{
	background: #462c88 url(http://img0.sfht.com/img/3219a4811a0d341b20c130516f1a79ce.jpg) center 0 no-repeat;
}
img{
	width: 100%;
}
header h1,
header h2,
header h3{
	font: 0/0 a; 
}
header{
	padding-top: 42px;
}
header h1{
	height: 110px;
}
header h2{
	height: 86px;
	margin-top: 12px;
}
header h3{
	height: 88px;
	margin-top: -23px;
}
.mjapan-wp{
	margin: 0 10px;
}
.mjapan-list{
	display: flex;
	margin-top: 40px;
	padding: 10px 0;
	background: rgba(0,0,0,.3);
	li{
		position: relative;
		width: 144px;
		height: 112px;
		position: relative;
		margin-left: 10px;
	}
	.mjapan-mask{
		background: none;
	}
	.active::after{
		content: "";
		position: absolute;
		bottom: -34px;
		left: 55px;
		border-width: 12px;
		border-style: dashed;
		border-color: transparent;
		border-top: 12px solid #000;
		opacity: 0.25;
	}
	.active:hover{
		.mjapan-mask{
			border: 0 none;
		}
	}
	.no-open{
		.mjapan-mask{
			background: rgba(0,0,0,.65);
		}
		span{
			font-size: 14px;
		}
	}
}
.mjapan-mask,
.mjapan-video-pic li::after{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.65);
	color: #fff;
	text-align: center;
}
.mjapan-mask p{
	margin-top: 17px;
	font-size: 18px;
}
.mjapan-mask h2{
	margin-top: 16px;
	font-size: 26px;
	font-weight: 700;
}

.mjapan-mask span{
	-webkit-transform: scale(0.7);
	font-size: 9px;
}
.mjapan-video-list{
	margin-top: 20px;
	height: 298px;
	overflow: hidden;
	li{
		position: relative;
		display: none;
	}
	.mjapan-mask a{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		font-size: 16px;
		color: #fff;
	}
	.mjapan-mask i{
		display: inline-block;
		font: 0/0 a;
		background: url(http://img0.sfht.com/img/91bc54b68b5465bedeaebafd7e9511c5.jpg) 0 0 no-repeat;
		width: 63px;
		height: 63px;
		margin-bottom: 12px;
	}
}
.mjapan-video-box{
	position: absolute;
	width: 100%;
	height: 300px;
	left: 0;
	top: 0;
	z-index: 3;
	display: none;
	background:#000;
}
.mjapan-video-pic{
	width: 620px;
	overflow: hidden;
	display: flex;
	margin-top: 5px;
	.mjapan-before,
	.mjapan-after{
		position: relative;
		font: 0/0 a;
		background-color: #544c61;
		height: 97px;
		width: 26px;
	}
	.mjapan-before::after,
	.mjapan-after::after{
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
		content: "";
		border: 8px dashed transparent;
	}
	.mjapan-before::after{
		border-right-style: solid;
		border-right-color: #000;
	}
	.mjapan-after::after{
		border-left-style: solid;
		border-left-color: #000;
		left: 10px;
	}
}
.mjapan-video-pic-list{
	width: 564px;
	height: 97px;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 4px;
	position: relative;
	ul{
		white-space: nowrap;
		width: 300%;
		position: absolute;
		left: 0;
		transition: transform 0.5s ease-in-out, left 0.5s linear, top 0.5s ease-in, visibility 0.1s linear 0.5s;
	}
	li{
		float: left;
		position: relative;
		width: 137px;
		margin-left: 4px;
		&::after{
			content: "";
			box-sizing: border-box;
		}
	}
	li:first-child{
		margin-left: 0;
	}
	.active::after{
		background: none;
		width: 136px;
		height: 97px;
		border: 2px solid #fff;
	}
}
.mjapan-intro-text{
	margin-top: 9px;
	background-color: #6c67dd;
	color: #fff;
	padding: 10px;
}
.mjapan-intro-text-inner{
	position: relative;
	border: 1px solid #fff;
	padding: 10px 10px 15px 40px;
	background: url(http://img0.sfht.com/img/c5f9914ee664679f80f8636c543a8083.jpg) right bottom no-repeat;
	.mjapan-flag{
		position: absolute;
		top: 0;
		right: 0;
		width: 73px;
		height: 50px;
		background-color: #fff;
		&::after{
			position:absolute;
			content: "";
			width: 30px;
			height: 30px;
			background-color: #a61e20;
			border-radius: 50%;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
.mjapan-intro-text-title{
	h2{
		font-size: 34px;
		font-weight: 700;
	}
	p{
		font-size: 24px;
		opacity: 0.6;
		text-transform: uppercase;
	}
}
.mjapan-intro-text-ct{
	font-size: 27px;
	line-height: 1.3;
	margin-top: 7px;
	.bg{
		display: inline-block;
		color: #6c67dd;
		padding: 0 6px;
		height: 32px;
		line-height: 32px;
		background-color: #fff;
	}
}
.banner02{
	margin-top: 20px;
}
.japan-goods-box{
	background-color: #6c67dd;
	padding: 53px 30px 20px;
	margin-top: 20px;
	li{
		display: flex;
		background-color: #fff;
	}
	button{
		background-color: #510492;
		color: #fff;
		height: 30px;
		line-height: 30px;
		padding: 0 18px;
		font-size: 20px;
		border: 0 none;
	}
}
.pink{
	color: #fc478b;
}
.japan-goods-item-title{
	padding-bottom: 6px;
	line-height: 1.2;
	border-bottom: 1px solid #171717;
	padding-top: 30px;
	h2{
		font-size:30px;
		font-weight: 700;
		color: #23201a;
		max-height: 36px;
		overflow: hidden;
	}
	h3{
		max-height: 28px;
		overflow: hidden;
		font-size: 24px;
	}
}
.japan-goods-box .title{
	text-align: center;
	border-top: 1px solid #fff;
	margin-bottom: -3px;
}
.japan-goods-box .text-icon{
	position: relative;
	top: -38px;
	padding: 0 20px;
	display: inline-block;
	background: #6d6bd9 url(http://img0.sfht.com/img/7dd0c410e8ae4f27e6b8c443ede85542.jpg) center center no-repeat;
	width: 409px;
	height: 40px;
	font: 0/0 a;
}
.japan-goods-item .item{
	margin-top: 7px;
	font-size: 18px;
	color: #23201a;
	line-height: 1.2;
	opacity: 0.8;
	max-height: 42px;
	overflow: hidden;
}
.japan-goods-item{
	flex: 1;
}
.japan-goods-img{ 
	position: relative;
	margin-left: 29px;
	margin-right: 22px;
	width: 204px;
	.mask{
		position: absolute;
		z-index: 1;
	}
}
.japan-goods-list li{
	padding-right: 34px;
	margin-bottom: 10px;
}
.japan-goods-item .japan-price{
	font-size: 22px;
	line-height: 1.2;
	margin-top: 27px;
	white-space: nowrap;
	.pink{
			font-size: 38px;
		em{
			padding: 0 3px;
			font-size: 26px;
		}
	}
	del{
		font-size: 14px;
		color: #727272;
	}
}
.mjapan-active-rule{
	margin: 42px 30px 0;
	color: #fff;
	font-size: 22px;
}
.mjapan-active-rule h2{
	text-align: center;
	border-bottom: 1px solid #fff;
}
.mjapan-active-rule h2 span{
	position: relative;
	top: 20px;
	display: inline-block;
	background-color: #462c88;
	padding: 0 30px;
	font-size: 42px;
}
.mjapan-active-rule-list{
	margin-top: 38px;
	line-height: 1.5;
	padding: 0 10px;
	.num{
		display: inline-block;
		width: 25px;
		margin-left: -25px;
	}
	li{
		padding-left: 25px;
	}
}
.footer{
	overflow-x: hidden;
	background-color: #fff;
	margin-top: 35px;
}