@import 'utils/variables';
@import 'module/nataral-nav';
@import 'module/nataral-product';
@import 'module/nataral-tab';
@import 'module/nataral-classify';
@import 'module/nataral-shop';
@import 'module/nataral-brand';
@import 'module/nataral-area';
@mixin nataral($i){	
	.nataral-h2{
		font-size: 15px * $i;
		padding-bottom: 10px * $i;
		padding-top: 20px * $i;
		padding-left: 10px * $i;
		border-bottom: 1px solid #e4e4e4;
	}
	.nataral-h2:before{
		content: '';
		display: inline-block;
		margin-right: 5px * $i;
		width: 3px * $i;
		height: 12px * $i;
		background: #ff5b54;
	}
	.carnival{
		background: #fff;
		border-top:1px * $i solid #e4e4e4;
		margin-bottom: 10px * $i;
	}	
	.nataral-hanguo{
		margin: 10px * $i;
	}

	.icon65{
		position: fixed;
		left: 8px * $i;
		bottom: 8px * $i;
	}
	.icon65 .dot{
		position: absolute;
		top: 0;
		right: 0;
		background: #333;
	}
	.carnival li{
		margin-bottom: 0;
		border-bottom: none;
		border-top: none;
	}
	.nataral-code{
		background: url(#{$bg-url}nataral-code.png) no-repeat center;
		background-size: 320px * $i;
		height: 75px * $i;
		padding-left: 170px * $i;
		padding-top: 30px * $i;
		font-family: arial;
		font-weight: bold;
		font-size: 24px * $i;
	}
	.nataral-none {
		text-align:center; 
		background-color: #f2f2f2;
	    border-top: 1px solid #cfcfcf;
	}
	.nataral-none p {
		display: inline-block;
		line-height: 22px * $i;
		padding-left: 54px * $i;
		background-size: 30px * $i 40px * $i;
		background: url(#{$bg-url}icon_empty2x.png) no-repeat left center;
		margin: 10px * $i 0;
	}
}
@include nataral(1);
@media screen and (min-width:640px){
  @include nataral(2);
}
