@import 'utils/variables';
.nataral-nav{
	
}
.nataral-nav ul{
	display: flex;
	justify-content:space-between;
	padding: 12px 40px;
	border-bottom: 1px solid #dcdcdc;
	background: #fff;
}

.nataral-nav li{
	width: 51px;
	height: 51px;
	text-align: center;
	background: #eb87bb;
	border-radius: 50%;
	font-size: 16px;
	position: relative;
}
.nataral-nav li:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.nataral-nav li.active:after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	transform:rotate(45deg);
	border-left: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
	background: #fff;
	left:50%;
	bottom:-18px;
	margin-left: -6px;
}

.nataral-nav li a{
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}
.nataral-nav li:nth-child(2){
	background: #ff5b54;
}
.nataral-nav li:nth-child(3){
	background: #72bbdb;
}
.nataral-nav li span{
	
	margin-bottom: 3px;
}

.nataral-product{
	background: #fff;
	margin-bottom: 10px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	margin-top: -1px;
}

.nataral-product li{
	display: flex;
	align-items:center;
	margin: 0 10px;
	padding: 10px 0;
	border-bottom: 1px solid #e4e4e4;
}
.nataral-product li:last-child{
	border: none;
}
.nataral-product img{
	width: 75px;
	height: 75px;
	border: 1px solid #f7f7f7;
	position: absolute;
	left: 0;
	top: 0;
    transition: 0.5s transform ease-in-out,0.5s left linear,0.5s top ease-in,0.1s visibility 0.5s linear;
}
.nataral-product-c1{
	position: relative;
	width: 75px;
	height: 75px;
}
.nataral-product-c1 .mask{
	position: absolute;
	background: rgba(0,0,0,0.2);
	z-index: 1;
}
.nataral-product-c2{
	flex:1;
	padding-left: 15px;
	padding-right: 12px;
}
.nataral-product-c2 h3{
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	margin-bottom: 5px;
	word-break:break-all;
}
.nataral-product-c2 .text-important{
	margin-right: 8px;
}
.nataral-product-more{
	padding: 0 10px 20px;
}
.nataral-product-more .btn{
	height: 39px;
	line-height: 39px;
}
.nataral-product-loading{
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}
.nataral-product-soldout{
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	color: #fff;
}
.nataral-product-star{
	display: inline-block;
	background: #ffc600;
	border-radius: 2px;
	color: #fff;
	padding: 0 5px;
	margin-right: 3px;
}
.nataral-product-r1{
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.nataral-product-r1 .icon66{
	display: block;
}
.nataral-h2{
	font-size: 15px;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-left: 10px;
	border-bottom: 1px solid #e4e4e4;
}
.nataral-h2:before{
	content: '';
	display: inline-block;
	margin-right: 5px;
	width: 3px;
	height: 12px;
	background: #ff5b54;
}
.carnival{
	background: #fff;
	border-top:1px solid #e4e4e4;
	margin-bottom: 10px;
}
.nataral-tab{
	height: 46px;
}
.nataral-tab ul{
	display: flex;
	border-bottom: 1px solid #e5e5e5;
	justify-content:space-between;
	background: #f9f9f9;
}
.nataral-tab-fixed{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}
.nataral-tab li{	
	text-align: center;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	width: 80px;
}
.nataral-tab li a{
	display: inline-block;
	vertical-align: middle;
	max-width: 3.5em;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.nataral-tab li i{
	content: '';
	display: inline-block;
	vertical-align: 3px;
	width: 6px;
	height: 6px;
	border-left: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	transform:rotate(-45deg);
	transition:all 0.3s;
	margin-left: 6px;
}
.nataral-tab li.active{
	border-bottom: 2px solid #ff5b54;
}
.nataral-tab li.active i{
	border-color: #ff5b54;
	transform:rotate(-225deg);
}
.nataral-tab li.active a{
	color: #ff5b54;
}
.nataral-tab-b{
	position: absolute;
	width: 100%;
	transform:rotateX(90deg);
	transform-origin:center top;
	transition:all 0.3s;
}
.nataral-tab-b.active{
	z-index: 1;
	transform:rotateX(0deg);
}
.nataral-classify{
	margin-bottom: -1px;
}
.nataral-classify-h{
	background: #f0f0f0;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.nataral-classify-h a{
	text-indent: -999em;
	display: block;
	width: 12px;
	height: 1px;
	position: relative;
}
.nataral-classify-btn:before,
.nataral-classify-btn:after{
	content: '';
	width: 12px;
	height: 1px;
	background: #999;
	position: absolute;
	left: 0;
	top: 0;
	transition:all 0.5s;
}
.nataral-classify-btn:before{
	transform:rotate(90deg);
}
.nataral-classify.active .nataral-classify-btn:before{
	transform:rotate(360deg);
}
.nataral-classify.active .nataral-classify-btn:after{
	transform:rotate(360deg);
}
.nataral-classify.active .nataral-classify-b{
	display: block;
}
.nataral-classify-b{
	background: #fff;
	display: none;
}
.nataral-classify-b:first-child{
	display: block;
}
.nataral-classify-b ul{
	padding-top: 19px;
}
.nataral-classify-b li{
	display: inline-block;
	width: 25%;
	text-align: center;
	margin-bottom: 20px;
	font-size: 0;
}
.nataral-classify-b li.active .nataral-classify-icon{
	box-shadow: 0 0 0 1px #ff5b54;
	
}
.nataral-classify-b li.active h3{
	display: inline-block;
	background: #ff5b54;
	color: #fff;
	
	border-radius: 16px;
	padding: 0 5px;
}

.nataral-classify-icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin:0 auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;
	box-shadow: 0 0 0 1px #efefef;
}
.nataral-classify-icon:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.nataral-classify-b img{
	max-width: 34px;
	max-height: 34px;
	vertical-align: middle;
}
.nataral-classify-b h3{
	margin-top: 8px;
	font-weight: normal;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
}
.nataral-shop img{
	width: 100%;
}
.nataral-shop figcaption{
	height: 30px;
	line-height: 30px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding: 0 10px;
	margin-top: -30px;
	position: relative;
	z-index: 1;
}
.nataral-shop figcaption .icon{
	margin-right: 6px;
}

.nataral-brand li{
	height: 43px;
	line-height: 43px;
	background: #fff;
	padding:0 20px;
	border-bottom: 1px solid #E5E5E5;
	font-size: 14px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	
}

.nataral-brand li .icon{
	width: 0px;
	margin-right: 18px;
	transition:all 0.3s;
}
.nataral-brand li a{
	display: block;
}
.nataral-brand li.active .icon{
	display: block;
	margin-right: 0;
	width: 18px;
}
.nataral-brand li.active a{
	color: #FF5B54
}
.nataral-brand-h{
	display: flex;
	justify-content:space-between;
	align-items:center;
	background: #fafafa;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding-right: 10px;
}
.nataral-brand-h-icon{
	content: '';
	display: inline-block;
	vertical-align: 3px;
	width: 8px;
	height: 8px;
	border-left: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	transform: rotate(-45deg);
	margin-left: 6px;
	transition:all 0.3s ease-in;
}
.nataral-brand-select h2{
	border-bottom: none;
	padding-top: 10px;
}
.nataral-brand-select ul{
	position: absolute;
	z-index: 2;
	width: 100%;
	overflow: hidden;
	transform:rotateX(-90deg);
	transform-origin:center top;
	box-shadow: 0 3px 3px rgba(125,125,125,0.18);
	transition:all 0.3s ease-in;
}
.nataral-brand-select.active ul{
	transform:rotateX(0deg);
	
}
.nataral-brand-select.active .nataral-brand-h-icon{
	transform: rotate(-225deg);
}

.nataral-area img{
	width: 100%;
}
.nataral-area-b{
	padding: 15px 10px 24px;
	background:#fff;
}
.nataral-area h2{
	font-size: 17px;
	margin-bottom: 10px;
}
.nataral-area h2 .icon{
	margin-right: 7px;
	vertical-align: -2px;
}
.nataral-area p{
	font-size: 14px;
	line-height: 20px;
	color: #666;
}
.nataral-hanguo{
	margin: 10px;
}
.nataral-classify-none{
	background: url(#{$bg-url}nataral-classify-none.png) no-repeat center 150px;
	background-size: 111px 81px;
	color: #999;
	text-align: center;
	padding: 250px 0;
}

.icon65{
	position: fixed;
	right: 8px;
	bottom: 8px;
}
.icon65 .dot{
	position: absolute;
	top: 0;
	right: 0;
	background: #333;
}
.carnival li{
	margin-bottom: 0;
	border-bottom: none;
	border-top: none;
}
.nataral-code{
	background: url(#{$bg-url}nataral-code.png) no-repeat center;
	background-size: 320px;
	height: 75px;
	padding-left: 170px;
	padding-top: 30px;
	font-family: arial;
	font-weight: bold;
	font-size: 24px;
}
