 @import 'utils/variables';
 body { background-color: #fff;}
.searchInputWrap {   position: relative;display: flex; background-color: #fff; height: 50px; width: 100%; padding: 10px 0 10px 15px;}
.searchInputWrap .searchCancelLink { width: 60px; height: 30px; line-height: 30px; text-align: center; color: #333;}
.searchInputWrap input { padding: 7px; text-indent: 22px; border: none; background-color: #f2f2f2; border-radius: 4px; flex:1;}
.searchInputWrap .zoomIcon { position: absolute; left: 22px; top: 18px;}
.searchShortcut {border-top: 1px solid #dcdcdc; min-height: 666px;}
.searchShortcut h4 { height: 44px;  text-align: center; color:#333; font-size:14px; font-weight: normal; border-bottom: 1px solid #e8e8e8; flex:1;}
.searchShortcut .tab {display: flex;}  
.searchShortcut .tab span { padding: 0 20px; border-bottom: 2px solid transparent;line-height: 44px; height: 44px; display: inline-block;}
.searchShortcut .tab .active span {color:#ff5e57; border-bottom-color: #ff5e57;}  
.searchShortcut ul {border-top: 1px solid #f6f6f6;}
.searchShortcut li { height: 49px; line-height: 49px; border-bottom: 1px solid #dcdcdc; margin: 0 14px; color:#999;}
.searchShortcut .clearHistories { font-size: 16px; color:#333; padding: 18px 0; text-align: center; display: block;}