@import 'utils/variables';
body{
	background: #ffedd7 ;
}
.shakelist{
	background: url(../img/shake-bg.png) no-repeat center top;
	background-size: cover;
	padding: 146px * 2 11px * 2 0;
}
.shakelist li{
	display: flex;
	background: #e3caad;
	padding: 10px * 2;
	margin-bottom: 12px * 2;
	border-radius: 5px * 2;
}
.shakelist-c1{
	background: #fff;
	width: 80px * 2;
	height: 80px * 2;
	border-radius: 5px * 2;
}
.shakelist-c1 img{
	max-width: 80px * 2;
	max-height: 80px * 2;
	border-radius: 5px * 2;
}
.shakelist-c2{
	flex:1;
	margin-left: 5px * 2;
}
.shakelist h2{
	font-size: 14px * 2;
	color: #8d5d45;
}
.shakelist-c2r1{
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.shakelist-price,
.shakelist-price2{
	font-size: 10px * 2;
	height: 18px * 2;
	line-height: 18px * 2;
	background: #f7a934;
	color: #9e231b;
	text-align: center;
	margin-top: 3px * 2;
	border-radius: 18px * 2;
	padding: 0 5px * 2;
}
.shakelist-price2{
	background: #5e1f2d;
	color: #fff;
}
.shakelist-btn{
	display: inline-block;
	width: 90px * 2;
	height: 30px * 2;
	line-height: 30px * 2;
	text-align: center;
	color: #fff;
	background: #ff5b54;
	border-radius: 30px * 2;
	box-shadow: 0 2px * 2 #bc2b25;
	font-size: 14px * 2;
	white-space: nowrap;
}
.shakelist-btn:visited{
	color: #fff;
}
.shakelist-btn svg{
	display: inline-block;
	max-width: 25px * 2;
	max-height: 25px * 2;
	vertical-align: -7px * 2;
	fill: #fff;
	transform:rotate(30deg);
	animation: shake 2s infinite;
}
@keyframes shake{
	0%,25%,50%{
		transform:rotate(30deg);
	}
	12.5%,37.5%{
		transform:rotate(0deg);
	}
}

.shaking{
	padding-top: 25px * 2;
}
.shaking-r1{
	display: flex;
	justify-content:space-between;
	font-size: 14px * 2;
	color: #8B572A;
	margin: 0 30px * 2 5px * 2;
}
.shaking-point{
	display: flex;
	justify-content:space-between;
	height: 34px * 2;
	line-height: 34px * 2;
	background: #FFC70F;
	border-radius: 34px * 2;
	color: #fff;
	box-shadow: 0 2px * 2 #EA9C37;
	margin: 0 16px * 2;
	padding: 0 18px * 2;
	font-size: 24px * 2;
	text-shadow:0 2px * 2 #E89B42;
}
.shaking-img img{
	width: 80px * 2;
	height: 80px * 2;
	position: absolute;
	left: 50%;
	transform:translate(-50%,0);
	margin-top: -56px * 2;
}
.shaking-icon{
	width: 190px * 2;
	height: 190px * 2;
	background: #F4DEC3;
	border-radius: 50%;
	position: relative;
	margin: 72px * 2 auto 34px * 2;
}
.shaking-icon svg{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 105px * 2;
	height: 138px * 2;
	margin-left: -53px * 2;
	margin-top: -69px * 2;
	fill: #fff;
	transform:rotate(15deg);
	animation: shake 2s infinite;
}
.shaking p{
	color: #8B572A;
	text-align: center;
}

.shaked{
	text-align: center;
	padding-top: 40px * 2;
	background: url(../img/shaked-bg.png) no-repeat;
	background-size: cover;
}
.shaked dl{
	margin-bottom: 15px * 2;
}
.shaked dt{
	font-size: 14px * 2;
	color: #8B572A;
	margin-bottom: 7px * 2;
}
.shaked dd{
	font-size: 32px * 2;
	color: #FFC70F;
	text-shadow:0 2px * 2 #EA9C37;
	margin-bottom: 10px * 2
}
.shaked-coupon,
.shaked-note{
	background: url(../img/icon-shaked-coupon.svg) no-repeat;
	width: 290px * 2;
	height: 127px * 2;
	display: flex;
	align-items:center;
	padding: 0 18px * 2;
	text-align: left;
	margin: 0 auto 67px * 2;
	background-size: contain;
}
.shaked-coupon-c2{
	flex:1;
	margin-left: 12px * 2;
}
.shaked-coupon h2{
	font-size: 14px * 2;
	color: #fff;
	margin-bottom: 5px * 2;
}
.shaked-note{
	display: block;
	padding-top: 30px;
	line-height: 2;
	text-align: center;
	background: none;
	p{
		font-size: 18px * 2;
		color: #8B572A;
	}
	h3{
		font-size: 24px * 2;
		color: #FFC70F;
	}
}
.shaked-coupon p{
	font-size: 14px * 2;
	color: #AC2924;
}
.shaked-coupon-price{
	text-align: right;
	color: #fff;
	font-size: 48px * 2;
}
.shaked-coupon-price small{
	font-size: 24px * 2;
	font-family: arial;
}
.shaked-coupon img{
	width: 80px * 2;
	height: 80px * 2;
}
.shaked-btns{
	margin-bottom: 17px * 2;
}
a.btn-yellow,
a.btn-red{
	display: inline-block;
	width: 125px * 2;
	height: 40px * 2;
	line-height: 40px * 2;
	border-radius: 40px * 2;
	font-size: 18px * 2;
	margin: 0 10px * 2;
}
a.btn-yellow{
	background: #FFC70F;
	box-shadow: 0 2px * 2 #EB9D27;
	color: #BC6917;
}
a.btn-red{
	color: #fff;
	background: #FF5B54;
	box-shadow: 0 2px * 2 #BC2B25;
}
a.btn-red.grey{
	background: #979DA9;
	box-shadow: 0 2px #979DA9;
}
.login-yao a.btn-yellow{
	text-align: center;
	display: block;
	margin: 35% auto 0;
}
a.btn-big{
	width: 192px * 2;
}
.tooltip{
	font-size: 16px * 2;
	color: #fff;
	padding: 11px * 2 23px * 2;
	border-radius: 8px * 2;
	white-space: nowrap;
}
.shaked-text{
	padding-top: 12px * 2;
	font-size: 12px * 2;
	color: #8B572A;
}

.shake-share{
	text-align: center;
	padding-top: 52px * 2;
	background: url(../img/shake-share-bg.png) no-repeat;
	background-size: cover;         
}
.shake-share img{
	width: 90px * 2;
	height: 90px * 2;
	border-radius: 50%;
}
.shake-share .btn-yellow{
	font-size: 16px * 2;
	height: 30px * 2;
	line-height: 30px * 2;
	display: block;
	width: 224px * 2;
	margin: -10px * 2 auto 39px * 2;
	position: relative;
	z-index: 1;
}
.shake-share dl{
	margin-bottom: 45px * 2;
}
.shake-share dt{
	font-size: 14px * 2;
	color: #8B572A;
	margin-bottom: 7px * 2;
}
.shake-share dd{
	font-size: 32px * 2;
	color: #FFC70F;
	text-shadow:0 2px * 2 #EA9C37;
	margin-bottom: 10px * 2
}
.shake-share p{
	margin-top: 19px * 2;
}