@import 'utils/variables';
@import 'base/reset';
@import 'base/base';
@import 'base/helper';

body{
	width: 640px;
}
img{
	width: 100%;
}
.wp{
    overflow: hidden; 
    height: 100%;           
}
.page{
	background: #363636;
	position: relative;
}
.page1{
	padding: 8px;
	
}
.page1 header{
	background: url(#{$bg-url}young/page1-bg.jpg) no-repeat center top;
	height: 277px;
	padding-top: 17px;
}
.page1 h1{
	background: url(#{$bg-url}young/page1-h1.png) no-repeat center;
	height: 59px;
	text-indent: -999em;
}
.page1 h2{
	text-align: center;
	margin-top: -5px;
	margin-bottom: -15px;
}
.page1 h2 span{
	background: url(#{$bg-url}young/page1-h2.png) no-repeat;
	display: inline-block;
	text-indent: -999em;
	opacity: 0;
	transition:all 0.3s;
}
.page1 .s1{
	width: 67px;
	height: 75px;
	transition-delay:0.1s;
}
.page1 .s2{
	width: 85px;
	height: 99px;
	background-position: -67px 0;
	transition-delay:0.3s;
}
.page1 .s3{
	width: 125px;
	height: 121px;
	background-position: -152px 0;
	transition-delay:0.5s;
}
.cur.page1 h2 span{
	opacity: 1;
	transform:rotate(360deg);
}
.page1 h3{
	font-size: 24px;
	color: #fff;
	font-family: '宋体';
	transform:rotate(10deg);
	text-align: center;
	letter-spacing: 4em;
	opacity: 0;
	white-space: nowrap;
	transition:all 0.3s 1s;
}
.cur.page1 h3{
	letter-spacing: 0;
	opacity: 1;
}
.page1 h4{
	font-size: 24px;
	margin-left: 50px;
	margin-top: 40px;
}
.page1 h5{
	font-size: 23px;
	color: #e84792;
	position: absolute;
	z-index: 2;
	left:50%;
	margin-left: -75px;
	top: 399px;
	text-align: center;
	opacity: 0;
	transition:all 0.5s 1s;
	white-space: nowrap;
}
.page1.active h5{
	opacity: 1;
}
.page1 h5 span{
	font-size: 25px;
}
.page1>footer{
	color: #fff;
	text-align: center;
	height: 85px;
	font-size: 23px;
	padding-top: 13px;
	position: absolute;
	left: 0;
	bottom:0;
	right:0;
	background: rgba(51,51,51,0.8);
}
.page1.active>footer{
	background:rgba(232,71,146,0.8);
	transition:all 0.5s 1s;
}
.page1>section{
	height: 652px;
	position: relative;
	background: #fff;
	overflow: hidden;
	padding: 9px 0;
}

.page1 .photo{
	border: 14px solid #333;
	margin: 0 auto;
	border-radius: 8px;
	height: 100%;
	overflow: hidden;
	transform-style: preserve-3d;
	transition:all 0.5s;
	position: relative;
	width: 476px;
	height: 606px;
}
.page1 .photo-label{
	font-size: 23px;
	color: #fff;
	width: 73px;
	height: 73px;
	line-height: 73px;
	text-align: center;
	border-radius: 50%;
	background: #333;
	position: absolute;
	z-index: 2;
	top: 24px;
	right: 20px;
}
.page1 .photo li{
	border-radius: 8px;
	backface-visibility:hidden;
	position: absolute;
	left: 0;
	top: 0;
	transition:all 0.5s;
}
.page1 .photo li.back{
	transform:rotateY(180deg);
}
.page1.active .photo li.front{
	transform:rotateY(180deg);
}
.page1.active .photo li.back{
	transform:rotateY(0deg);
}
.icon1{
	width: 88px;
	height: 88px;
	line-height: 88px;
	text-align: center;
	color: #ea4392;
	font-size: 30px;
	border-radius: 50%;
	background: rgba(255,255,255,0.8);
	
	z-index: 1;
	box-shadow: 0 0 12px rgba(115,115,115,0.45);
}
.icon1 i{
	content: '';
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	border:6px solid rgba(255,255,255,0.8);
	box-shadow: 0 0 16px rgba(174,174,174,0.45);
	animation: icon1 1.5s infinite linear;
}
@keyframes icon1{
	50%{
		width: 150px;
		height: 150px;
	}
}
.page2{
	border: 8px solid #333;
	background: #fff url(#{$bg-url}young/page2-bg.jpg) no-repeat center bottom;
	
}
.page2 h2{
	height: 56px;
	background: #fff url(#{$bg-url}young/page2-h2.png) no-repeat center;
	margin: 0 auto 16px;
	margin-top: 59px;
	text-indent: -999em;
}
.page2 h3{
	font-size: 24px;
	font-family: '宋体';
	color:#ea4392;
	text-align: center;
	padding:16px 0;
	border-top: 2px solid #ea4392;
	border-bottom: 2px solid #ea4392;
	margin: 0 36px;
	margin-bottom: 34px;
}
.page2 ul{
	margin-left: 50px;
}
.page2 li{
	float: left;
	margin-right: 13px;
	margin-bottom: 13px;
	transform:translate(640px,-300px);
	transition:all 0.5s;
	opacity: 0;
	font-size: 0;
}
.page2.cur li{
	transform:translate(0,0);
	opacity: 1;
}
@for $i from 1 through 9{
	.page2 li:nth-child(#{$i}){
		transition-delay:0.1s * $i;
	}
}
.page2 li img{
	width: 163px;
	height: 100px;
	border: 1px solid #f8f8f8;
}
.page2 section{
	height: 60%;
}
.page2 footer{
	font-size: 22px;
	color: #ea4392;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 62px;
}

.page3 section{
	margin: 18px;
	margin-left: 36px
}
.people{
	width: 597px;
	height: 763px;
}
.people>li{
	position: absolute;
	
	opacity: 0;
	transform:translate(640px,300px);
	transition:all 0.5s;
	border-radius: 8px;
}
.page3 section .people>li.active{
	transform:translate(-640px,300px);
	transition-delay:0s;
}
.cur .people>li{
	opacity: 1;
}
.page3 .people img{
	width: 597px;
	height: 706px;
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(53,53,53,0.61);
}
@for $i from 1 through 12{
	.cur .people>li:nth-child(#{$i}){
		transform:translate(-1px * $i,1px * $i);
		transition-delay:0.1s * $i;
	}
}
.page3 .num{
	width: 121px;
	height: 121px;
	line-height: 121px;
	text-align: center;
	border-radius: 50%;
	background: #f0e6ea;
	position: absolute;
	font-size: 36px;
	right: 30px;
	top: 30px;
}
.page3 .num span{
	color: #e4418f;
}
.page3 .prev,
.page3 .next{
	width: 67px;
	height: 98px;
	position: absolute;
	top: 366px;
	z-index: 99
}
.page3 .prev{
	background: url(#{$bg-url}young/prev.png) no-repeat;
	left: 27px;
}
.page3 .next{
	background: url(#{$bg-url}young/next.png) no-repeat;
	right: 27px;
}
.page3 .tab{
	display: flex;
}
.page3 .tab>li{
	background: url(#{$bg-url}young/tab-li.png) no-repeat;
	width: 182px;
	height:57px;
	line-height: 57px;
	font-size: 20px;
	margin-right: -45px;
	position: relative;
	text-align: center;
}
@for $i from 1 through 4{
	.page3 .tab>li:nth-child(#{$i}){
		z-index: 4-$i;
	}
}
.page3 .tab>li.active{
	background: url(#{$bg-url}young/tab-li-active.png) no-repeat;
	z-index: 4;
}
.page3 .tab{
	margin-top: -5px;
	margin-left: 2px;
}
.page3 .tab img{
	width: auto;
}
.page3 .tab .lock{
	margin-right: 9px;
}
.unlock{
	background: url(#{$bg-url}young/unlock.png) no-repeat;
	width: 30px;
	height: 27px;
	display: inline-block;
}
.lock{
	background: url(#{$bg-url}young/lock.png) no-repeat;
	width: 22px;
	height: 27px;
	display: inline-block;
}
.bar{
	height: 25px;
	border-radius: 8px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4),
				1px 1px 0 rgba(255,255,255,0.08);
	padding: 5px;
	margin: 0 24px;
}
.bar-current{
	height: 100%;
	background: #fff;
	border-radius: 5px;
	background: url(#{$bg-url}young/bar.png) repeat-x;
}
.page3-r1{
	text-align: center;
	color: #fff;
	font-size: 24px;
	margin-top: 24px;
	margin-bottom: 12px;
}
.page3-r1 span{
	background: #ea579b;
	color: #fff;
}
.page3-r2{
	display: flex;
	justify-content:space-between;
}
.page3-r2 a{
	display: block;
	height: 90px;
	border-radius: 5px;
	text-align: center;
	padding-top: 22px;
}
.page3-r2 div{
	font-size: 24px;
	color:#fff;
	margin-bottom: 7px;
}
.page3-r2 span{
	font-size: 20px;
	color: rgba(255,255,255,0.5);
}
.page3-r2 .a1{
	width: 380px;
	background: #e0407b;
}
.page3-r2 .a2{
	width: 196px;
	background: #fdab2c;
}
.page3 h2{
	font-size: 27px;
	color: #fff;
	background: #e3458f;
	height: 46px;
	line-height: 46px;
	position: absolute;
	left:26px;
	top: 32px;
	padding:0 5px;
}
.page3 h3{
	font-size: 27px;
	color: #fff;
	background: #323232;
	height: 46px;
	line-height: 46px;
	position: absolute;
	left:26px;
	top: 85px;
	padding:0 5px;
}
.page3 footer{
	height: 221px;
	position: absolute;
	left:0;
	right: 0;
	bottom:0;
}
.start{
    position: fixed;
    left: 50%;
    margin-left: -25px;
    top: 95%;
    width: 51px;
    height: 42px;
}
.start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 51px;
    height: 42px;
    background: url(#{$bg-url}young/arrow.png);
    background-size: 100% 100%;
    animation: start 1.5s infinite ease-in-out;
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,-5px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, 10px);
    }
}
.page4{
	text-align: center;
	background: #fff url(#{$bg-url}young/page4-bg.jpg) no-repeat center top;
}
.page4 h3{
	font-size: 24px;
	font-family: '宋体';
	color:#e84792;
	text-align: center;
	padding:16px 0;
	border-top: 2px solid #ea4392;
	border-bottom: 2px solid #ea4392;
	margin: 326px 36px 187px;
}
.page4 h4{
	font-size: 24px;
	background: #e84792;
	height: 46px;
	line-height: 46px;
	padding: 0 30px;
	color: #fff;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
}
.page4 h4:before{
	content: '';
	left:-1px;
	position: absolute;
	border-style: solid;
	border-width: 23px 12px;
	border-color: transparent transparent transparent #fff;
}
.page4 h4:after{
	content: '';
	right:-1px;
	position: absolute;
	border-style: solid;
	border-width: 23px 12px;
	border-color: transparent #fff transparent transparent;
}
.page4 p{
	font-size: 24px;
}
.page4 .share{
	font-size: 29px;
	color: #e84792;
	margin-top: 200px;
	text-decoration: underline;
	margin-bottom: 15px;
	display: block;
}

.dialog-b{
	width: 590px;
	background: #fff;
	border-radius: 10px;
	padding: 38px 40px;
}
.dialog-phone h2{
	font-size: 28px;
	margin-bottom: 30px;
}
.dialog-phone input{
	background: #f1f1f1;
	width: 100%;
	height: 80px;
	line-height: 80px;
	padding-left: 32px;
	font-size: 28px;
	font-family: arial;
	border: none;
	box-shadow: inset 0 2px 3px rgba(170,170,170,0.2); 
	border-radius: 10px;
	margin-bottom: 30px;
}
.btn{
	height: 80px;
	line-height: 80px;
	width: 100%;
	background: #e54588;
	font-size: 28px;
	color: #fff;
	border-radius: 10px;
}
.btn2{
	background: #f6b645;
}
.btn3{
	background: #45cc5b;
	line-height: 32px;
	text-align: left;
	padding-left: 88px;
	padding-right: 44px;
}
.dialog-success{
	text-align: center;
}
.dialog-success h2{
	font-size: 28px;
	color: #e54588;
	margin-bottom: 10px;
	margin-top: 24px;
}
.dialog-success p{
	font-size: 28px;
	margin-bottom: 56px;
}
.dialog-success-r1{
	display: flex;
	justify-content:space-between;
	margin-bottom: 10px;
}
.dialog-success-r1 .btn{
	display: block;
	width: 246px;
}
.icon-success{
	width: 90px;
	height: 90px;
	display: inline-block;
	background: url(#{$bg-url}young/icon-success.png) no-repeat;
}
@media (max-height: 832px) {
	.page1 header{
		padding-top: 7px;
		height: 243px;
		background-image:url(#{$bg-url}young/page1-bg-4s.jpg);
	}
    .page1 .photo{
    	width: 404px;
    	height: 535px;
    }
    .page1 h5{
    	top: 323px;
    }
    .page1 h4{
    	margin-top: 20px;
    }
    .page2{
    	background-image:url(#{$bg-url}young/page2-bg-4s.jpg);
    }
    .page2 li:nth-child(n+7){
		display: none;
    }
    .page2 h3{
    	margin-bottom: 17px;
    	white-space: nowrap;
    	font-size: 22px;
    }
    .page3 .people img{
    	width: 567px;
    	height: 593px;
    }
	.people{
		width: 567px;
		height: 609px;
	}
	.page3 section{
		margin-top: 12px;
	}
	.page3 footer{
		height: 155px;
	}
	.page3-r2 a{
		height: 70px;
		padding-top: 12px;
	}
	.page3 .tab>li{
		width: 163px;
		height: 50px;
		line-height: 50px;
		margin-right: -30px;
		background: url(#{$bg-url}young/tab-li-4s.png) no-repeat;
	}
	.page3 .tab>li.active{
		background: url(#{$bg-url}young/tab-li-active-4s.png) no-repeat;
	}

	.bar{
		height: 21px;
		padding: 4px;
	}
	.page3-r1{
		margin-top: 16px;
		margin-bottom: 20px;
	}
	.page4{
    	background-image:url(#{$bg-url}young/page4-bg-4s.jpg);
    }
    .page4 h3{
    	margin-top: 220px;
    }
    .page4 .share{
    	margin-top: 114px;
    }
}