<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/520.css">

</head>
<body class="body1">


	<section class="goto520">
		<div class="banner-scroll-inner">
        <div class="step1">

        	<div class="step1tip">
        		<img src="../img/step1.png">
        		<span >注册成功顺丰海淘会员得格瓦拉代金券+顺丰海淘代金券</span>
        	</div>

        	<div class="step1info">
	          <ol>
	            <li>
	              <input type="text" class="input" id="input-mobile" placeholder="仅限中国大陆手机号">
	            </li>

	            <li>
	              <div class="clearfix">
				          <button class="btn btn-normal success fr" id="mobile-code-btn">发送验证码</button>
				          <div class="login-r3c2">
				            <input type="text" class="input" id="input-mobile-code" placeholder="输入验证码">
				          </div>
				        </div>
	           </li>

	           <li>
	             <input type="password" class="input" id="input-password" placeholder="请设置登录密码">
	           </li>
						 <li>
	             <button class="btn btn-success btn-big" id="mobile-register-btn">同意协议并注册</button>
	           </li>
	          </ol>

       		</div>

      </div>

      <div class="step1success"  style="display:none">
        <div class="step1successtip"><span class="icon icon36"></span><span class="">注册成功</span></div>
        <div class="step1successinfo">请至<span>我的优惠券</span>查看格瓦拉代金券与顺丰海淘优惠券</div>
      </div>

      <p class="line"></p>

      <div class="step2">
        <img src="../img/step2.png">
        <span class="step2tip">邀请你心中的那个TA一起注册得格瓦代金券+顺丰海淘代金券甜蜜520一起看电影，买洋货！</span>

        <div class="step1info">
          <ol>
            <li>
              <input id="invitemobile" type="text" class="input" placeholder="请输入TA的手机号" can-value="username">
            </li>
          </ol>

          <ol class="invitemessages">
            <li>
              <span name="invitemessage1" class="icon radio active"></span>
              <span>邀请模板1</span>
            </li>
            <li>
              <span name="invitemessage2" class="icon radio"></span>
              <span class="invitemessage"></span><span>邀请模板2</span>
            </li>
            <li>
              <span name="invitemessage3" class="icon radio"></span>
              <span class="invitemessage"></span><span>邀请模板3</span>
            </li>
          </ol>

          <div class="messagedetail">邀请模版1邀请模版1邀请模版1邀请模版1邀请邀请模版
1模版1邀请模版1邀请模版1</div>

          <div class="step2success" style="display:none">
            <div class="step2successtip"><span class="icon icon36"></span><span>邀请已发出</span></div>
          </div>

          <div class="register-br1">
             <input id="invitemobilecode" type="text" class="invitemobilecode" placeholder="请输入验证码">
             <span class="showmobilecode">293195</span>
             <a href="" class="nextmobilecode">换一个</a>
          </div>

          <div class="register-br1">
            <button type="submit" class="btn btn-success btn-big" id="mobile-register-btn">邀请TA</button>
          </div>

        </div>

      </div>

      </div>
	</section>

</body>
</html>