<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	== Slim::Template.new('module/header.slim').render	
	<section class="address-detail">
		<h2 class="address-title">修改收货地址</h2>
		<ul>
			<ul>
				<li><label>收货人</label>柳行</li>
				<li><label>手机号码</label>139889375682</li>
				<li><label>身份证号</label>330887********3647</li>
				<li><label>所在地区</label>上海 徐汇区</li>
				<li><label>详细地址</label>虹梅路2007号1号楼8楼</li>
			</ul>
		</ul>
		<button class="btn btn-normal btn-big">删除收货地址</button>
		<button class="btn btn-normal btn-big">设为默认地址</button>
	</section>
	<section class="nav">
	<div class="nav-r1">
		<div class="nav-c2">
			<a href="detail-select.html" class="btn btn-danger btn-big">修改</a>
		</div>
		
	</div>		
</section>
</body>
</html>