<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/app.css">

</head>
<body class="body1">
	<section class="app-banner">
		<a href="">去下载领取</a>
	</section>
	<section class="app-anywhere">
		<div class="app-anywhere-bg">
			<h2>随时随地海淘</h2>
			<p>地铁公交想淘就淘<br>秒杀抢券不再错过</p>
			<img class="app-anywhere-phone" src="../img/app/app-anywhere-phone.png" width="172">
			<img class="app-anywhere-plane" src="../img/app/app-anywhere-plane.png" width="56">
		</div>
	</section>
	<section class="app-favorable">
		<h2>App专享优惠</h2>
		<ul>
			<li>
				<h3>APP专属红包</h3>
				<p>APP专属无门槛抵用券，还不快抢</p>
			</li>
			<li>
				<h3>积分零钱包</h3>
				<p>APP专享双倍积分，下单抵用直减</p>
			</li>
			<li>
				<h3>一大波专享活动来袭</h3>
				<p>不是APP用户我不告诉他 </p>
			</li>
		</ul>
	</section>
	<section class="app-logistics">
		<div class="app-logistics-bg">
			<h2>随时随地查物流</h2>
			<p>宝贝到哪了？<br>APP主动告诉你！</p>
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<img class="app-logistics-car" src="../img/app/app-car.png" width="154">
			<img class="app-logistics-tire1" src="../img/app/app-tire.png" width="25">
			<img class="app-logistics-tire2" src="../img/app/app-tire.png" width="25">
			<img class="app-logistics-shadow" src="../img/app/app-shadow.png" width="150">
		</div>
	</section>
	<section class="app-user">
		<h2>听听用户心声</h2>
		<ul>
			<li>他们给我推荐这个APP，</li>
			<li>一开始我是拒绝的，</li>
			<li>他们说都是海外正品还有很多优惠，</li>
			<li>我觉得也是骗人的，</li>
			<li>直到我用了以后，</li>
			<li>Duang~~买买买，</li>
			<li>根本停不下来！</li>
		</ul>
			
	</section>
	<script src="../js/zepto.min.js"></script>
	<script src="../js/canvasjs.min.js"></script>
	<script src="../js/invite-chart.js"></script>
</body>
</html>