<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/app.css">

</head>
<body class="body1">
	<section class="app-anywhere">
		<h2>随时随地海淘</h2>
		<p>地铁公交想淘就淘<br>秒杀抢券不再错过</p>
	</section>
	<script src="../js/zepto.min.js"></script>
	<script src="../js/canvasjs.min.js"></script>
	<script src="../js/invite-chart.js"></script>
</body>
</html>