<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/cart.css">

</head>
<body class="body1">
	<!--头部-->
	== Slim::Template.new('module/header.slim').render
	<!--头部-->
	<section class="cart-none">
		<p>购物车空空如也～</p>
		<button class="btn btn-normal btn-radius">去逛逛</button>
		<button class="btn btn-normal btn-radius">去登录</button>
	</section>
</body>
</html>