<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘三方合作</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/coffee.css">
</head>
<body>
	<!--头部-->
	<header class="header">
		<a href="javascript:" class="coffee-header-title">顺丰海淘三方合作
		</a>
	</header>
	<!-- banner -->
	<section class="coffee-banner clearfix">
		<div class="coffee-banner-inner">
			<div class="fl"><img src="../img/coffee-logo.png" alt=""></div>
			<h2>免费咖啡券<br>领取规则</h2>
		</div>		
	</section>
	<!-- 条件列表 -->
	<ol class="coffee-list">
		<li>
			<div class="coffee-list-title">
				== Slim::Template.new('../svg/coffee-bean.svg').render
				<em>条件<i class="icon coffee-01">1</i></em>通过宣传页扫码进来
			</div>门店的宣传页上用微信扫一扫，不是用扫把扫一扫哦～
		</li>
		<li>
			<div class="coffee-list-title">
				== Slim::Template.new('../svg/coffee-bean.svg').render
				<em>条件<i class="icon coffee-02">1</i></em>必须是顺丰海淘新用户
			</div>顺丰海淘是什么鬼？我们是一家致力于卖正品的跨境商品直营平台！
		</li>
		<li>
			<div class="coffee-list-title">
				== Slim::Template.new('../svg/coffee-bean.svg').render
				<em>条件<i class="icon coffee-03">1</i></em>挑选任意商品并成功下单
			</div>所有商品均为海外直采，价优物美！下单即可获得免费咖啡券哦！
		</li>
	</ol>
	<p class="coffee-tips">（获得的咖啡券可在我的优惠券中进行查看）</p>
	<div class="btn-box"><button class="btn btn-danger">逛逛有啥可买的</button></div>
</body>
</html>