<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">	
	<!--商品-->
	== Slim::Template.new('module/goods.slim').render	
	<!--商品-->
	<section class="coupon-discount">
		<ul class="box box1">
			<li><a href="" class="box-link"><span class="label label-soon">满减<i></i></span>满200元立减30</a><span class="icon icon13 box-arrow center-vertical"></span></li>
			<li><a href="" class="box-link"><span class="label label-soon">满折<i></i></span>满2件立减10元</a><span class="icon icon13 box-arrow center-vertical"></span></li>
		</ul>
		<div class="box coupon-discount-more">
			<a href="">更多优惠</a>
		</div>
		
	</section>
		
	<!--商品详情-->
	== Slim::Template.new('module/detail.slim').render
	<!--商品详情-->
	<!--推荐商品-->
	== Slim::Template.new('module/recommend.slim').render
	<!--推荐商品-->
	<!--立即购买-->
	== Slim::Template.new('module/nav-buy.slim').render
	<!--立即购买-->
	<script src="../js/zepto.min.js"></script>
	<script src="../js/swipe.js"></script>
	<script src="../js/slider.js"></script>
</body>
</html>