<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">	
	<!--商品-->
	== Slim::Template.new('module/goods.slim').render	
	<!--商品-->
	<ul class="box coupon-discount">
		<li class="active">
			<div class="coupon-discount-r1">
				<div class="coupon-discount-c1"><button class="label-soon">满就减</button>满200元立减30</div>
				<div class="coupon-discount-c2"><a href="">更多优惠<span class="icon icon44"></span></a></div>
			</div>
				
			<ul class="coupon-discount-list">
				<li>满100减20<a href="">去看看</a></li>
				<li>满100减20<a href="">去看看</a></li>
			</ul>			
		</li>
		<li>
			<div class="coupon-discount-r1">
				<div class="coupon-discount-c1"><button class="label-soon">满件折</button>满200元立减30</div>
				<div class="coupon-discount-c2"><a href="">更多优惠<span class="icon icon44"></span></a></div>
			</div>
				
		</li>
	</ul>
	<!--商品详情-->
	== Slim::Template.new('module/detail.slim').render
	<!--商品详情-->
	<!--推荐商品-->
	== Slim::Template.new('module/recommend.slim').render
	<!--推荐商品-->
	<!--立即购买-->
	== Slim::Template.new('module/nav-buy.slim').render
	<!--立即购买-->
	<script src="../js/zepto.min.js"></script>
	<script src="../js/swipe.js"></script>
	<script src="../js/slider.js"></script>
</body>
</html>