<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="../js/mobile-util.js"></script>
	<title>支付成功</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	<section class="gift-card box">
		<p>凭4位验证码，<span class="text-important">可领取一张在台湾5日内无流量限制的手机上网卡 。</span></p>
		<ul>
			<li>S</li>
			<li>9</li>
			<li>Y</li>
			<li>7</li>
		</ul>
		<div class="gift-card-r1 text-important"><span class="icon icon40"></span>将此页展示给商家即可!</div>
	</section>
	<section class="gift-card-time box">
		<h2>领卡时间</h2>
		<time><span class="icon icon42"></span>2015年4月29日 至 2015年5月10日</time>
	</section>
	<section class="gift-card-address box">
		<h2>领卡地址</h2>
		<ul>
			<li>
				<span class="icon icon41"></span>
				<h3>桃園機場二航站</h3>
				<address>桃園縣大園鄉航站南路9號(第二航廈入境管制區)</address>
			</li>
			<li>
				<span class="icon icon41"></span>
				<h3>桃園機場二航站</h3>
				<address>桃園縣大園鄉航站南路9號(第二航廈入境管制區)</address>
			</li>
		</ul>
	</section>
	
</body>
	
</html>