<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="../js/mobile-util.js"></script>
	<title>支付成功</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	<section class="gift-phone">
		<img src="../img/gift-phone-bg.jpg">
		<div class="gift-phone-b">
			<h2><span class="gift-phone-icon"></span>输入中国大陆手机号<br>领取畅游台湾礼包</h2>
			<input type="text" class="input" placeholder="输入手机号">
			<button class="btn btn-danger btn-big">确定</button>
		</div>
		
	</section>
	
</body>
	
</html>