<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body>
	<div class="logout center">
		<div class="loading9 center"><i></i><i></i><i></i><i></i></div>
	</div>
	
	<script src="js/zepto.min.js"></script>
	<script src="js/swipe.js"></script>
	<script src="js/slider.js"></script>
</body>
</html>