<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/nataral.css">

</head>
<body class="body1">
	<!--头部-->
	== Slim::Template.new('module/header.slim').render
	<!--头部-->
	<figure class="nataral-shop">
		<img src="http://placehold.it/640x387">
		<figcaption><span class="icon icon60"></span>淘最热米粉品牌-Earths Best店</figcaption>
	</figure>
	<section class="nataral-tab">
		<ul>
			<li><a href="javascript:">品牌<i></i></a></li>
			<li class="active"><a href="javascript:">类目<i></i></a></li>
			<li><a href="javascript:">综合<i></i></a></li>
		</ul>
	</section>
	<section class="nataral-brand nataral-tab-b">
		<ul>
			<li class="active"><a href="javascript:">综合</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">ESTEE LAUDER</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">LANCOME</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">LAMER</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">SK-II</a><div class="icon icon61"></div></li>
		</ul>
	</section>
	<div class="nataral-tab-b active">
		<section class="nataral-classify active">
			<div class="nataral-classify-b">
				<ul>
					<li class="active"><div class="nataral-classify-icon" style="background-image:url(../img/nataral-classify-all.png);background-size: 37px;"></div><h3>全部</h3></a></li>
				</ul>
			</div>
		</section>
		<section class="nataral-classify">
			<div class="nataral-classify-h">
				<h2>美妆个护</h2>
				<a href="javascript:" class="nataral-classify-btn">展开</a>
			</div>
			<div class="nataral-classify-b">
				<ul>
					<li class="active">
						<div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3>
					</li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
				</ul>
			</div>
		</section>
		<section class="nataral-classify">
			<div class="nataral-classify-h">
				<h2>食品保健</h2>
				<a href="javascript:" class="nataral-classify-btn">展开</a>
			</div>
			<div class="nataral-classify-b">
				<ul>
					<li class="active"><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
					<li><div class="nataral-classify-icon" style="background-image:url(http://placehold.it/100x100)"></div><h3>个人护理</h3></li>
				</ul>
			</div>
		</section>
	</div>
	<section class="nataral-brand nataral-tab-b">
		<ul>
			<li class="active"><a href="javascript:">综合</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">ESTEE LAUDER</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">LANCOME</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">LAMER</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">SK-II</a><div class="icon icon61"></div></li>
		</ul>
	</section>	
	<script src="../js/zepto.min.js"></script>
	<script src="../js/nataral-classify.js"></script>
</body>
</html>