<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/nataral.css">

</head>
<body class="body1">
	<!--头部-->
	== Slim::Template.new('module/header-nataral.slim').render
	<!--头部-->
	<section class="natarail-tab">
		<ul>
			<li><a href="">品牌</a></li>
			<li><a href="">类目</a></li>
			<li><a href="">综合</a></li>
		</ul>
	</section>
</body>
</html>