<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/swiper.min.css">
	<link rel="stylesheet" href="../css/nataral.css">

</head>
<body class="body1">
	<!--头部-->
	== Slim::Template.new('module/header.slim').render
	<!--头部-->
	== Slim::Template.new('module/swipe.slim').render
	<nav class="nataral-nav">
		<ul>
			<li><a href="">全球<br>精品</a></li>
			<li><a href=""><span class="icon icon64">in</span><br>韩国</button></a></li>
			<li class="active"><a href=""><span class="icon icon64">in</span><br>台湾</a></li>
		</ul>
	</nav>
	<section class="nataral-product">
		<h2 class="nataral-h2">明星爆款</h2>
		<ul>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href=""><span class="nataral-product-star">明星</span>意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href="">意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href="">意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href="">意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
		</ul>
	</section>
	<section class="nataral-brand nataral-brand-select">
		<div class="nataral-brand-h">
			<h2 class="nataral-h2">全部商铺</h2>
			<div class="nataral-brand-h-icon"></div>
		</div>
		
		<ul>
			<li class="active"><a href="javascript:">全部商铺</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">地方美食</a><div class="icon icon61"></div></li>
			<li><a href="javascript:">美妆个护</a><div class="icon icon61"></div></li>
		</ul>
	</section>
	<figure class="nataral-shop">
		<img src="http://placehold.it/640x387">
		<figcaption class="ellipsis"><span class="icon icon60"></span>淘最热米粉品牌-Earths Best店淘最热米粉品牌-Earths Best店</figcaption>
	</figure>
	<section class="nataral-product">
		<ul>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href="">意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href="">意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
			<li>
				<div class="nataral-product-c1">
					<img src="http://placehold.it/150x150">
				</div>
				<div class="nataral-product-c2">
					<h3><a href="">意大利Mellin美林动物饼干可爱360g/盒*2</a></h3>
					<span class="text-important">¥1999</span><span class="text-disable">约NT$999</span>
				</div>
			</li>
		</ul>
	</section>
	<section class="nataral-code">FKXO1234</section>
	<script src="../js/zepto.min.js"></script>
	<script src="../js/swiper.js"></script>
	<script src="../js/slider.js"></script>
	<script src="../js/nataral-classify.js"></script>
</body>
</html>