<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="../js/mobile-util.js"></script>
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/nataral.css">

</head>
<body class="body1">
	<!--头部-->
	== Slim::Template.new('module/header-nataral.slim').render
	<!--头部-->
	<img src="http://placehold.it/640x230" class="banner" alt="">
	<section class="nataral-index">
		<ul>
			<li>
				<img src="http://placehold.it/640x603">
				<div class="nataral-inner">
					<h2>緣起臺中第一家烘焙餐廳.糖村</h2>
					<ul>
						<li><span class="nataral-label"><span class="justify">明星产品</span>:</span>凤梨酥   牛轧糖    甜品</li>
						<li><span class="nataral-label"><span class="justify">店铺介绍</span>:</span>不可替代是廣大吃貨的絕對福音的</li>
						<li><span class="nataral-label"><span class="justify">地址</span>:</span>鸿福路128号</li>
					</ul>
					<div class="nataral-index-r1 clearfix">
						<div class="nataral-index-r1c1 fl">15家分店</div>
						<div class="nataral-index-r1c2 fr">台湾</div>
					</div>
				</div>
					
			</li>
			<li>
				<img src="http://placehold.it/640x603">
				<div class="nataral-inner">
					<h2>緣起臺中第一家烘焙餐廳.糖村</h2>
					<ul>
						<li><span class="nataral-label"><span class="justify">明星产品</span>:</span>凤梨酥   牛轧糖    甜品</li>
						<li><span class="nataral-label"><span class="justify">店铺介绍</span>:</span>不可替代是廣大吃貨的絕對福音的</li>
						<li><span class="nataral-label"><span class="justify">地址</span>:</span>鸿福路128号</li>
					</ul>
					<div class="nataral-index-r1 clearfix">
						<div class="nataral-index-r1c1 fl">15家分店</div>
						<div class="nataral-index-r1c2 fr">台湾</div>
					</div>
				</div>
			</li>
		</ul>
	</section>
		
</body>
</html>