<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/nataral.css">

</head>
<body class="body1">
	<!--头部-->
	== Slim::Template.new('module/header-nataral.slim').render
	<!--头部-->
	<figure class="nataral-shop">
		<img src="http://placehold.it/640x387">
		<figcaption><span class="icon icon60"></span>淘最热米粉品牌-Earths Best店</figcaption>
	</figure>
	<section class="nataral-tab">
		<ul>
			<li><a href="javascript:">品牌</a></li>
			<li class="active"><a href="javascript:">类目</a></li>
			<li><a href="javascript:">综合</a></li>
		</ul>
	</section>
	<section class="nataral-classify">
		<div class="nataral-classify-b">
			<ul>
				<li class="active"><figure><img src="../img/nataral-classify-all.png" width="32"></figure><h3>全部</h3></a></li>
			</ul>
		</div>
	</section>
	<section class="nataral-classify">
		<div class="nataral-classify-h">
			<h2>美妆个护</h2>
			<a href="javascript:" class="nataral-classify-btn">展开</a>
		</div>
		<div class="nataral-classify-b">
			<ul>
				<li class="active">
					<figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3>
				</li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
			</ul>
		</div>
	</section>
	<section class="nataral-classify">
		<div class="nataral-classify-h">
			<h2>食品保健</h2>
			<a href="javascript:" class="nataral-classify-btn">展开</a>
		</div>
		<div class="nataral-classify-b">
			<ul>
				<li class="active"><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
				<li><figure><img src="http://placehold.it/100x100"></figure><h3>个人护理</h3></li>
			</ul>
		</div>
	</section>
	<script src="../js/zepto.min.js"></script>
	<script src="../js/nataral-classify.js"></script>
</body>
</html>