<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="target-densitydpi=device-dpi,width=640" name="viewport">
	<script type="text/javascript" src="../js/mobile-util.js"></script>
	<title>日本馆</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/new-zealand.css">
</head>
<body>
	<header>
		<h1>全球免税海外购</h1>
		<h2>让你不出国门享受国外当地价8折</h2>
		<h3>全球正品 值得信赖</h3>
	</header>
	<section class="mjapan-wp">
		<!-- 馆列表 -->
		<ul class="mjapan-list clearfix">
			<li>
				<img src="../img/country/img-01.jpg">
				<div class="mjapan-mask">
					<p>精致</p>
					<h2>日本馆</h2>
					<span>Japan</span>
				</div>
			</li>
			<li>
				<img src="../img/country/img-02.jpg">
				<div class="mjapan-mask">
					<p>纯净</p>
					<h2>澳大利亚馆</h2>
					<span>Asutralia</span>
				</div>
			</li>
			<li class="active">
				<img src="../img/country/img-03.jpg">
				<div class="mjapan-mask">
					<p>探索</p>
					<h2>新西兰馆</h2>
					<span>New Zealand</span>
				</div>
			</li>
			<li>
				<img src="../img/country/img-03.jpg">
				<div class="mjapan-mask">
					<p>魅力</p>
					<h2>意大利馆</h2>
					<span>Italy</span>
				</div>
			</li>
		</ul>
		<!-- 馆列表 -->
		<!-- 视频列表 -->
		<ul class="mjapan-video-list">
			<li style="display:block;">
				<img src="../img/japan/video-demo.jpg" />
				<div class="mjapan-mask"><a class="japan-video-list-play"><i>播放</i><br/>查看视频</a></div>
				<div class="mjapan-video-box"><!-- 这里放视频 --></div>
			</li>
			<li>
				<img src="../img/japan/video-demo.jpg" />
				<div class="mjapan-mask"><a class="japan-video-list-play"><i>播放</i><br/>查看视频</a></div>
				<div class="mjapan-video-box"><!-- 这里放视频 --></div>
			</li>
			<li>
				<img src="../img/japan/video-demo.jpg" />
				<div class="mjapan-mask"><a class="japan-video-list-play"><i>播放</i><br/>查看视频</a></div>
				<div class="mjapan-video-box"><!-- 这里放视频 --></div>
			</li>
			<li>
				<img src="../img/japan/video-demo.jpg" />
				<div class="mjapan-mask"><a class="japan-video-list-play"><i>播放</i><br/>查看视频</a></div>
				<div class="mjapan-video-box"><!-- 这里放视频 --></div>
			</li>
		</ul>
		<div class="mjapan-video-pic">
			<a href="" class="mjapan-before">向前</a>
			<div class="mjapan-video-pic-list">
				<ul class="clearfix">
					<li class="active"><img src="../img/japan/video-pic-demo.jpg"></li>
					<li><img src="../img/japan/video-pic-demo.jpg"></li>
					<li><img src="../img/japan/video-pic-demo.jpg"></li>
					<li><img src="../img/japan/video-pic-demo.jpg"></li>
					<li><img src="../img/japan/video-pic-demo.jpg"></li>
				</ul>
			</div>
			<a href="" class="mjapan-after">向后</a>
		</div>
		<!-- 视频列表 -->
		<!-- 日本馆简介 -->
		<div class="mjapan-intro-text australia-intro">
			<img src="../img/country/new-intro.jpg" alt="">
			<!-- <div class="mjapan-intro-text-inner">
				<div class="mjapan-intro-text-title">
					<h2>顺丰海淘携手日本知名品牌 </h2>
					<p>SFHT&Japanese</p>
				</div>
				<div class="mjapan-intro-text-ct">
					<p>为你带来日本国宝级的必买商品</p>
					<p class="bg">正品授权，海外自采</p>
					<p>原生态直邮免税</p>
				</div>
				<span class="mjapan-flag"></span>
			</div> -->
		</div>
		<!-- 日本馆简介 -->
		<img src="../img/country/new-banner02.jpg" class="banner02">
		<!-- 单品推荐 -->
		<div class="japan-goods-box new-goods">
			<h2 class="title"><span class="text-icon">日本国宝级 单品推荐</span></h2>
			<ul class="japan-goods-list clearfix">
				<li>
					<div class="japan-goods-img">
						<img src="../img/japan/demo.jpg" alt="" width="204" height="284" />
						<div class="mask show"></div>
					</div>
					<div class="japan-goods-item">
						<div class="japan-goods-item-title">	
							<h2>液体防水创可贴</h2>
							<h3 class="pink">日本人都在使用 非常好用</h3>
						</div>
						<p class="item">小林制药SEKAM CARE 液体创可贴止血绊创膏保护膜</p>
						<div class="japan-price">促销价<span class="pink"><em>&yen;</em>59</span><del>参考价：140元</del></div>
						<button class="japan-button">立即抢购</button>
					</div>
				</li>
				<!-- <li>
					<img src="../img/japan/demo.jpg" alt="" width="204" height="284" />
					<div class="japan-goods-item">
						<div class="japan-goods-item-title">	
							<h2>液体防水创可贴</h2>
							<h3 class="pink">日本人都在使用 非常好用</h3>
						</div>
						<p class="item">小林制药SEKAM CARE 液体创可贴止血绊创膏保护膜</p>
						<div class="japan-price">促销价<span class="pink"><em>&yen;</em>59</span><del>参考价：140元</del></div>
						<button class="japan-button">立即抢购</button>
					</div>
				</li>
				<li>
					<img src="../img/japan/demo.jpg" alt="" width="204" height="284" />
					<div class="japan-goods-item">
						<div class="japan-goods-item-title">	
							<h2>液体防水创可贴</h2>
							<h3 class="pink">日本人都在使用 非常好用</h3>
						</div>
						<p class="item">小林制药SEKAM CARE 液体创可贴止血绊创膏保护膜</p>
						<div class="japan-price">促销价<span class="pink"><em>&yen;</em>59</span><del>参考价：140元</del></div>
						<button class="japan-button">立即抢购</button>
					</div>
				</li>
				<li>
					<img src="../img/japan/demo.jpg" alt="" width="204" height="284" />
					<div class="japan-goods-item">
						<div class="japan-goods-item-title">	
							<h2>液体防水创可贴</h2>
							<h3 class="pink">日本人都在使用 非常好用</h3>
						</div>
						<p class="item">小林制药SEKAM CARE 液体创可贴止血绊创膏保护膜</p>
						<div class="japan-price">促销价<span class="pink"><em>&yen;</em>59</span><del>参考价：140元</del></div>
						<button class="japan-button">立即抢购</button>
					</div>
				</li> -->

			</ul>
		</div>
		<!-- 单品推荐 -->
		<!-- 活动规则 -->
		<div class="mjapan-active-rule new-active">
			<h2><span>活动规则</span></h2>
			<ol class="mjapan-active-rule-list">
				<li><span class="num">1.</span>【活动时间】2015-8-5 10:00:00 - &nbsp;2015-8-31 23:59:59</li>
				<li><span class="num">2.</span>99元减30元（不封顶），是指订单金额满99元购物车会立即减30元，并且根据订单金额可以累计立减。</li>
				<li><span class="num">3.</span>满300送3000，是指一个账户一次购物订单支付满300元，可以返3000积分，订单配送成功客户确认收货后，系统自动会把3000积分返到你的账户中，100积分=1元，3000积分相当于30元，不可以兑现，可以直接购物抵用。</li>
				<li><span class="num">4.</span>积分的使用详细说明请到在账户的个人中心中查看</li>
				<li><span class="num">5.</span>折扣商品数量有限先到先得；</li>
				<li><span class="num">6.</span>顺丰海淘可在法律法规允许范围内对本次活动规则进行解释。</li>
			</ol>
		</div>
		<!-- 活动规则 -->
	</section>
		
		
</body>
</html>