<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>老带新改版v0.2</title>
	<style>ul{list-style-type: none;}li{border-bottom: 1px solid #eee;}a{color: #333;font-size: 20px; text-decoration: none;display: block;padding: 30px 0;}</style>
</head>
<body>
	<h2>老带新改版</h2>
	<ul>
		<li><a href="partner-account.html">1. 未登录/已登录</a></li>
		<li><a href="partner-user.html">2.未/已达标小伙伴</a></li>
		<li><a href="partner-income.html">3.收入明细</a></li>
		<li><a href="partner-no.html">4.没有已注册用户</a></li>
		<li><a href="partner-bags.html">5.领取红包页</a></li>
		<li><a href="partner-phone.html">6.输入手机号领取红包</a></li>
		<li><a href="partner-login.html">7.注册领红包</a></li>
		<li><a href="partner-old-user.html">8.非新用户提示</a></li>
		<li><a href="partner-bags-success.html">9.领取成功</a></li>
		<li><a href="partner-bags-use.html">10.领取成功</a></li>
		<li><a href="partner-user-none.html">11.没有已注册未完成</a></li>
	</ul>
</body>
</html>