<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	== Slim::Template.new('module/header.slim').render	
	<div class="alert-warning">政策规定，商品进口需提供收货人的实名认证信息。</div>
	
	<!--订单-->
	== Slim::Template.new('module/order-add.slim').render
	<!--订单-->
	<section class="nav">
		<div class="nav-r1">
			<div class="nav-c1">
				<a href="">
					<span class="icon icon25"></span>
					<div>首页</div>
				</a>			
			</div>
			<div class="nav-c1">
				<a href="">
					<span class="icon icon26"></span>
					<div>我的</div>
				</a>				
			</div>
			<div class="nav-c2">
				<button class="btn btn-danger btn-big">确认收货人地址</button>
			</div>
		</div>		
	</section>	
</body>
</html>