<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>丰趣海淘详情页</title>
	<link rel="stylesheet" href="http://localhost:8009//css/h5common.css">	<link rel="stylesheet" href="../css/order.css">

</head>
<body class="body1">
	== Slim::Template.new('module/header.slim').render	
	<!--订单-->
	== Slim::Template.new('module/order.slim').render
	<!--订单-->
	<!--商品信息-->
	== Slim::Template.new('module/goodsinfo.slim').render
	<!--商品信息-->
	<div class="coupon-use">
		<div class="coupon-use-h">
			<h2>使用优惠券</h2>
			<a href="javascript:">输入兑换码</a>
		</div>
		<div class="coupon-use-b">
			<select name="" id="" class="select">
				<option value="会员优惠券10元">会员优惠券10元</option>
			</select>
		</div>	
	</div>
	<section class="integral-use">
		<div class="integral-use-r1">
			<div>可用积分：<span class="text-important">1000</span>点</div>
			<div>抵<span class="text-important">- ¥10.00</span></div>
			<a href="javascript:" class="switch"></a>
		</div>
		<div class="integral-use-r2">使用<input type="text" class="input" value="1000">点，抵<span class="text-important">- ¥10</span></div>
	</section>
	<ul class="order-r3 box">
		<li class="order-first-buy-tips">&lowast;若符合[活动期间全场用户首单减免<em>&yen;</em>15]的优惠活动，活动优惠将在提交订单后实现减免</li>
		<li>免运费</li>
		<li>优惠券折扣：-¥0</li>
		<li>活动优惠：-¥0</li>
		<li>积分抵扣：-¥10</li>
		<li>本单获得积分：99点</li>
		<li>商品总金额：-¥69</li>
	</ul>
	<!-- <div class="order-error"><span>!</span>当前订单没有可购买的商品</div> -->
	<div class="order-agree"><div class="order-agree-inner"><span class="icon icon49 active"></span>本人同意并接受<a href="">《丰趣海淘服务协议》</a></div></div>
	<div class="order-submit">
		<div class="order-submit-fixed">
			<p class="order-submit-c1">实际应付款: <span class="text-important">¥1730.00</span></p>		
			<a class="btn btn-danger" href="pay-success.html">提交订单</a>
		</div>	
	</div>
		
	<section class="mask dialog dialog-active hide">
		<div class=" center">
			<a href="javascript:" class="icon icon15">关闭</a>
			<h2>输入兑换码</h2>
			<div class="dialog-active-b">
				<input class="input" placeholder="输入您的兑换码">
				<button class="btn btn-big btn-disable">使用</button>
				<!--输入后
				<button class="btn btn-big btn-danger">使用</button>
				<-->
			</div>	
		</div>
	</section>
	<script src="../js/zepto.min.js"></script>
	<script src="../js/switch.js"></script>	
</body>
</html>