<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	
	<!--订单列表-->
	<section class="tab">
		<div class="tab-h">
			<ul class="clearfix">
				<li class="active"><a href="">未完成(5)</a></li>
				<li><a href="">完成</a></li>
			</ul>
		</div>
		== Slim::Template.new('module/orderlist.slim').render
	</section>
	<!--订单列表-->
	== Slim::Template.new('module/nav.slim').render
</body>
</html>