<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	<!--订单-->
	== Slim::Template.new('module/order.slim').render
	<!--订单-->
	<!--商品信息-->
	== Slim::Template.new('module/goodsinfo.slim').render
	<!--商品信息-->
	<div class="coupon-use">
		<div class="coupon-use-h">
			<h2>使用优惠券</h2>
			<a href="javascript:">输入兑换码</a>
		</div>
		<div class="coupon-use-b">
			<select name="" id="" class="select">
				<option value="会员优惠券10元">会员优惠券10元</option>
			</select>
		</div>	
	</div>
	<ul class="order-r3 box">
		<li>免运费</li>
		<li>优惠券折扣：-¥0</li>
		<li>活动优惠：-¥0</li>
		<li>商品总金额：-¥69</li>
	</ul>
	<div class="order-submit box">
		<p class="order-submit-c1">实际应付款: <span class="text-important">¥1730.00</span></p>		
		<a class="btn btn-danger" href="pay-success.html">提交订单</a>
	</div>
	<section class="mask dialog dialog-active">
		<div class=" center">
			<a href="javascript:" class="icon icon15">关闭</a>
			<h2>输入兑换码</h2>
			<div class="dialog-active-b">
				<input class="input" placeholder="输入您的兑换码">
				<button class="btn btn-big btn-disable">使用</button>
				<!--输入后
				<button class="btn btn-big btn-danger">使用</button>
				<-->
			</div>	
		</div>
	</section>
	<div class="nav-r1">
		<div class="nav-c1">
			<a href="">
				<span class="icon icon25"></span>
				<div>首页</div>
			</a>			
		</div>
		<div class="nav-c1">
			<a href="">
				<span class="icon icon26"></span>
				<div>我的</div>
			</a>				
		</div>
		
	</div>		
</body>
</html>