<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	== Slim::Template.new('module/header.slim').render	
	<!--收货地址管理-->
	== Slim::Template.new('module/order-manager.slim').render
	<!--收货地址管理-->
	<section class="nav">
	<div class="nav-r1">
		<div class="nav-c2">
			<a href="detail-select.html" class="btn btn-danger btn-big">新增收货地址</a>
		</div>
		
	</div>		
</section>
</body>
</html>