<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	<!--订单-->
	== Slim::Template.new('module/order.slim').render
	<!--订单-->
	<!--商品信息-->
	== Slim::Template.new('module/goodsinfo.slim').render
	<!--商品信息-->

	<div class="order-r3 clearfix box">
		<div class="order-r3c1 fl">实际应付款:<span>¥127</span></div>
	</div>
	<section class="nav">
		<div class="nav-r1">
			<div class="nav-c1">
				<a href="">
					<span class="icon icon25"></span>
					<div>首页</div>
				</a>			
			</div>
			<div class="nav-c1">
				<a href="">
					<span class="icon icon26"></span>
					<div>我的</div>
				</a>				
			</div>
			<div class="nav-c2">
				<a class="btn btn-danger btn-big" href="pay-success.html">确认支付</a>
			</div>
		</div>		
	</section>	
</body>
</html>