<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>输入手机号</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="partner-bags-bg">
		== Slim::Template.new('module/header.slim').render
		<div class="partner-form center">
			<div class="partner-phone">
				<h2>输入手机号领取红包</h2>
				<ul class="partner-form-list">
					<li><input type="text" class="input"></li>
					<li><input type="text" class="input input-code" placeholder="输入验证码"><a href="" class="code-btn"><span>获取验证码</span></a></li>
				</ul>
				<div class="btn-box">
					<a href="" class="btn btn-danger">领取红包</a>
					<p>仅限顺丰海淘新用户领取</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>