<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>支付成功</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	<section class="gift-coupon">
		<h2 class="gift-coupon-h2">2015年5月12日—5月26日期间    顺丰海淘注册即享</h2>
		== Slim::Template.new('module/coupons.slim').render	

		<a href="" class="btn btn-big btn-danger">抢波士顿大龙虾</a>
	</section>
	<section class="coupon-use box">
		<h2>特别说明</h2>
		<ul>
			<li>1.龙虾每日限量200只，先到先得。</li>
			<li>2.为了确保更多的新注册会员可以参加此次活动，顺丰海淘将针对恶意刷单进行取消（如同一物流地址同一身份证等）</li>
			<li>3.由于属于冷藏商品故配送地址仅限：江浙沪京津河北、广东、安徽部分城市，具体可再商品页面选择查看是否支持配送</li>
		</ul>
	</section>
</body>
	
</html>