<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="../js/mobile-util.js"></script>
	<title>支付成功</title>
	<link rel="stylesheet" href="../css/style.css">

</head>
<body class="body1">
	
	<div class="share">
		<div class="mask"></div>
	</div>
</body>
	
</html>