<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" name="viewport">
	<title>福利社</title>
	<script type="text/javascript" src="../js/mobile-util.js"></script>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/welfare.css">

</head>
<body>
	<section class="welfare-list">
		<h2 class="title">推荐任务</h2>
		<ul class="stopList">
			<li class="clearfix stopList-li margin-bottom-10">
				<div class="listLi-1 fl">
					<img class="stepImage" src="../img/invite-share-icon.png">
					<p class="red">+90元红包</p>
				</div>
				<div class="listLi-2 fl grey">
					<p class="font16 dark fb margin-bottom-10">分享购<a href="javascript:;" class="inline ruleToshow font12 white">?</a></p>
					<p class="ellipsis">韩国it's skin 伊思 蜗牛洗面奶 150ml</p>
					<p class="font12 ellipsis">截止于：2015.8.8 23:59:59</p>
				</div>
				<div class="listLi-3 font12">
					<a href="javascript:;" class="inline joinBtns white"><span class="inline">立即参与</span></a>
				</div>
			</li>
			<li class="clearfix stopList-li margin-bottom-10">
				<div class="listLi-1 fl">
					<img class="stepImage" src="../img/invite-share-icon.png">
					<p class="red">+90元红包</p>
				</div>
				<div class="listLi-2 fl grey">
					<p class="font16 dark fb margin-bottom-10">推荐好友<a href="javascript:;" class="inline ruleToshow font12 white">?</a></p>
					<p class="ellipsis2">韩国it's skin 伊思 蜗牛洗面奶 150ml韩国it's skin 伊思 蜗牛洗面奶 150ml</p>
				</div>
				<div class="listLi-3 font12">
					<a href="javascript:;" class="inline joinBtns white"><span class="inline">立即参与</span></a>
				</div>
			</li>
			<li class="clearfix stopList-li margin-bottom-10 disable">
				<div class="listLi-1 fl">
					<img class="stepImage" src="../img/invite-share-icon.png">
					<p class="red">+90元红包</p>
				</div>
				<div class="listLi-2 fl grey">
					<p class="font16 dark fb margin-bottom-10">七夕送好礼<a href="javascript:;" class="inline ruleToshow font12 white">?</a></p>
					<p class="ellipsis2">韩国it's skin 伊思 蜗牛洗面奶 150ml韩国it's skin 伊思 蜗牛洗面奶 150ml</p>
				</div>
				<div class="listLi-3 font12">
					<a href="javascript:;" class="inline joinBtns white"><span class="inline">领取奖励</span></a>
				</div>
			</li>
		</ul>
		<h2 class="title">日常任务</h2>
		<ul class="stopList">
			<li class="clearfix stopList-li margin-bottom-10">
				<div class="listLi-1 fl">
					<img class="stepImage" src="../img/invite-share-icon.png">
					<p class="red">+90元红包</p>
				</div>
				<div class="listLi-2 fl grey">
					<p class="font16 dark fb margin-bottom-10">满300送加倍积分</p>
					<p class="ellipsis2">韩国it's skin 伊思 蜗牛洗面奶 150ml韩国it's skin 伊思 蜗牛洗面奶 150ml</p>
				</div>
				<div class="listLi-3 font12">
					<a href="javascript:;" class="inline joinBtns white"><span class="inline">立即参与</span></a>
				</div>
			</li>
		</ul>
	</section>
	<script src="../js/zepto.min.js"></script>
</body>
</html>