.redbag-bag01{
	background: url(../../../modules/redbag-v1.2/img/bag01.jpg) center 0 no-repeat;
	height: 535px;
	padding-top: 126px;
	text-align: center;
}
.redbag-bag01 input{
	width: 324px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #333;
	font-size: 24px;
	border: 0 none;
	border-radius: 10px;
}
.redbag-bag01 input::-webkit-input-placeholder {
    color: #909090;
}
.redbag-bag01 input::-moz-placeholder {
   color: #909090;
}
.redbag-btn-box{
	margin-top: 44px;
	height: 82px;
	line-height: 82px;
}
.redbag-btn-box a{
	display: inline-block;
	width: 270px;
	font-size: 34px;
	color: #f3393a;
	font-weight: 700;
}