@import '../../utils/variables';
@import '../../modules/header-detail/index';
@import '../../modules/goods/index';
@import '../../modules/coupon-discount/index';
@import '../../modules/chose/index';
@import '../../modules/comment-title/index';
@import '../../modules/comment-expose/index';
@import '../../modules/attention/index';
@import '../../modules/recommend02/index';
@import '../../modules/brand-same/index';
@import '../../modules/detail/index';
@import '../../modules/nav-cart/index';
.comment-expose-no{
	background: #fff;
	margin-bottom: 10px;
}
.comment-expose-no .comment-expose{
	background: transparent;
}