/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
@import "../header/index";

.header-white02 {
  background: #fff;
  display: flex;
  align-items: center;
}
.header-title{
  flex: 1;
}
.header-white02-icon{
  width: 92px;
  height: 49px;
}
.header-white02 .header-title {
    color: #333 !important;
    padding: 0 40px;
}
.header-c1 .icon-back, 
.header-c2 .icon-home {
    width: 24px;
    height: 24px;
}
.header-icon-home{
	display: block;
	width: 100%;
	text-align: right;
}
