/*
@styleguide

# 盒子

*/
@import "../../utils/variables";
.coupon-discount-t{
  padding: 0 42px 0 34px;
  background-color: #fff;
  line-height: 44px;
  white-space: nowrap;
  margin: 0 -17px;
  border-top: 1px solid #f2f2f2;
  font-size: 14px;
  color: #4A4A4A;
}
.coupon-discount-ticon{
  display: inline-block;
  background-color: #F13C34;
  color: #fff;
  border-radius: 2px;
  margin-right: 10px;
  padding: 2px 4px;
  line-height: 16px;
  font-size: 12px;
}
.coupon-discount-tcount-down {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 1;
  padding: 3px 0;
  text-align: center;
  background: #4A4A4A;
  font-size: 12px;
  color: #FFF;
  border-radius: 2px;
  margin: 0 2px;
  vertical-align: 1px;
}
.coupon-discount-flex{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.coupon-discount-error{
  padding-right: 14px;
}
.coupon-discount-error::after{
  position: absolute;
  right: 44px;
  top: 16px;
  content: "";
  font-size: 0;
  width: 12px;
  height: 12px;
  border-top: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  transform: rotate(45deg);
}
.coupon-discount{
  margin-bottom:10px;
}

.coupon-discount-t ul{
  display: none;
}
.coupon-discount-t li{
  height: 44px;
  line-height: 44px;
  color: #999;
  padding-left: 40px;
  border-top: 1px solid #f7f7f7;
}
.coupon-discount .box-arrow{
  right: 0;
}
.coupon-discount .label{
  margin-right: 10px;
  padding:0 7px;
}
.coupon-discount-more{
  text-align: center;
  margin-top: -2px;
  padding: 16px 14px;
  background-color: #fff;
  border-top: 1px solid #f2f2f2;
}
.coupon-discount-more a{
  color: #3b86c4;
  display: block;
}
.coupon-discount-img img{
  width: 100%;
}