<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../../../css/pages/common/common.css">
	<link rel="stylesheet" href="../../../css/pages/order/cart.css">

</head>
<body class="body1">
	<!--头部-->
	== Slim::Template.new('../../module/header.slim').render
	<!--头部-->
	<section class="cart">
		<div class="cart-choise">
			<a href=""><span class="cart-choise-label">N元任选</span>已满足99元任选4件</a>
		</div>
		<div class="cart-cut">
			<span class="cart-cut-icon">满减折</span><a href="">已购满2件，已减178.00元</a>
		</div>
		<ul>
			<li>
				<div class="cart-inner">
					<span class="icon icon49"></span>
					<img src="../img/list.jpg" alt="">
					<div class="cart-c1">
						<h2 class="ellipsis2">日本kao花王    蒸汽发眼膜／眼罩无香型14片／蒸汽发眼膜...</h2>
						<div class="input-num"><button class="btn">-</button><input type="text" value="1"><button class="btn">+</button></div>
					</div>
					<div class="cart-c2">
						<div class="cart-num">X1</div>
						<div class="text-important">¥188</div>
						<del>¥200</del>
					</div>
				</div>
				<button class="btn btn-danger">删除</button>
			</li>
			<li class="active">
				<div class="cart-inner">
					<span class="icon icon49"></span>
					<img src="../img/list.jpg" alt="">
					<div class="cart-c1">
						<h2 class="ellipsis2">日本kao花王    蒸汽发眼膜／眼罩无香型14片／蒸汽发眼膜...</h2>
						<div class="input-num"><button class="btn">-</button><input type="text" value="1"><button class="btn">+</button></div>
					</div>
					<div class="cart-c2">
						<div class="cart-num">X1</div>
						<div class="text-important">¥188</div>
						<del>¥200</del>
					</div>
				</div>
				<button class="btn btn-danger">删除</button>
			</li>
			<li>
				<div class="cart-label">砍价团</div>
				<div class="cart-inner">
					<span class="icon icon49"></span>
					<img src="../img/list.jpg" alt="">
					<div class="cart-c1">
						<h2 class="ellipsis2">日本kao花王    蒸汽发眼膜／眼罩无香型14片／蒸汽发眼膜...</h2>
						<div class="input-num"><button class="btn">-</button><input type="text" value="1"><button class="btn">+</button></div>
					</div>
					<div class="cart-c2">
						<div class="cart-num">X1</div>
						<div class="text-important">¥188</div>
						<del>¥200</del>
					</div>
				</div>
				<div class="text-orange">已满足2件享5折</div>
				<button class="btn btn-danger">删除</button>
			</li>
			<li>
				<div class="cart-inner">
					<span class="icon icon49"></span>
					<img src="../img/list.jpg" alt="">
					<div class="cart-c1">
						<h2 class="ellipsis2">日本kao花王    蒸汽发眼膜／眼罩无香型14片／蒸汽发眼膜...</h2>
						<div class="input-num"><button class="btn">-</button><input type="text" value="1"><button class="btn">+</button></div>
					</div>
					<div class="cart-c2">
						<div class="cart-num">X1</div>
						<div class="text-important">¥188</div>
						<del>¥200</del>
					</div>
				</div>
				<div class="text-orange">再买一件享5折</div>
				<button class="btn btn-danger">删除</button>
			</li>
		</ul>
		<ul class="cart-disable">
			<li>
				<div class="cart-inner">
					<span class="label label-disabled">售罄</span>
					<img src="../img/list.jpg" alt="">
					<div class="cart-c1">
						<h2 class="ellipsis2">日本kao花王    蒸汽发眼膜／眼罩无香型14片／蒸汽发眼膜...</h2>
					</div>
					<div class="cart-c2">
						<div class="cart-num">X1</div>
						<div class="text-important">¥188</div>
					</div>
				</div>
				<button class="btn btn-danger">删除</button>
			</li>
			<li>
				<div class="cart-inner">
					<span class="label label-disabled">售罄</span>
					<img src="../img/list.jpg" alt="">
					<div class="cart-c1">
						<h2 class="ellipsis2">日本kao花王    蒸汽发眼膜／眼罩无香型14片／蒸汽发眼膜...</h2>
					</div>
					<div class="cart-c2">
						<div class="cart-num">X1</div>
						<div class="text-important">¥188</div>
					</div>
				</div>
				<button class="btn btn-danger">删除</button>
			</li>
		</ul>
	</section>
	<div class="alert-error">亲，海关规定购买多件商品价格总结算不能超过¥1000，请您分多次购买～</div>
	<section class="cart-footer">
		<div class="cart-footer-r1">
			<div class="cart-footer-c1"><span class="icon icon49"></span></div>
			<div class="cart-footer-c2">
				<div>总计：<span class="text-important">¥999</span>(含税)</div>
				<div class="cart-footer-save">已省：¥69</div>
			</div>
			<button class="btn btn-disable">去结算</button>
		</div>

	</section>
	<script src="../../../js/zepto.min.js"></script>
	<script src="../../../js/cart.js"></script>
</body>
</html>
