<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>顺丰海淘详情页</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/order.css">

</head>
<body class="body1">
	== Slim::Template.new('../../module/header.slim').render	
	<!--订单详情-->
	== Slim::Template.new('../../module/orderdetail.slim').render
	<!--立即购买-->
	<section class="nav">
		<div class="nav-r1">
			<div class="nav-c2">
				<button class="btn btn-danger btn-big">去支付</button>
			</div>
			
		</div>		
	</section>
	<!--立即购买-->
	<script src="../js/zepto.min.js"></script>
	<script src="../js/orderdetail.js"></script>
</body>
</html>