.rank-rule-table h2{
	font-size: 14px;
	margin-bottom: 11px;
	padding-left: 2px;
	font-weight: normal;
}
.rank-rule-table h2:before{
	content: '';
	display: inline-block;
	width: 3px;
	height: 8px;
	vertical-align: 2px;
	background: #F13C34;
	margin-right: 5px;
}
.rank-rule-table{
	background: #fff;
	padding:0 15px 24px;
}
.rank-rule-table-icon.icon-yes{
	width: 10px;
	height: 9px;
	vertical-align: middle;
}
.rank-rule-table-icon.icon-no{
	width: 6px;
	height: 7px;
	vertical-align: middle;
}
.rank-rule-table table{
	width: 100%;
}
.rank-rule-table td,
.rank-rule-table th{
	border-top: 1px dashed rgba(241,60,52,0.3);
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	color: #666;
}