/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
.tuanrule{
  padding:15px * 2;
  background:#fff;
  
}
.tuanrule h2{
  color:#F13C34;
  margin-bottom:9px * 2;
  text-align:center;
}
.tuanrule p{
  line-height:17px * 2;
}