<section class="sfBrotherBindBn centerBox font14">
	<div class="sfBrotherBind-image clearfix text-center">
		<img src="http://img.sfht.com/sfhth5/1.1.393/img/sfBrotherBind/sfBrotherBind_03.png">
	</div>
	<p class="darkColor border">输入工号（工号绑定后即为优惠代码）</p>
	<ul class="clearfix sfBrotherBind-ul darkColor">
		<li class="border">
			<label><input placeholder="顺丰工号" id="inputNum"></label>
		</li>
		<li class="border">
			<label><input placeholder="确认顺丰工号" id="isInputNum"></label>
		</li>
	</ul>
	<p class="darkColor border padding-top-30">请选择你坐在的分部（千万别选错哦~）</p>
	<div class="clearfix">
		<select class="sfBrotherBind-select border darkColor fl" id="needSelect1">
			<option value="请选择区域" class="option-0">请选择区域</option>
			<option value="上海-嘉定" class="option-num">上海-嘉定</option>
			<option value="上海-宝山" class="option-num">上海-宝山</option>
			<option value="上海-普陀" class="option-num">上海-普陀</option>
			<option value="上海-浦东" class="option-num">上海-浦东</option>
			<option value="上海-松江" class="option-num">上海-松江</option>
			<option value="上海-崇明" class="option-num">上海-崇明</option>
			<option value="上海-黄浦" class="option-num">上海-黄浦</option>
			<option value="上海-闸北" class="option-num">上海-闸北</option>
			<option value="上海-虹口" class="option-num">上海-虹口</option>
			<option value="上海-奉贤" class="option-num">上海-奉贤</option>
			<option value="上海-长宁" class="option-num">上海-长宁</option>
			<option value="上海-闵行" class="option-num">上海-闵行</option>
			<option value="上海-青浦" class="option-num">上海-青浦</option>
			<option value="上海-金山" class="option-num">上海-金山</option>
			<option value="上海-徐汇" class="option-num">上海-徐汇</option>
			<option value="上海-静安" class="option-num">上海-静安</option>
			<option value="上海-杨浦" class="option-num">上海-杨浦</option>
			<option value="上海-职能员工" class="option-num">上海-职能员工</option>
		</select>
		<select class="sfBrotherBind-select border darkColor fr" id="needSelect2">
			<option value="请选择分部" class="option-0">请选择分部</option>
		</select>
	</div>
	<button class="btn btn-danger btn-big sfBrotherBind-btn font14" id="commitBtn">确认绑定</button>
</section>