<section class="sfBrotherBindBn centerBox font14">
	<div class="sfBrotherBind-image clearfix text-center">
		<img src="../img/sfBrotherBind/sfBrotherBind_03.png">
	</div>
	<p class="darkColor border">输入工号（工号绑定后即为优惠代码）</p>
	<ul class="clearfix sfBrotherBind-ul darkColor">
		<li class="border">
			<label><input placeholder="顺丰工号" id="inputNum"></label>
		</li>
		<li class="border">
			<label><input placeholder="确认顺丰工号" id="isInputNum"></label>
		</li>
	</ul>
	<p class="darkColor border padding-top-30">请选择你坐在的分部（千万别选错哦~）</p>
	<select class="sfBrotherBind-select border darkColor" id="needSelect">
		<option value="请选择分部" class="option-0">请选择分部</option>
		<option value="上海-安亭分部" class="option-1">上海-安亭分部</option>
		<option value="上海-宝山分部" class="option-2">上海-宝山分部</option>
		<option value="上海-仓桥分部" class="option-3">上海-仓桥分部</option>
		<option value="上海-博文分部" class="option-4">上海-博文分部</option>
		<option value="上海-仓桥分部" class="option-5">上海-仓桥分部</option>
		<option value="上海-崇明分部" class="option-6">上海-崇明分部</option>
		<option value="上海-川沙分部" class="option-7">上海-川沙分部</option>
		<option value="上海-打浦分部" class="option-8">上海-打浦分部</option>
		<option value="上海-地平线分部" class="option-9">上海-地平线分部</option>
		<option value="上海-丰镇分部" class="option-10">上海-丰镇分部</option>
		<option value="上海-奉城分部" class="option-11">上海-奉城分部</option>
		<option value="上海-奉贤分部" class="option-12">上海-奉贤分部</option>
		<option value="上海-高东分部" class="option-13">上海-高东分部</option>
		<option value="上海-高桥分部" class="option-14">上海-高桥分部</option>
		<option value="上海-古北分部" class="option-15">上海-古北分部</option>
		<option value="上海-古美分部" class="option-16">上海-古美分部</option>
		<option value="上海-航华分部" class="option-17">上海-航华分部</option>
		<option value="上海-虹口分部" class="option-18">上海-虹口分部</option>
		<option value="上海-虹桥分部" class="option-19">上海-虹桥分部</option>
		<option value="上海-沪闵分部" class="option-20">上海-沪闵分部</option>
		<option value="上海-华漕分部" class="option-21">上海-华漕分部</option>
		<option value="上海-华宁分部" class="option-22">上海-华宁分部</option>
		<option value="上海-淮海分部" class="option-23">上海-淮海分部</option>
		<option value="上海-黄浦分部" class="option-24">上海-黄浦分部</option>
		<option value="上海-嘉定分部" class="option-25">上海-嘉定分部</option>
		<option value="上海-江桥分部" class="option-26">上海-江桥分部</option>
		<option value="上海-江湾分部" class="option-27">上海-江湾分部</option>
		<option value="上海-金海分部" class="option-28">上海-金海分部</option>
		<option value="上海-金汇分部" class="option-29">上海-金汇分部</option>
		<option value="上海-金桥分部" class="option-30">上海-金桥分部</option>
		<option value="上海-金山分部" class="option-31">上海-金山分部</option>
		<option value="上海-锦屏分部" class="option-32">上海-锦屏分部</option>
		<option value="上海-静安分部" class="option-33">上海-静安分部</option>
		<option value="上海-九亭分部" class="option-34">上海-九亭分部</option>
		<option value="上海-巨鹿分部" class="option-35">上海-巨鹿分部</option>
		<option value="上海-康桥分部" class="option-36">上海-康桥分部</option>
		<option value="上海-联明分部" class="option-37">上海-联明分部</option>
		<option value="上海-六团分部" class="option-38">上海-六团分部</option>
		<option value="上海-娄塘分部" class="option-39">上海-娄塘分部</option>
		<option value="上海-卢湾分部" class="option-40">上海-卢湾分部</option>
		<option value="上海-陆家嘴分部" class="option-41">上海-陆家嘴分部</option>
		<option value="上海-罗店分部" class="option-42">上海-罗店分部</option>
		<option value="上海-梅陇分部" class="option-43">上海-梅陇分部</option>
		<option value="上海-闵行分部" class="option-44">上海-闵行分部</option>
		<option value="上海-南汇分部" class="option-45">上海-南汇分部</option>
		<option value="上海-南翔分部" class="option-46">上海-南翔分部</option>
		<option value="上海-浦江分部" class="option-47">上海-浦江分部</option>
		<option value="上海-普陀分部" class="option-48">上海-普陀分部</option>
		<option value="上海-七浦分部" class="option-49">上海-七浦分部</option>
		<option value="上海-青浦分部" class="option-50">上海-青浦分部</option>
		<option value="上海-三林分部" class="option-51">上海-三林分部</option>
		<option value="上海-上大分部" class="option-52">上海-上大分部</option>
		<option value="上海-上体分部" class="option-53">上海-上体分部</option>
		<option value="上海-莘庄分部" class="option-54">上海-莘庄分部</option>
		<option value="上海-石泉分部" class="option-55">上海-石泉分部</option>
		<option value="上海-世纪分部" class="option-56">上海-世纪分部</option>
		<option value="上海-书院分部" class="option-57">上海-书院分部</option>
		<option value="上海-泗泾分部" class="option-58">上海-泗泾分部</option>
		<option value="上海-松江分部" class="option-59">上海-松江分部</option>
		<option value="上海-塘桥分部" class="option-60">上海-塘桥分部</option>
		<option value="上海-桃浦分部" class="option-61">上海-桃浦分部</option>
		<option value="上海-田林分部" class="option-62">上海-田林分部</option>
		<option value="上海-通州分部" class="option-63">上海-通州分部</option>
		<option value="上海-外冈分部" class="option-64">上海-外冈分部</option>
		<option value="上海-宛平分部" class="option-65">上海-宛平分部</option>
		<option value="上海-王港分部" class="option-66">上海-王港分部</option>
		<option value="上海-吴淞分部" class="option-67">上海-吴淞分部</option>
		<option value="上海-五角场分部" class="option-68">上海-五角场分部</option>
		<option value="上海-肖塘分部" class="option-69">上海-肖塘分部</option>
		<option value="上海-新桥分部" class="option-70">上海-新桥分部</option>
		<option value="上海-徐汇分部" class="option-71">上海-徐汇分部</option>
		<option value="上海-徐泾分部" class="option-72">上海-徐泾分部</option>
		<option value="上海-杨浦分部" class="option-73">上海-杨浦分部</option>
		<option value="上海-杨思分部" class="option-74">上海-杨思分部</option>
		<option value="上海-宜山分部" class="option-75">上海-宜山分部</option>
		<option value="上海-源深分部" class="option-76">上海-源深分部</option>
		<option value="上海-闸北分部" class="option-77">上海-闸北分部</option>
		<option value="上海-张江分部" class="option-78">上海-张江分部</option>
		<option value="上海-长宁分部" class="option-79">上海-长宁分部</option>
		<option value="上海-长寿分部" class="option-80">上海-长寿分部</option>
		<option value="上海-赵巷分部" class="option-81">上海-赵巷分部</option>
		<option value="上海-真源分部" class="option-82">上海-真源分部</option>
		<option value="上海-中山分部" class="option-83">上海-中山分部</option>
		<option value="上海-重固分部" class="option-84">上海-重固分部</option>
		<option value="上海-周浦分部" class="option-85">上海-周浦分部</option>
		<option value="上海-朱泾分部" class="option-86">上海-朱泾分部</option>
		<option value="上海-颛桥分部" class="option-87">上海-颛桥分部</option>
		<option value="上海-职能员工" class="option-88">上海-职能员工</option>
	</select>
	<button class="btn btn-danger btn-big sfBrotherBind-btn font14" id="commitBtn">确认绑定</button>
</section>