/*
@styleguide

# 优惠券

*/
@import "../../utils/variables";
@mixin footer($i){
  .footer-r1{
    border-top:1px * $i solid #d9d9d9;
    margin-left: -17px * $i;
    padding:12px * $i 0 12px * $i 14px * $i;
    border-bottom:1px * $i solid #d9d9d9;
   }
  .footer-r1 li {  
      padding:0 10px * $i;
      font-size: 12px * $i;
  }
  .footer-r1 li .icon{
    margin: 0 auto 4px * $i;
  }
  .footer-r1 li:last-child{
    border-left:1px * $i solid #e5e5e5;
    padding-left: 12px * $i;
    margin-left: 2px * $i;
  }


  .footer-r2{
    height: 31px * $i;
    line-height: 31px * $i;
   }
   .footer-r2 a{
    margin:0 12px * $i;
   }
   .footer-r3{
    font-size: 9px * $i;
    padding-top: 4px * $i;
    padding-bottom: 17px * $i;
   }
   .footer1{
    bottom:10px * $i;
 }
}

.footer-r1{
  background:#fff;
  text-align: center;
 }
.footer ul{
  display: inline-block;
 }
.footer-r1 li {  
    float:left;
    text-align: center;
}
.footer-r1 li .icon{
  display: block;
}
.footer-r1 h2{
    font-weight: normal;
}


.footer-r2{
  text-align: center;
  color: #666;
 }
 
 .footer-r3{
  color:rgba(0,0,0,0.3);
  text-align: center;
 }
 .footer1{
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
}
 
@include footer(1);

@media screen and (min-width:640px){
  @include footer(2);
}