<div class="sharepocket">
  <p>恭喜您下单支付成功，可以给小伙伴散红包了</p>
  <div class="sharepocket-r1">
    <span>{{sf.price cardBagInfo.cardTotalAmount}}</span>元
  </div>
  <a href="javascript:void(0);" class="sharepocket-btn" id="shareBtn">立即分享红包</a>
</div>

<div class="users">
  <div class="luck">
    <h2>看看朋友们手气如何</h2>
      <ul>
        {{#each userCouponInfo.items}}
          <li class="clearfix">
            {{#headUrl}}
                <img src="{{headUrl}}" alt="" class="fl" width="40" height="40">
            {{/headUrl}}
            {{^headUrl}}
                <img src="http://img.sfht.com/sfhth5/1.1.4/img/luck.png" alt="" class="fl" width="40" height="40">
            {{/headUrl}}
            <div class="luck-c1 fl">
                <h3>{{nickname}}</h3>
                <time>{{sf.time receiveTime "YYYY-MM-DD"}}</time>
            </div>
            <p class="fr">{{sf.price reduceCost}}元</p>
          </li>
        {{/each}}
      </ul>
  </div>
</div>

<div class="activerule">
  <h2>活动规则</h2>
  <ul>
	  {{#cardBagInfo.useInstructions}}
      <li>{{.}}</li>
	  {{/cardBagInfo.useInstructions}}
  </ul>
</div>

{{#isShowMask}}
  <div class="mask"></div>
  <div class="share"></div>
{{/isShowMask}}
