<div id="messagedialog">
 <section class="mask dialog dialog1">
    <div class=" center">
      <h2>{{tip}}</h2>
      <div class="dialog1-r1">
        {{{buttons}}}
      </div>
      <a href="javascript:" class="icon icon15" id="close">关闭</a>
    </div>

  </section>
</div>