<div id="messagedialog">
  <div class="mask"></div>
  <div class="dialog dialog-center">
    <a href="javascript:void(0)" class="btn btn-close" id="close">X</a>
    <p>{{tip}}</p>
    <div class="dialog-r1">
      {{{buttons}}}
    </div>
  </div>
</div>