<section class="banner-dialog" style="display:none">
  <div class="mask"></div>
  <div class="banner-dialog-b center" id="banner-dialog">
    <span id="closebutton" class="icon icon15">关闭</span>
  </div>
</section>