.aboutus{
	text-align: center;
	padding-bottom: 145px;
	background: #eaf7f8 url(http://img0.fengqucdn.com/cmsres/20160309/8ab0a84b-d89a-4dbf-84e5-51f5ca69d72a.jpeg) no-repeat center 934px;
}
.aboutus h2{
	font-size: 42px;
	font-weight: normal;
	margin-bottom: 40px;
	margin-top: 70px;
}
.aboutus p{
	font-size: 24px;
	line-height: 42px;
	margin-bottom: 49px;
}
.aboutus hr{
	border-top: 2px dashed #333;
	border-bottom: none;
	margin-bottom: 70px;
	margin: 0 50px;
}
.aboutus ul{
	font-size: 0;
	margin-bottom: 59px;
}
.aboutus li{
	display: inline-block;
	width: 260px;
	height: 260px;
	margin: 0 10px 22px;
	border-radius: 50%;
	border:1px solid #999;
	padding-top: 85px;
}
.aboutus h3{
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 27px;
}
.aboutus-num{
	font-size: 48px;
}
.aboutus dl{
	font-size: 24px;
	line-height: 36px;
}
.aboutus dl a{
	color:#e23f3f;
}
.aboutus dd{
	margin-bottom: 46px;
}