.nav3{
	background: #fff;
	height: 60px;
	overflow-x:auto; 
	overflow-y: hidden;
	-webkit-overflow-scrolling:touch;
}
.nav3-fixed{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
.nav3 ul{
	display: flex;
	margin-bottom: 2px;
	width: 200%;
}
.nav3 li{
	padding: 0 20px;
}
.nav3 a{
	color: rgba(74,74,74,0.5);
	display: block;
	height: 60px;
	line-height: 60px;
	font-size: 28px;
	white-space: nowrap;
}
.nav3 .active a{
	color: #333;
	border-bottom: 4px solid #F13C34;
}