<section class="buying">
	<h2 class="text-h2">大家都在买</h2>
	<ul class="list clearfix">
		<li>
			<a href="detail.html">
				<div class="list-r1 vertical-middle">
					<img src="http://placehold.it/283x283" alt="">
					<span class="label-danger">7.5折</span>
					<div class="mask">
						<span class="icon icon5 center">售完</span>
					</div>
				</div>
				<div class="list-b">
					<h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
					<div class="list-r3 clearfix">
						<div class="list-r3c1 fl"><span class="list-price">¥1280</span><del>¥1680</del></div>	
						<div class="list-r3c2 fr"><img src="../img/flag.png" alt="国旗"></div>
					</div>
				</div>		
			</a>
						
		</li>
		<li>
			<a href="detail.html">
				<div class="list-r1 vertical-middle">
					<img src="http://placehold.it/283x283" alt="">
					<span class="label-danger">7.5折</span>
					<div class="mask">
						<span class="icon icon5 center">售完</span>
					</div>
				</div>
				<div class="list-b">
					<h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
					<div class="list-r3 clearfix">
						<div class="list-r3c1 fl"><span class="list-price">¥1280</span><del>¥1680</del></div>	
						<div class="list-r3c2 fr"><img src="../img/flag.png" alt="国旗"></div>
					</div>
				</div>		
			</a>
						
		</li>
		<li>
			<a href="detail.html">
				<div class="list-r1 vertical-middle">
					<img src="http://placehold.it/283x283" alt="">
					<span class="label-danger">7.5折</span>
					<div class="mask">
						<span class="icon icon5 center">售完</span>
					</div>
				</div>
				<div class="list-b">
					<h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
					<div class="list-r3 clearfix">
						<div class="list-r3c1 fl"><span class="list-price">¥1280</span><del>¥1680</del></div>	
						<div class="list-r3c2 fr"><img src="../img/flag.png" alt="国旗"></div>
					</div>
				</div>		
			</a>
						
		</li>
		<li>
			<a href="detail.html">
				<div class="list-r1 vertical-middle">
					<img src="http://placehold.it/283x283" alt="">
					<span class="label-danger">7.5折</span>
					<div class="mask">
						<span class="icon icon5 center">售完</span>
					</div>
				</div>
				<div class="list-b">
					<h2 class="ellipsis2">日本LOSHI护肤滋日本LOSHI护肤滋日本LOSHI护肤滋</h2>
					<div class="list-r3 clearfix">
						<div class="list-r3c1 fl"><span class="list-price">¥1280</span><del>¥1680</del></div>	
						<div class="list-r3c2 fr"><img src="../img/flag.png" alt="国旗"></div>
					</div>
				</div>		
			</a>
						
		</li>
	</ul>
</section>