<section class="carnival">
	<h2 class="text-h2">狂欢专场</h2>
	<ul>
		<li>
			<img src="../img/carnival.png" alt="">
			<div class="carnival-b">
				<h3 class="ellipsis2">荷兰Nutrilon牛栏婴儿奶粉1段 850g/罐荷兰牛
栏婴儿奶粉1段 850g/罐</h3>
				<p class="ellipsis3">荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
				<div class="carnival-r1">
					<span class="icon icon36"></span>仅剩:<span class="text-error">10天8小时8分8秒</span>
				</div>
				<div class="carnival-r2 clearfix">
					<div class="carnival-r2c1 fl">
						￥<strong>69</strong>元起
					</div>
					<div class="carnival-r2c2 fr">
						<button class="btn btn-normal btn-remain">即将开始</button>
					</div>
				</div>
			</div>
		</li>
		<li>
			<img src="../img/carnival.png" alt="">
			<div class="carnival-b">
				<h3 class="ellipsis2">荷兰Nutrilon牛栏婴儿奶粉1段 850g/罐荷兰牛
栏婴儿奶粉1段 850g/罐</h3>
				<p class="ellipsis3">荷兰奶粉第一品牌，进口市场占有率高达73%。只采用最优质无污染的天然牧场奶源。口味清淡、粉质精细，更有活动超值狂欢价，单罐仅需110元，好味道更有好价格！</p>
				<div class="carnival-r1">
					<span class="icon icon36"></span>仅剩:<span class="text-error">10天8小时8分8秒</span>
				</div>
				<div class="carnival-r2 clearfix">
					<div class="carnival-r2c1 fl">
						￥<strong>69</strong>元起
					</div>
					<div class="carnival-r2c2 fr">
						<button class="btn btn-normal btn-danger">即将开始</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
</section>