<div class="coupon">
	<p>恭喜你,获得了一张<span class="text-important">50元优惠券</span><br>已自动存入“我的优惠券”</p>
	<div class="coupon-b">
		<div class="coupon-r1">
			<strong>50</strong>元
		</div>
		<div class="coupon-r2 ellipsis">新年满100元减30元优惠券</div>
	</div>			
</div>

