<section class="mask dialog dialog1">
	<div class=" center">
		<h2>恭喜你，优惠券已领取成功!</h2>
		<!--
		<h2>亲，你已领过该优惠券了哦！</h2>
		<-->
		<p>2015.3.20－2015.4.1</p>
		<button class="btn btn-normal warnning">确定</button>
		<a href="javascript:" class="icon icon15">关闭</a>
	</div>
</section>