<section class="flashsale2">
	<div class="flashsale2-h">
		<h2 class="index-h2">限时抢购</h2>
		<time><span>2</span>天<span>10</span>:<span>32</span>:<span>45</span></time>
	</div>
	
	<ul>
		-for i in 1..4
			<li>
				<a href="">
					<div class="flashsale2-r1">
						<div class="flashsale2-c1">
							<img src="http://placehold.it/160x160" alt="">
						</div>
						<div class="flashsale2-c2">
							
							<del>¥183</del>
							<div><strong>¥183</strong></div>
						</div>
						
					</div>
						
					<h3 class="ellipsis">日本是打开附件是阿道夫</h3>
				</a>
			</li>
	</ul>
</section>