<section class="flashsale">
	<h2 class="text-h2">限时抢购</h2>
	<ul>
		<li class="clearfix">
			<div class="flashsale-c1 fl">
				<img src="../img/flashsale.png" alt="" width="85">
			</div>
			<div class="flashsale-c2">
				<h3 class="ellipsis2">墨西哥loviLOSHIs黑色黄金手环黑色手提袋限量版</h3>
				<div class="flashsale-c2r1">
					<span class="icon icon36"></span>仅剩:<span class="text-error">10天8小时8分8秒</span>
				</div>
				<div class="flashsale-c2r2">
					<span class="text-error">¥1280</span><del>¥1680</del>
				</div>
			</div>
		</li>
		<li class="clearfix">
			<div class="flashsale-c1 fl">
				<img src="../img/flashsale.png" alt="" width="85">
			</div>
			<div class="flashsale-c2">
				<h3 class="ellipsis2">墨西哥loviLOSHIs黑色黄金手环黑色手提袋限量版</h3>
				<div class="flashsale-c2r1">
					<span class="icon icon36"></span>仅剩:<span class="text-error">10天8小时8分8秒</span>
				</div>
				<div class="flashsale-c2r2">
					<span class="text-error">¥1280</span><del>¥1680</del>
				</div>
			</div>
		</li>
	</ul>
</section>