<section class="goods">
	<div class="goods-r1">
		== Slim::Template.new('../../module/swipe.slim').render
		<span class="label label-error"><span class="icon icon27"></span>6月30日12点结束</span>
		<!-- <div class="mask"></div>
		<span class="icon icon20 center">售完</span> -->
		<span class="corner-icon corner-icon01 center">已抢光</span>
		<div class="goods-price2"><div class="text-disable">当地售价</div><div class="text-important">NT$18000</div></div>
	</div>
	<div class="goods-b">
		<h1 class="ellipsis2">美国 California Baby 加州宝宝快乐泡泡 384ml/瓶似懂非懂分 瓶似懂非懂分瓶似懂非懂分</h1>
		<!-- 预售价+预定数量开始 -->
		<div class="goods-l2">
			<div class="goods-r4"><strong class="goods-price">预售价<small>¥</small>290</strong><del>¥499</del><!-- 约NT$999<span class="seckill-text-bg seckill-text-bg-gray">限时秒杀</span> --></div>
			<div class="goods-r5">已预定1400件</div>
		</div>
		<!-- 预售价+预定数量结束 -->
		<div class="goods-l3">
			<div>定金：<span class="text-important">¥19</span>尾款：<span class="text-important">¥170</span></div>
			<div>预计2016/12/23发货</div>
		</div>
		<div class="goods-l4">
			<div>尾款支付时间：2016/10/12 14:14</div>
		</div>
		<!-- 距离结束+预售规则开始 -->
		<div class="goods-l5">
			<div class="goods-r2">距结束：<span class="text-important">12</span>天<span class="text-important">12</span>小时<span class="text-important">10</span>分<span class="text-important">12</span>秒</div>
			<div class="text-important">预售规则</div>
		</div>
		<!-- 距离结束+预售规则结束 -->
		<!-- <div class="goods-r3">
			<div>国际物流：香港 发货,预计6-12 天内到货</div>
			<div>运费：0元</div>
		</div> -->
	</div>		
</section>