<header class="header header-white clearfix">
    <div class="header-c1">
      <a href="javascript:;" class="header-back icon"></a>
    </div>
    <a href="" class="header-title">顺丰海淘</a>
    <div class="header-c4">
      <a href="/" class="header-home icon"></a>
    </div>
</header>