<ul class="recommend-goods-list clearfix">
	<li class="fast-buy-goods clearfix">
		<div class="fast-buy-pic fl">
			<img src="http://placehold.it/115x115" alt="">
			<div class="icon-soldout icon-soldout-normal">售罄</div>
		</div>
		<div class="fast-buy-text">
			<h2 class="ellipsis2">日本销量第一 限量<span class="strong-color">100</span>件</h2>
			<p class="ellipsis">Lancôme伍桂面霜1坨</p>
			<div class="fast-buy-fix">
				<div class="fast-buy-price">
					<p class="fast-buy-from"><img class="icon-country" src="http://img0.sfht.com/img/6e212d12eccb03e8d59cdcf67b126aa8.jpg" alt="国旗">日本直邮</p>
					<span class="sales-price">&yen;565</span>
					<span class="original-price">原价876</span>
				</div>
				<div class="fast-buy-btn">
					<a href="" class="icon-addtocart">
						== Slim::Template.new('../svg/icon-addtocart.svg').render
					</a>
				</div>
			</div>
		</div>
	</li>
	<li class="fast-buy-goods clearfix">
		<div class="fast-buy-pic fl">
			<img src="http://placehold.it/115x115" alt="">
			<div class="icon-soldout icon-soldout-normal">售罄</div>
		</div>
		<div class="fast-buy-text">
			<h2 class="ellipsis2">日本销量第一 限量<span class="strong-color">100</span>件</h2>
			<p class="ellipsis">Lancôme伍桂面霜1坨</p>
			<div class="fast-buy-fix">
				<div class="fast-buy-price">
					<p class="fast-buy-from"><img class="icon-country" src="http://img0.sfht.com/img/6e212d12eccb03e8d59cdcf67b126aa8.jpg" alt="国旗">日本直邮</p>
					<span class="sales-price">&yen;565</span>
					<span class="original-price">原价876</span>
				</div>
				<div class="fast-buy-btn">
					<a href="" class="icon-addtocart">
						== Slim::Template.new('../svg/icon-addtocart.svg').render
					</a>
				</div>
			</div>
		</div>
	</li>
	<li class="fast-buy-goods clearfix">
		<div class="fast-buy-pic fl">
			<img src="http://placehold.it/115x115" alt="">
			<div class="icon-soldout icon-soldout-normal">售罄</div>
		</div>
		<div class="fast-buy-text">
			<h2 class="ellipsis2">日本销量第一 限量<span class="strong-color">100</span>件</h2>
			<p class="ellipsis">Lancôme伍桂面霜1坨</p>
			<div class="fast-buy-fix">
				<div class="fast-buy-price">
					<p class="fast-buy-from"><img class="icon-country" src="http://img0.sfht.com/img/6e212d12eccb03e8d59cdcf67b126aa8.jpg" alt="国旗">日本直邮</p>
					<span class="sales-price">&yen;565</span>
					<span class="original-price">原价876</span>
				</div>
				<div class="fast-buy-btn">
					<a href="" class="icon-addtocart">
						== Slim::Template.new('../svg/icon-addtocart-disabled.svg').render
					</a>
				</div>
			</div>
		</div>
	</li>
</ul>