<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute">
	<symbol id="icon-nav01" viewBox="0 0 33 33">
        <title>svg1</title><defs><path id="ana" d="M16.5 33C25.613 33 33 25.613 33 16.5S25.613 0 16.5 0 0 7.387 0 16.5 7.387 33 16.5 33z"/></defs><g fill="none" fill-rule="evenodd"><mask id="anb" fill="#fff"><use xlink:href="#ana"/></mask><use fill="#F2F2F2" xlink:href="#ana"/><path d="M18.37 4H22l-1.808 8H18.37V4zM22.854 6h2.777l-2.42 5.324-1.283-.482L22.854 6z" fill="#F8E81C" mask="url(#anb)"/><g transform="rotate(-25 36.31 23.755)" mask="url(#anb)"><rect fill="#4A4A4A" y="1" width="24" height="30" rx="1"/><rect fill="#9B9B9B" x="8" y="3" width="8" height="1" rx="1"/><path fill="#FF5B54" d="M2 5h20v25H2z"/></g><path d="M27.33 17.308c-2.88-1.91-6.5 6.01-2.93 14.768 3.567 8.757 8.104 1.473 8.99-2.88-6.204-3.138-3.182-9.98-6.06-11.888z" fill="#FFD19B" mask="url(#anb)"/></g>
	</symbol>
	<symbol id="icon-nav02" viewBox="0 0 33 33">
	        <title>svg2</title><defs><path id="aoa" d="M16.5 33C25.613 33 33 25.613 33 16.5S25.613 0 16.5 0 0 7.387 0 16.5 7.387 33 16.5 33z"/><path id="aoc" d="M4.482 24.393S3.04 3.085 8.396 1.36C11.48.263 7.508 14.54 12.364 23.922"/></defs><g fill="none" fill-rule="evenodd"><mask id="aob" fill="#fff"><use xlink:href="#aoa"/></mask><use fill="#F2F2F2" xlink:href="#aoa"/><rect fill="#4A4A4A" mask="url(#aob)" x="5" y="9" width="24" height="30" rx="1"/><rect fill="#9B9B9B" mask="url(#aob)" x="13" y="11" width="8" height="1" rx="1"/><path fill="#B5D7FF" mask="url(#aob)" d="M7 13h20v25H7z"/><path d="M6.986 21.515l14.15-3.558 2.04 9.1-16.19 4.248v-9.79z" fill="#FFF" mask="url(#aob)"/><g transform="translate(15 15)" mask="url(#aob)"><mask id="aod" fill="#fff"><use xlink:href="#aoc"/></mask><use fill="#FFD19B" transform="rotate(-19 8.335 12.846)" xlink:href="#aoc"/><path d="M4.512 26.59S4.082 5.284 5.678 3.558c.92-1.095-.264 13.183 1.182 22.564" fill="#F6C48B" mask="url(#aod)"/></g></g>
	</symbol>

	<symbol id="icon-nav03" viewBox="0 0 33 33">
	        <title>svg3</title><defs><circle id="apa" cx="16.5" cy="16.5" r="16.5"/></defs><g fill="none" fill-rule="evenodd"><mask id="apb" fill="#fff"><use xlink:href="#apa"/></mask><use fill="#F2F2F2" xlink:href="#apa"/><g transform="translate(5 10)" mask="url(#apb)"><path fill="#8BC34A" d="M0 0h24v30H0z"/><ellipse fill="#33691E" cx="16.8" cy="4.737" rx="1.6" ry="1.579"/><ellipse fill="#33691E" cx="7.2" cy="4.737" rx="1.6" ry="1.579"/><path d="M16.8 4.737v2.368c0 2.606-2.16 4.737-4.8 4.737-2.64 0-4.8-2.13-4.8-4.737V4.737" stroke="#FFF" stroke-width="1.6"/></g></g>
	</symbol>

	<symbol id="icon-nav04" viewBox="0 0 33 33">
	        <title>svg4</title><defs><circle id="aqa" cx="16.5" cy="16.5" r="16.5"/></defs><g fill="none" fill-rule="evenodd"><mask id="aqb" fill="#fff"><use xlink:href="#aqa"/></mask><use fill="#F2F2F2" xlink:href="#aqa"/><g transform="translate(4 8)" mask="url(#aqb)"><path d="M22.222 24.87H2.778c-.764 0-1.39-.622-1.39-1.382V9.67h22.223V23.49c0 .76-.624 1.382-1.388 1.382z" fill="#D32F2F"/><path d="M25 9.67H0V5.528c0-.76.625-1.382 1.39-1.382h22.22c.765 0 1.39.622 1.39 1.382V9.67z" fill="#F44336"/><path fill="#FF8F00" d="M11.11 9.67h2.78v15.2h-2.78zM18.056 0h-2.778L11.11 4.145h2.78L18.055 0z"/><path d="M9.722 0H6.944l4.167 4.145V9.67h2.78V4.146L9.72 0z" fill="#FFC107"/></g></g>
	</symbol>
</svg>
<ul class="mo-welfare clearfix">
	<li>
		<a href="">
			<!-- == Slim::Template.new('../../../icon/svg/icon-nav01.svg').render -->
			<svg class="icon-nav01"><use xlink:href="#icon-nav01"></use></svg>
			<div>摇优惠</div>
		</a>
	</li>
	<li>
		<a href="">
			<!-- == Slim::Template.new('../../../icon/svg/icon-nav02.svg').render -->
			<svg class="icon-nav02"><use xlink:href="#icon-nav02"></use></svg>
			<div>刮刮乐</div>
		</a>
	</li>
	<li>
		<a href="">
			<!-- == Slim::Template.new('../../../icon/svg/icon-nav03.svg').render -->
			<svg class="icon-nav03"><use xlink:href="#icon-nav03"></use></svg>
			<div>分享购</div>
		</a>
	</li>
	<li>
		<a href="">
			<!-- == Slim::Template.new('../../../icon/svg/icon-nav04.svg').render -->
			<svg class="icon-nav04"><use xlink:href="#icon-nav04"></use></svg>
			<div>新人礼</div>
		</a>
	</li>
</ul>
