<nav class="nav1">
	<ul class="clearfix">
		<li><a href=""><span class="nav1-icon1"></span>母婴</a></li>
		<li><a href=""><span class="nav1-icon2"></span>美妆</a></li>
		<li><a href=""><span class="nav1-icon3"></span>食品</a></li>
	</ul>
</nav>