<section class="orderdetail">
	<div class="orderdetail-r1">该笔订单需要上传收货人身份信息，请<a href="">联系客服</a></div>
	<ul class="box orderdetail-r2 clearfix">
		<li>订单号：1000002470</li>
		<li><time>2014/12/20 13:50</time></li>
		<li>订单总额：<strong class="text-error">¥125</strong></li>
		<li><span class="text-error">已发货</span><a href="" class="btn btn-normal">确认收货</a></li>
	</ul>
	<div class="orderdetail-r3">
		<a href="">
			<time>2014-12-17 06:52:28</time> 上海市黄浦区老黄浦公司 已收入<span class="icon icon28 center-vertical"></span>
		</a>
	</div>
	<!--收货人信息-->
	== Slim::Template.new('module/info.slim').render
	<!--收货人信息-->
	<!--商品信息-->
	== Slim::Template.new('module/goodsinfo.slim').render
	<!--商品信息-->
	<div class="orderdetail-r4 box">
		<ul>
			<li>商品总额：<span class="text-important">¥127</span></li>
			<li>运费：<span class="text-important">¥0</span></li>
			<li>优惠券抵扣：<span class="text-important">¥20</span></li>
		</ul>
		<div class="center-vertical orderdetail-r4c2">实际应付款：<span class="text-important">¥318</span></div>	
	</div>
</section>