<section class="orderdetail">
	<section class="orderinfo">
		<h2>订单信息</h2>
		<div class="orderinfo-b">
			<ul>
				<li><span class="justify">订 单 号</span>：1000002470</li>
				<li><span class="justify text-disable">下单时间</span><span class="text-disable">：2015-03-19  20:15:44</span></li>
				<li>
					<span class="justify">实付金额</span>：
					<span class="text-important">￥237.00</span>
					<span class="text-disable">(支付宝)</span>
					<!--取消订单-->
					<span class="text-success">已退款</span>
				</li>
				<li><span class="justify text-disable">商品总额</span>：￥310.00</li>
				<li><span class="justify text-disable">优 惠</span>：￥73.00</li>
				<li><span class="justify text-disable">运 费</span>：免运费</li>
				
			</ul>
			<!--未支付
			<p><span class="text-important">!</span>请在<span class="text-important">01小时20分15秒</span>内付款</p>
			<-->
			<a class="text-link"><span id="orderdetail-more">查看更多</span><span class="icon icon52"></span></a>
		</div>
			
	<!--收货人信息-->
	== Slim::Template.new('module/info.slim').render
	<!--收货人信息-->
	</section>
		
	<!--商品信息-->
	<ul class="orderdetail-bag">
		<li>
			<!--取消订单
			<div class="orderdetail-cancel">
				<span class="icon icon53"></span>
				<p>尊敬的用户，由于我们在2小时内未收到您的订单款项，订单已被自动取消。</p>
				<p class="text-disable">订单取消规则：订单会为您保留2小时（从下单算起），2小时后系统将自动取消未付款的订单。</p>
			</div>
			<!--取消订单-->
			<div class="orderdetail-bag-r1">
				<h2>包裹1
					<span class="text-important">已发货</span>

				</h2>
				<div class="text-disable">杭州仓发货</div>
			</div>
			<div class="box box1">
				<a href="" class="box-link">
					<div>物流信息</div>
					<time>2015-03-19   08:08:59</time>
					<p>订单已提交，等待付款</p>
				</a>
				<span class="icon icon13 box-arrow center-vertical"></span>
			</div>
			
			<h3>商品信息</h3>
			<ul class="goodslist">
				<li>
					<img src="../img/list.jpg">
					<div class="goodslist-c2"><h3 class="ellipsis2">韩国LG润膏无硅油 洗发水 洗护二合一洗护二合一...</h3></div>
					<div class="goodslist-c1">
						<div class="orderlist-num">X1</div>
						<div class="text-important">¥56</div>
					</div>
				</li>
				<li>
					<img src="../img/list.jpg">
					<div class="goodslist-c2"><h3 class="ellipsis2">韩国LG润膏无硅油 洗发水 洗护二合一洗护二合一...</h3></div>
					<div class="goodslist-c1">
						<div class="orderlist-num">X1</div>
						<div class="text-important">¥56</div>
					</div>
				</li>
			</ul>
		</li>
		<li>
			<div class="orderdetail-bag-r1">
				<h2>包裹2
					<!--已发货-->
					<span class="text-important">已发货</span>
				</h2>
				<div class="text-disable">香港仓发货</div>
			</div>
			<div class="box box1">
				<a href="" class="box-link">
					<div>物流信息</div>
					<time>2015-03-19   08:08:59</time>
					<p>订单已提交，等待付款</p>
				</a>
				<span class="icon icon13 box-arrow center-vertical"></span>
			</div>
			<h3>商品信息</h3>
			<ul class="goodslist">
				<li>
					<img src="../img/list.jpg">
					<div class="goodslist-c2"><h3 class="ellipsis2">韩国LG润膏无硅油 洗发水 洗护二合一洗护二合一...</h3></div>
					<div class="goodslist-c1">
						<div class="orderlist-num">X1</div>
						<div class="text-important">¥56</div>
					</div>
				</li>
			</ul>
		</li>
	</ul>
	<!--商品信息-->
</section>