<section class="order-add">
	<a href="" class="btn btn-normal">< 返回</a>
	<h2>收货人</h2>
	<input type="text" class="input" placeholder="需要填写收货人的真实姓名">
	<h2>身份证</h2>
	<input type="text" class="input" placeholder="填写身份证">
	<h2>手机</h2>
	<input type="text" class="input" placeholder="收货人手机号">
	<h2>城市</h2>
	<div class="order-add-select">
		<select name="" id="" class="select">
			<option value="中国">中国</option>
		</select>
		<select name="" id="" class="select">
			<option value="北京">北京</option>
		</select>
		<select name="" id="" class="select">
			<option value="北京市">北京市</option>
		</select>
		<select name="" id="" class="select">
			<option value="东城区">东城区</option>
		</select>
	</div>
	<h2>地址</h2>
	<textarea name="" id="" class="textarea" placeholder="填写详细地址"></textarea>
	<h2>邮编</h2>
	<input type="text" class="input" placeholder="填写邮政编码">
</section>