<ul class="partner-list">
	<li>
		<a href="" class="box-link">送20元红包给好友
		== Slim::Template.new('../../../svg/icon-envelope.svg').render
		</a>
		<span class="box-arrow"></span>
	</li>
	<li>
		<a href="" class="box-link">去邀请好友赚钱
		== Slim::Template.new('../../../svg/icon-rmb.svg').render
		</a>
		<span class="box-arrow"></span>
	</li>
	<li>
		<a href="" class="box-link">查看已注册用户<em class="num">（0）</em></a>
		<span class="box-arrow"></span>
	</li>
	<li>
		<a href="" class="box-link">查看收入明细</a>
		<span class="box-arrow"></span>
	</li>
	<li class="partner-rules-li">
		<a href="" class="box-link">活动规则</a>
		<span class="box-arrow"></span>
	</li>
	<li>
		<a href="" class="box-link">我有疑问</a>
		<span class="box-arrow"></span>
	</li>
</ul>