<div class="dialog partner-dialog">
	<div class="center partner-settings">
		<h2>恭喜你，成功领取20元红包</h2>
		<p class="partner-text">现在设置账户密码可马上使用</p>
		<input type="password" class="input" placeholder="密码为6-18位数字字母组合">
		<div class="btn-box">
			<a href="" class="btn btn-danger">确定设置</a>
		</div>
		<a href="" class="close">
			== Slim::Template.new('../../../icon/svg/icon-close.svg').render
		</a>
		<a href="" class="box-link">以后再说</a>
	</div>
</div>