<div class="dialog partner-dialog">
	<div class="center">
		<p class="partner-text">亲，该红包是给新伙伴的，你已经是我们的老客户了，App的个人中心里有专门为老客户准备的福利哦！</p>
		<div class="btn-box"><a href="" class="btn btn-danger">马上下载App</a></div>
		<a href="" class="close">
			== Slim::Template.new('../svg/icon-close.svg').render
		</a>
	</div>
</div>