<div class="partner-income-box">
	<ul>
		<li>
			<div class="partner-icome-text">
				<p>156****0788 支付金额达标</p>
				<span>2015-06-23</span>
			</div>
			<div class="partner-icome-num">
				<span class="add"><em>+</em>30</span>
			</div>
		</li>
		<li>
			<div class="partner-icome-text">
				<p>提款流水号：123456789012345</p>
				<span>2015-06-23</span>
			</div>
			<div class="partner-icome-num">
				<span class="reduce"><em>-</em>2000</span>
			</div>
		</li>
		<li>
			<div class="partner-icome-text">
				<p>156****0788 支付金额达标</p>
				<span>2015-06-23</span>
			</div>
			<div class="partner-icome-num">
				<span class="add"><em>+</em>30</span>
			</div>
		</li>
		<li>
			<div class="partner-icome-text">
				<p>156****0788 支付金额达标</p>
				<span>2015-06-23</span>
			</div>
			<div class="partner-icome-num">
				<span class="add"><em>+</em>30</span>
			</div>
		</li>
		<li>
			<div class="partner-icome-text">
				<p>156****0788 支付金额达标</p>
				<span>2015-06-23</span>
			</div>
			<div class="partner-icome-num">
				<span class="add"><em>+</em>30</span>
			</div>
		</li>
	</ul>
</div>

