<section class="recommend">
	<h2>推荐商品</h2>
	<ul>
		<li class="clearfix">
			<a href="">
			<div class="recommend-c1 fl vertical-middle">
				<img src="../img/recommend.jpg" alt="">
			</div>
			<div class="recommend-c2">
				<div class="center-vertical">
					<h3 class="ellipsis2">日本Kao花王三倍透气婴儿纸尿裤宝宝尿不湿 L58 跨说的风日本Kao花王三倍透气婴儿纸日本Kao花王三倍透气婴儿纸日本Kao花王三倍透气婴儿纸</h3>
					<div class="recommend-c2r1">
						<strong>¥290</strong>
					</div>
				</div>
					
			</div>
			</a>
		</li>
		<li class="clearfix">
			<a href="">
			<div class="recommend-c1 fl vertical-middle">
				<img src="../img/goods.jpg" alt="">
			</div>
			<div class="recommend-c2">
				<div class="center-vertical">
					<h3 class="ellipsis2">日本Kao花王三倍透气婴儿纸尿裤宝宝尿不湿 L58 跨说的风日本Kao花王三倍透气婴儿纸日本Kao花王三倍透气婴儿纸日本Kao花王三倍透气婴儿纸</h3>
					<div class="recommend-c2r1">
						<strong>¥290</strong>
					</div>
				</div>
			</div>
			</a>
		</li>
		<li class="clearfix">
			<a href="">
			<div class="recommend-c1 fl vertical-middle">
				<img src="../img/goods.jpg" alt="">
			</div>
			<div class="recommend-c2">
				<div class="center-vertical">
					<h3 class="ellipsis2">日本Kao花王三倍透气婴儿纸尿裤宝宝尿不湿 L58 跨说的风日本Kao花王三倍透气婴儿纸日本Kao花王三倍透气婴儿纸日本Kao花王三倍透气婴儿纸</h3>
					<div class="recommend-c2r1">
						<strong>¥290</strong>
					</div>
				</div>
			</div>
			</a>
		</li>
		<li class="clearfix">
			<a href="">
			<div class="recommend-c1 fl vertical-middle">
				<img src="../img/goods.jpg" alt="">
			</div>
			<div class="recommend-c2">
				<div class="center-vertical">
					<h3 class="ellipsis2">日本Kao花王三倍透气婴儿纸尿裤宝宝尿不湿 L58 跨说的风日本Kao花王三倍透气婴儿纸日本Kao花王三倍透气婴儿纸日本Kao花王三倍透气婴儿纸</h3>
					<div class="recommend-c2r1">
						<strong>¥290</strong>
					</div>
				</div>
			</div>
			</a>
		</li>
	</ul>
</section>