<div class="swiper-container">    
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../img/banner.jpg" alt=""><div class="swiper-time"><span>01</span><span>12</span><span>34</span><span>56</span></div></div>
        <div class="swiper-slide"><img src="../img/banner.jpg" alt=""><div class="swiper-time"><span>01</span><span>12</span><span>34</span><span>56</span></div></div>
        <div class="swiper-slide"><img src="../img/banner.jpg" alt=""><div class="swiper-time"><span>01</span><span>12</span><span>34</span><span>56</span></div></div>
    </div>
    <div class="swiper-pagination"></div>
</div>