<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <div class="vertical-middle"><img src="http://placehold.it/640x230" alt=""></div>
    <div class="vertical-middle"><img src="http://placehold.it/640x230" alt=""></div>
    <div class="vertical-middle"><img src="http://placehold.it/640x230" alt=""></div>
  </div>
  <div class="swipe-dot"></div>
</div>