<div class="swiper-container">    
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="http://placehold.it/640x640" alt=""></div>
        <div class="swiper-slide"><img src="http://placehold.it/640x640" alt=""></div>
        <div class="swiper-slide"><img src="http://placehold.it/640x640" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
</div>