<section class="share-topic">
	<h1>顺丰海淘 - 分享者绑定</h1>
	<h2>{{title}}</h2>
	<div class="share-topic-b">
		<label for="phone">您的手机号：</label>
		<input type="tel" can-value="telephone" value="{{telephone}}" id="telephone" class="input" />
		<button class="btn btn-soon btn-big{{^isEnable}} btn-disable{{/isEnable}}"  href="{{topicHref}}" id="topicLink">获得我的分享专题</button>
      <div class="text-error">{{^isEnable}}{{errorMessage}}{{/isEnable}}</div>
	</div>
</section>

{{#isShowMask}}
    <div class="mask"></div>
    <div class="share"></div>
{{/isShowMask}}