<section class="person">
  <div class="person-r1">你好，{{welcomeName}}</div>
  <div class="person-r2 myorder">
    <span class="icon icon17"></span>

  </div>
  <div class="person-r3 myorder">我的订单</div>
  <div class="box person-r4 contactMe">
    <a class="box-link" href="javascript:void(0)">联系客服</a>
    <span class="icon icon13 box-arrow center-vertical"></span>
  </div>
  <div class="box person-r5 exit">
    <a class="box-link" href="javascript:void(0)">退出</a>
    <span class="icon icon13 box-arrow center-vertical"></span>
  </div>
</section>

<section class="mask dialog" style="display:none">
  <div class=" center">
    <h2>客服电话：400-123-456123</h2>
    <p>工作时间：周一至周日 8:00 - 18:00</p>
    <a class="icon icon14" href="tel:400-123-456123"></a>
    <a href="javascript:void(0)" class="icon icon15" id="closeContactMe">关闭</a>
  </div>

</section>