<div class="partner-user-inner hide" id="isHasaccount">
    <div class="partner-tips-box" id="partner-tips-box" style="line-height:1.5;height:120px">
      <div class="center">
        <p style="padding:0 2px">第1步：发红包或者链接给好友; <br>第2步：好友领取你的红包或者通过你的链接注册;  <br>     第3步：好友支付满80元你便可获得30元现金</p>
        <span>（注册后15日内下单有效）</span>
        </div>
    </div>
    <div class="partner-user-box" id="partner-user-box">
      <ul class="partner-tab">
          {{#finishStatus}}
          <li class="active">
              {{#if totalCount}}
                <a href="javascript:void(0);" class="box-link" id="unfinishList">已注册未完成（{{totalCount}}）</a>
              {{else}}
                <a href="javascript:void(0);" class="box-link" id="unfinishList">已注册未完成（0）</a>
              {{/if}}
          </li>
          <li>
            <a href="javascript:void(0);" class="box-link" id="finishedList">已完成任务（<span class="total">0</span>）</a>
          </li>
          {{else}}
          <li>
            <a href="javascript:void(0);" class="box-link" id="unfinishList">已注册未完成（<span class="total">0</span>）</a>
          </li>
          <li class="active">
              {{#if totalCount}}
                <a href="javascript:void(0);" class="box-link" id="finishedList">已完成任务（{{totalCount}}）</a>
              {{else}}
                <a href="javascript:void(0);" class="box-link">已完成任务（0）</a>
              {{/if}}
          </li>
          {{/finishStatus}}
      </ul>
      <section class="partner-user-tab">
      {{#if infos}}
        <ul class="partner-user-list goods-list active">
          {{#each infos}}
            <li>{{#if headImgUrl}}<img src="{{headImgUrl}}" alt="">{{else}}<img src="../img/user.png" alt="">{{/if}}
              <div class="partner-user-info">
                {{#if nick}}
                <h3 class="ellipsis">{{nick}}</h3>
                {{/if}}
                <p>{{mobile}}</p>
              </div>
              <div class="goodslist-c1">{{#finishStatus}}{{sf.timeYMD regstTime}} 注册{{else}}{{sf.timeYMD finishTime}} 完成{{/finishStatus}}</div>
            </li>
            {{/each}}
            <a class="getMoreAccount" href="javascript:void(0);" style="display:block;height:20px;width:100%;line-height:20px;color:#666666;text-align:center;padding-top:20px">点击获取更多</a>
        </ul>
        {{else}}
        <div class="partner-no center">
            {{#finishStatus}}
            <p>还没有小伙伴们理你哦，给他们</p><p>发个红包吧！</p>
            <div class="btn-box">
                <a href="javascript:void(0);" class="btn btn-danger" id="toAskfriend">给好友发红包</a>
            </div>
            {{else}}
            <div class="partner-no center">
                <p>还没有获得现金，去给小伙伴发个红包吧</p>
                <p><a href="javascript:void(0);" class="link" id="goTohome">去首页</a>挑选商品分享给他们吧~</p>
            </div>
            {{/finishStatus}}
        </div>
        {{/if}}
      </section>
    </div>
</div>
<div id="noHasaccount" class="hide">
  <div class="partner-no center">
      <p>还没有用户通过你的链接注册</p><p>赶紧去邀请好友吧！</p>
      <div class="btn-box">
          <a href="javascript:void(0);" class="btn btn-danger" id="toAskfriend">马上邀请好友</a>
      </div>
  </div>
</div>