<section class="invite-bag">
  <h1>顺丰海淘</h1>
  <h2>红包大派发</h2>
  <div class="invite-bag-r1"><span>20</span>元</div>
  <div class="text-important">领取成功！</div>
</section>

<div id="pop">
  <div class="mask"></div>
  <a href="javascript:;"><img name="cms-fill-coupon" data-cms-couponbagid="{{bagid}}" data-cms-coupontype="CARD" class="invite-bag-dialog center" src="http://img.sfht.com/sfhth5/1.1.130/img/invite-bag.png"></a>
</div>