<section class="invite-alipay">
  <img src="../img/invite-alipay/invite-alipay_02.jpg">
  <img name="cms-fill-coupon" data-cms-couponbagid="{{bagid}}" data-cms-coupontype="SHAREBAG" src="../img/invite-alipay/invite-alipay_03.jpg">
  <img src="../img/invite-alipay/invite-alipay_04.jpg">
  <img src="../img/invite-alipay/invite-alipay_05.jpg">
  <a href="javascript:;" id="gotoinvitation"><img src="../img/invite-alipay/invite-alipay_06.jpg"></a>

  {{#isWeChatOrApp}}
  <section class="invite-share">
    <h2 class="invite-h2">分享途径</h2>
    <div class="invite-share-icon"></div>
    <h3>微信扫码撒红包</h3>
    <p>撒完红包找到您觉得靠谱的朋友卖力推荐<br>成功率更高哦！</p>
    <button class="btn btn-normal" id="sharebutton">分享</button>
  </section>
  {{/isWeChatOrApp}}

  {{^isWeChatOrApp}}
  <section class="invite-share">
    <h2 class="invite-h2">分享途径</h2>
    <a class="btn btn-danger" href="http://m.sfht.com/app.html" style="width:200px">下载app至好友邀请开始邀请</a>
  </section>
  {{/isWeChatOrApp}}
</section>


<div id="sharearea" style="display:none">
  <div class="mask" style="background: rgba(0,0,0,0.8);"></div>
  <div class="share" style="z-index:999"></div>
</div>