<section class="login">
    <div class="login-inner">
        <ol class="login-ol1 step1">
            <li><p><span class="login-step1"></span>注册成功顺丰海淘会员得蜘蛛网代金券+顺丰海淘代金券</p></li>
            <li><input type="text" id="input-mobile" class="input" placeholder="手机号"></li>
            <li class="login-r3">
                <div class="clearfix">
                    <button class="btn btn-success fr" id="mobile-code-btn">发送短信验证码</button>
                    <div class="login-r3c2"><input id="input-mobile-code" type="text" class="input" placeholder="输入验证码"></div>
                </div>
            </li>
            <li><input type="password" class="input" id="input-password" placeholder="请设置登录密码"></li>
            <li>
                <button class="btn btn-success btn-big" id="mobile-register-btn">提交注册</button>
            </li>
        </ol>
	      <ol class="step1success hide">
          <p class="login-p soldouts">对不起，太热情啦~电影票已经全部被领走啦！感谢您对顺丰海淘的支持！</p>
		      <div class="notsoldout">
            <h2><span class="login-icon"></span>注册成功</h2>
            <p class="login-p">请至<a href="coupon.html"><span class="text-important">我的优惠券</span></a>查看蜘蛛网代金券与顺丰海淘优惠券</p>
		      </div>
	      </ol>
        <ol class="login-ol2">
            <li><p><span class="login-step2"></span>邀请你心中的那个TA一起注册得格瓦代金券+顺丰海淘代金券甜蜜520一起看电影，买洋货！</p></li>
            <li><input id="inviteMobile" type="text" class="input" placeholder="请输入TA的手机号"></li>
            <li class="invitemessages">
		            <label name="invitemessage1"><input name="radio" type="radio" checked="">约女神</label>
		            <label name="invitemessage2"><input name="radio" type="radio">约帅哥</label>
		            <label name="invitemessage3"><input name="radio" type="radio">约基友</label>
            </li>
            <li class="messagedetail" name="invitemessage1">女神，我暗恋你好久！520请和我一起看电影！</li>
            <li class="messagedetail hide" name="invitemessage2">帅哥，我宣你！520，我要和你看电影！</li>
            <li class="messagedetail hide" name="invitemessage3">闺蜜和基友，一生一起走！520来场电影吧！</li>
            <li class="login-r3">
                <div class="clearfix">
                    <div class="login-r3c1 fr">
		                    <img src="{{verifiedCodeUrl}}" src="img/code.png" width="86px" height="39px" alt="验证码" class="verified-code-btn" /><a href="javascript:" class="verified-code-btn">换一个</a>
                    </div>
                    <div class="login-r3c2"><input type="text"  id="inviteMobileCode" class="input" placeholder="输入验证码"></div>
                </div>
            </li>
            <li>
                <button class="btn btn-success btn-big" id="inviteTaBtn">>邀请TA</button>
            </li>
            <li>
                <h3>TIPS:代金券数量有限，先到先得！下手要快哦~</h3>
            </li>
        </ol>
    </div>
</section>