<section class="login">
    <div class="login-inner">

	    <ol class="step1success hide">

          <div class="cannotregister hide">
              <p class="login-p">对不起，活动已经结束~</p>
          </div>
	    </ol>
    </div>
</section>