<style>
.nataral-code {
  background: url(http://img0.sfht.com/img/c30a6955832d8b87fde294b5b0b32b34.jpg) no-repeat center;
  -webkit-background-size: 320px 320px;
  background-size: 320px;
  height: 75px;
  /*padding-left: 190px;*/
  padding-left: 50%;
  padding-top: 30px;
  font-family: arial;
  font-weight: bold;
  font-size: 24px;
}
</style>
<section class="nataral-code">{{exchangeCode}}</section>